

.divCon{
    padding: 0px;
    font-size:21px;
    margin-bottom: 5px;
    color: rgb(54, 54, 54);
    padding-bottom: 5px;
}

.divConHdTitle{
    font-size: 22px;font-weight: 400;
}

.divConSubTitle{
    font-size: 20px;
    color: grey;position: relative;
}

.mat-icon {
    font-size: 35px;
    margin-right: 15px;
}
.closeBtn{
    float: right;
    margin-right: 10px;
    margin-top: -2px;
    font-size: 24px;
    font-weight: bold;
    background-color: #e5e8e8;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.mat-list-base {
    display: block;
    padding-top:10px!important;
    -webkit-tap-highlight-color: transparent;
}