
<div class="mat-bottom-contianer">


  <mat-nav-list>

    <!-- <span (click)="closePopUp()" class="closeBtn">X</span> -->


    <span class="divConHdTitle">
      {{displayFileName | titlecase}}
    </span> <br/>
    <div style="height: 8px!important;"></div>
 
    <span class="divConSubTitle">{{dataObj.resource_name | titlecase}}</span>
    <hr width="100%"/>


  
   <div class="divCon">
<table>

  <tr >
     <td> <span (click)="closedPopupBottom('revoke',dataObj.pat_prov_id)"  color="warn" style="color:red;cursor: pointer;">Revoke Access </span></td>
</tr>

</table>
</div>
  

 
  </mat-nav-list>

</div>

    
