 /* .sidenav_container{
  margin-top:30px;
}
.app-sidenav{
  background-color: #008080;
border-radius: 0px 30px 0px 0px ; 
border-color:white;

}
.sidebar-icon-text{
background-color: #008080;
color:white;
}
 
.sidebar-icon-text:hover{
 background-color:white;
 color: #227f77;
 border-radius: 50px 0px 0px 50px ; 
 width:300px;
 margin-left:20px;

}

.home{
background-color: #008080;
color:white;
font-size:20px;

}

.home:hover{
  background-color:white;
color: #227f77 !important;
 border-radius: 50px 0px 0px 50px ; 
 margin-left:20px;
}

.plus-icon{
font-size:15px;
color:#008080;
 margin-bottom:10px;
  font-weight: bold;
}

.mat-icon-color{
    Color: #227f77 ; 
    } */
    
    
     /* added focus to remove the outline of sidenav and topheader  */
    :focus {
      outline: none; 
      
      }
  
  .notify{
    padding: 0px 7px;
    background:gray;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    right: 55px;
    top: 5px;
    color: white!important;
}
.notify-menu div{
  padding: 5px 5px;
  margin: 5px 0px;
  border-radius: 5px;
}

.notify-menu-item:hover {
  background-color: #efefef;
}

.close {
  opacity: 1;
}

.logo-box {
  padding: 3px; 
  text-align: center;
  margin-bottom: 10px!important;
  padding: 3px; 
  height: 50px; 
  height: fit-content;
}

.top-header.position-left {
  background-color: #f0f0f0;
}

.mat-sidenav-content, .top-header.position-left, .app-sidenav-container {
  transition: 0.3s;
}

.mat-sidenav-content.open, .top-header.position-left.open {
  width: 100%;
  padding-left: 250px;
  margin-left: 0px!important;
}
  
.mat-sidenav-content.closed, .top-header.position-left.closed {
  width: 100%;
  padding-left: 50px;
  margin-left: 0px!important;
}

.sidenav-menutext {
  visibility: visible;
}

.app-sidenav {
  max-width: 250px;
}

@media (max-width: 640px) {
  .mat-sidenav-content.closed, .top-header.position-left.closed, .app-sidenav-container.closed {
    padding-left: 0px!important;
    margin-left: 300px!important;
  }
    
  .mat-sidenav-content.open, .top-header.position-left.open, .app-sidenav-container.open {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px!important;
  }

  .top-header.position-left.closed, .mat-sidenav-content.closed {
    filter: brightness(50%);
    pointer-events: none;
  }

  .app-sidenav {
    border-radius: 0px;
    max-width: 300px!important;
    width: 300px;
    display: none;
  }

  .app-sidenav.fixed-container.sidenav-visible {
    display: unset;
  }

  .mat-sidenav-content {
    width: 100%;
  }

  .mobile-sidenav-top {
    padding: 8px 16px 8px 16px;
    color: white!important;
  }

  .mobile-sidenav-top-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .mobile-sidenav-top-text {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
  }

  .mobile-sidenav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: white!important;
    height: 100%;
  }

  .mobile-sidenav-bottom .home {
    background-color: white!important;
    color: black!important
  }

  .sidenav_container {
    margin: 0px;
    height: 100%;
  }
}

#main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-router-outlet-margin-top{
  margin-top: 22px;
}