<div class="app-main-container" [class.example-is-mobile]="mobileQuery.matches"> 
    <div *ngIf="screenWidth > 640">
        <header class="top-header position-left" [ngClass]="(sideNavState) ? 'closed': 'open'">
            <button mat-icon-button (click)="toggleSide()">
                    <mat-icon>menu</mat-icon>
            </button>
            <div class="flex-spacer"></div>     
            <button (click)="makeUnreadNotification()" mat-icon-button [matMenuTriggerFor]="notification">
                <mat-icon>notifications</mat-icon>
            </button><span class="notify" *ngIf="notificationLength >0 ">{{notificationLength}}</span>
            <button mat-icon-button [matMenuTriggerFor]="profile">
                <img *ngIf="!usr_id" src="../../../assets/images/faces/user-icon.png" style="width: 25px; height: 25px;border-radius: 100%;">
                <img *ngIf="usr_id"  [src]="profileImage" style="width: 25px; height: 25px;border-radius: 100%;">
            </button>
            <mat-menu #notification="matMenu">
                <div class="container notify-menu">
                    <h3><strong>Notifications</strong></h3>
                    <h3 *ngIf="notificationArr.length == 0">No new notifications</h3>
                    <div *ngFor="let n of notificationArr let i = index" class="notify-menu-item">
                        <p><strong>{{n.title}}</strong></p>
                        <p>{{n.description}}</p>
                        <span style="font-size: 12px;">{{n.hours}} hours ago</span>
                    </div>
                </div>
            </mat-menu>
            <mat-menu #profile="matMenu">
                <button mat-menu-item (click)="profilePage()" >My Profile</button>
                <a href="https://curameitech.com/help"><button mat-menu-item>Help</button></a>
                <button mat-menu-item (click)="logout()">Sign Out</button>
            </mat-menu>
        </header>
    </div>
    <div class="top-header position-left mobile-header" *ngIf="screenWidth <= 640" [ngClass]="(sideNavState) ? 'closed': 'open'">
        <header class="ios-spacing-top" style="display: flex; flex-direction: row; align-items: center; width: 100%;">
            <div style="flex-grow: 1; display: flex; justify-content: flex-start;">
                <button mat-icon-button (click)="toggleSide()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <img src="../../../assets/images/WhiteBorder-Curamei-IconOnly.png" height="50" width="auto"/>
            <div style="flex-grow: 1; display: flex; justify-content: flex-end; visibility: hidden;">
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </header>
        <nav class="horizontal-nav-scrollable" *ngIf="mobileScreenGroup > 1">
            <div *ngIf="mobileScreenGroup == 2">
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/patient/datasource">Data Sources</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/patient/medical-records">Medical Records</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/patient/provider-list">Manual Uploads</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/patient/digital-health">Digital Health</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/patient/narrative">Narrative</span>
            </div>
            <div *ngIf="mobileScreenGroup == 3">
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/patient/access-controls">Access Controls</span>
            </div>
        </nav>
    </div>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav class="app-sidenav fixed-container"  [opened]="screenWidth > 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches">

            <!-- added sidenav state change to open close animateText   -->
            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div class="logo-box">
                    <a *ngIf="!sideNavState" (click)="goToDashboard()">
                        <img *ngIf="!sideNavState" src="../../../assets/images/AllWhite-Curamei-Logo.png" width="150px"/>
                    </a>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
                    <!-- added class home to give effect -->
                    <div routerLinkActive="active"  routerLink="/patient/dashboard"  class="home mat-icon-color" 
                        style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                        <mat-icon class="mat-icon-color">home</mat-icon>
                        <span *ngIf="!sideNavState" class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Home </span>
                    </div>

                <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/datasource"
                      style="margin-top: 15px; display: inline-block; cursor: pointer;" >
  
                     <mat-icon class="mat-icon-color" style="padding-right:5px;">storage</mat-icon>
                     <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Data Sources
                     </span>
                 </div>   

                <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/medical-records"
                    style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                   <mat-icon class="mat-icon-color" style="padding-right:5px;">medical_services</mat-icon>
                   <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Medical Records
                   </span>
                </div>

               <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/provider-list"
                    style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                   <mat-icon class="mat-icon-color" style="padding-right:5px;">attachment</mat-icon>
                   <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Manual Uploads
                   </span>
               </div>

                  <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/digital-health"
                    style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                   <mat-icon class="mat-icon-color" style="padding-right:5px;">smartphone</mat-icon>
                   <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Digital Health
                   </span>
               </div>


               <div routerLinkActive="active" class="home mat-icon-color"  routerLink="/patient/narrative" 
                 style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                <mat-icon class="mat-icon-color">text_snippet</mat-icon>
                <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Narrative
                </span>
            </div>

            <div routerLinkActive="active" routerLink="/patient/access-controls" class="home mat-icon-color"  
              style="margin-top: 15px; display: inline-block; cursor: pointer;" >

             <mat-icon class="mmat-icon-color">folder_shared</mat-icon>
             <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Access Controls
             </span>
         </div>
                <span class="spacer"></span>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav [ngClass]="(sideNavState) ? 'sidenav-visible': ''" class="app-sidenav fixed-container" [opened]="screenWidth <= 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches">

            <!-- added sidenav state change to open close animateText   -->
            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div class="mobile-sidenav-top ios-spacing-top">
                    <div class="mobile-sidenav-top-img">
                        <img *ngIf="!usr_id" src="../../../assets/images/faces/user-icon.png" 
                            style="width: 75px; height: 75px; border-radius: 100%;">
                        <img *ngIf="usr_id"  [src]="profileImage" 
                            style="width: 75px; height: 75px; border-radius: 100%;">
                        <button mat-icon-button (click)="toggleSide()">
                                <mat-icon>close</mat-icon>
                        </button>
                    </div>
                    <div class="mobile-sidenav-top-text">
                        <div style="font-size: 24px;">{{first_name | titlecase}} {{last_name | titlecase}}</div>
                        <div>{{email | lowercase}}</div>
                    </div>
                </div>
                <div class="mobile-sidenav-bottom">
                    <div>
                        <div class="home" (click)="mobileOpenNotifications()">
                            <mat-icon>notifications</mat-icon>
                            <span class="sidenav-menutext">Notifications</span>
                        </div><span class="notify" *ngIf="notificationLength > 0 ">{{notificationLength}}</span>
                        <div class="home" routerLinkActive="active" (click)="mobShowProfile()">
                            <mat-icon class="mmat-icon-color">person</mat-icon>
                            <span class="sidenav-menutext">Profile</span>
                        </div>
                        <div class="home">
                            <a style="text-decoration: none; color: inherit!important;" routerLinkActive="active" href="https://curameitech.com/help">
                                <mat-icon class="mmat-icon-color">help</mat-icon>
                                <span class="sidenav-menutext">Help</span>
                            </a>
                        </div>
                        <hr />
                        <div class="home" style="color:red!important; margin-top: 25px;" routerLinkActive="active" (click)="mobLogout()">
                            <mat-icon class="mmat-icon-color">logout</mat-icon>
                            <span class="sidenav-menutext">Logout</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'" [ngClass]="(sideNavState) ? 'closed': 'open'"
            style="background-color:white;" id="main-view"
        >
            <div [ngClass]="{'mobile-router-outlet-margin-top': mobileScreenGroup != 1 && screenWidth <= 640}">
                <router-outlet></router-outlet>
            </div>
            <ul class="footer-notice">
                <li>
                    Curamei Technologies ©2020 All rights reserved.
                </li>
                <li class="footer-left-border">
                    <a href="https://curameitech.com/privacy-policy">Privacy Policy</a>
                </li>
                <li class="footer-left-border">
                    <a href="https://curameitech.com/terms-of-service">Terms of Service</a>
                </li>
            </ul>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- Mobile view bottom menu -->
   <div class="mobile-footer-menu ios-spacing-bottom" id="bottom-bar" >
        <i class="material-icons mat-icon-color" (click)="showHome()">home</i>
        <i class="material-icons mat-icon-color" (click)="showRecords()">medical_services</i>
        <i class="material-icons mat-icon-color" (click)="showProviders()">local_hospital</i>
    </div> 



    <!-- <div class="mobile-footer-menu" id="bottom-bar" >
      

     <i class="material-icons mat-icon-color" routerLink="/patient/dashboard">home<br/>Home</i>
       <i class="material-icons mat-icon-color" routerLink="/patient/digital-health">cloud_upload <br/>Records<br/></i>
       <i class="material-icons mat-icon-color" routerLink="/patient/medical-records">medical_services <br/> Providers</i>
   </div> -->




</div>

<!-- <div class="app-main-container" [class.example-is-mobile]="mobileQuery.matches">   
    <nav class="top-header position-left">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
 -->          <!-- added class plus icon  to give effect -->
<!--         <a (click)="goToDashboard()"><span class="curamei">Curamei</span><span class="fa fa-plus plus-icon"></span></a>
        <div class="flex-spacer"></div>     
         <button (click)="makeUnreadNotification()" mat-icon-button [matMenuTriggerFor]="notification">
            <mat-icon>notifications</mat-icon>
        </button><span class="notify" *ngIf="notificationLength >0 ">{{notificationLength}}</span>
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <img *ngIf="!usr_id" src="./assets/images/faces/user-icon.png" style="width: 25px; height: 25px;border-radius: 100%;">
            <img *ngIf="usr_id" src="{{basePath}}profile-image/{{usr_id}}" style="width: 25px; height: 25px;border-radius: 100%;">
        </button>
        <mat-menu #notification="matMenu">
            <div class="container notify-menu">
               <h3 *ngIf="notificationArr.length == 0">No new notifications</h3>
               <h3 *ngIf="notificationArr.length > 0"><strong>Notifications</strong></h3>
               <div *ngFor="let n of notificationArr let i = index">
                <p><strong>{{i+1}}.{{n.title}}</strong></p>
                <p>{{n.description}}</p>
                <span style="font-size: 12px;">{{n.hours}} hours ago</span>
               </div>
            </div>
       </mat-menu>
        <mat-menu #profile="matMenu">
             <button mat-menu-item (click)="profilePage()" >My Profile</button>
              <button mat-menu-item>Settings</button> 
          <button mat-menu-item (click)="logout()">Sign Out</button>
        </mat-menu>
    </nav>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav class="app-sidenav"  [opened]="screenWidth > 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
 -->
            <!-- added sidenav state change to open close animateText   -->
<!--             <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
 -->
                    <!-- added class home to give effect -->
<!--                     <div routerLinkActive="active"  routerLink="/patient/dashboard"  class="home mat-icon-color" 
                      (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                        <mat-icon class="mat-icon-color"  >home</mat-icon>
                        <span class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Home </span>
                    </div> -->
<!--Opportunity to simplify navbar. unifying digital health dashboards to be access through singular Digital health page may be more intuitive-->
<!--                         <mat-accordion >
                            <mat-expansion-panel   [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel app-sidenav" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header  class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon class="mat-icon-color">dashboard</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'close' : 'open'">Dashboard
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header> -->
                                <!-- <div style="padding: 10px 10px 10px 10px;cursor: pointer;">
                                                                <span class="sidenav-inner-menutext">NA
                                                                </span>

                                                            </div> -->
<!--                                 <div routerLinkActive="active" routerLink='/patient/fitbit-dashboard' class="flex-container remove-margin-bottom sidebar-icon-text mat-icon-color" 
                                  (click)="snav.toggle()"  style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">directions_run</mat-icon>
                                    <span class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Fitbit
                                    </span>
                                </div> -->
<!-- 
                            </mat-expansion-panel>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel app-sidenav" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        
                                        <mat-icon class="mat-icon-color" style="padding-right:5px;">medical_services</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'close' : 'open'">Records
                                        </span>
                                    
                                    </mat-panel-title>
                                </mat-expansion-panel-header> -->
                                <!-- <div style="padding: 10px 10px 10px 10px;cursor: pointer;">
                                   <span class="sidenav-inner-menutext">NA
                                    </span>

                                </div> -->
<!--                                 <div  routerLinkActive="active" class="flex-container remove-margin-bottom sidebar-icon-text mat-icon-color" routerLink="/patient/datasource"
                                  (click)="snav.toggle()"  style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">storage</mat-icon>
                                    <span *ngIf="!sideNavState" class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Data
                                        Sources
                                    </span>
                                </div>



                                <div routerLinkActive="active" class="flex-container remove-margin-bottom sidebar-icon-text mat-icon-color" routerLink="/patient/medical-records"
                                (click)="snav.toggle()" style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                 <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                     aria-hidden="true">medical_services</mat-icon>
                                 <span *ngIf="!sideNavState"  class="side-nav-inner-menutext"
                                     [@animateText]="linkText ? 'close' : 'open'">Medical Records
                                 </span>
                             </div>




                                <div routerLinkActive="active" class="flex-container remove-margin-bottom sidebar-icon-text  mat-icon-color" routerLink="/patient/provider-list"
                                   (click)="snav.toggle()" style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">attachment</mat-icon>
                                    <span *ngIf="!sideNavState"  class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Manual Uploads
                                    </span>
                                </div>

 -->


                                <!-- <div routerLinkActive="active" class="flex-container  remove-margin-bottom sidebar-icon-text mat-icon-color" routerLink="/patient/digital-health"
                               (click)="snav.toggle()" style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                    aria-hidden="true">cloud_upload</mat-icon>
                                <span class="side-nav-inner-menutext"
                                    [@animateText]="linkText ? 'close' : 'open'">Digital Health
                                </span>
                            </div> -->
                              
                                <!-- <div class="flex-container remove-margin-bottom sidebar-icon-text" routerLink="/patient/practitioners"
                                    style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon-color mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">person_outline</mat-icon>
                                    <span class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Practicioners
                                    </span>
                                </div>
                                <div class="flex-container remove-margin-bottom sidebar-icon-text" routerLink="/patient/encounters"
                                    style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon-color mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">people</mat-icon>
                                    <span class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Encounters
                                    </span>
                                </div> -->



                                <!-- <div routerLinkActive="active" class="flex-container remove-margin-bottom sidebar-icon-text mat-icon-color" routerLink="/patient/narrative"
                                  (click)="snav.toggle()"  style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">people</mat-icon>
                                    <span class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Narrative
                                    </span>
                                </div>


                                <div routerLinkActive="active" class="flex-container remove-margin-bottom sidebar-icon-text mat-icon-color" routerLink="/patient/access-controls"
                               (click)="snav.toggle()" style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                    aria-hidden="true">people</mat-icon>
                                <span class="side-nav-inner-menutext"
                                    [@animateText]="linkText ? 'close' : 'open'">Access Controls
                                </span>
                            </div> -->
    <!-- </mat-expansion-panel> -->
                            <!-- <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon>stay_primary_portrait</mat-icon>
                                        <span style="margin-left: 5%;"
                                            [@animateText]="linkText ? 'show' : 'hide'">Digital Health
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div style="padding: 10px 10px 10px 10px; cursor: pointer;">


                                    <span class="sidenav-inner-menutext">John Doe
                                    </span>

                                </div>
                                <div style="padding: 10px 10px 10px 10px;cursor: pointer;">

                                    <span class="sidenav-inner-menutext">John Doe
                                    </span>

                                </div>
                                <div style="padding:10px 10px 15px 10px; cursor: pointer;">

                                    <span class="sidenav-inner-menutext">John Doe
                                    </span>

                                </div>
                            </mat-expansion-panel> -->
                            <!-- <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">person</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Provider
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                            </mat-expansion-panel> -->
                            <!-- <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">settings</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Settings
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                            </mat-expansion-panel> -->
<!--                         </mat-accordion>


                    </div> -->
<!-- 
                    <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/datasource"
                    (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >
  
                     <mat-icon class="mat-icon-color" style="padding-right:5px;">storage</mat-icon>
                     <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Digital Health
                     </span>
                 </div>   

                 <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/medical-records"
                  (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                   <mat-icon class="mat-icon-color" style="padding-right:5px;">medical_services</mat-icon>
                   <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Digital Health
                   </span>
               </div>

               <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/provider-list"
                  (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                   <mat-icon class="mat-icon-color" style="padding-right:5px;">attachment</mat-icon>
                   <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Manual Uploads
                   </span>
               </div>

                  <div routerLinkActive="active" class="home mat-icon-color" routerLink="/patient/digital-health"
                  (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                   <mat-icon class="mat-icon-color" style="padding-right:5px;">smartphone</mat-icon>
                   <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Digital Health
                   </span>
               </div>


               <div routerLinkActive="active" class="home mat-icon-color"  routerLink="/patient/narrative" 
               (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                <mat-icon class="mat-icon-color">text_snippet</mat-icon>
                <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Narrative
                </span>
            </div>



            <div routerLinkActive="active" routerLink="/patient/access-controls" class="home mat-icon-color"  
            (click)="snav.toggle()"  style="margin-top: 15px; display: inline-block; cursor: pointer;" >

             <mat-icon class="mmat-icon-color">folder_shared</mat-icon>
             <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Access Controls
             </span>
         </div>
                <span class="spacer"></span> -->
                 <!-- <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 15px;">
                    <button style="background: teal;
                        color: #fff;position: fixed;
                        bottom: 15px;
                    " mat-icon-button (click)="onSinenavToggle()">
                        <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
                        <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
                    </button>
                </div>  -->
<!--                 </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container> -->
    <!-- Mobile view bottom menu -->
<!--     <div class="mobile-footer-menu" id="bottom-bar" >
        <i class="material-icons mat-icon-color" routerLink="/patient/dashboard">home</i>
        <i class="material-icons mat-icon-color" routerLink="/patient/fitbit-dashboard">directions_run</i>
        <i class="material-icons mat-icon-color" routerLink="/patient/digital-health">cloud_upload</i>
        <i class="material-icons mat-icon-color" routerLink="/patient/medical-records">medical_services</i>
    </div>
</div> -->
