
.mat-card-subtitle{
  color: white;
}
.cardContainer{
  background-color: rgb(255, 255, 255);
}
h2{
  color:#024387;
}
  
.mat-expansion-panel{
  background-color: rgb(255, 255, 255);
}
/* develop by harshal on 10/27/2020 */
.accordion-spacer{
  border: none;
  box-shadow: none;
  margin: 15px 0px;
}

.manual-record-margin {
  margin: 15px 0px;
}

th{
  background-color: white!important ;
}

.tooltip-icon {
  float: right;
}

.mat-option-multiline {
  visibility: visible;
  height: 100%!important;
  width: 100%; line-height:
  unset!important;
}
  
.padded-mat-option {
  padding-top: 5px;
  padding-bottom: 5px;
}






  
@media screen and (max-width: 678px) {

  .manual-record-margin {
    margin: 8px 0px;
    width: 100%;
  }
  .page-title1{
    margin-top:22px!important;
    display: flex!important;
  }
    }
  