

.divCon{
    padding: 0px;
    margin-bottom: 5px;
    padding-bottom: 32px!important;
}

.divConSubTitle{
    font-size: 16px;
    align-items: center;
    display: block;
    text-align: center!important;
    color: #024387;
    position: relative;
    margin-bottom: 18px;
}

.material-icons {
    font-size: 42px!important;
    color: #024387;;position: relative;
}


.icon-text{
    font-size:16px!important;
    color: #024387;position: relative;
}

.mat-list-base {
    display: block;
    padding-top:10px!important;
    -webkit-tap-highlight-color: transparent;
}