
<div class="mat-bottom-contianer">


  <mat-nav-list>
   <div class="divCon">
    

  <div *ngIf="imageShowFlag" style="float: right;
  display: block;
  position: relative;
  top: -16px;">
     <span  > <button (click)="savePhoto()" mat-button >Save</button></span> 
  </div>


  <div style="clear: both;">
  </div>



    <div *ngIf="imageShowFlag">
     <img id="imageDisp" src="{{userImage}}" 
     style="border-radius: 50%;
     text-align: center;
     display: block;
     margin: 0px auto;
     margin-bottom: 25px;border-top-left-radius: 5px; border-top-right-radius: 5px;"
     height="128" width="100">
    </div>



<table style="text-align: center!important;">
  <tr >
  <td colspan="3"> 
    <span class="divConSubTitle">Where do you want to upload from?</span>

   </td>

  </tr>

  <tr >
    
     <td> 
     
     <div (click)="takePhoto()">
      <span class="material-icons">
        local_see
        </span> <br/>
        <span class="icon-text">Camera</span>
      </div>
     </td>


     <td> 
      <div (click)="openGallery()">
      <span class="material-icons">
        photo_library
        </span> <br/>
        
        <span class="icon-text">Photos</span>
</div>
     </td>


     <td>
      <div (click)="openFiles()"> 
      <span class="material-icons">
        folder
        </span> <br/>
        
        <span class="icon-text">Files</span>
        </div>

     </td>

  


</tr>

</table>
</div>
  

 
  </mat-nav-list>

</div>

    
