@media (min-width: 901px) and (max-width: 1200px) {
  .big-tab-col-33 {
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
  }

  .select-data-source {
    margin: 40% 8% !important;
    padding: 80px !important;
  }

  .big-tab-min-height-93vh {
    min-height: 93.5vh !important;
  }
}