@media (min-height: 811px) and (max-height: 813px) {}

/** To account for the UI "notch" present in iPhones X onward. Keep commented until building for iOS **/

/* .ios-spacing-top {
    padding-top: 20px!important;
    padding-top: constant(safe-area-inset-top)!important;
    padding-top: env(safe-area-inset-top)!important;
}

.ios-spacing-bottom {
    padding-bottom: constant(safe-area-inset-bottom)!important;
    padding-bottom: env(safe-area-inset-bottom)!important;
} */