/* iPhone 5, SE */
@media (min-width: 319px) and (max-width: 321px) {


  .user-selector-box {
    width: 78px !important;
    height: 78px !important;
  }

  .radio-button-provider {
    top: 55%!important;
    left: 25%!important;
  }

  .radio-button-patient {
    top: 55%!important;
  }

  .radio-button-support {
    position: relative !important;
    top: 10px !important;
    left: 160px !important;
  }

  .sign-up-company-name {
    width: 100% !important;
  }

  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }



  .step-form-title {
    font-size: 14px !important;
    width: 82% !important;
    padding-top: 5px !important;
  }





  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    display: none !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 2% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 28% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 1% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 5% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .week-calorie-inout {
    margin-left: -37% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 1% !important;
  }

  .close-button-dialog {
    top: -15px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

  .data-source-select-box {
    width: 260px !important;
  }
}