.sign-in-container {
  height: 5em;
  display: flex;
  align-items: center;
}

.sign-in-card {
  width: 850px;
  height: 600px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border: 1px solid #dadce0;
}

.sign-card-right-container {
  background-color: #f1f5ff;
  height: 598px;
  border-radius: 0 8px 8px 0;
}

.sign-card-left-container {
  height: 500px;
  padding: 45px 45px;
}

.sign-up-company-name {
  font-weight: 500 !important;
}

.sign-up-title {
  margin-top: 10px !important;
  font-weight: 700 !important;
}

.login-button {
  background-color:  #227f77 !important;
  color: #ffffff;
}

.highlight-login-text {
  color: #000;
  font-weight: 500;
}

.login-left-container-image {
  position: relative;
  top: 20%;
  left: -13%;
}

.login-right-container-text {
  position: absolute;
  right: 46px;
  top: 45px;
  text-align: end;
}

.cursor-pointer {
  cursor: pointer !important;
}
