/* all mat icon color 10/23/20 */
/* .material-icons-sleep,.page-icon-text, .material-icons, .mat-tab-label, .mat-card-title, .mat-icon,.closedBtn,.headTitle,.mat-icon,th,.card-main-title{
    color:#227f77;
    
} */

.page-icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}