/* mat icon color Developed by harshal 10/27/2020 */
.card-main-title,th,.icon{
    color:#024387!important ;
  }
  
  .focus-text {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  
  .important-number {
    font-size: larger;
  }
  
  .muted-text {
    color: #8f8fb1 !important;
    font-size: 14px;
  }