@media (min-width: 383px) and (max-width: 385px) {


  .user-selector-box {
    width: 100px !important;
    height: 100px !important;
  }

  .radio-button-provider {
  }

  .radio-button-patient {
  }

  .radio-button-support {
    position: relative !important;
    top: 10px !important;
    left: 210px !important;
  }

  .sign-up-company-name {
    width: 91% !important;
  }



  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }





  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    width: 50px !important;
    height: 84px !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 14% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 30% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 15% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 17% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .week-calorie-inout {
    margin-left: -27% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 13% !important;
  }

  .close-button-dialog {
    top: -15px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

  .data-source-select-box {
    width: 349px !important;
  }

}

/* Pixel 2 and Pixel 2 XL */
@media (min-width: 410px) and (max-width: 412px) {


  .user-selector-box {
    width: 110px !important;
    height: 110px !important;
  }

  .radio-button-provider {
    left: 25%!important;
    top: 48%!important;
  }

  .radio-button-patient {
    top: 48%!important;
  }

  .radio-button-support {
    position: relative !important;
    top: 10px !important;
    left: 235px !important;
  }

  .sign-up-company-name {
    width: 100% !important;
  }



  .step-form-title {
    font-size: 16px !important;
    width: 85% !important;
    padding-top: 5px !important;
  }




  .mob-fitbit-right-col-margin {
    margin-right: 15px !important;
  }

  .mob-fitbit-margin-bottom {
    margin-bottom: 15px !important;
  }

  .steps-image,
  .calorie-image,
  .weight-image {
    width: 50px !important;
    height: 84px !important;
  }

  .totalsteps-text {
    bottom: 8% !important;
    padding: 0 14% !important;
  }

  .weighttogo-text {
    bottom: 10% !important;
    padding: 0 30% !important;
  }

  .coloriesburnt-text {
    bottom: 10% !important;
    padding: 0 15% !important;
  }

  .calorieintake-text {
    bottom: 10% !important;
    padding: 0 17% !important;
  }

  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .week-calorie-inout {
    margin-left: -27% !important;
  }

  .sleep-text {
    bottom: 10% !important;
    padding: 0 13% !important;
  }

  .close-button-dialog {
    top: -15px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

  .data-source-select-box {
    width: 349px !important;
  }
}

/* Pixel 2 XL */
@media (min-height: 822px) and (max-height: 824px) {


  .radio-button-provider {
    top: 42%!important;
    left: 25%!important;
  }

  .radio-button-patient {
    top: 42%!important;
    left: 70%!important;
  }

  .radio-button-support {
    top: 35% !important;
    left: 72% !important;
  }





  .mob-fitbit-dialog-margin-top {
    margin-top: 15px !important;
  }

  .mob-remove-fitbit-col-padding-right {
    padding-right: 0px !important;
  }

}