 
 /* 10/20/2020 */
 .sidenav_container{
margin-top:30px;
}

/* 10/20/2020 */
.app-sidenav{
background-color: #008080;
border-radius: 0px 30px 0px 0px;
}

/* 10/20/2020 */
.sidebar-icon-text{
background-color: #008080;
color:white;
cursor: pointer;
}
 
/* 10/20/2020 */
.sidebar-icon-text.active{
background-color:white;
color:#024387;
border-radius: 45px 0px 0px 45px ; 
width:300px;
}

.active:hover{
color:#024387;
}

hr {
  color: white;
}

/* 10/20/2020 */
.home{
background-color: #008080;
color:white;
font-size:20px;
padding: 10px;
}

/* 10/20/2020 */
.home.active{
background-color:white!important;
color:#008080!important;
border-radius: 45px 0px 0px 45px;
}

.home.active .mat-icon-color {
  color: #008080;
}

/* 10/20/2020 */
.mat-icon-color:hover{
  border-radius: 45px 0px 0px 45px;
  background: #016d6d;
}

/* 26/10/2020 */
.mat-icon-color{
color:white ; 
  }

/* 10/26/2020 */
.plus-icon{
font-size:15px;
color:white;
margin-bottom:10px;
font-weight: bold;
}

/* 10/26/2020 */
.curamei{
font-size: 30px;
font-weight:bold;
color:#227f77;
}