.signup-card-left-container {
  background-color: #f6f8fd;
  height: 598px;
  border-radius: 8px 0 0 8px;
}

.signup-card-right-container {
  height: 500px;
  padding: 45px 45px;
}

.user-selector-box {
  width: 45%;
  height: auto;
  background-color: #f1f5ff;
  border-radius: 15px;
}

.signup-left-container-text {
  position: absolute;
  left: 46px;
  top: 45px;
}


.user-selector-box-text {
  width: 50%;
}

.margin-right-15 {
  margin-right: 15px;
}

.radio-button-provider {
  position: absolute;
  top: 63%;
  /* left: 60.25%; */
  left: 64%;
}

.radio-button-patient {
  position: absolute;
  top: 63%;
  /* left: 73.5%; */
  left: 83%;
}

.radio-button-support {
  position: absolute;
  top: 63%;
  left: 87%;
}



@media (max-width: 767px){
  .radio-button-provider {
    position: absolute;
    top: 50% !important;
    left: 23% !important;
}

.radio-button-patient {
    position: absolute;
    top: 50% !important;
    /* left: 73.5%; */
    left: 69% !important;
}
}



.patient-image {
  position: relative;
  top: 6px;
  width: 85%;
}

.doctor-image {
  position: relative;
  top: 6px;
  width: 85%;
}

.proceed-button {
  background-color: #5456ff !important;
  color: #ffffff;
}

.margin-top-60 {
  margin-top: 60px;
}

.npi-info-card {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.signup-stepper .mat-horizontal-content-container {
  padding: 0px !important;
}

.margin-top-10 {
  margin-top: 10px;
}

.signup-left-container-image {
  position: relative;
  top: 36%;
  left: 5%;
  width: 90%;
}