@media (min-width: 767px) and (max-width: 900px) {
  .sign-in-container {
    display: block;
  }

  .sign-card-right-wrapper {
    display: none;
  }

  .sign-in-card {
    width: 100%;
    height: 100vh;
  }

  .sign-card-left-wrapper {
    margin: 21.5% auto;
    width: 100%;
  }

  .sign-in-container:after {
    content: ' ';
    border-top: 100vh solid #f1f5ff;
    border-right: 100vw solid transparent;
    width: 0;
    z-index: -1;
    position: absolute;
  }

  .error-login {
    position: absolute;
    bottom: 52.5% !important;
    left: 50% !important;
  }

  .signup-card-right-wrapper {
    margin: 21.5% auto;
    width: 100%;
  }


  .signup-card-left-wrapper {
    display: none;
  }

  .npi-error {
    position: absolute;
    top: 27%;
    left: 50px;
    font-size: 10px;
  }

  .user-selector-box {
    width: 85px !important;
    height: 85px !important;
    background-color: #f1f5ff;
    border-radius: 15px;
  }

  .radio-button-provider {
    position: absolute;
    top: 50% !important;
    left: 39% !important;
  }

  .radio-button-patient {
    position: absolute;
    top: 50% !important;
    left: 48% !important;
  }

  .radio-button-support {
    position: absolute;
    top: 43% !important;
    left: 61% !important;
  }

  .npi-error {
    position: absolute;
    top: 33%;
    left: 32%;
    font-size: 10px;
  }

  .email-patient-error {
    font-size: 11px;
    position: absolute;
    bottom: 58% !important;
    right: 55% !important;
  }

  .email-error {
    font-size: 11px;
    position: absolute;
    bottom: 41.5% !important;
    right: 55% !important;
  }

  .step-form-title {
    width: 86% !important;
    font-size: 18px !important;
  }

  .mob-dialog {
    width: 100% !important;
  }

  .tab-col-md-50 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .select-data-source {
    margin: 36% 4% !important;
    padding: 25px !important;
  }

  .tab-min-height-91vh {
    min-height: 91vh !important;
  }

  .request-health-system {
    margin: 20% 4% !important;
    padding: 2% 4%;
  }

  .request-health-system {
    margin: 4% 4% !important;
    padding: 2% 4%;
  }

}