<div class="preloader" id="preloader">
    <img src="../../assets/images/Curamei-Logo.png" style="width:200px;" />
		<div class="loader loader-1">
			<div class="loader-outter"> </div>
			<div class="loader-inner"></div>
		</div>
	</div>