/* You can add global styles to this file, and also import other style files */
@import './assets/css/login.css';
@import './assets/css/mobile-device.css';
@import './assets/css/tab-device.css';
@import './assets/css/signup.css';
@import './assets/css/fitbit-dashboard.css';
@import './assets/css/laptop-device.css';
@import './assets/css/big-tab-device.css';
@import './assets/css/pixel-2-mobile.css';
@import './assets/css/iphone5SE.css';
@import './assets/css/iphone678.css';
@import './assets/css/laptop-1366.css';
@import './assets/css/apple-macbookair-1440.css';
@import './assets/css/small-screen-laptop-1200-1400.css';
@import './assets/css/big-monitor-1920.css';
@import './assets/css/iphone-x.css';
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import './assets/css/sidebar.css';
@import './assets/css/page-title.css';
@import './assets/css/table.css';


html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color:#fdfdfd;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

/* added sidenav inner content font-size,font-family */
.side-nav-inner-menutext {
  opacity: 1;
  padding-left: 10px;
  position: relative;
  top: 2px;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
}

/* .mat-drawer.mat-drawer-side {
  z-index: -1!important;
} */
.default-light-menu {
  border: none !important;
  box-shadow: none !important;
  color: #fff;
}

.card .content .footer {
  background-attachment: fixed;
  position: relative;
  padding: 0;
  line-height: 9px;
}

.img-xs {
  width: 32px;
  /* min-width: 32px; */
  height: 32px;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-menu {
  min-width: 250px;
  margin-top: 9px;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-menu .dropdown-item {
  padding: 10px 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.remove-col-padding-left {
  padding-left: 0px !important;
}


/* .green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
} */


.nav .nav-item.dropdown .count-indicator .count,
.navbar-nav .nav-item.dropdown .count-indicator .count {
  position: absolute;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #ff0017;
  color: #ffffff;
  font-size: 11px;
  top: -1px;
  font-weight: 600;
  line-height: 1rem;
  border: none;
  text-align: center;
}

.nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
.navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  padding: 5px 25px;
}

.preview-list .preview-item .preview-thumbnail .preview-icon,
.preview-list .preview-item .preview-thumbnail img {
  border-radius: 100%;
}

.img-sm {
  width: 43px;
  min-width: 43px;
  height: 43px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.navbar-dropdown .badge {
  margin-left: 0.5rem;
}

.preview-list .preview-item {
  display: -ms-flexbox;
  align-items: flex-start;
  border-bottom: 1px solid #dee2e6;
}

.nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
  font-size: 0.9rem;
  margin-top: 15px;
  position: absolute;
  right: 0;
  left: auto;
  border: 1px solid rgba(182, 182, 182, 0.1);
  padding: 0 0 20px;
  min-width: 100%;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  overflow-x: hidden;
  max-height: 350px;
  overflow-y: auto;
  overflow: hidden;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.preview-list .preview-item .preview-item-content p {
  margin-bottom: 10px;
}

.mobile-header {
  background-color: #008080!important;
  color: white!important;
  padding: 0px!important
}

.mobile-header header {
  padding: 8px 16px;
  transition: 0.3s;
}

.horizontal-nav-scrollable {
  background-color: #008080;
  color: white!important;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0px!important;
}

.horizontal-nav-scrollable::-webkit-scrollbar {
  display: none;
}

.horizontal-nav-tab {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  font-size: 14px;
}

.active-hor-nav {
  border-bottom: 3px solid white;
  font-weight: 600;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.float-left {
  float: left !important;
}

p {
  font-size: 0.875rem;
}

.npi-error {

  position: absolute;
  top: 29%;
  left: 56%;
  font-size: 10px;
}

.footer-notice {
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  color: gray;
  list-style: none;
  margin-bottom: 0px;
}

.footer-left-border {
  border-left: 1px solid gray;
}

.footer-notice li {
  margin-left: 5px;
  padding-left: 5px;
}

.footer-notice a {
  text-decoration: none;
}

/*
.mat-progress-bar-element {
  background-color: rgba(0, 176, 124, 0.25) !important;
} */

.mat-progress-bar-background {
  fill: rgba(0, 176, 124, 0.25) !important;
}

.mat-progress-bar-buffer {
  background-color: white !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: rgba(0, 176, 124, 1) !important;
}

.mat-progress-bar-fill::after {
  background-color: rgba(0, 176, 124, 1) !important;
}

.preview-list .preview-item .preview-item-content {
  line-height: 1;
  padding-left: 1.5rem;
  color: #212529;
}

#sidebar ul li a {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  display: block;
  color: #ffffff;
  font-weight: 400;
}

.modal-lg .modal-content {
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 95%;
}

.common-btn {
  padding: 0.25rem 1.25rem;
  font-size: 22px;
  margin-top: 1rem;
}

.form-control {
  height: calc(2em + 0.75rem + 2px) !important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.75rem + 2px) !important;
}

.logoText {
  font-size: 22px;
  line-height: 62px;
  margin-left: 58px;
  color: white;
  font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
  padding: 1rem;
  background-color:white;
}

.height-100 {
  height: 100%;
}

.min-height-90vh {
  min-height: 90vh;
}

.row-divider {
  margin-top: 2rem;
}

.table-100 {
  
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
}

.table-container {
  border-radius: 1em;
  padding: 0rem 2rem 2rem 2rem;
}

.font-heading {
  font-size: 2rem;
}

h1.font-heading {
  font-size: 2rem;
}

.remove-col-padding-right {
  padding-right: 0px !important;
}

.remove-padding-right {
  padding-right: 0rem !important;
}

option {
  font-size: 22px !important;
}

.font-bolder {
  font-weight: 700 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.td-admin-dash {
  font-size: 1rem;
  padding: 5px;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.width-48 {
  width: 48%;
}

.app-main-container {
  
  display: flex;
  flex-direction: column;
  position: absolute;
   /* position: relative; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .app-toolbar {
  position: fixed;
  z-index: 2;
}

.app-sidenav-container {
  flex: 1;
  background-color:white !important;
 }

.close-button-dialog {
  float: right;
  position: relative;
  top: -15px;
  right: -15px;
}

.example-is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


/* all material primary color changes to theme color
   added border effects end at line 467 */
.mat-card-title,.mat-drawer-inner-container, .mat-expansion-panel-content, .mat-expansion-panel-header-title, .mat-expansion-panel-header.sidenav-expansion-panel,p,h1,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif;
  /* color: #00c7b0 !important; */
}
.mat-content{
  font-family: 'Roboto', sans-serif;
}

.mat-select-arrow{
  color: #15827f!important;
}



.mat-card-header-text{
  font-family: 'Roboto', sans-serif;
}
td,p,h2{
  font-family: 'Roboto', sans-serif;

  
}
th{
  color: #5f5f5f;
  font-family:'Roboto', sans-serif;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #15827f!important;
}

.mat-toolbar.mat-primary {
  background:white;
  color:teal;
  
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #15827f!important;
}


.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color:  #15827f!important;
    opacity: 0.8!important;
}


.mat-input-element {
    caret-color:  #15827f!important;
}


.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #15827f!important;
}


.mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
    
}


.mat-form-field.mat-focused .mat-form-field-label {
    color:  #15827f!important;
}


.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}

.mat-form-field-ripple {
  background-color: #15827f !important;
}

.mat-ink-bar {
  background-color: #15827f !important;
}

/* hhhhh end */

.mat-expansion-panel-header.sidenav-expansion-panel {
  
  padding: 0px 2px !important;
  }



.mat-expansion-panel.sidenav-exp-panel {
  box-shadow: none !important;
  width: 50px;
  padding: 0px 10px;
}

.side-nav-single-menu {
  padding: 0px 10px;
  display: inline-block;
}

.manual-upload-card-header .mat-card-header-text {
  margin: 0px 16px 0px 0px !important;
}

/* added sidenav font-size, margin-top,font-family;*/
.sidenav-menutext {
  position: relative;
  left: 5%;
  top: -5px;
  display: initial !important;
  font-size:20px;
  margin-top:20px;
  font-family: 'Roboto', sans-serif; ;
  }


 /* added sidenav font-size, margin-top,font-family;*/
.sidenav-accordion-menutext {
  position: relative;
  left: 5%;
  top: 3px;
  display: initial !important;
   color: white;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
 }


 


.data-source-select-box {
  cursor: pointer;
}
/* 15/10 */
.box-container {
  box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.75);
  border-radius: 1em;
  margin: 15px 0px;
  border: 1px solid #bcbcbc;
  padding: 15px;
  
}
/* 15/10 */
.flex-spacer {
  flex-grow: 1;
}

.card-main-title {
  margin: 0px!important;
  padding-left: 5px;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #024387!important;
}

.page-title1{
  margin-top:16px!important;
  display: flex!important;
  flex-direction: row;
  align-items: center;
}

.page-title2{
  margin-top: 1.6rem;
  display: flex!important;
  flex-direction: row;
  align-items: center;
}

/* added top header background-color,color*/
.top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: white;
  color:#227f77 ;
}

.top-header a {
  text-decoration: none;
}

.top-header a:hover {
  text-decoration: none;
  color: #fff;
}

.sidenav-exp-panel.mat-expansion-panel-spacing {
  margin: 0px !important;
}

mat-expansion-panel.sidenav-exp-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
 
  background: none !important;
}

.mat-drawer-inner-container {
  
  overflow: hidden !important;
}

.sidenav-exp-panel .mat-expansion-panel-body {
  padding: 0px !important;
}

/* added margin top */
.remove-margin-bottom {
  margin-bottom: 0px !important;
  margin-top:15px;
  }

.box-container-layout {
  display: flex;
}


.button-150 {
  width: 150px;
}

.button-spacing {
  margin-left: 15px !important;
}

.button-success {
  background-color: #00b07c;
  color: #ffffff;
}

.margin-left-15 {
  margin-left: 15px;
}

.form-100 {
  width: 100%;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.request-health-system {
  margin: 2% 20%;
  padding: 2% 4%;
}

.ngx-pagination .current {
  background: #15827f !important;
  color: #ffffff !important;
}

.no-record-container {
  padding: 20% 20%;
}

.box-accordion-container {

  margin: 0px 0px 15px 0px;
  border: 1px solid #bcbcbc;
  border-top: none;
  padding: 15px;
}

.box-container-health-systam {
  margin: 15px 0px 0px 0px;

  border: 1px solid #bcbcbc;
  padding: 15px;
}

.mat-expansion-panel.hs-expansion-panel {
  
  margin-bottom: 15px;
}

.mat-expansion-panel.hs-expansion-panel {
 
  margin-bottom: 15px !important;
}

.mat-expansion-panel.hs-expansion-panel:not([class*='mat-elevation-z']) {

  box-shadow: none !important;
  border: 0.25px solid #bcbcbc;
}

.mat-expansion-panel-header.hs-expansion-panel-header .mat-content .mat-expansion-panel-header-title {
  
  display: block !important;
  flex-grow: none !important;
}

.mat-expansion-panel-header.hs-expansion-panel-header {
  height: 100% !important;
  padding: 15px !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* color:green; */
}

.width-100 {
  width: 100%;
}

.width-45 {
  width: 45%;
}

.btn-spacer {
  margin-left: 15px !important;
}


.width-50 {
  width: 50%;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-85 {
  margin-top: 85px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.font-12 {
  font-size: 12px;
}

.show-choose-file-button {
  width: 150px !important;
  /* border: 1px solid #00b07c !important; */
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.show-choose-file-upload-button {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  /* border: 1px solid #00b07c !important; */
  border-left: none !important;
  background-color: transparent;
  color: #ffffff;
}

.hide-choose-file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}

.dull-font {
  color: #9a9a9a;
}

.error-text {
  color: #f44336;
  font-size: 75%;
}

.error-login {
  position: relative;
  top: -20px;
  text-align: right;
}

.mat-sidenav-content {
  overflow-x: hidden !important;
 
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00c7b0 !important;
}

.mat-icon-purple {
  color: #00c7b0;
}

.email-error {
  font-size: 11px;
  position: relative;
  text-align: right;
  top: -19px;
}

.email-patient-error {
  font-size: 11px;
  position: relative;
  text-align: right;
  top: -19px;
}

.font-700 {
  font-weight: 700 !important;
}

.margin-top-10ve {
  margin-top: -10px !important;
}

.dialog-close {
  top: -15px !important;
  left: 14px !important;
}

tr.mat-row.custom-mat-row {
  height: 0px !important;
  border-top: 2px solid #f3f3f3 !important;
}

tr.mat-row {
  height: 0px !important;
  border-top: 2px solid #f3f3f3 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #227f77 !important;
}

.remove-padding-bottom .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.remove-box-shadow {
  box-shadow: none !important;
}

.main-accordion {
  /* border: 1px solid #dadada !important; */
  border: 1px solid rgba(0, 0, 0, .12);

}
.mat-option-text-focoused{
  color: #227f77 !important;
}

.inner-accordion {
  /* border: 1px solid #dadada !important; */
  background: #f3f3f3;
}

.accordion-spacer {
  margin-bottom: 10px !important;
}

.sort-select-form {
  
}  

.min-height-100 {
  min-height: 100%;
}

.search-button {
  width: 50px !important;
  height: 50px !important;
  background: #f1f1f1 !important;
  margin-top: 2px !important;
}

.mat-calendar-table th {
  background-color: transparent!important;
}

.table-box-shadow {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-tab-body-content {
  overflow-x: hidden !important;
}

.patient-portal-select-img {
  width: 100px;
  margin: 20px 0px
}

.file-upload-select-img {
  width: 100px;
  margin: 20px 0px
}

.remove-col-padding-right {
  padding-right: 0px !important;
}

.neutral-card {
  background-color: #f6f6f6;
}

.mob-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0px !important;
}



.neutral-font {
  color: #9a9a9a;
}

.font-bold {
  font-weight: bold;
  Color: #227f77 ; 
}

.font-300 {
  font-weight: 300 !important;
}

.uploaded-file-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.upload-file-button {
  position: absolute !important;
  right: 10px
}

.upload-company-document-card {
  background-color: #f6f6f6;
}

.medical-record-accordion-button {
  position: absolute !important;
  right: 45px !important;
  line-height: 34px !important;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  min-width: 45px !important;
  padding: 0 10px !important;

}

.medical-record-accordion-add-button {

  line-height: 34px !important;
  background-color: #00b07c;
  color: #fff;
  font-size: 12px;
  min-width: 45px !important;
  padding: 0 10px !important;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #293142;
    color: #fff;
    transition: all 0.3s;
    margin-left: 119px;
    left: 50px;
  }
}

@media (min-width: 1920px) {
  .monitor-image {
    width: 115px !important;
    height: 125px !important;
  }

  .big-screen-padding-right {
    padding-right: 0rem !important;
  }

  h1.font-heading.big-screen {
    margin-top: 2.5rem;
    font-size: 3rem;
  }

  h2.font-subheading.big-screen {
    font-size: 1.5rem;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .monitor-image {
    width: 75px !important;
    height: 75px !important;
  }
}

@media (max-width: 500px) {

  .mob-width-100 {
    width: 100% !important;
  }

  .select-data-source {
    margin: 0 !important;
    padding: 15px !important;
  }

  .box-container-layout {
    display: block !important;
  }

  .button-150 {
    width: 100px;
  }

  .request-health-system {
    margin: 0;
    padding: 4% !important;
  }

  .mat-card-title {
    /* color: #00c7b0 !important; */
    font-size: 20px;
  }

  .sign-in-container {
    display: block;
  }

  .sign-card-right-wrapper {
    display: none;
  }

  .sign-in-card {
    width: 100%;
    height: 100vh;
  }

  .sign-card-left-wrapper {
    width: 100%;
  }

  .signup-card-right-wrapper {
    width: 100%;
  }


  .signup-card-left-wrapper {
    display: none;
  }

  .sign-in-container:after {
    content: ' ';
    border-top: 100vh solid #f1f5ff;
    border-right: 100vw solid transparent;
    width: 0;
    z-index: -1;
    position: absolute;
  }

  .npi-error {
    position: relative;
    top: -22px;
    left: 0px;
    font-size: 10px;
  }

  .mob-dialog {
    width: 100% !important;
  }

  .mob-fitbit-dialog {
    min-width: 95vw !important;
    max-height: 95vh !important;
  }

  .mob-chip {
    position: relative !important;
    z-index: 1111 !important;

  }

  .fitbit-dialog-container {
    padding: 0px !important;
  }

  .mob-80 {
    width: 80% !important;
  }

  .mob-20 {
    width: 20% !important;
  }

  .dialog-close {
    position: relative;
    top: -18px !important;

  }

  .hide-in-mobile-screen {
    display: none !important;
      }

  .mob-width-30 {
    width: 30% !important;
  }

  .mob-width-70 {
    width: 70% !important;
  }

  .patient-portal-select-img {
    width: 70px;
    margin: 20px 0px
  }

  .file-upload-select-img {
    width: 70px;
    margin: 20px 0px
  }

}

@media (min-width: 501px) and (max-width: 2000px) {
  .hide-in-large-screen {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1367px) {
  .mat-expansion-panel-header.hs-expansion-panel-header {
    height: 90px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1441px) {}

@media (min-width: 1800px) {
  .box-container-layout {
    padding: 2% 15%;
  }
}

.fixed-container {
  position: fixed!important;
  z-index: 10;
}

/* Media Query 10/20/2020  by Sonali */
/* media query for iphone 6/7/8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .app-sidenav {
      width:250px;
      }
    .mat-icon-color{
      font-size:20px;
    }
    .sidenav-menutext{
       visibility: hidden;
    }
    .sidenav-accordion-menutext{
    visibility: hidden;
    }
    .side-nav-inner-menutext{
    visibility: hidden;
    }
       
}

/* 10/20/2020 */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   .app-sidenav {
      width:250px;
      }
    .mat-icon-color{
      font-size:20px;
    }
    .sidenav-menutext{
       visibility: hidden;
    }
    .sidenav-accordion-menutext{
    visibility: hidden;
    }
    .side-nav-inner-menutext{
     visibility: hidden;
    }
    .font-bold,.InternalText{
      margin-left:20px !important;
    }
   .table-circle{
    margin-left:-100px !important;
   }
   .table-line{
     width:50px !important;
   }
}

/* 10/20/2020 */
/* ipad  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 { 
   .app-sidenav {
      width:70px;
      }
    .mat-icon-color{
      font-size:20px;
    }
    .sidenav-menutext{
       visibility: hidden;
    }
    .sidenav-accordion-menutext{
       visibility: hidden;
    }
    .side-nav-inner-menutext{
     visibility: hidden;
    }
}

/*accordion 10-26-2020 by rizwanfarah */
.accordion-space{
  border-top: 0 none;
  margin-bottom: 0px;
  margin-top: -12px; 
  overflow: auto; 
  padding: 0; 
  position: relative;
  top: none;
}

.flex-container.page-top {
  justify-content: space-between;
  align-items: center;
}







/* Preloader Css */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f3fa;
  z-index: 9999999;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .preloader.hide {
    opacity: 0;
    display: none; }

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }

.loader-1 .loader-outter {
  position: absolute;
  border: 4px solid #5a5959;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite; }

.loader-1 .loader-inner {
  position: absolute;
  border: 4px solid #2c2b2b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite; }

@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
    .full-size{
      height:100%;
      width:100%;
      padding: 10px;
      opacity: 0.8;
      overflow:hidden; /* or overflow:auto; if you want scrollbars */
      z-index:9999; background:rgba(193, 192, 192, 0.7);
      pointer-events: none;
      text-align: center;color:rgb(253, 1, 1);;padding: 8px;
      cursor: not-allowed;
      position: absolute;
    }


    .mat-bottom-sheet-container {
      padding: 39px 16px;
      min-width: 100vw;
      box-sizing: border-box;
      display: block;
      outline: 0;
      max-height: 80vh;
      overflow: auto;
      border-top-left-radius: 32px!important;
      border-top-right-radius: 32px!important;
  }

  .mat-list-base {
    display: block;
    /* padding-top:42px!important; */
     padding-top:15px!important;
    -webkit-tap-highlight-color: transparent;
}

.clear-both{
  clear: both!important;
}
.mobileButtonLink{
  width:100%!important; color:white; padding: 0 8px; background-color:#227f77;
  border-radius: 12px!important;
}

.mobileButtonLinkSearchIcon{
  width:100%!important; padding: 0 8px; background-color:#227f77;
  border-radius: 12px!important;
  height: 37px!important;
}
.mobileButtonLinkSearch{
  width: 100%!important;
    /* padding: 0 8px; */
    background-color: #0038a7;
    border-radius: 12px!important;
    height: 32px;
    font-weight: 500;
    color: white;
    
}


.mobileDivButtonCon{
  clear: both;width:100%!important;    margin-top: 12px;
}

.mobileDivButtonCon1 {
  clear: both;
  width: 100%!important;
  margin-top: -10px;
}




@media screen and (max-width: 678px) {
  .mmain-container {
    padding: 0.1rem!important;
  }
  .box-container{
    background-color:white;
    box-shadow: none!important;
    border-radius: 0.5em;
    margin-left:0px!important;
  }
  .card-padding-6{
    padding: 6px!important;
  }

}

.custom-width-bottomSheet {
  padding: 0px 0px; 
  box-sizing: border-box!important;
  display: block!important;
  outline: 0!important;
  overflow: auto!important;
  /* min-height: 684px!important; */
  min-height: 100vh !important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  background: transparent;
} 


.custom-width-mr-bottomSheet {
  padding: 0px 0px; 
  box-sizing: border-box;
  display: block;
  outline: 0;
  /* min-height: 684px!important; */
  min-height: 100vh !important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  background: transparent;
}

.mat-tab-active-class {
  background: #227f77;
  color: white;
  padding: 20px;
  border-radius: 32px;
  margin-right: 8px;
  border-bottom: none!important;
}

.custom-width-mr-bottomSheet-manual-upload {
  padding: 0px 0px; 
  box-sizing: border-box;
  display: block;
  min-height: 15vh !important;
  max-height: 85vh !important;
  overflow-y: auto!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
  background-color:white!important;
}

mat-calendar{ zoom:"0.75" }


