<div class="main-container">
    <mat-card class="min-height-100 card-padding-6 ">
        <div>
            <div class="flex-container page-top">
                    <!-- created icon class to give color develop by harshal on 10/27/20 -->
                     <div class="page-title hide-in-mobile-screen">
                        <div class="icon">
                            <mat-icon class="material-icons">people</mat-icon>
                        </div> 
                       <mat-card-title class="card-main-title font-700">Patients</mat-card-title>
                     </div>

                     <div class="page-title1 hide-in-large-screen">
                        <div class="icon">
                            <mat-icon class="material-icons">people</mat-icon>
                        </div> 
                       <mat-card-title class="card-main-title font-700">Patients</mat-card-title>
                     </div>


                     
                <div  class="mobileDivButtonCon  hide-in-large-screen">
                    <button class="mobileButtonLinkSearchIcon" matTooltip="Search"
                    matTooltipPosition="left" mat-button (click)="selectedSearchType('email')">
                    <mat-icon style="color: white;
                    font-size: 32px;
                   ">search</mat-icon>
                  </button>
                    </div>







                    <div class="sort-select-form hide-in-mobile-screen">
                        <mat-form-field class="remove-padding-bottom" appearance="outline">
                            <mat-label>---Search By---</mat-label>
                            <mat-select (selectionChange)="selectedSearchType($event.value)" >
                                <mat-option>--select user--</mat-option>
                             <mat-option *ngFor="let type of searchType" [value]="type.value">{{type.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="hide-in-large-screen float-right">
                    <button [matMenuTriggerFor]="menu" mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">Search By</h4>
                        <span >
                            <button mat-menu-item (click)="selectedSearchType('email')">Email</button>
                            <button mat-menu-item (click)="selectedSearchType('user.id')">Name</button>
                        </span>
                    </mat-menu>
                </div> -->
            </div>






            


            <div class="margin-top-30" *ngIf="searchFieldFlag">
                <div class="row  hide-in-mobile-screen">
                    <div class="col-md-8 remove-col-padding-right mob-col-padding-right">
                        <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                            <mat-label>{{placholdeName}}</mat-label>
                            <input  [(ngModel)]="searchDataValue" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <button  class="search-button" mat-icon-button
                            color="primary" (click)="getSearchByData()">
                                <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>

            <div class="clear-both"></div>

             <div class="row hide-in-large-screen">



                <div style="width: 100%;">
                    <mat-form-field appearance="fill" class="form-100" style="margin-top: -12px!important" panelClass="">
                        <mat-label>{{placholdeName}}</mat-label>
                        <input  [(ngModel)]="searchDataValue" matInput >
                    </mat-form-field>
                </div>


                <!-- <button mat-flat-button color="primary"
                 class="mob-button-100  mob-margin-bottom-15 mob-search-button">Search</button> -->

                 <div  class="mobileDivButtonCon1">
                    <button class="mobileButtonLinkSearch"
                    matTooltipPosition="left"  mat-button (click)="getSearchByData()">
                     <span style="    line-height: 2!important;
                     display: block;">Search</span> 
                  </button>
                    </div>

                  




             </div>



            </div>






<!--  hide-in-mobile-screen  -->
            <div class="hide-in-mobile-screen">

                      <!-- Requested users -->
            <div class="row" *ngIf="showRequests">
                <div class="col-md-12 mt-50">
                    <p class="font-600" style="color:#008080;padding-left:15px; padding-top: 40px; padding-bottom: 10px; font-size:18px;">Requests</p>
                    <div class="box-container">
                        <div class="scroll"> 
                            <table class="table">
                                <tr class="cells-header">
                                    <th>Name</th> 
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>DOB</th>
                                    <th>Action</th>
                                </tr>
                                <tr class="cells-body" *ngFor="let dataObj of users;let i=index">
                                    <ng-container *ngIf="!dataObj.active">
                                        <td>{{dataObj.first_name}} {{dataObj.last_name}}</td>
                                        <td>{{dataObj.email}}</td>
                                        <td>{{dataObj.phone_number}}</td>
                                        <td>{{dataObj.dob | date:"MM/dd/yyyy"}}</td>
                                        <td style="width: 100px; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                                                <span matTooltip="Confirm" class="accept-patient" (click)="providerManageAccessUser(dataObj.upid,dataObj.active)">
                                                    <mat-icon class="material-icons">check</mat-icon>
                                                </span>  
                                                <span matTooltip="Reject" class="ignore-patient" (click)="providerManageAccessUser(dataObj.upid, 'clear')">
                                                    <mat-icon class="material-icons">close</mat-icon>
                                                </span>
                                        </td>
                                    </ng-container>
                                </tr>
                                <!-- <tr *ngIf="users == null || users.length == 0">
                                    <td colspan="5"
                                        style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                                        No current requesting patients
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Confirmed users -->
            <div class="row" *ngIf="acceptedUsers.length">
                <div class="col-md-12 mt-50">
                        <div class="box-container">
                            <div class="scroll">
                                <table class="table">
                                    <tr class="cells-header">
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>DOB</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr class="cells-body" *ngFor="let dataObj of users;let i=index">
                                        <ng-container *ngIf="dataObj.active">
                                            <td>{{dataObj.first_name}} {{dataObj.last_name}}</td>
                                            <td>{{dataObj.email}}</td>
                                            <td>{{dataObj.phone_number}}</td>
                                            <td>{{dataObj.dob | date:"MM/dd/yyyy"}}</td>
                                            <td style="width: 100px;">  
                                                <div>
                                                    <span matTooltip="Remove" class="material-icons remove-patient" (click)="providerManageAccessUser(dataObj.upid,dataObj.active)">delete</span>
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf="users.length==0">
                                        <td colspan="5"
                                            style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                                                Patient is not available.
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          


<div style="clear: both!important;"></div>
            
<!--  hide-in-large-screen  -->
<div class="hide-in-large-screen">
      <div class="scroll" *ngIf="showRequests"> 
        <p  style="padding-top: 40px; padding-bottom: 10px; font-size:24px;color:#008080;font-weight: 600;">Requests</p>
          <table class="table" >
              <tr class="cells-body" *ngFor="let dataObj of users;let i=index" (click)="openBottomSheet(dataObj,'Requests')">
                  <ng-container *ngIf="!dataObj.active">
                    <td>
                       <p class="headTitle">{{dataObj.first_name}} {{dataObj.last_name}}</p>
                       <span class="subTitle">{{dataObj.email}}</span> <br/>
                      <span class="subTitle">{{dataObj.phone_number}}</span>
                      </td>
                   
                    <td width="10%" style="vertical-align: middle!important;">  
                      <mat-icon class="cursor-pointer" color="primary">more_horiz</mat-icon>
                    </td>
                </ng-container>



              </tr>
              <!-- <tr *ngIf="users == null || users.length == 0">
                  <td colspan="5"
                      style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                      No current requesting patients
                  </td>
              </tr> -->
          </table>

</div>
<!-- Confirmed users -->
<div style="clear: both!important;"></div>
   
          <div class="table-responsive scroll  mt-30"  *ngIf="acceptedUsers.length">
            <p style="padding-top:15px; padding-bottom: 10px; font-size:24px;color:#008080;font-weight: 600;">Current Patients</p>
              <table class="table">
                  <tr class="cells-body" *ngFor="let dataObj of users;let i=index" (click)="openBottomSheet(dataObj,'currentPatients')">
                      <ng-container *ngIf="dataObj.active">
                          <td>
                             <p class="headTitle">{{dataObj.first_name}} {{dataObj.last_name}}</p>
                             <span class="subTitle">{{dataObj.email}}</span> <br/>
                            <span class="subTitle">{{dataObj.phone_number}}</span>
                            </td>
                          <td  width="10%" style="vertical-align: middle!important;">  
                            <mat-icon class="cursor-pointer" color="primary">more_horiz</mat-icon>
                          </td>
                      </ng-container>
                  </tr>
                  <tr *ngIf="users.length==0">
                      <td colspan="2"
                          style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                              Patient is not available.
                      </td>
                  </tr>
              </table>
          </div>
        </div>
    </mat-card>
</div>

