.box-container {
    margin: 5px !important;
    padding: 0px !important;
    background-color: white !important;
    border: none;
    box-shadow: none;
    border-radius: 0em;
}
.acceptedYes{
    color:rgb(204, 204, 211);cursor: not-allowed;text-decoration: underline;margin-right:6px

}
.acceptedNo{
    color:rgb(28, 24, 245);cursor: pointer;text-decoration: underline;margin-right:6px
    }

.rejectedYes{
    color:rgb(204, 204, 211);cursor: not-allowed;text-decoration: underline;margin-right:6px
    }

.rejectedNo{
  color:red;cursor: pointer;text-decoration: underline;margin-right:6px
  }
  .green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }
  /* table head, title, icon */
  table{
    border: 1em!important;
  }

  .row{
    margin: 1px !important;
    padding: 1px !important;
  }
  ::ng-deep .mat-tab-label {
    color: #227f77;
  }
  .scroll{
    overflow: scroll!important;
  }
 .clearText{
  position: relative;
  color: red;
  top: 4px;
  cursor: pointer;
 }
 ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: darkcyan;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: pink !important;
}

table {
  box-shadow: none;
  border-radius: 0em;
}

.accept-patient {
  color: green;
}

.ignore-patient, .remove-patient {
  color: red;
}

.accept-patient:hover, .ignore-patient:hover, .remove-patient:hover {
  cursor: pointer;
}

th{
  background-color: rgb(248, 248, 248)!important;
  color: black!important;
  font-size: medium;
  font-weight: 500;
}

table {
  border-radius: 5px;
  box-shadow: none;
}

/*.row{ box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  
   tr {
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  } 
  /* set table & shadow */
  table{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0em;
  }
  
  tr:hover {
    background-color:rgb(248, 248, 248);
  }

.cells-body, .cells-header {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.headTitle{
  font-size: 18px;
  font-weight: 600;
}

.subTitle{
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 678px) {
  .main-container {
    padding: 0.1rem!important;
  }
  .box-container{
    background-color:white;
    box-shadow: none!important;
    border-radius: 0.5em;
    margin-left:0px!important;
  }
  mob-margin-top{
    margin-top:22px!important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
     padding: 0em .0em 0 0em!important; 
}
.input-class-height{

  height:400px
}

  .page-title1{
    margin-top:22px!important;
    display: flex!important;
}
}