 /* .sidenav_container{
  margin-top:30px;
}
.app-sidenav{
  background-color: #008080;
border-radius: 0px 30px 0px 0px ; 
border-color:white;

}
.sidebar-icon-text{
background-color: #008080;
color:white;
}
 
.sidebar-icon-text:hover{
 background-color:white;
 color: #227f77;
 border-radius: 50px 0px 0px 50px ; 
 width:300px;
 margin-left:20px;

}

.home{
background-color: #008080;
color:white;
font-size:20px;

}

.home:hover{
  background-color:white;
color: #227f77 !important;
 border-radius: 50px 0px 0px 50px ; 
 margin-left:20px;
}

.plus-icon{
font-size:15px;
color:#008080;
 margin-bottom:10px;
  font-weight: bold;
}

.mat-icon-color{
    Color: #227f77 ; 
    } */
    
    
     /* added focus to remove the outline of sidenav and topheader  */
     :focus {
        outline: none; 
        
        }
    
    .notify{
      padding: 0px 7px;
      background:gray;
      font-size: 12px;
      border-radius: 50%;
      position: absolute;
      right: 55px;
      top: 5px;
      color: white!important;
  }
  .notify-menu div{
    padding: 5px 5px;
    margin: 5px 0px;
    border-radius: 5px;
  }
  
  .notify-menu-item:hover {
    background-color: #efefef;
  }
  
  .close {
    opacity: 1;
  }
  
  .logo-box {
    margin-bottom: 20px; padding: 3px; 
    height: 50px; 
    text-align: center;
  }
  
  .top-header.position-left {
    background-color: #f0f0f0;
  }
  
  .mat-sidenav-content, .top-header.position-left, .app-sidenav-container {
    transition: 0.3s;
  }
  
  .mat-sidenav-content.open, .top-header.position-left.open {
    width: 100%;
    padding-left: 250px;
    margin-left: 0px!important;
  }
    
  .mat-sidenav-content.closed, .top-header.position-left.closed {
    width: 100%;
    padding-left: 50px;
    margin-left: 0px!important;
  }
  
  .sidenav-menutext {
    visibility: visible;
  }
  
  .app-sidenav {
    max-width: 250px;
  }
  
  @media (max-width: 640px) {
    .mat-sidenav-content.closed, .top-header.position-left.closed {
      padding-left: 0px!important;
      margin-left: 250px!important;
    }
      
    .mat-sidenav-content.open, .top-header.position-left.open {
      width: 100%;
      padding-left: 0px;
      margin-left: 0px!important;
    }
  }
  
  #main-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }