<div class="app-main-container" [class.example-is-mobile]="mobileQuery.matches"> 
    <nav class="top-header position-left" [ngClass]="(sideNavState) ? 'closed': 'open'">
        <button mat-icon-button (click)="toggleSide()">
                <mat-icon>menu</mat-icon>
        </button>
        <div class="flex-spacer"></div>     
        <button (click)="makeUnreadNotification()" mat-icon-button [matMenuTriggerFor]="notification">
            <mat-icon>notifications</mat-icon>
        </button><span class="notify" *ngIf="notificationLength >0 ">{{notificationLength}}</span>
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <img *ngIf="!usr_id" src="./assets/images/faces/user-icon.png" style="width: 25px; height: 25px;border-radius: 100%;">
            <img *ngIf="usr_id" src="{{basePath}}profile-image/{{usr_id}}" style="width: 25px; height: 25px;border-radius: 100%;">
        </button>
        <mat-menu #notification="matMenu">
            <div class="container notify-menu">
                <h3><strong>Notifications</strong></h3>
                <h3 *ngIf="notificationArr.length == 0">No new notifications</h3>
                <div *ngFor="let n of notificationArr let i = index" class="notify-menu-item">
                    <p><strong>{{n.title}}</strong></p>
                    <p>{{n.description}}</p>
                    <span style="font-size: 12px;">{{n.hours}} hours ago</span>
                </div>
            </div>
        </mat-menu>
        <mat-menu #profile="matMenu">
            <button mat-menu-item (click)="profilePage()" >My Profile</button>
            <a href="https://curameitech.com/help"><button mat-menu-item>Settings</button></a>
            <button mat-menu-item (click)="logout()">Sign Out</button>
        </mat-menu>
    </nav>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav class="app-sidenav fixed-container"  [opened]="screenWidth > 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches">

            <!-- added sidenav state change to open close animateText   -->
            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div class="logo-box">
                    <a *ngIf="!sideNavState">
                        <img *ngIf="!sideNavState" src="../../../assets/images/AllWhite-Curamei-Logo.png" width="150px"/>
                    </a>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
                    <!-- added class home to give effect -->
                    <div routerLinkActive="active"  routerLink="/admin/dashboard"  class="home mat-icon-color" 
                        style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                        <mat-icon class="mat-icon-color">dashboard</mat-icon>
                        <span *ngIf="!sideNavState" class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Dashboard </span>
                    </div>

                <div routerLinkActive="active" class="home mat-icon-color" routerLink="/admin/users"
                      style="margin-top: 15px; display: inline-block; cursor: pointer;" >
  
                     <mat-icon class="mat-icon-color" style="padding-right:5px;">group</mat-icon>
                     <span *ngIf="!sideNavState"  class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Users
                     </span>
                 </div>   

                
                <span class="spacer"></span>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav *ngIf="sideNavState" class="app-sidenav fixed-container"  [opened]="screenWidth <= 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches">

            <!-- added sidenav state change to open close animateText   -->
            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div class="logo-box">
                    <a><span class="curamei">Curamei</span><span class="fa fa-plus plus-icon"></span></a>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
                    <!-- added class home to give effect -->
                    <div routerLinkActive="active"  routerLink="/admin/dashboard"  class="home mat-icon-color" 
                        style="margin-top: 15px; display: inline-block; cursor: pointer;" >

                        <mat-icon class="mat-icon-color">dashboard</mat-icon>
                        <span class="sidenav-menutext">Dashboard </span>
                    </div>

                <div routerLinkActive="active" class="home mat-icon-color" routerLink="/admin/users"
                      style="margin-top: 15px; display: inline-block; cursor: pointer;" >
  
                     <mat-icon class="mat-icon-color" style="padding-right:5px;">group</mat-icon>
                     <span class="sidenav-menutext">Users
                     </span>
                 </div>   

                <span class="spacer"></span>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'" [ngClass]="(screenWidth > 640 && sideNavState) ? 'closed': 'open'"
            style="background-color:white;" id="main-view"
        >
            <div>
                <router-outlet></router-outlet>
            </div>
            <ul class="footer-notice">
                <li>
                    Curamei Technologies ©2020 All rights reserved.
                </li>
                <li class="footer-left-border">
                    <a href="https://curameitech.com/privacy-policy">Privacy Policy</a>
                </li>
                <li class="footer-left-border">
                    <a href="https://curameitech.com/terms-of-service">Terms of Service</a>
                </li>
            </ul>
            
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- Mobile view bottom menu -->
    <div class="mobile-footer-menu" id="bottom-bar" >
        <i class="material-icons mat-icon-color" routerLink="/patient/dashboard">home</i>
        <i class="material-icons mat-icon-color" routerLink="/patient/fitbit-dashboard">directions_run</i>
        <i class="material-icons mat-icon-color" routerLink="/patient/digital-health">cloud_upload</i>
        <i class="material-icons mat-icon-color" routerLink="/patient/medical-records">medical_services</i>
    </div>
</div>

