

.divCon{
    height: auto;position: absolute; margin-bottom: 0px;    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size:16px!important;
    background-color: rgb(255, 255, 255);
    /* min-height: 684px!important; */
    max-height:90vh !important;
    color: black!important;
    text-align: left!important;
    text-align: center; border-top-left-radius: 32px!important;
        border-top-right-radius: 32px!important;overflow-y: scroll!important;
   

}


.mat-icon {
    font-size: 22px;
    margin-right: 15px;
}
.closeBtn{
    float: right;
    margin-right: 10px;
    margin-top: -2px;
    font-size: 24px;
    font-weight: bold;
    background-color: #e5e8e8;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.tooltip-icon {
    float: right;
  }
.mat-list-base {
    display: block;
    padding-top:10px!important;
    -webkit-tap-highlight-color: transparent;
}

  .detailsHeader {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

  }
  .detailsBody {
    padding-top: 0px;
    padding-left: 4px!important;
    padding-bottom: 12px;
    padding-right: 4px;
    background-color: white!important;

    max-height:85vh !important;
    overflow-y: scroll;
  }
  

/* ::ng-deep .mat-bottom-sheet-container {
     padding: 0px 0px; 
    box-sizing: border-box;
    display: block;
    outline: 0;
    overflow: auto;
    min-height: 684px;
    background: #0052d4!important; 
    background: -webkit-linear-gradient(to right, #0052d4, #4364f7, #6fb1fc)!important; 
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc)!important; 
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
} */

.saveBtnMargin{
    margin-left: 20px;
    padding-bottom: 1.2rem;
}

.closedBtn{
    /* color: #227f77; */
    cursor: pointer;
    margin: 5px;

}
.editIcon{

  cursor: pointer;
  margin: 5px;
/*   margin-top: -9px;
  margin-right: 13px; */
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px!important;
}

.form-100{
  width: 100%!important;
}

.mat-dialog-content {
  max-height: 100vh;
}


/* .mat-card-header-Condition{
  background-color:#5A7BBF !important;
} .mat-card-header-MedicationStatement{
  background-color:#26CF43 !important;
  padding:5px !important;
} */

.headerSepertor1{
    width: 100%!important;
    height: 2px;
    background-color: #227f77!important;
    margin-top: 1px;
  }
  .headerSepertor2{
  width: 100%!important;
    height: 1px!important;
    background-color: #989494!important;
  }
  /* table head, heading color */
  th{
    background-color: white!important;
  }

  .space{
    margin-top: 15px; 
  }



  .conditionHeader {
    background-color:#5A7BBF !important;
  }
  .medicationStatementHeader {
    background-color:#4ba75a !important;
  }
  .allergyIntoleranceHeader {
    background-color:#564976 !important;
  }
  .immunizationHeader {
    background-color:#5C16A7 !important;
  }
  .observationHeader {
    background-color:#e998b2 !important;
  }
  .procedureHeader {
    background-color:#D64745 !important;
  }
  .medicationOrderHeader{
    background-color:#3f8b3d !important;
  }
  .goalHeader{
    background-color:#42a39d !important;
  }
  .carePlanHeader{
    background-color:#171BBD !important;
  }
  .encounterHeader{
    background-color:#769c44 !important;
  }
  .familyMemberHistoryHeader{
    background-color:#892a97 !important;
  }


  .mat-dialog-container {
    padding: 0px!important;
  }

  .tooltip-icon {
    float: right;
  }

  .detailsBody table tr th {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .detailsBody table tr td {
    min-width: 40%;
    width: 40%;
  }

  .divCon ::ng-deep .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 125px!important;
     margin-top: -32px!important; 
}


