tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

  
  .loadingHide {
    display: none;
  }
  .pdcart{
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(179,173,179,1);
    padding: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 1.5rem;
  }
  
  
  .headingTitle{
    margin-bottom:10px;
    color: #0a0a0a;
    font-weight: 700;
  }
  
  .tableModify{
    border-collapse: collapse !important;
    width:98%; margin: 0px auto;border:1px solid;font-size: 11px;
    border:1px solid #ccc !important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .linkContainner{
    width: 100%;
    padding: 10px;
    text-align: right;
    border-radius: 8px;margin-top: 3px;
  }
  
  .linkStyle{
    padding: 6px;
    border-radius: 12px;
    margin-right: 14px;
    cursor: pointer;
    color: #227f77;
  }
  .linkStyle_today{    
   
    border-radius: 12px;
    margin-right: 14px;
    cursor: pointer;
    float: right;
    font-size: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    margin-bottom: 5px;
    color: #227f77;
  
  }
  
  .mailHeader{
    color: black;
  font-weight: 500;
  font-size: 16px;
  }
  
  .mailHour1{
    
    font-size: 17px;
  }
  .mailHour2{
    
    font-size: 13px;
  }
  .email_image{width: 100px;
    height: 100px;
    transform: rotate(0deg);
    margin-left: 8px;
    margin-top: -10px;}
    th{
      font-size: medium;
  
    }
    table{
      border: 1em!important;
    }
   
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6!important;
    }
    .table td, .table th {
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }

  .ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #d2c9c9;
    cursor: default;
    font-size: 12px!important;
}

.pdcart{
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(179,173,179,1);
}
.pdcart:hover{
  box-shadow: 0px 0px 9px 1px #227267!important;
}
.headingTitle, th{
  color: #227f77;
}
table{
  overflow: hidden!important;
  padding:15px; 
  border-bottom:0px;
}
.pie-chart-parent { 
  overflow: hidden!important;
  align-items: center;
}


.data-cards {
  padding: 0px;
  margin-top: 5px;
  flex-direction: column;
}

.mat-list-item-content {
  padding: 0px!important;
}

.data-cards-list-item {
  height: fit-content!important;
}

.connection-card, .count-card {
  border: none;
  box-shadow: none;
  margin: 5px 0px;
  width: 100%;
  background-color: #f6f6fb;
  border-radius: 5px;
  margin: 5px;
}

.count-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.permissions-card {
  background-color: #f6f6fb;
  box-shadow: none;
  border-radius: 5px;
  width: 100%;
}

.permissions-card ul {
  list-style: none;
  padding-left: 15px;
}

.one-row-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metric-card {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
}

.metric-num {
  font-size: 36px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.charted-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* mobile view code here */


.mpdcart{
  border-radius: 1em;
  padding-top:15px;
  padding-bottom:1px;
  margin-bottom: 14px;
  box-shadow: 0px 2px 1px 2px rgb(0 0 0 / 20%), 0px 2px 2px 2px rgb(0 0 0 / 14%), 0px 1px 2px 2px rgb(0 0 0 / 12%);
}
.mmain-container{
  padding: 0.3rem;
}


.mconnection-card {
  border: none;
  box-shadow: none;
  margin: 0px 0px;
  width: 100%;
  background-color: #f6f6fb;
  border-radius: 5px;
  margin: 0px;
}

.mpermissions-card {
  background-color: #f6f6fb;
  box-shadow: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.mpie-chart-parent { 
      overflow: hidden!important;
      align-items: center;
      width: 200px;
    margin: auto;
    }



    @media screen and (max-width: 678px) {
      .linkStyle {
        color: #ffffff;
        /* padding: 8px; */
        border-radius: 8px;
        margin-right: 14px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 6px;
        padding-top: 6px;
        cursor: pointer;
        background-color: #227f77;
    }
    
    .linkContainner {
      width: 100%;
    
      padding: 12px 4px 12px 4px;
      text-align: left!important;
      }
    
    
    }    