<div class="main-container  hide-in-mobile-screen">

 <div class="row row-sm">
        <div class="col-sm-12 col-lg-12 col-xl-8">
            <mat-card class="pdcart">
                <h2 class="headingTitle">Patient Portals</h2>
                <div class="subtitleHeading muted-text">Patient portals that you have connected to</div>

                <mat-list class="data-cards">
                    <mat-list-item class="data-cards-list-item" *ngFor="let obj of patientMedicalRecordsData">
                        <mat-card class="connection-card">
                            <div>
                                <h4 class="focus-text">{{obj.provider_system_name}}</h4>
                                <div class="muted-text">since {{obj.date | date:'MM/dd/yyyy'}}</div>
                            </div>
                        </mat-card>
                    </mat-list-item>
                    <mat-list-item class="data-cards-list-item" *ngIf="patientMedicalRecordsData.length == 0">
                        <mat-card class="connection-card">
                            <div class="muted-text">
                                {{patientMedicalRecordMsg}}
                                <br />
                                <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </mat-list-item>
                </mat-list>

                <div class="linkContainner">
                    <a routerLink="/patient/datasource"> <span class="linkStyle">Data Sources</span></a>
                    <a routerLink="/patient/medical-records"> <span class="linkStyle">Electronic Records</span></a>
                </div>
            </mat-card>

            <mat-card class="pdcart">
                <h2 class="headingTitle focus-text">Manual Uploads</h2>
                <div class="subtitleHeading muted-text">The number of files you have attached to each provider</div>

                <mat-list class="data-cards">
                    <mat-list-item class="data-cards-list-item" *ngFor="let obj of patientManualUploadRecordsData">
                        <mat-card class="count-card">
                            <div>
                                <h4 class="focus-text">{{obj.fullname | titlecase}}</h4>
                            </div>
                            <div style="text-align: center;">
                                <h4 class="focus-text important-number">{{obj.count}}</h4>
                                <div class="muted-text">files</div>
                            </div>
                        </mat-card>
                    </mat-list-item>
                    <mat-list-item class="data-cards-list-item" *ngIf="patientManualUploadRecordsData.length == 0">
                        <mat-card class="count-card">
                            <div class="muted-text">
                                {{ManualUploadRecordsMsg}}
                                <br />
                                <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </mat-list-item>
                </mat-list>

                <div class="linkContainner">
                    <a routerLink="/patient/provider-list"><span class="linkStyle">More Details</span></a>
                </div>
            </mat-card>

            <mat-card class="pdcart">
                <h2 class="headingTitle focus-text">Access Controls</h2>
                <div class="subtitleHeading muted-text">Providers you have shared your Curamei health data with</div>
                <mat-list class="data-cards">
                    <mat-list-item class="data-cards-list-item" *ngFor="let obj of patientProviderAccessControlsData">
                        <mat-card class="permissions-card">
                            <div>
                                <h4 class="focus-text">{{obj.fullname | titlecase}}</h4>
                                <ul>
                                    <li class="one-row-li" *ngFor="let acc of obj.accesses">
                                        <div>{{acc.access}}</div>
                                        <div class="muted-text">since {{acc.created_on}}</div>
                                    </li>
                                </ul>
                            </div>
                        </mat-card>
                    </mat-list-item>
                    <mat-list-item class="data-cards-list-item" *ngIf="patientProviderAccessControlsData.length == 0">
                        <mat-card class="permissions-card">
                            <div class="muted-text">
                                {{patientProviderAccessControlsMsg}}
                                <br />
                                <a href="https://curameitech.com/help/sharing-data/managing-provider-access">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </mat-list-item>
                </mat-list>


                <div class="linkContainner">
                    <a routerLink="/patient/share-patient-resource"> <span class="linkStyle">More Details</span></a>
                </div>
            </mat-card>
        </div>


        <div class="col-sm-12 col-lg-12 col-xl-4 mt-xl-4" style="margin-top: 0px!important;">
            <mat-card class="pdcart">
                <h2 class="headingTitle focus-text">Digital Health</h2>
                <div class="subtitleHeading muted-text">Apps that you have authorized to read data from</div>
                <mat-list class="data-cards">
                    <mat-list-item class="data-cards-list-item"
                        *ngFor="let obj of patientDigitalHeathConfigurationData">
                        <mat-card class="connection-card">
                            <div>
                                <h4 class="focus-text">Fitbit</h4>
                                <div class="muted-text">since {{obj.fitbit_created_on | date:'MM/dd/yyyy'}}</div>
                            </div>
                        </mat-card>
                    </mat-list-item>
                    <mat-list-item class="data-cards-list-item"
                        *ngIf="patientDigitalHeathConfigurationData.length == 0">
                        <mat-card class="connection-card">
                            <div class="muted-text">
                                {{patientDigitalHeathConfigurationMsg}}
                                <br />
                                <a
                                    href="https://curameitech.com/help/unifying-digital-health-apps/managing-health-apps">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </mat-list-item>
                </mat-list>

                <div class="linkContainner">
                    <a routerLink="/patient/fitbit-dashboard"> <span class="linkStyle">More Details</span></a>
                </div>
            </mat-card>

            <mat-card class="pdcart" *ngIf="noFitbitConfigurarionSet">
                <div class="metric-card">
                    <div>
                        <h2 class="headingTitle focus-text">Sleep</h2>
                        <div class="subtitleHeading muted-text">Last night's sleep in hours and minutes</div>
                        <h2 class="focus-text important-number metric-num">{{todayHours}}:{{todayMinutes}}</h2>
                        <mat-chip-list>
                            <mat-chip color="primary">Fitbit</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div>
                        <mat-icon class="material-icons-sleep" style="width: fit-content;"> local_hotel</mat-icon>
                    </div>
                </div>
                <!--
                    <span class="linkStyle_today">Today</span>
                    <table class="table" cellpadding="3" cellspacing="3" style="margin-top:20px">
 
                                <tr>
                                   <td style="width:27%!important"> <img class="email_image" src="../../../assets/images/Message-50.png"></td> 
                                    <td style="width:auto"> <mat-icon class="material-icons-sleep"> local_hotel</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> 
                                  <td>
                                     <span class="mailHeader">Sleep</span> 
                                      <br/>
                                      <span class="mailHour1">{{todayHours}} : {{todayMinutes}}</span>  <span class="mailHour2"> hrs</span>
                                      
                                      <br/>
                                      <span class="mailHour2">Fitbit</span>
                                      </td>
                                </tr>
                       
                      </table>
                    -->

            </mat-card>

            <mat-card class="pdcart" *ngIf="noFitbitConfigurarionSet">
                <div class="metric-card">
                    <div>
                        <h2 class="headingTitle focus-text">Steps</h2>
                        <div class="subtitleHeading muted-text">Today's step count</div>
                        <h2 class="focus-text important-number metric-num">{{todayStep}}</h2>
                        <mat-chip-list>
                            <mat-chip color="primary">Fitbit</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div>
                        <mat-icon class="material-icons-sleep" style="width: fit-content;"> directions_run</mat-icon>
                    </div>
                </div>
                <!--
                    <span class="linkStyle_today">Today</span>
                    <table class="table" cellpadding="3" cellspacing="3" style="margin-top:20px">

                                <tr>
                                    <td style="width:auto"> <mat-icon class="material-icons-exercise"> directions_run</mat-icon> </td> 
                                  <td>
                                     <span class="mailHeader">Exercise</span> 
                                      <br/>
                                      <span class="mailHour1">{{todayStep}}</span>  <span class="mailHour2">
                                           <ng-container *ngIf="todayStep > 1"> Steps</ng-container>
                                           <ng-container *ngIf="todayStep <= 1"> Step</ng-container>
                                        </span>
                                      
                                      <br/>
                                      <span class="mailHour2">Fitbit</span>
                                      </td>
                                </tr>
                       
                      </table>
                    -->

            </mat-card>


        </div>










  
  
  
  
  
  
  
  
  
  


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    </div>

</div>








<!-- Mobile view screen code  -->
  <div class="mmain-container hide-in-large-screen" >
  



    <div class="row row-sm"  style="margin-top:10px!important;">
        <div class="col-sm-12 col-lg-12 col-xl-12">
            <mat-card class="mpdcart">
                <h2 class="headingTitle">Patient Portals</h2>
                <div class="subtitleHeading muted-text">Patient portals that you have connected to</div>

                <mat-list class="data-cards">
                    <div class="data-cards-list-item" *ngFor="let obj of patientMedicalRecordsData">
                        <mat-card class="mconnection-card">
                            <div>
                                <h4 class="focus-text">{{obj.provider_system_name}}</h4>
                                <div class="muted-text">since {{obj.date | date:'MM/dd/yyyy'}}</div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="data-cards-list-item" *ngIf="patientMedicalRecordsData.length == 0">
                        <mat-card class="connection-card">
                            <div class="muted-text">
                                {{patientMedicalRecordMsg}}
                                <br />
                                <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </div>
                </mat-list>

                <div class="linkContainner">
                    <a routerLink="/patient/datasource"> <span class="linkStyle">Data Sources</span></a>
                    <a routerLink="/patient/medical-records" style="float:right!important"> <span class="linkStyle">Electronic Records</span></a>
                </div>
            </mat-card>

            <mat-card class="mpdcart">
                <h2 class="headingTitle focus-text">Manual Uploads</h2>
                <div class="subtitleHeading muted-text">The number of files you have attached to each patient</div>

                <mat-list class="data-cards">
                    <div class="data-cards-list-item" *ngFor="let obj of patientManualUploadRecordsData">
                        <mat-card class="count-card" style="margin-left: -1px!important;">
                            <div>
                                <h4 class="focus-text">{{obj.fullname | titlecase}}</h4>
                            </div>
                            <div style="text-align: center;">
                                <h4 class="focus-text important-number">{{obj.count}}</h4>
                                <div class="muted-text">files</div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="data-cards-list-item" *ngIf="patientManualUploadRecordsData.length == 0">
                        <mat-card class="count-card">
                            <div class="muted-text">
                                {{ManualUploadRecordsMsg}}
                                <br />
                                <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </div>
                </mat-list>

                <div class="linkContainner">
                    <a routerLink="/patient/provider-list"><span class="linkStyle">More Details</span></a>
                </div>
            </mat-card>

            <mat-card class="mpdcart">
                <h2 class="headingTitle focus-text">Access Controls</h2>
                <div class="subtitleHeading muted-text">Providers you have shared your Curamei health data with</div>
                <mat-list class="data-cards">
                    <div class="data-cards-list-item" *ngFor="let obj of patientProviderAccessControlsData">
                        <mat-card class="mpermissions-card">
                            <div>
                                <h4 class="focus-text"  style="font-size: 16px;
                                font-weight: 500;">{{obj.fullname | titlecase}}</h4>
                                <ul>
                                    <li class="one-row-li" *ngFor="let acc of obj.accesses">
                                        <div>{{acc.access}}</div>
                                        <div class="muted-text">since {{acc.created_on}}</div>
                                    </li>
                                </ul>
                            </div>
                        </mat-card>
                    </div>
                    <div class="data-cards-list-item" *ngIf="patientProviderAccessControlsData.length == 0">
                        <mat-card class="mpermissions-card">
                            <div class="muted-text">
                                {{patientProviderAccessControlsMsg}}
                                <br />
                                <a href="https://curameitech.com/help/sharing-data/managing-provider-access">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </div>
                </mat-list>


                <div class="linkContainner">
                    <a routerLink="/patient/share-patient-resource"> <span class="linkStyle">More Details</span></a>
                </div>
            </mat-card>
        </div>


        <div class="col-sm-12 col-lg-12 col-xl-4 mt-xl-4" style="margin-top: 0px!important;">
            <mat-card class="mpdcart">
                <h2 class="headingTitle focus-text">Digital Health</h2>
                <div class="subtitleHeading muted-text">Apps that you have authorized to read data from</div>
                <mat-list class="data-cards">
                    <div class="data-cards-list-item"
                        *ngFor="let obj of patientDigitalHeathConfigurationData">
                        <mat-card class="connection-card">
                            <div>
                                <h4 class="focus-text" style="font-size: 16px;
                                font-weight: 500;">Fitbit</h4>
                                <div class="muted-text">since {{obj.fitbit_created_on | date:'MM/dd/yyyy'}}</div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="data-cards-list-item"
                        *ngIf="patientDigitalHeathConfigurationData.length == 0">
                        <mat-card class="connection-card">
                            <div class="muted-text">
                                {{patientDigitalHeathConfigurationMsg}}
                                <br />
                                <a
                                    href="https://curameitech.com/help/unifying-digital-health-apps/managing-health-apps">Learn
                                    More.</a>
                            </div>
                        </mat-card>
                    </div>
                </mat-list>

                <div class="linkContainner">
                    <a routerLink="/patient/fitbit-dashboard"> <span class="linkStyle">More Details</span></a>
                </div>
            </mat-card>

            <mat-card class="mpdcart" *ngIf="noFitbitConfigurarionSet">
                <div class="metric-card" style="margin-bottom: 12px!important;">
                    <div>
                        <h2 class="headingTitle focus-text">Sleep</h2>
                        <div class="subtitleHeading muted-text">Last night's sleep in hours and minutes</div>
                        <h2 class="focus-text important-number metric-num">{{todayHours}}:{{todayMinutes}}</h2>
                        <mat-chip-list>
                            <mat-chip color="primary">Fitbit</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div>
                        <mat-icon class="material-icons-sleep" style="width: fit-content;"> local_hotel</mat-icon>
                    </div>
                </div>
                <!--
                    <span class="linkStyle_today">Today</span>
                    <table class="table" cellpadding="3" cellspacing="3" style="margin-top:20px">
 
                                <tr>
                                   <td style="width:27%!important"> <img class="email_image" src="../../../assets/images/Message-50.png"></td> 
                                    <td style="width:auto"> <mat-icon class="material-icons-sleep"> local_hotel</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> 
                                  <td>
                                     <span class="mailHeader">Sleep</span> 
                                      <br/>
                                      <span class="mailHour1">{{todayHours}} : {{todayMinutes}}</span>  <span class="mailHour2"> hrs</span>
                                      
                                      <br/>
                                      <span class="mailHour2">Fitbit</span>
                                      </td>
                                </tr>
                       
                      </table>
                    -->

            </mat-card>

            <mat-card class="mpdcart" *ngIf="noFitbitConfigurarionSet">
                <div class="metric-card" style="margin-bottom: 12px!important;">
                    <div>
                        <h2 class="headingTitle focus-text">Steps</h2>
                        <div class="subtitleHeading muted-text">Today's step count</div>
                        <h2 class="focus-text important-number metric-num">{{todayStep}}</h2>
                        <mat-chip-list>
                            <mat-chip color="primary">Fitbit</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div>
                        <mat-icon class="material-icons-sleep" style="width: fit-content;"> directions_run</mat-icon>
                    </div>
                </div>
                <!--
                    <span class="linkStyle_today">Today</span>
                    <table class="table" cellpadding="3" cellspacing="3" style="margin-top:20px">

                                <tr>
                                    <td style="width:auto"> <mat-icon class="material-icons-exercise"> directions_run</mat-icon> </td> 
                                  <td>
                                     <span class="mailHeader">Exercise</span> 
                                      <br/>
                                      <span class="mailHour1">{{todayStep}}</span>  <span class="mailHour2">
                                           <ng-container *ngIf="todayStep > 1"> Steps</ng-container>
                                           <ng-container *ngIf="todayStep <= 1"> Step</ng-container>
                                        </span>
                                      
                                      <br/>
                                      <span class="mailHour2">Fitbit</span>
                                      </td>
                                </tr>
                       
                      </table>
                    -->

            </mat-card>


        </div>


  
    </div>

     

</div> 

