<mat-nav-list class="mat-bottom-sheet-container1">

	<div class="divCon">
    <div style="display: flex; flex-direction: row; color: #227f77!important; justify-content: space-between;">
      <mat-panel-title>
        <h2 class="mat-h2 mat-subheading remove-margin-bottom">{{currentPopupResourceType}}</h2>
      </mat-panel-title>
      <div style="display: flex; flex-direction: row;">
        <span class="closedBtn" (click)="closePopUp()">
          <mat-icon>clear</mat-icon>
        </span>
      </div>
    </div>
	<span *ngIf="loadingFlage" class="loadingtext">Loading...</span>

	<div style="max-height: 510px;overflow-y: scroll!important;display:block;padding-bottom: 10px;">
        <form [formGroup]="newPatientForm" (ngSubmit)="createNewPatient()" *ngIf="allResourceFlagFormObj.Patient">
          <div>
          
            <div class="row" *ngIf="!ifManualPatientExist">
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="patientName" formControlName="name" placeholder="Name">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender" [(ngModel)]="patientGender">
                    <mat-option *ngFor="let gender of genders" [value]='gender.name'>
                      {{gender.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Date of Birth</mat-label>
                  <input formControlName="birthDate" [(ngModel)]="patientBirthDate" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Martial Status</mat-label>
                  <mat-select formControlName="maritalStatus" [(ngModel)]="patientMartialStatus">
                    <mat-option *ngFor="let status of martial_status" [value]='status.name'>
                      {{status.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline" class="form-100">
                  <mat-label>Address</mat-label>
                  <textarea formControlName="address" [(ngModel)]="patientAddress" matInput placeholder="Address"
                    rows="3"></textarea>
                </mat-form-field>
              </div>

            </div>
            <div class="row" *ngIf="ifManualPatientExist">
              <div class="col-md-12">
                Patient Status: <span class="badge badge-success" title="Patient is created">Active</span>
              </div>
            </div>
            <!-- <button *ngIf="!ifManualPatientExist" type="submit" matTooltip="Save Data" matTooltipPosition="left"
            class="medical-record-accordion-button" mat-button>
            <mat-icon>save</mat-icon>
          </button> -->
          <div class="row"  *ngIf="!ifManualPatientExist">
          <button type="submit" matTooltip="Save Data" matTooltipPosition="left"
          mat-raised-button>
          <mat-icon>save</mat-icon> Save
        </button>
          </div>
          </div>
        </form>





        <ng-container *ngIf="ifManualPatientExist">

        <form [formGroup]="conditionForm" (ngSubmit)="addConditionRecord()" *ngIf="allResourceFlagFormObj.Condition">
          <div class="" 
             >
           
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Code
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.code">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Code</mat-label>
                        <input matInput [(ngModel)]="condtionCode" formControlName="code" placeholder="Enter Code">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" [(ngModel)]="condtionCategory">
                          <mat-option *ngFor="let category of condition_category" value="{{category.name}}">
                            {{category.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Clinical Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.clinicalStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Clinical Status</mat-label>
                        <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                        <mat-select formControlName="status" [(ngModel)]="condtionStatus">
                          <mat-option *ngFor="let status of condition_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Verification Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.verificationStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Clinical Status</mat-label>
                        <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                        <mat-select formControlName="verificationStatus" [(ngModel)]="condtionVerificationStatus">
                          <mat-option *ngFor="let status of condition_verification" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Stage Summary
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.stageSummary">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Stage Summary</mat-label>
                        <input formControlName="stageSummary" [(ngModel)]="condtionStageSummary" matInput
                          placeholder="Enter Stage Summary">
                        <!-- <mat-select formControlName="stageSummary" [(ngModel)]="condtionStageSummary">
                              <mat-option *ngFor="let criticality of allergy_criticality" value="{{criticality.name}}">
                                {{criticality.name}}</mat-option>
                            </mat-select> -->
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Abatement
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.abatement">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Abatement</mat-label>
                        <input matInput formControlName="abatement" [(ngModel)]="abatement"
                          [matDatepicker]="pickerDateAbatement">
                        <mat-datepicker-toggle matSuffix [for]="pickerDateAbatement"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDateAbatement></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>


              </div>
              
            </div>
         
            <div *ngIf="addFlag" style="clear:both">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>


          </div>
        </form>

        <form [formGroup]="allergyForm" (ngSubmit)="addAllergyRecord()" *ngIf="allResourceFlagFormObj.AllergyIntolerance">
          <div class="" 
              >
           
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Substance
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.substance">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Substance</mat-label>
                        <input matInput [(ngModel)]="allergySubstance" formControlName="substance"
                          placeholder="Enter Substance">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" [(ngModel)]="allergyCategory">
                          <mat-option *ngFor="let category of allergy_category" value="{{category.name}}">
                            {{category.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.clinicalStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                        <mat-select formControlName="status" [(ngModel)]="allergyStatus">
                          <mat-option *ngFor="let status of allergy_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Criticality
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.criticality">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Criticality</mat-label>
                        <!-- <input formControlName="criticality" matInput placeholder="Enter Criticality"> -->
                        <mat-select formControlName="criticality" [(ngModel)]="allergyCriticality">
                          <mat-select-trigger>{{allergyCriticality}}</mat-select-trigger>
                          <mat-option *ngFor="let criticality of allergy_criticality" [value]="criticality.name" class="mat-option-multiline">
                            <div class="padded-mat-option">
                              <span class="focus-text">{{criticality.name}}</span>
                              <br />
                              <span class="muted-text">{{criticality.desc}}</span>
                            </div>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Type
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.type">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Type</mat-label>
                        <input matInput [(ngModel)]="allergyType" formControlName="type" placeholder="Enter Type">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Recorded Date
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.recordedDate">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Recorded Date</mat-label>
                        <input matInput formControlName="recordedDate"
                          [matDatepicker]="pickerRecordedDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerRecordedDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerRecordedDate></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Note
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.note">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Note</mat-label>
                        <input matInput [(ngModel)]="allergyNote" formControlName="note" placeholder="Enter Note">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>

            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>

        <form [formGroup]="observationForm" (ngSubmit)="addObservationRecord()" *ngIf="allResourceFlagFormObj.Observation">
          <div class="" 
              >
      
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Code
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.code">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Code</mat-label>
                        <input matInput [(ngModel)]="obsevationCode" formControlName="code" placeholder="Enter Code">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Category</mat-label>
                        <input matInput [(ngModel)]="observationCategory" formControlName="category"
                          placeholder="Enter Category">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.clinicalStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                        <mat-select formControlName="status" [(ngModel)]="observationStatus">
                          <mat-option *ngFor="let status of observation_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Body Site
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.bodySite">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Body Site</mat-label>
                        <input matInput [(ngModel)]="observation_bodySite" formControlName="body_site"
                          placeholder="Enter BodySite">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Method
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.method">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Method</mat-label>
                        <input matInput [(ngModel)]="observation_method" formControlName="method"
                          placeholder="Enter Method">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Encounter
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.encounter">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Encounter</mat-label>
                        <mat-select formControlName="encounter" [(ngModel)]="observationEncounter">
                          <mat-option *ngFor="let enc of encounters" value="{{enc.id}}">
                            {{enc.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Effective Since
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.effectiveDateTime">info_outline</mat-icon>
                    </th>
                        <td class="width-50 mob-width-30">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Effective DateTime</mat-label>
                            <input matInput formControlName="effectiveDateTime"
                              [matDatepicker]="effectiveDateTimepickerOne">
                            <mat-datepicker-toggle matSuffix [for]="effectiveDateTimepickerOne"></mat-datepicker-toggle>
                            <mat-datepicker #effectiveDateTimepickerOne></mat-datepicker>
                          </mat-form-field>
                        </td>
                      </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Value/Result
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.value">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Value Quantity</mat-label>
                        <input formControlName="quantity" [(ngModel)]="observationQuantity" matInput
                          placeholder="Enter Qunatity">

                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Data Absent Reason
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.dataAbsentReason">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Data Absent Reason</mat-label>
                        <input matInput [(ngModel)]="observation_absent_reason" formControlName="absent_reason"
                          placeholder="Enter Absent Reason">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Reference Range
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.referenceRange">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Reference Range</mat-label>
                        <input matInput [(ngModel)]="observation_reference_range" formControlName="reference_range"
                          placeholder="Enter Reference Range">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Comments
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.comments">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Comments</mat-label>
                        <input matInput [(ngModel)]="observation_comments" formControlName="comment"
                          placeholder="Enter Comments">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>

        <form [formGroup]="immunizationsForm" (ngSubmit)="addImmunizationRecord()" *ngIf="allResourceFlagFormObj.Immunization">
          <div class="" 
              >
           
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Vaccine Code
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.vaccineCode">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Vaccine Code</mat-label>
                        <input matInput [(ngModel)]="immunizationVaccineCode" formControlName="vaccineCode"
                          placeholder="Enter Vaccine Code">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Clinical Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.clinicalStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <!-- <input matInput [(ngModel)]="immunizationStatus" formControlName="status"
                              placeholder="Enter Status"> -->
                        <mat-select formControlName="status" [(ngModel)]="immunizationStatus">
                          <mat-option *ngFor="let status of immnuization_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Date
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.date">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Date</mat-label>
                        <input matInput formControlName="date" [(ngModel)]="immunizationDate"
                          [matDatepicker]="pickerTwo">
                        <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTwo></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Route
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.route">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Route</mat-label>
                        <input matInput [(ngModel)]="immunizationRoute" formControlName="route"
                          placeholder="Enter Route">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Body Site
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.site">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Site</mat-label>
                        <input matInput [(ngModel)]="immunizationSite" formControlName="site" placeholder="Enter Site">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Target Disease
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.targetDisease">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Target Disease</mat-label>
                        <input matInput [(ngModel)]="immunizationDisease" formControlName="disease" placeholder="Enter Target Disease">
                        <!-- <input formControlName="reported" [(ngModel)]="immunizationReported" matInput
                            placeholder="Enter Reported"> -->

                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>


        <form [formGroup]="medicationForm" (ngSubmit)="addMedicationRecord()" *ngIf="allResourceFlagFormObj.MedicationStatement">
          <div class="" 
              >
           
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Medication
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.medication">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Medication</mat-label>
                        <input matInput [(ngModel)]="medicationsMedication" formControlName="medication"
                          placeholder="Enter Medication">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Date Asserted
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.dateAsserted">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Date Asserted</mat-label>
                        <input matInput formControlName="dateAsserted" [(ngModel)]="medicationsDateAsserted"
                          [matDatepicker]="pickerDateAsserted">
                        <mat-datepicker-toggle matSuffix [for]="pickerDateAsserted"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDateAsserted></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.clinicalStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                        <mat-select formControlName="status" [(ngModel)]="medicationsStatus">
                          <mat-option *ngFor="let status of medication_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Reason for Use
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.reasonForUse">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Reason For Use</mat-label>
                        <!-- <mat-select formControlName="reasonForUse" [(ngModel)]="medicationsReasonForUse">
                              <mat-option *ngFor="let reported of immnuization_reported" value="{{reported.name}}">
                                {{reported.name}}</mat-option>
                            </mat-select> -->
                        <input formControlName="reasonForUse" [(ngModel)]="medicationsReasonForUse" matInput
                          placeholder="Enter Reason for use">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Dosage
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.dosageDescription">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Dosage</mat-label>
                        <input matInput [(ngModel)]="medicationsDosage" formControlName="dosage"
                          placeholder="Enter Dosage Text">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Timing
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.timing">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <div class="row">
                        <div class="col-md-12">
                          <!-- <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Timing</mat-label>
                            <mat-select formControlName="dosageTiming" [(ngModel)]="medicationsDosageTiming">
                              <mat-option *ngFor="let timing of medication_timing" value="{{timing.name}}">
                                {{timing.name}}</mat-option>
                            </mat-select>
                           
                          </mat-form-field> -->
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Date</mat-label>
                            <input matInput formControlName="boundsPeriod"
                              [matDatepicker]="pickerboundsPeriod">
                            <mat-datepicker-toggle matSuffix [for]="pickerboundsPeriod"></mat-datepicker-toggle>
                            <mat-datepicker #pickerboundsPeriod></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <!-- <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Meridian</mat-label>
                            <mat-select formControlName="dosageTimingMeridian"
                              [(ngModel)]="medicationsDosageTimingMeridian">
                              <mat-option *ngFor="let meridian of medication_meridian" value="{{meridian.name}}">
                                {{meridian.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->
                      </div>
                      <!-- <tr>
                        <td> -->

                    </td>
                    <!-- <td style="width: 100px">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Meridian</mat-label>
                            <mat-select formControlName="dosageTimingMeridian"
                              [(ngModel)]="medicationsDosageTimingMeridian">
                              <mat-option *ngFor="let meridian of medication_meridian" value="{{meridian.name}}">
                                {{meridian.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td> -->
                  </tr>

                  <!-- </td>
                      </tr> -->
                  <tr>
                    <th class="width-50 mob-width-70">
                      As Needed?
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.asNeeded">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Dosage Needed</mat-label>
                        <mat-select formControlName="daosageNeeded" [(ngModel)]="medicationsDaosageNeeded">
                          <mat-option *ngFor="let needed of medication_needed" value="{{needed.name}}">
                            {{needed.name}}</mat-option>
                        </mat-select>
                        <!-- <input formControlName="reported" [(ngModel)]="immunizationReported" matInput
                                                                                  placeholder="Enter Reported"> -->
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Method
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.method">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Dosage Method</mat-label>
                        <!-- <mat-select formControlName="reported" [(ngModel)]="immunizationReported">
                              <mat-option *ngFor="let reported of immnuization_reported" value="{{reported.name}}">
                                {{reported.name}}</mat-option>
                            </mat-select> -->
                        <input formControlName="dosageMethod" [(ngModel)]="medicationsDosageMethod" matInput
                          placeholder="Enter Dosage Method">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Quantity
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.quantity">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Quantity</mat-label>
                            <input formControlName="dosageQuantity" [(ngModel)]="medicationsDosageQuantity" matInput
                              placeholder="Quantity">

                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Unit</mat-label>
                            <input formControlName="dosageUnit" [(ngModel)]="medicationsDosageUnit" matInput
                              placeholder="Unit">
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <tr>
                        <td> -->
                      <!-- <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dosage Quantity</mat-label>
                            <input formControlName="dosageQuantity" [(ngModel)]="medicationsDosageQuantity" matInput
                              placeholder="Enter Quantity">

                          </mat-form-field> -->
                      <!-- </td>
                        <td>
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Unit</mat-label>
                            <input formControlName="dosageUnit" [(ngModel)]="medicationsDosageUnit" matInput
                              placeholder="Enter Unit">
                          </mat-form-field> -->
                    </td>
                    <!-- </tr>

                      </td> -->
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Note
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.note">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Note</mat-label>
                        <input formControlName="dosageNote" [(ngModel)]="medicationsDosageNote" matInput
                          placeholder="Enter Dosage Note">

                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>


        <!------------------------Family Member History START ---------------------------- -->

        <form [formGroup]="familyMemberHistoryForm" (ngSubmit)="addfamilyMemberHistoryRecord()"  *ngIf="allResourceFlagFormObj.FamilyMemberHistory">
          <div class=""
               >           

            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Condition
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.code">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Condition</mat-label>
                        <input matInput formControlName="condition" placeholder="Condition">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Relationship
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.relationship">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Relationship</mat-label>
                        <input matInput formControlName="relationship" placeholder="Relationship">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Date
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.date">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Date</mat-label>
                        <input matInput formControlName="date" [matDatepicker]="pickerfamily">
                        <mat-datepicker-toggle matSuffix [for]="pickerfamily"></mat-datepicker-toggle>
                        <mat-datepicker #pickerfamily></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.status">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of familyMemberHistory_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>


                  <tr>
                    <th class="width-50 mob-width-70">
                      Gender
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.gender">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <!-- <mat-label>Clinical Status</mat-label> -->
                        <mat-select placeholder="Gender" formControlName="gender">
                          <mat-option *ngFor="let gender of familyMemberHistory_gender" value="{{gender.name}}">
                            {{gender.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>


                  <tr>
                    <th class="width-50 mob-width-70">
                      Condition Outcome
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.conditionOutcome">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Condition Outcome</mat-label>
                        <input matInput formControlName="condition_outcome" placeholder="Condition Outcome">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>
        <!------------------------Family Member History END ---------------------------- -->

        <!------------------------Family Procedure START ---------------------------- -->
        <form [formGroup]="ProcedureForm" (ngSubmit)="addProcedureRecord()" *ngIf="allResourceFlagFormObj.Procedure">
          <div class=""
               >

            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Procedure
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.code">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="code" placeholder="Code">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Category</mat-label>
                        <input matInput formControlName="category" placeholder="Category">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.status">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of procedure_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Performed?
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Not Performed?</mat-label>
                        <mat-select formControlName="notPerformed">
                          <mat-option *ngFor="let not_per of procedure_notPerformed" value="{{not_per.name}}">
                            {{not_per.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Outcome
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.outcome">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label> Outcome</mat-label>
                        <input matInput formControlName="outcome" placeholder="Outcome">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Complication
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.complication">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label> Complication</mat-label>
                        <input matInput formControlName="complication" placeholder="Complication">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>
        <!------------------------Family Procedure END ---------------------------- -->



        <!------------------------Family MedicationOrder START ---------------------------- -->
        <form [formGroup]="medicationOrderForm" (ngSubmit)="addMedicationOrderRecord()" *ngIf="allResourceFlagFormObj.MedicationOrder">
          <div class=""
               >

            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Medication
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.medication">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Medication</mat-label>
                        <input matInput formControlName="medicationReference" placeholder="MedicationReference">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Date Written
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dateWritten">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Date Written</mat-label>
                        <input matInput formControlName="dateWritten" [matDatepicker]="pickerdateWritten">
                        <mat-datepicker-toggle matSuffix [for]="pickerdateWritten"></mat-datepicker-toggle>
                        <mat-datepicker #pickerdateWritten></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.status">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <!-- <input formControlName="status" matInput placeholder="Enter Status"> -->
                        <mat-select formControlName="status" [(ngModel)]="medicationsStatus">
                          <mat-option *ngFor="let status of medication_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Prescriber
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.prescriber">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Prescriber</mat-label>
                        <input formControlName="prescriber" matInput placeholder="Prescriber">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Dosage Instructions
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dosageInstruction">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label> Dosage Instruction</mat-label>
                        <input formControlName="dosageInstructionText" matInput placeholder="Text">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Dosage Method
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dosageMethod">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Dosage Method</mat-label>
                        <input formControlName="dosageInstructionMethod" matInput placeholder="Method">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Dosage Quantity
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.medication">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Quantity</mat-label>
                            <input formControlName="dosageInstructionDoseQuantity" matInput placeholder="Quantity">

                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Unit</mat-label>
                            <input formControlName="dosageInstructionDoseQuantityUnit" matInput placeholder="Unit">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Dispense Duration
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dispenseDuration">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dispense Duration</mat-label>
                            <input formControlName="dispenseRequestExpectedSupplyDuration" matInput
                              placeholder="Dispense Duration">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Unit</mat-label>
                            <input formControlName="dispenseRequestExpectedSupplyUnit" matInput placeholder="Unit">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Dispense Quantity
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dispenseQuantity">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Dispense Quantity</mat-label>
                            <input formControlName="dispenseRequestQuantity" matInput placeholder="Quantity">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="standard" class="form-100">
                            <mat-label>Unit</mat-label>
                            <input formControlName="dispenseRequestUnit" matInput placeholder="Unit">
                          </mat-form-field>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Note
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.note">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Note</mat-label>
                        <input formControlName="dosageNote" matInput placeholder=" Note">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>
        <!------------------------Family Procedure END ---------------------------- -->


        <!------------------------Family Goal START ---------------------------- -->
        <form [formGroup]="goalForm" (ngSubmit)="addGoalRecord()" *ngIf="allResourceFlagFormObj.Goal">
          <div class="">
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Description
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.description">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" placeholder="Description">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Category</mat-label>
                        <input matInput formControlName="category" placeholder="Category">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.status">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of goal_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Start Date
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.startDate">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Start Date</mat-label>
                        <input matInput formControlName="startDate" [matDatepicker]="pickerstartDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerstartDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerstartDate></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Priority
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.priority">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Priority</mat-label>
                        <input matInput formControlName="priority" placeholder="Priority">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status Reason
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.statusReason">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status Reason</mat-label>
                        <input matInput formControlName="statusReason" placeholder="StatusReason">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>
        <!------------------------Family Goal END ---------------------------- -->



        <!------------------------Family CarePlan START ---------------------------- -->
        <form [formGroup]="carePlanForm" (ngSubmit)="addCarePlanRecord()"  *ngIf="allResourceFlagFormObj.CarePlan">
          <div class=""
               >
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.category">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Category</mat-label>
                        <input matInput formControlName="category" placeholder="Category">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.status">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of careplan_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Period
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.period">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Period Date</mat-label>
                        <input matInput formControlName="period" [matDatepicker]="pickerperiod">
                        <mat-datepicker-toggle matSuffix [for]="pickerperiod"></mat-datepicker-toggle>
                        <mat-datepicker #pickerperiod></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Description
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.description">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" placeholder="Description">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Activity Category
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityCategory">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Activity Category</mat-label>
                        <input matInput formControlName="activityCategory" placeholder="Activity Category">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Activity Code
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityCode">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label> Activity Code</mat-label>
                        <input matInput formControlName="activityCode" placeholder="Activity Code">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Activity Status
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityStatus">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Activity Status</mat-label>
                        <mat-select formControlName="activityStatus">
                          <mat-option *ngFor="let status of careplan_activity_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Activity Description
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityDescription">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Activity Description</mat-label>
                        <input matInput formControlName="activityDescription" placeholder="Activity Description">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>
        <!------------------------Family CarePlan END ---------------------------- -->


        <!------------------------Family Encounter START ---------------------------- -->
        <form [formGroup]="encounterForm" (ngSubmit)="addEncounterRecord()"  *ngIf="allResourceFlagFormObj.Encounter">
          <div class=""
               >
            <div class="row" style="margin-right: 5px; margin-bottom: 15px;">
              <div class="col-md-10 col-sm-12 remove-col-padding-right">
                <table class="width-100">
                  <tr>
                    <th class="width-50 mob-width-70">
                      Type
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.type">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Type</mat-label>
                        <input matInput formControlName="type" placeholder="Type">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Start
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.type">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Start Date</mat-label>
                        <input matInput formControlName="periodStartDate" [matDatepicker]="pickerperiodStartDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerperiodStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerperiodStartDate></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Class
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.class">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Class</mat-label>
                        <mat-select formControlName="class">
                          <mat-option *ngFor="let class of encounter_class" value="{{class.name}}">
                            {{class.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      End
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.end">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>End Date</mat-label>
                        <input matInput formControlName="periodEndDate" [matDatepicker]="pickerperiodEndDate">
                        <mat-datepicker-toggle matSuffix [for]="pickerperiodEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #pickerperiodEndDate></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">Status</th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of encounter_status" value="{{status.name}}">
                            {{status.name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Priority
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.priority">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Priority</mat-label>
                        <input matInput formControlName="priority" placeholder="Priority">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Reason
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.reason">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Reason</mat-label>
                        <input matInput formControlName="reason" placeholder="Reason">
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <th class="width-50 mob-width-70">
                      Part Of
                      <mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.partOf">info_outline</mat-icon>
                    </th>
                    <td class="width-50 mob-width-30">
                      <mat-form-field appearance="standard" class="form-100">
                        <mat-label>Part Of</mat-label>
                        <input matInput formControlName="partOf" placeholder="PartOf">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="addFlag">
              <button type="submit" matTooltip="Save Data" matTooltipPosition="left" mat-raised-button>
                <mat-icon>save</mat-icon> Save
            </button>
             </div>
          </div>
        </form>
        <!------------------------Family Encounter END ---------------------------- -->

      </ng-container>

      </div>

</div> 

</mat-nav-list>




    
