<div class="mat-bpttp,-sheet-container">
    <div class="divCon">    
        <div class="header-block">
            <div class="header-block-text">
                <span class="main">Select the patient whose records you want to view.</span>
                <span>If you do not see a patient of interest, confirm that the user has been activated from the Patients tab.</span>
            </div>
            <span class="closedBtn" (click)="close()">
				<mat-icon>close</mat-icon>
			</span>
        </div>
        <div class="main-block" style="text-align: center;" *ngIf="loadingNames">
            <mat-spinner></mat-spinner>
        </div>
        <div class="main-block" *ngIf="isEmpty">
            There are no unread notifications at the moment.
        </div>
        <div class="main-block">
            <div *ngFor="let n of selectablePatients" class="notification-item" 
                [ngClass]="{'selected-patient': n.uid == selectedPatientId}"
                (click)="selectedUser(n.uid)"
            >
                <p class="notification-item-title">{{n.fullname}}</p>
            </div>
        </div>
    </div>  
</div>