@media screen and (max-width: 678px) {
    .close-button-dialog {
        float: right;
        position: relative;
        top: -65px!important;
        right: -15px;
        
    }
    .mob-dialog .mat-dialog-container {
        max-width: none;
        width: 100vw!important;
        }
  
  }