.green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }

  .loadingHide {
    display: none;
  }
  /* th{
    background-color:#008080;
    color:white;
  } */
  .divider{
    margin-top: 10px;
  }
  /* table head color,title and icon color */
  th{
    font-size: medium;

  }

 