::ng-deep .mat-bottom-sheet-container {
    padding: 0px;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    min-height: 20vh;
    max-height: 80vh;
}

.mat-icon {
    font-size: 22px;
    margin-right: 15px;
}

.closeBtn{
    font-size: 24px;
    font-weight: bold;
    background-color: #e5e8e8;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.header-block {
    background-color: #008080;
    color: white!important;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 16px;
}

.main-block {
    background-color: white;
    overflow-y: scroll;
    padding: 8px 16px;
    font-size: 18px;
    overflow-y: scroll;
}

.notification-item {
    padding: 8px 16px;
    background-color: #ededed;
    margin-bottom: 10px;
}

.notification-item-title {
    font-size: 18px;
    font-weight: 500;
}

.notification-item-desc {
    font-weight: 500;
    font-size: 14px;
}

.notification-item-date {
    font-size: 12px;
}