<div class="mat-bpttp,-sheet-container">
    <div class="divCon">    
        <div class="header-block">
            <span>Notifications</span>
            <span class="closedBtn" (click)="close()">
				<mat-icon>close</mat-icon>
			</span>
        </div>
        <div class="main-block" *ngIf="isEmpty">
            There are no unread notifications at the moment.
        </div>
        <div class="main-block">
            <div *ngFor="let n of notificationArr" class="notification-item">
                <p class="notification-item-title">{{n.title}}</p>
                <p class="notification-item-desc">{{n.description}}</p>
                <span class="notification-item-date">{{n.hours}} hours ago</span>
            </div>
        </div>
    </div>  
</div>