<div class="main-container hide-in-mobile-screen">
    <mat-card class="min-height-100">
      <div class="flex-container page-top">
        <div class="page-icon-text page-title">
            <!-- created icon class to give color develop by harshal on 10/27/20 -->
            <div class="icon">
                <mat-icon class="material-icons">text_snippet</mat-icon>
            </div>
            <mat-card-title class="card-main-title font-700">Narrative</mat-card-title>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: flex-end;">
            <div *ngIf="view">
                <button style="min-width: 0; padding: 0 8px;"  (click)="copyToImage('image.png')" mat-button mat-button  mat-raised-button matTooltip="Screenshot this page">
                    <span class="material-icons">
                        camera_alt
                    </span>
                </button>
                    <!-- <button style="min-width: 0; padding: 0 8px;" mat-button  mat-raised-button matTooltip="copy to clipboard">
                        <span class="material-icons">
                            content_copy
                        </span>
                    </button> -->
            </div>
            <!-- <div *ngIf="throughProviderFlag">
                <div style="padding:0px 20px 0px 0px;">
                  <mat-form-field class="remove-padding-bottom" appearance="outline">
                    <mat-label>Choose Patient</mat-label>
                    <mat-select (selectionChange)="selectedUser($event.value)">
                      <mat-option>-- select patient --</mat-option>
                      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div> -->
        </div>
      </div> 
      <div id="mainContainer">
        <div *ngIf="!view" class="margin-top-30">{{noRecordFond}}</div>
        <div *ngIf="view" style="margin-top:15px;">
            <!-- Patient -->
            <div class="margin-top-30">
                <div>
                    <div class="phead">
                    <p class="font-24">Patient</p>
                </div>
                <div class="insidetext">
                    <p class="loading" *ngIf="patient == null">{{patientText}}</p>
                </div>
                    <ng-container *ngIf="patient != null">
                        <table mat-table [dataSource]="dataSourcePatient" class="mat-elevation-z8">
                            <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->         
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
                            </ng-container>
                        
                            <!-- Gender Column -->
                            <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.gender | titlecase}} </td>
                            </ng-container>
                        
                            <!-- Marital Status Column -->
                            <ng-container matColumnDef="m_status">
                            <th mat-header-cell *matHeaderCellDef> Marital Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.m_status | titlecase}} </td>
                            </ng-container>

                            <!-- BirthDate Column -->
                            <ng-container matColumnDef="dob">
                            <th mat-header-cell *matHeaderCellDef> DOB </th>
                            <td mat-cell *matCellDef="let element"> {{element.dob | date:"MM/dd/yyyy" }} </td>
                            </ng-container>

                            <!-- Contact Column -->
                            <ng-container matColumnDef="contact">
                                <th mat-header-cell *matHeaderCellDef> Contact </th>
                                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                            </ng-container>

                            <!-- Address Column -->
                            <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef> Address </th>
                                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPatient"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPatient;"></tr>
                        </table>
                    </ng-container>
                </div>
            </div>
            <!-- Digital Health -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                        <p class="font-24">Digital Health</p>
                    </div>
                    <p class="loading" *ngIf="!showFitbit">Loading...</p>
                    <ng-container *ngFor="let element of fitbitData">
                        <p class="insideelements">{{element}}</p>
                    </ng-container>
                    <p class="loading" *ngIf="fitbitData.length == 0">This data is not available</p>
                </div>
            </div>
            <!-- Condition -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Condition</p>
                    </div>
                    <p class="loading" *ngIf="conditions.length == 0">{{conditionText}}</p>
                    <ng-container *ngFor="let element of conditions">
                        <div class="insideelements"> 
                        <p>{{element.code.text}}: <span class="chip">{{element.clinicalStatus}}</span></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Allergy -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Allergy</p>
                    </div>
                    <p class="loading" *ngIf="allergies.length == 0">{{allergyText}}</p>
                    <ng-container *ngIf="allergies.length != 0">
                        <div class="insideelements">
                        <p><strong>medication: </strong><span *ngFor="let element of allergies"><span class="chip" *ngIf="element.category == 'medication'">{{element.substance.text}}<span *ngIf="element.criticality == 'CRITH'">&nbsp;(!)</span></span></span></p>
                        <p><strong>food: </strong><span *ngFor="let element of allergies"><span class="chip" *ngIf="element.category == 'food'">{{element.substance.text}}<span *ngIf="element.criticality == 'CRITH'">&nbsp;(!)</span></span></span></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Family History -->
            <div class="margin-top-30">
                <div>
                     <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                     <div class="phead">
                    <p class="font-24">Family History</p>
                    </div>
                    <div class="insideelements">
                    <p class="loading" *ngIf="familyMemberHistory.length == 0">{{familyMemberHistoryText}}</p>
                    </div>
                    <ng-container *ngIf="familyMemberHistory.length != 0">
                    <table mat-table [dataSource]="dataSourceFamily" class="mat-elevation-z8">

                        <ng-container matColumnDef="condition">
                        <th mat-header-cell *matHeaderCellDef> Condition </th>
                        <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
                        </ng-container>
                    
                        <!-- Gender Column -->
                        <ng-container matColumnDef="relationship">
                        <th mat-header-cell *matHeaderCellDef> Relationship </th>
                        <td mat-cell *matCellDef="let element"> {{element.relationship}} </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFamily"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFamily;"></tr>
                    </table>
                    </ng-container>
                </div>
            </div>
            <!-- Immunizations -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Immunizations</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="immunizations.length == 0">{{immunizationText}}</p>
                    <ng-container *ngFor="let element of immunizations">
                        <p>{{element.vaccineCode.text}} - <span class="chip">{{element.date | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Digital Health Data -->
            <!-- <div class="margin-top-30">
                <div class="text-head">
                    <p class="font-24">Digital Health Data</p>
                    <p>Sleep (hrs) range over 2 weeks 4.95 - 8.6</p>
                    <p>Sleep (hrs) mean over 2 weeks 7.2</p>
                    <p>Steps range over 2 weeks 5953 - 12562</p>
                    <p>Steps mean over 2 weeks 8931</p>
                </div>
            </div> -->
            <!-- Observations -->
            <div class="margin-top-30">
                <div class="text-head">
                 <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                 <div class="phead">
                    <p class="font-24">Observations</p>
                </div>
                    
                    <p class="loading" *ngIf="observations.length == 0">{{observationText}}</p>
                    <ng-container *ngIf="observations.length != 0">
                        <ng-container *ngFor="let element of observations">
                          <div class="insideelements">
                            <p>{{element.code.text}} - <span class="chip">benign</span></p>
                        </div>
                        </ng-container>
                    
                        <table mat-table [dataSource]="dataSourceObservation" class="mat-elevation-z8">

                            <!-- observation Column -->

                            <ng-container matColumnDef="observation">
                            <th mat-header-cell *matHeaderCellDef> Observation </th>
                            <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
                            </ng-container>
                        
                            <!-- value Column -->
                            <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef> Value </th>
                            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                            </ng-container>

                            <!-- Reference Range Column -->
                            <ng-container matColumnDef="r_range">
                                <th mat-header-cell *matHeaderCellDef> Reference Range </th>
                                <td mat-cell *matCellDef="let element"> {{element.r_range}} </td>
                            </ng-container>

                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsObservation"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsObservation;"></tr>
                        </table>
                    </ng-container>
               
                </div>
            </div>
            <!-- Diagnostic Reports -->
            <!-- <div class="margin-top-30">
                <div class="text-head">
                  
                    <div class="phead">
                    <p class="font-24">Diagnostic Reports</p>
                </div>
                <div class="insideeements">
                    <p class="loading" *ngIf="diagnosticReports.length == 0">{{diagnosticReportText}}</p>
                    <ng-container *ngFor="let element of diagnosticReports">
                        <p>Bacteremia due to staphylococcus</p>
                    </ng-container>
                </div>
                </div>
            </div> -->
            <!-- Medications -->
            <div class="margin-top-30">
                <div class="text-head">
                     <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                     <div class="phead">
                    <p class="font-24">Medications</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="medicationOrders.length == 0">{{medicationOrderText}}</p>
                    <ng-container *ngFor="let element of medicationOrders">
                        <p>{{element.medicationReference.display}} - <span class="chip">{{element.dateWritten | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Prescriptions -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Prescriptions</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="medicationOrders.length == 0">{{medicationOrderText}}</p>
                    <ng-container *ngFor="let element of medicationOrders">
                        <p>{{element.medicationReference.display}} - <span class="chip">{{element.dateWritten | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Procedures -->
            <div class="margin-top-30">
                <div class="text-head">
                     <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                     <div class="phead">
                    <p class="font-24">Procedures</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="procedures.length == 0">{{procedureText}}</p>
                    <ng-container *ngFor="let element of procedures">
                        <p>{{element.code.text}}</p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Care Plans -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Care Plans</p>
                    </div>
                    <div class="insideelements">
                    <p class="loading" *ngIf="carePlans.length == 0">{{carePlanText}}</p>
                    <ng-container *ngFor="let element of carePlans">
                        <p>{{element.category[0].text}} - <span class="chip">{{element.period.end | date:"MM/dd/yyyy"}} - {{element.period.end | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Goals -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Goals</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="goals.length == 0">{{goalText}}</p>
                    <ng-container *ngFor="let element of goals">
                        <p><strong>{{element.category[0].text}}: </strong></p>
                        <p>{{element.status}} - {{element.priority.text}} - {{element.description}}</p>
                    </ng-container>
                </div>
                </div>
            </div>
        </div>
      </div>
    </mat-card>
</div>












<!-- Mobile Views -->
<div class="mmain-container hide-in-large-screen">
    <mat-card class="min-height-100 card-padding-6" style="padding: 12px;
    margin: 0px;">
      <div class="flex-container">
        <div class="page-icon-text page-title1">
            <!-- created icon class to give color develop by harshal on 10/27/20 -->
            <div class="icon">
                <mat-icon class="material-icons">text_snippet</mat-icon>
            </div>
            <mat-card-title class="card-main-title font-700">Narrative</mat-card-title>
        </div>
        <!-- <div class="hide-in-mobile-screen" style="display: flex; flex-direction: row; justify-content: flex-end;">
            <div *ngIf="view">
                <button style="min-width: 0; padding: 0 8px;"  (click)="copyToImageInAndroid('image.png')" mat-button mat-button  mat-raised-button matTooltip="Screenshot this page">
                    <span class="material-icons">
                        camera_alt
                    </span>
                </button>
                 
            </div>
            
        </div> -->
      </div> 






 
      <div style="width: 100%;
      margin: 0 auto;
      margin-top: 12px;">
          <button   *ngIf="view"  (click)="copyToImageInAndroid('image.png')" 
          mat-button mat-button  mat-raised-button matTooltip="Screenshot this page" style="clear:both;color:#ffffff;width:100%;background-color:#227f77;margin-bottom:30px;border-radius: 12px!important;">
              <mat-icon class="material-icons">camera_alt</mat-icon>
          </button>
          <!-- <button style="min-width: 0; padding: 0 8px;"  (click)="copyToImage('image.png')" mat-button mat-button  mat-raised-button matTooltip="Screenshot this page">
            <span class="material-icons">
                camera_alt
            </span>
        </button> -->


      </div>






      <div id="mainContainer1">
        <div *ngIf="!view" class="margin-top-30">{{noRecordFond}}</div>
        <div *ngIf="view" style="margin-top:15px;">
            <!-- Patient -->
            <div class="margin-top-30">
                <div>
                    <div class="phead">
                    <p class="font-24">Patient</p>
                </div>
                <div class="insidetext">
                    <p class="loading" *ngIf="patient == null">{{patientText}}</p>
                </div>
                    <ng-container *ngIf="patient != null">
                        <!-- <table mat-table [dataSource]="dataSourcePatient" class="mat-elevation-z8">
             
                            <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                        
                         
                            <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="m_status">
                            <th mat-header-cell *matHeaderCellDef> Marital Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.m_status}} </td>
                            </ng-container>

                     
                            <ng-container matColumnDef="dob">
                            <th mat-header-cell *matHeaderCellDef> DOB </th>
                            <td mat-cell *matCellDef="let element"> {{element.dob | date:"MM/dd/yyyy" }} </td>
                            </ng-container>

                            <ng-container matColumnDef="contact">
                                <th mat-header-cell *matHeaderCellDef> Contact </th>
                                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                            </ng-container>

                            <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef> Address </th>
                                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPatient"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPatient;"></tr>
                        </table> -->




                        <mat-list class="data-cards tableCardBottom" *ngFor="let obj of dataSourcePatient">
                            <div class="data-cards-list-item ">
                                <mat-card class="mpermissions-card matCardBack">


                                    <table style="border:0">
                                        <tr>
                                            <td width="36%" class="textColorHd">
                                                Name
                                            </td>
                                            <td width="4%" class="textColorHd">
                                                :
                                            </td>
                                            <td>
                                                {{obj.name | titlecase}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="textColorHd">
                                                Gender
                                            </td>
                                            <td class="textColorHd">
                                                :
                                            </td>
                                            <td>
                                                {{obj.gender | titlecase}}
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="textColorHd">
                                                Marital Status
                                            </td>
                                            <td class="textColorHd">
                                                :
                                            </td>
                                            <td>
                                                {{obj.m_status | titlecase}}
                                            </td>
                                        </tr>




                                        <tr>
                                            <td class="textColorHd">
                                                DOB
                                            </td>
                                            <td class="textColorHd">
                                                :
                                            </td>
                                            <td>
                                                {{obj.dob | date:"MM/dd/yyyy"}}
                                            </td>
                                        </tr>



                                        <tr>
                                            <td class="textColorHd">
                                                Contact
                                            </td>
                                            <td class="textColorHd">
                                                :
                                            </td>
                                            <td>
                                                {{obj.contact}}
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="textColorHd">
                                                Address
                                            </td>
                                            <td class="textColorHd">
                                                :
                                            </td>
                                            <td>
                                                {{obj.address}}
                                            </td>
                                        </tr>




                                    </table>




                                </mat-card>
                            </div>

                        </mat-list>












                    </ng-container>
                </div>
            </div>
            <!-- Digital Health -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                        <p class="font-24">Digital Health</p>
                    </div>
                    <p class="loading" *ngIf="!showFitbit">Loading...</p>
                    <ng-container *ngFor="let element of fitbitData">
                        <p class="insideelements">{{element}}</p>
                    </ng-container>
                    <p class="loading" *ngIf="fitbitData.length == 0">This data is not available</p>
                </div>
            </div>
            <!-- Condition -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Condition</p>
                    </div>
                    <p class="loading" *ngIf="conditions.length == 0">{{conditionText}}</p>
                    <ng-container *ngFor="let element of conditions">
                        <div class="insideelements"> 
                        <p>{{element.code.text}}: <span class="chip">{{element.clinicalStatus}}</span></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Allergy -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Allergy</p>
                    </div>
                    <p class="loading" *ngIf="allergies.length == 0">{{allergyText}}</p>
                    <ng-container *ngIf="allergies.length != 0">
                        <div class="insideelements">
                        <p><strong>medication: </strong><span *ngFor="let element of allergies"><span class="chip" *ngIf="element.category == 'medication'">{{element.substance.text}}<span *ngIf="element.criticality == 'CRITH'">&nbsp;(!)</span></span></span></p>
                        <p><strong>food: </strong><span *ngFor="let element of allergies"><span class="chip" *ngIf="element.category == 'food'">{{element.substance.text}}<span *ngIf="element.criticality == 'CRITH'">&nbsp;(!)</span></span></span></p>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Family History -->
            <div class="margin-top-30">
                <div>
                     <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                     <div class="phead">
                    <p class="font-24">Family History</p>
                    </div>
                    <div class="insideelements">
                    <p class="loading" *ngIf="familyMemberHistory.length == 0">{{familyMemberHistoryText}}</p>
                    </div>
                    <ng-container *ngIf="familyMemberHistory.length != 0">
                    <!-- <table mat-table [dataSource]="dataSourceFamily" class="mat-elevation-z8">

                        <ng-container matColumnDef="condition">
                        <th mat-header-cell *matHeaderCellDef> Condition </th>
                        <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
                        </ng-container>
                    
                       
                        <ng-container matColumnDef="relationship">
                        <th mat-header-cell *matHeaderCellDef> Relationship </th>
                        <td mat-cell *matCellDef="let element"> {{element.relationship}} </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFamily"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFamily;"></tr>
                    </table> -->






                    <mat-list class="data-cards tableCardBottom" *ngFor="let obj of dataSourceFamily">
                        <div class="data-cards-list-item">
                            <mat-card class="mpermissions-card matCardBack">
                                <table style="border:0">
                                    <tr>
                                        <td width="28%" class="textColorHd">
                                            Condition
                                        </td> 
                                        <td width="4%" class="textColorHd">
                                            :
                                        </td> 
                                         <td>
                                            {{obj.condition}}
                                         </td>  
                                    </tr>

                                    <tr>
                                        <td  class="textColorHd">
                                            Relationship
                                        </td> 
                                        <td  class="textColorHd">
                                            :
                                        </td> 
                                         <td>
                                            {{obj.relationship}}
                                         </td>  
                                    </tr>

                                   

                                </table>
                            </mat-card>
                        </div>
                     
                    </mat-list>











                    </ng-container>
                </div>
            </div>
            <!-- Immunizations -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Immunizations</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="immunizations.length == 0">{{immunizationText}}</p>
                    <ng-container *ngFor="let element of immunizations">
                        <p>{{element.vaccineCode.text}} - <span class="chip">{{element.date | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Digital Health Data -->
            <!-- <div class="margin-top-30">
                <div class="text-head">
                    <p class="font-24">Digital Health Data</p>
                    <p>Sleep (hrs) range over 2 weeks 4.95 - 8.6</p>
                    <p>Sleep (hrs) mean over 2 weeks 7.2</p>
                    <p>Steps range over 2 weeks 5953 - 12562</p>
                    <p>Steps mean over 2 weeks 8931</p>
                </div>
            </div> -->
            <!-- Observations -->
            <div class="margin-top-30">
                <div class="text-head">
                 <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                 <div class="phead">
                    <p class="font-24">Observations</p>
                </div>
                    
                    <p class="loading" *ngIf="observations.length == 0">{{observationText}}</p>
                    <ng-container *ngIf="observations.length != 0">
                        <ng-container *ngFor="let element of observations">
                          <div class="insideelements">
                            <p>{{element.code.text}} - <span class="chip">benign</span></p>
                        </div>
                        </ng-container>
                    
                        <!-- <table mat-table [dataSource]="dataSourceObservation" class="mat-elevation-z8">

                           
                            <ng-container matColumnDef="observation">
                            <th mat-header-cell *matHeaderCellDef> Observation </th>
                            <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
                            </ng-container>
                        
                           
                            <ng-container matColumnDef="value">
                            <th mat-header-cell *matHeaderCellDef> Value </th>
                            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                            </ng-container>

                         
                            <ng-container matColumnDef="r_range">
                                <th mat-header-cell *matHeaderCellDef> Reference Range </th>
                                <td mat-cell *matCellDef="let element"> {{element.r_range}} </td>
                            </ng-container>

                        
                            <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsObservation"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsObservation;"></tr>
                        </table> -->



                        <mat-list class="data-cards tableCardBottom" *ngFor="let obj of dataSourceObservation">
                            <div class="data-cards-list-item">
                                <mat-card class="mpermissions-card matCardBack">





                                    <table style="border:0">
                                        <tr>
                                            <td width="28%" class="textColorHd">
                                                Observation
                                            </td> 
                                            <td width="4%" class="textColorHd">
                                                :
                                            </td> 
                                             <td>
                                                {{obj.observation}}
                                             </td>  
                                        </tr>

                                        <tr>
                                            <td  class="textColorHd">
                                                Value
                                            </td> 
                                            <td  class="textColorHd">
                                                :
                                            </td> 
                                             <td>
                                                {{obj.value}}
                                             </td>  
                                        </tr>

                                        <tr>
                                            <td width="28%" class="textColorHd">
                                                Reference Range
                                            </td> 
                                            <td width="4%" class="textColorHd">
                                                :
                                            </td> 
                                             <td>
                                                {{obj.r_range}}
                                             </td>  
                                        </tr>

                                        <tr>
                                            <td  class="textColorHd">
                                                Date
                                            </td> 
                                            <td  class="textColorHd">
                                                :
                                            </td> 
                                             <td>
                                                {{obj.date}}
                                             </td>  
                                        </tr>

                                       

                                    </table>


                                </mat-card>
                            </div>
                         
                        </mat-list>










                    </ng-container>
               
                </div>
            </div>
            <!-- Diagnostic Reports -->
            <!-- <div class="margin-top-30">
                <div class="text-head">
                  
                    <div class="phead">
                    <p class="font-24">Diagnostic Reports</p>
                </div>
                <div class="insideeements">
                    <p class="loading" *ngIf="diagnosticReports.length == 0">{{diagnosticReportText}}</p>
                    <ng-container *ngFor="let element of diagnosticReports">
                        <p>Bacteremia due to staphylococcus</p>
                    </ng-container>
                </div>
                </div>
            </div> -->
            <!-- Medications -->
            <div class="margin-top-30">
                <div class="text-head">
                     <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                     <div class="phead">
                    <p class="font-24">Medications</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="medicationOrders.length == 0">{{medicationOrderText}}</p>
                    <ng-container *ngFor="let element of medicationOrders">
                        <p>{{element.medicationReference.display}} - <span class="chip">{{element.dateWritten | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Prescriptions -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Prescriptions</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="medicationOrders.length == 0">{{medicationOrderText}}</p>
                    <ng-container *ngFor="let element of medicationOrders">
                        <p>{{element.medicationReference.display}} - <span class="chip">{{element.dateWritten | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Procedures -->
            <div class="margin-top-30">
                <div class="text-head">
                     <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                     <div class="phead">
                    <p class="font-24">Procedures</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="procedures.length == 0">{{procedureText}}</p>
                    <ng-container *ngFor="let element of procedures">
                        <p>{{element.code.text}}</p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Care Plans -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Care Plans</p>
                    </div>
                    <div class="insideelements">
                    <p class="loading" *ngIf="carePlans.length == 0">{{carePlanText}}</p>
                    <ng-container *ngFor="let element of carePlans">
                        <p>{{element.category[0].text}} - <span class="chip">{{element.period.end | date:"MM/dd/yyyy"}} - {{element.period.end | date:"MM/dd/yyyy"}}</span></p>
                    </ng-container>
                </div>
                </div>
            </div>
            <!-- Goals -->
            <div class="margin-top-30">
                <div class="text-head">
                    <!-- added two class phead and insideelements developed by Harshal on 10/27/20  -->
                    <div class="phead">
                    <p class="font-24">Goals</p>
                </div>
                <div class="insideelements">
                    <p class="loading" *ngIf="goals.length == 0">{{goalText}}</p>
                    <ng-container *ngFor="let element of goals">
                        <p><strong>{{element.category[0].text}}: </strong></p>
                        <p>{{element.status}} - {{element.priority.text}} - {{element.description}}</p>
                    </ng-container>
                </div>
                </div>
            </div>
        </div>
      </div>
    </mat-card>
</div>