table {
    box-shadow: none;
    border-radius: 2px;
  }
tr.mat-row, tr.mat-header-row {
    height: 48px !important;
    border: 1px solid #dee2e6;
}

td.mat-cell, td.mat-header-cell {
    padding-left: 10px!important;
    padding-right: 50px;
}

.font-24{
    font-size: 24px;
}
.text-head ul{
    display: block;
    padding-left: 10px;
}
.text-head ul li{
    display: inline;
    padding-right: 5px;
}
.margin-top-30 {
    overflow: scroll;
    margin-top: 0 !important;
    padding: 5px 30px;
}
.margin-top-30:hover {
    background-color:rgb(248, 248, 248);
}
.loading{
    color: gray;
}
.chip{
    color: black;
    background: #ccc;
    padding: 5px 10px;
    border-radius: 19px;
    cursor: pointer;
    margin-right: 5px;
}
/* created on 10/23/20 by harshal */
.min-height-100{
    color: #227f77;
    background-color: #ffffff;
    border-radius: 1em;
}
.margin-top-30:hover{
    background-color:rgb(248, 248, 248);
    border-radius: 1em;
}
.phead{
    color: #024387;
}
 .insideelements{
    color: black!important;
} 

th{
    background-color: rgb(248, 248, 248)!important;
    color: black!important;
    font-size: medium;
    font-weight: 500;
  }
  
  tr {
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }




  @media screen and (max-width: 678px) {
    .main-container {
      padding: 0.1rem!important;
    }
    .margin-top-30:hover {
        border-radius: 0px;
    }
    .box-container{
      background-color:white;
      box-shadow: none!important;
      border-radius: 0.5em;
      margin-left:0px!important;
    }
  
    .bordered-card {
      border: none!important;
      border-radius: 5px!important;
      box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
      margin: px 2px;
    }
  
    .margin-top-30{
        overflow: scroll;
        margin-top: 0 !important;
        padding: 1px 1px;
    }
    .mat-list-base {
        display: block;
        padding-top:5px!important;
        -webkit-tap-highlight-color: transparent;
    }

    .textColorHd {
        font-family: 'Roboto', sans-serif;
         color: black!important;
    }
    .matCardBack {
        background: #f6f6fb!important;
        color: rgba(0,0,0,.87);
    }

    tr {
     border-right: 0px solid #f0f0f0; 
        border-left: 0px solid #f0f0f0; 
         border-bottom: 0px solid #f0f0f0;
    }
   .tableCardBottom{
        margin-bottom: 8px!important;
    }
  }