<ng-container *ngIf="resourceData.resourceType=='Condition'">
	<div class="detailsHeader conditionHeader">
		<h1 mat-dialog-title> 
			{{resourceData.code.text}} <br/>
			<span  style="font-size: 17px;">{{resourceData.category.text}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  <div class="space"></div>
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag">
				<th>&nbsp;</th>
				<td>	<div class="headerSepertor2"></div></td>
			  </tr>-->
			<tr>
			  <th>Date</th>
			  <td>{{resourceData.dateRecorded | date:'MM/dd/yyyy'}}</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag">
				<th>&nbsp;</th>
				<td>	<div class="headerSepertor2"></div></td>
			  </tr>
			<tr>
				<th>Clinical Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.clinicalStatus">info_outline</mat-icon></th>
				<td>{{resourceData.clinicalStatus}}</td>
			  </tr>
			  <tr>
				<th>Verification Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.verificationStatus">info_outline</mat-icon></th>
				<td>

					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<!-- <mat-label>Clinical Status</mat-label> -->
						<mat-select placeholder="Select Verification Status" [(ngModel)]="conditionModel.verificationStatus">
						  <mat-option *ngFor="let status of condition_verification" value="{{status.name}}">
							{{status.name}}</mat-option>
						</mat-select>
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{conditionModel.verificationStatus}}
					  </ng-template >		 
				</td>
			  </tr>
			  <tr>
				<th>Stage Summary<mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.stageSummary">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="conditionModel.summary"
						  placeholder="Stage Summary">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{conditionModel.summary}}
					  </ng-template >
				</td>
			  </tr>
			   
			  <tr>
				<th>Abatement Date<mat-icon class="material-icons tooltip-icon" [matTooltip]="conditionTool.abatement">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input   placeholder="Abatement Date"  matInput [matDatepicker]="picker1"  [(ngModel)]="conditionModel.abatementDateTime">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{conditionModel.abatementDateTime | date:'MM/dd/yyyy'}}
					  </ng-template >
				</td>
			  </tr>
		  </table>
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>
</ng-container>

<ng-container *ngIf="resourceData.resourceType=='MedicationStatement'">
	<div class="detailsHeader medicationStatementHeader">
		<h1 mat-dialog-title> 
			{{resourceData.medicationReference.display}} <br/>
			<span  style="font-size: 17px;">{{resourceData.dateAsserted | date:'h:mm:ss MM/dd/yyyy'}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	<!-- <span class="closedBtn" (click)="onClosedClick()"><mat-icon>clear</mat-icon></span>  <mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" color="primary" matTooltip="edit mode">edit</mat-icon><br/>
	<h1 mat-dialog-title> 
		{{resourceData.medicationReference.display}} <br/>
		<span  style="font-size: 17px;color:#858688">{{resourceData.dateAsserted | date:'h:mm:ss MM/dd/yyyy'}}</span> -->
		<!-- <span  style="font-size: 17px;margin-left: 37px;color:#858688">{{resourceData.dateAsserted | date:'h:mm:ss MM/dd/yyyy'}}</span>
	<mat-icon class="editIcon" (click)="editEnable()" color="primary">edit</mat-icon> -->
		
	  <!-- </h1> -->
	  <!-- <h1 mat-dialog-title> 
		{{resourceData.code.text}} <span class="closedBtn" (click)="onClosedClick()">X</span> <mat-icon class="editIcon" (click)="editEnable()" color="primary">edit</mat-icon><br/>
		<span  style="font-size: 17px;margin-left: 37px;color:#858688">{{resourceData.category.text}}</span>
	
		
	  </h1>
	  
	  <div class="space"></div> -->
	  
	  <div class="space"></div>
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
			  <th>Date</th>
			  <td>{{resourceData.dateAsserted | date:'MM/dd/yyyy'}}</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>

			<tr>
				<th>Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.clinicalStatus">info_outline</mat-icon></th>
				<td>{{resourceData.status}}</td>
			  </tr>

			  <tr>
				<th>Dosage Description<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.dosageDescription">info_outline</mat-icon></th>
				<td>

					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationStatementModel.dosageText"
						  placeholder="Dosage Text">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationStatementModel.dosageText}}
					  </ng-template >
					 

				</td>
			  </tr>

			  <!-- <tr>
				<th>Dosage AsNeeded Flag</th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationStatementModel.dosageAsNeededBoolean"
						  placeholder="Dosage AsNeeded Flag">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationStatementModel.dosageAsNeededBoolean}}
					  </ng-template >
				</td>
			  </tr> -->
			   
			  <tr>
				<th>Timing<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.timing">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input   placeholder="Dosage Timing"  matInput [matDatepicker]="picker1"  [(ngModel)]="medicationStatementModel.dosageTiming">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationStatementModel.dosageTiming | date:'MM/dd/yyyy'}}
					  </ng-template >
				</td>
			  </tr>



			  <tr>
				<th>Method<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.method">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationStatementModel.dosageMethod"
						  placeholder="Dosage Method">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationStatementModel.dosageMethod}}
					  </ng-template >
				</td>
			  </tr>

			  <tr>
				<th>Quantity<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.quantity">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationStatementModel.dosageQuantityQuantity"
						  placeholder="Dosage Quantity">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationStatementModel.dosageQuantityQuantity}}
					  </ng-template >
				</td>
			  </tr>

			  <tr>
				<th>Note<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationStatementTool.note">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationStatementModel.note"
						  placeholder="Note">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationStatementModel.note}}
					  </ng-template >
				</td>
			  </tr>
			 
		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>


</ng-container>

<ng-container *ngIf="resourceData.resourceType=='AllergyIntolerance'">
	<div class="detailsHeader allergyIntoleranceHeader">
		<h1 mat-dialog-title> 
			{{resourceData.substance.text}} <br/>
			<span  style="font-size: 17px;">{{resourceData.category}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div> 
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
			  <th>Date</th>
			  <td>{{resourceData.recordedDate | date:'MM/dd/yyyy'}}</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>
			<tr>
				<th>Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.clinicalStatus">info_outline</mat-icon></th>
				<td>{{resourceData.status}}</td>
			  </tr>
			 
			  <tr>
				<th>Type<mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.type">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<mat-select placeholder="Type" [(ngModel)]="allergyIntoleranceModel.type">
						  <mat-option *ngFor="let typeobj of allergy_type" value="{{typeobj.name}}">
							{{typeobj.name}}</mat-option>
						</mat-select>
					  </mat-form-field>

					  <ng-template  [ngIf]="!editEnableFlag" >
						{{allergyIntoleranceModel.type}}
					  </ng-template>
				</td>
			  </tr>
			  <tr>
				<th>Criticality<mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.criticality">info_outline</mat-icon></th>
				<td>

					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<mat-select placeholder="Verification Status" [(ngModel)]="allergyIntoleranceModel.criticality">
						  <mat-option *ngFor="let criticality of allergy_criticality" value="{{criticality.name}}" matTooltip="{{criticality.name}}">
							{{criticality.key}}</mat-option>
						</mat-select>
					  </mat-form-field>

					  <ng-template  [ngIf]="!editEnableFlag" >
					       <ng-container *ngIf="allergyIntoleranceModel.criticality=='CRITL'">
							      Low  
						   </ng-container>
						   <ng-container *ngIf="allergyIntoleranceModel.criticality=='CRITH'">
							High  
					 </ng-container>
				     	 <ng-container *ngIf="allergyIntoleranceModel.criticality=='CRITU'">
							Unknown  
			         	 </ng-container>
					  </ng-template >
				
					 
				</td>
			  </tr>
			   
			  <tr>
				<th>Note<mat-icon class="material-icons tooltip-icon" [matTooltip]="allergyIntoleranceTool.note">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="allergyIntoleranceModel.note"
						  placeholder="Note">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{allergyIntoleranceModel.note}}
					  </ng-template >
				</td>
			  </tr>
			  
		  </table>
	  </div>

	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>

</ng-container>

<ng-container *ngIf="resourceData.resourceType=='Immunization'">
	<div class="detailsHeader immunizationHeader">
		<h1 mat-dialog-title> 
			{{resourceData.vaccineCode.text}} <br/>
			<span  style="font-size: 17px;">{{resourceData.status}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div>
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
			  <th>Date</th>
			  <td>
				  {{resourceData.date | date:'MM/dd/yyyy'}}
				</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>
			  <tr>
				<th>Route<mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.route">info_outline</mat-icon></th>
				<td>
					<!-- [(ngModel)]="resourceData.stage.summary" -->
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="immunizationModel.route"
						  placeholder="Route">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{immunizationModel.route}}
					  </ng-template>
				</td>
			  </tr>

			  <tr>
				<th>Site<mat-icon class="material-icons tooltip-icon" [matTooltip]="immunizationTool.site">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="immunizationModel.site"
						  placeholder="Site">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{immunizationModel.site}}
					  </ng-template>
				</td>
			  </tr>


			  <!-- <tr>
				<th>Series</th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<mat-select placeholder="Select Series" [(ngModel)]="immunizationModel.vaccinationProtocolSeries"  (selectionChange)="selectSeries($event.value)" >
							<mat-option (click)="createSeries()" value='Create Series'>Create Series</mat-option>	
						  <mat-option *ngFor="let seriesobj of vaccinationProtocolObj" value="{{seriesobj.series}}">
							{{seriesobj.series}}</mat-option>
						</mat-select>
					  </mat-form-field>  
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{immunizationModel.vaccinationProtocolSeries}}
					  </ng-template>
				</td>
			  </tr>


			  <tr *ngIf="customSeriesFlag">
				<th>Custom Series</th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="immunizationModel.vaccinationProtocolCustomSeries"
						  placeholder="Vaccination Protocol Series">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{immunizationModel.vaccinationProtocolCustomSeries}}
					  </ng-template>
				</td>
				
			  </tr> -->


			  <!-- <tr>
				<th>Target Disease</th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="immunizationModel.vaccinationProtocolCode"
						  placeholder="Target Disease">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{immunizationModel.vaccinationProtocolCode}}
					  </ng-template>
				</td>
			  </tr> -->

		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
		</div>
</ng-container>

<ng-container *ngIf="resourceData.resourceType=='Observation'">
	<div class="detailsHeader observationHeader">
		<h1 mat-dialog-title> 
			{{resourceData.code.text}} <br/>
			<span  style="font-size: 17px;">{{resourceData.category.text}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div> 
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
			  <th>Date</th>
			  <td>{{resourceData.effectiveDateTime | date:'MM/dd/yyyy'}}</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>
			<tr>
				<th>Status</th>
				<td>{{resourceData.status}}</td>
			  </tr>
			  <tr>
				<th>Body Site<mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.bodySite">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.bodySite"
						  placeholder="Body Site">
					  </mat-form-field>

					  <ng-template  [ngIf]="!editEnableFlag" >
						{{observationModel.bodySite}}
					  </ng-template>
				</td>
			  </tr>

			  <tr>
				<th>Method<mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.method">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.method"
						  placeholder="Method">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{observationModel.method}}
					  </ng-template>
				</td>
			  </tr>

			  <tr>
				<th>Value<mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.value">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.valueQuantity"
						  placeholder="Value Quantity">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{observationModel.valueQuantity}}
					  </ng-template>
				</td>
			  </tr>

			  <tr>
				<th>Reference Range<mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.referenceRange">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" style="width: 40%!important;margin-right:5%!important" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.referenceRangeLow"
						  placeholder="Low Range ">
					  </mat-form-field>
					  <ng-template   [ngIf]="!editEnableFlag" >
						{{observationModel.referenceRangeLow}}
					  </ng-template>
					      <span *ngIf="!editEnableFlag" style="margin-right:5%!important;margin-left:5%!important" >To</span>

					  <mat-form-field appearance="standard" style="width: 40%!important;"  *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.referenceRangeHigh"
						  placeholder="High Range">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{observationModel.referenceRangeHigh}}
					  </ng-template>

				</td>
			  </tr>

			  <tr>
				<th>Data Absent Reason<mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.dataAbsentReason">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.dataAbsentReason"
						  placeholder="Data Absent Reason">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{observationModel.dataAbsentReason}}
					  </ng-template>
				</td>
			  </tr>

			  <tr>
				<th>Comments<mat-icon class="material-icons tooltip-icon" [matTooltip]="observationTool.comments">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="observationModel.comments"
						  placeholder="Comments">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{observationModel.comments}}
					  </ng-template>
				</td>
			  </tr>
		  </table>	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
		</div>
</ng-container>

<ng-container *ngIf="resourceData.resourceType=='Procedure'">
	<div class="detailsHeader procedureHeader">
		<h1 mat-dialog-title> 
			{{resourceData.code.text}} <br/>
			<span  style="font-size: 17px;">{{resourceData.category.text}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div>
	  <div mat-dialog-content>
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr>
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr> -->
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>
			<tr>
				<th>Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.status">info_outline</mat-icon></th>
				<td>{{resourceData.status}}</td>
			  </tr>
			  <tr>
				<th>Not Performed?<mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.performed">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" readonly class="form-100"  *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="procedureModel.notPerformed"
						  placeholder="Performed">
					  </mat-form-field>

					  <ng-template  [ngIf]="!editEnableFlag" >
						{{procedureModel.notPerformed}}
					  </ng-template>
				</td>
			  </tr>
			  

			  <tr>
				<th>Outcome<mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.outcome">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="procedureModel.outcome"
						  placeholder="Outcome">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{procedureModel.outcome}}
					  </ng-template>
				</td>
			  </tr>

			  <tr>
				<th>Complication<mat-icon class="material-icons tooltip-icon" [matTooltip]="procedureTool.complication">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<input  matInput [(ngModel)]="procedureModel.complication"
						  placeholder="Complication">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{procedureModel.complication}}
					  </ng-template>
				</td>
			  </tr>

			 
			
		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
		</div>
</ng-container>

<ng-container *ngIf="resourceData.resourceType=='MedicationOrder'">
	<div class="detailsHeader medicationOrderHeader">
		<h1 mat-dialog-title> 
			{{resourceData.medicationReference.display}} <br/>
			<span  style="font-size: 17px;">{{resourceData.dateWritten | date:'MM/dd/yyyy'}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div>
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
			  <th>Date</th>
			  <td>{{resourceData.dateWritten | date:'MM/dd/yyyy'}}</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>
			<tr>
				<th> Status</th>
				<td>{{resourceData.status}}</td>
			  </tr>

			  <tr>
				<th>Prescriber<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.prescriber">info_outline</mat-icon></th>
				<td>

					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.prescriber"
						  placeholder="Prescriber Display">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.prescriber}}
					  </ng-template >
					 

				</td>
			  </tr>

			  <tr>
				<th>Dosage Instruction<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dosageInstruction">info_outline</mat-icon></th>
				<td>

					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.dosageInstructionText"
						  placeholder="DosageInstruction Text">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.dosageInstructionText}}
					  </ng-template >
					 

				</td>
			  </tr>
			  <tr>
				<th>Dosage Method<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dosageMethod">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.dosageInstructionMethod"
						  placeholder="DosageInstruction Method">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.dosageInstructionMethod}}
					  </ng-template >
				</td>
			  </tr>

			  <tr>
				<th>Dosage Quantity<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dosageQuantity">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.dosageInstructionDoseQuantity"
						  placeholder="DosageInstruction Quantity">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.dosageInstructionDoseQuantity}}
					  </ng-template >
				</td>
			  </tr>


			  <tr>
				<th>Dispense Duration<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dispenseDuration">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.dispenseRequestExpectedSupplyDuration"
						  placeholder="DispenseRequest ExpectedSupply Duration">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.dispenseRequestExpectedSupplyDuration}}
					  </ng-template >
				</td>
			  </tr>


			  <tr>
				<th>Dispense Quantity<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.dispenseQuantity">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.dispenseRequestQuantity"
						  placeholder="DispenseRequest ExpectedSupply Duration">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.dispenseRequestQuantity}}
					  </ng-template >
				</td>
			  </tr>


			  <tr>
				<th>Note<mat-icon class="material-icons tooltip-icon" [matTooltip]="medicationOrderTool.note">info_outline</mat-icon></th>
				<td>

					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="medicationOrderModel.note"
						  placeholder="Note">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{medicationOrderModel.note}}
					  </ng-template >
				</td>
			  </tr>
			 
		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>


</ng-container>

<ng-container *ngIf="resourceData.resourceType=='FamilyMemberHistory'">
	<div class="detailsHeader familyMemberHistoryHeader">
		<h1 mat-dialog-title> 
			{{resourceData.condition[0].code.coding[0].display}} <br/>
			<span  style="font-size: 17px;">{{resourceData.relationship.coding[0].display}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div>
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr>
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr> -->
			<tr>
			  <th>Date</th>
			  <td>{{resourceData.date | date:'MM/dd/yyyy'}}</td>
			</tr>
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>

			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>

			<tr>
				<th>Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.status">info_outline</mat-icon></th>
				<td>{{resourceData.status}}</td>
			  </tr>
			
			  <tr>
				<th>Gender<mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.gender">info_outline</mat-icon></th>
				<td>

					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<!-- <mat-label>Clinical Status</mat-label> -->
						<mat-select placeholder="Gender" [(ngModel)]="familyMemberHistoryModel.gender">
						  <mat-option *ngFor="let gender of familyMemberHistory_gender" value="{{gender.name}}">
							{{gender.name}}</mat-option>
						</mat-select>
					  </mat-form-field>

					  <ng-template  [ngIf]="!editEnableFlag" >
						{{familyMemberHistoryModel.gender}}
					  </ng-template >
					 

				</td>
			  </tr>

			  <tr>
				<th>Condition Outcome<mat-icon class="material-icons tooltip-icon" [matTooltip]="familyMemberHistoryTool.conditionOutcome">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="familyMemberHistoryModel.outcome"
						  placeholder="Condition Outcome">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{familyMemberHistoryModel.outcome}}
					  </ng-template >
				</td>
			  </tr>
			   
		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>


</ng-container>

<ng-container *ngIf="resourceData.resourceType=='Goal'">
	<div class="detailsHeader goalHeader">
		<h1 mat-dialog-title> 
			{{resourceData.description}}<br/>
			<span  style="font-size: 17px;">{{resourceData.category[0].text}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  <div class="space"></div> 
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
				<th width="38%">StartDate</th>
				<td>{{resourceData.startDate | date:'MM/dd/yyyy'}}</td>
			  </tr>
			  <tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>
			<tr>
				<th>Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.status">info_outline</mat-icon></th>
				<td>{{resourceData.status}}</td>
			  </tr>

			  <tr>
				<th>Priority<mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.priority">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="goalModel.priority"
						  placeholder="Priority">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{goalModel.priority}}
					  </ng-template >
				</td>
			  </tr>


			  <!-- <tr>
				<th>StartDate</th>
				<td>
					<mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input   placeholder="StartDate"  matInput [matDatepicker]="picker1"  [(ngModel)]="goalModel.StartDate">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{goalModel.StartDate | date:'MM/dd/yyyy'}}
					  </ng-template >
				</td>
			  </tr> -->
			  	  
			  <tr>
				<th>Status Reason<mat-icon class="material-icons tooltip-icon" [matTooltip]="goalTool.statusReason">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="goalModel.statusReason"
						  placeholder="StatusReason">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{goalModel.statusReason}}
					  </ng-template >
				</td>
			  </tr>

			  
			   
		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>


</ng-container>

<ng-container *ngIf="resourceData.resourceType=='CarePlan'">
	<div class="detailsHeader carePlanHeader">
		<h1 mat-dialog-title> 
			{{resourceData.category[0].text}}<br/>
			<span  style="font-size: 17px;">{{resourceData.status}}</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  <div class="space"></div>
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
			<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>-->
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>

				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>

				  
			  <tr>
				<th>Period<mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.period">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag">
						<input   placeholder="Period Date"  matInput [matDatepicker]="picker1"  [(ngModel)]="carePlanModel.period">
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1></mat-datepicker>
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{carePlanModel.period | date:'MM/dd/yyyy'}}
					  </ng-template >

				</td>
			  </tr>
			  <tr>
				<th>Description<mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.description">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="carePlanModel.description"
						  placeholder="Description">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag" >
						{{carePlanModel.description}}
					  </ng-template >
				</td>
			  </tr>
			  <tr>
				<th>Activity Category<mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityCategory">info_outline</mat-icon></th>
				<td>
					<mat-form-field appearance="standard" class="form-100" *ngIf="editEnableFlag">
						<mat-select placeholder="Activity Category" [(ngModel)]="carePlanModel.carePlaneCategory"  (selectionChange)="selectCarePlanActivities($event.value)" >
					       <mat-option value=''>Select Category</mat-option>
							<mat-option *ngFor="let categoryObj of carePlanActivityObj" value="{{categoryObj.category}}">
							{{categoryObj.category}}</mat-option>
						</mat-select>
					  </mat-form-field>
				</td>
			  </tr>

              <ng-container *ngIf="carePlaneActivityFlag">

				<tr>
					<th>Activity Code<mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityCode">info_outline</mat-icon></th>
					<td>
						  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
							<input  matInput [(ngModel)]="carePlanModel.carePlaneCode"
							  placeholder="Activity Code">
						  </mat-form-field>
					</td>
				  </tr>
	
				  <tr>
					<th>Activity Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityStatus">info_outline</mat-icon></th>
					<td>
						  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
							<input  matInput [(ngModel)]="carePlanModel.carePlaneStatus"
							  placeholder="Activity Status">
						  </mat-form-field>
					</td>
				  </tr>
	
	
				  <tr>
					<th>Activity Description<mat-icon class="material-icons tooltip-icon" [matTooltip]="carePlanTool.activityDescription">info_outline</mat-icon></th>
					<td>
						  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
							<input  matInput [(ngModel)]="carePlanModel.carePlaneDescription"
							  placeholder="Activity Description">
						  </mat-form-field>
					</td>
				  </tr>
			  </ng-container>
		  </table>
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>
</ng-container>

<ng-container *ngIf="resourceData.resourceType=='Encounter'">
	<div class="detailsHeader encounterHeader">
		<h1 mat-dialog-title> 
			{{resourceData.type[0].text}}<br/>
			<span  style="font-size: 17px;">[{{resourceData.class}}] : [{{resourceData.period.start | date:'MM/dd/yyyy'}} To {{resourceData.period.end | date:'MM/dd/yyyy'}}]</span>
		</h1>
		<div style="display: flex; flex-direction: row;">
			<mat-icon *ngIf="doEditFlag" class="editIcon" (click)="editEnable()" matTooltip="edit mode">
				edit
			</mat-icon>
			<span class="closedBtn" (click)="onClosedClick()">
				<mat-icon>clear</mat-icon>
			</span>
		</div>
	</div>
	  
	  <div class="space"></div> 
	  <div mat-dialog-content class="detailsBody">
		<table width="100%" cellpadding="2px" cellspacing="3px">
			<!-- <tr>
			  <th width="38%">ID</th>
			  <td>{{resourceData.id}}</td>
			</tr> 
		<tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr> -->
			<tr>
				<th>Source</th>
				<td>
				  <mat-chip-list aria-label="Fish selection">
					<mat-chip>{{resourceData.custom_type}}</mat-chip>
				  </mat-chip-list>
				</td>
			  </tr>
			  <tr *ngIf="editEnableFlag"><th>&nbsp;</th><td><div class="headerSepertor2"></div></td> </tr>

			<tr>
				<th>Status<mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.status">info_outline</mat-icon></th>
				<td>{{resourceData.status}}</td>
			  </tr>
				  
			  <tr>
				<th>Priority<mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.priority">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="encounterModel.priority"
						  placeholder="Priority">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag && encounterModel.priority !=''">
						{{encounterModel.priority}}
					  </ng-template >
				</td>
			  </tr>
				
			  <tr>
				<th>Reason<mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.reason">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="encounterModel.reason"
						  placeholder="Reason">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag && encounterModel.reason">
						{{encounterModel.reason}}
					  </ng-template >
				</td>
			  </tr>

			  <tr>
				<th>Part Of<mat-icon class="material-icons tooltip-icon" [matTooltip]="encounterTool.partOf">info_outline</mat-icon></th>
				<td>
					  <mat-form-field appearance="standard" class="form-100"  *ngIf="editEnableFlag" >
						<input  matInput [(ngModel)]="encounterModel.partOf"
						  placeholder="PartOf">
					  </mat-form-field>
					  <ng-template  [ngIf]="!editEnableFlag && encounterModel.partOf">
						{{encounterModel.partOf}}
					  </ng-template >
				</td>
			  </tr>
		  </table>
	  
	  </div>
	  <div mat-dialog-actions *ngIf="editEnableFlag">
		<button (click) = "updateGcpHeathData(resourceData.resourceType)" type="button" mat-raised-button color="primary"  matTooltip="Save Data" matTooltipPosition="left">
			{{UpdateBtn}}
		  </button>
	  </div>


</ng-container>



