.closedBtn{
    /* color: #227f77; */
    cursor: pointer;
    margin: 5px;
/*     position: relative;
    float: right; */
    /* background-color: #f8f9fb; */
/*     margin-right: -10px;
    border: 1ps solid; */
    /* border: 1px solid #868383; */
    /* border-radius: 1px; */
    /* width: 35px; */
/*     text-align: center;
    position: relative;
    top: -10px; */
}
.editIcon{
/*   margin-left: 20px;
  float: right;
  font-size: 20px; */
  cursor: pointer;
  margin: 5px;
/*   margin-top: -9px;
  margin-right: 13px; */
}
/* .mat-dialog-container {
  display: block!important;
   padding: 0px!important;
  border-radius: 4px!important;
  width: 100%!important;
  height: 100%!important;
  min-height: inherit!important;
  max-height: inherit!important;
} */
.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px!important;
}

.form-100{
  width: 100%!important;
}

.mat-dialog-content {
  max-height: 100vh;
}


/* .mat-card-header-Condition{
  background-color:#5A7BBF !important;
} .mat-card-header-MedicationStatement{
  background-color:#26CF43 !important;
  padding:5px !important;
} */

.headerSepertor1{
    width: 100%!important;
    height: 2px;
    background-color: #227f77!important;
    margin-top: 1px;
  }
  .headerSepertor2{
  width: 100%!important;
    height: 1px!important;
    background-color: #989494!important;
  }
  /* table head, heading color */
  th{
    background-color: white!important;
  }
  h1{
    /* color: #024387; */
  }
  /* added space class */
  .space{
    margin-top: 15px; 
  }

  .detailsHeader {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin: 0px -24px;
    margin-top: -24px;  
  }

  .conditionHeader {
    background-color:#5A7BBF !important;
  }
  .medicationStatementHeader {
    background-color:#4ba75a !important;
  }
  .allergyIntoleranceHeader {
    background-color:#564976 !important;
  }
  .immunizationHeader {
    background-color:#5C16A7 !important;
  }
  .observationHeader {
    background-color:#e998b2 !important;
  }
  .procedureHeader {
    background-color:#D64745 !important;
  }
  .medicationOrderHeader{
    background-color:#3f8b3d !important;
  }
  .goalHeader{
    background-color:#42a39d !important;
  }
  .carePlanHeader{
    background-color:#171BBD !important;
  }
  .encounterHeader{
    background-color:#769c44 !important;
  }
  .familyMemberHistoryHeader{
    background-color:#892a97 !important;
  }

  .detailsBody {
    padding-bottom: 15px;
    padding-left: 15px!important;
    padding-right: 15px;
    background-color: white!important;
  }

  .mat-dialog-container {
    padding: 0px!important;
  }

  .tooltip-icon {
    float: right;
  }

  .detailsBody table tr th {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .detailsBody table tr td {
    min-width: 50%;
    width: 50%;
  }