
<div class="preloader" id="preloader" *ngIf="loadingFlag">
    <img src="../../assets/images/Curamei-Logo.png" style="width:200px;" />
		<div class="loader loader-1">
			<div class="loader-outter"> </div>
			<div class="loader-inner"></div>
		</div>
	</div>



<div *ngIf="!loadingFlag">
    <div class="sign-in-container">
        <div class="sign-in-card ios-spacing-top">
            <div class="flex-container width-100">
                <div class="sign-card-left-wrapper width-50">
                    <!-- Signin section -->
                    <div *ngIf="signinFlag" class="sign-card-left-container">
                        <div class="text-center">
                        <!-- added class Icon to give color developed by harshal on 10/28/2020 -->
                        <div class="icon">
                            <img src="../../../assets/images/Curamei-Logo.png" width="200px"/>
                        </div>
                        <h1 class="sign-up-title">Welcome Back</h1>
                        </div>
                        <div class="margin-top-30">
                            
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>User Name</mat-label>
                                    <input formControlName="username" matInput placeholder="Enter username" required>
                                    <mat-icon matSuffix>face</mat-icon>
                                    <mat-error
                                        *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <span (click)="forgotPassword()" class="icon forgot-password">Forgot password?</span>
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>Password</mat-label>
                                    <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                                        placeholder="Enter Password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                        Password is required.
                                    </mat-error>

                                </mat-form-field>
                                <mat-error class="error-login error-text" *ngIf="errorStatus">
                                    {{errorMessage}}
                                </mat-error>
                                <!-- <ngx-recaptcha2 #captchaElem
                                        [siteKey]="'6Lcy2AkaAAAAAL5GlmUhfNaKszWt1j-L1Ld1ETXc'"
                                        (success)="handleSuccess($event)"
                                        [useGlobalDomain]="false"
                                        [size]="size"
                                        [hl]="lang"
                                        [theme]="theme"
                                        [type]="type"
                                        formControlName="recaptcha">
                                </ngx-recaptcha2> -->
                                <!-- Recaptcha --> 
                                <section style="margin-top:-12px!important; margin-left:8px!important">
                                  
                                    <mat-checkbox [value]="checked"  (click)="changeValue(checked)" formControlName="remeberMe">Remember Me</mat-checkbox>
                               
                                  </section>
                                <div id="recaptcha-container"></div>
                                <div class="margin-top-15">
                                    <button [disabled]="!goFlag" class=" login-button width-100 " type="submit" mat-flat-button>
                                        Login
                                    </button>
                                </div>


                                <div class="gooogle_link">
                                    
                                    <div (click)="signInWithGoogle()"> <img src="./assets/images/google.svg" width="22px" style="margin-right:8px;"/>  Sign in with Google</div>
                                </div>

                                <div class="gooogle_link" *ngIf="showAppleSignIn">
                                    
                                    <div (click)="openAppleSignIn()" > <img src="./assets/images/apple-logo.svg" width="22px" style="margin-right:8px;"/>  Sign in with Apple</div>
                            </div>


                            </form>
                        </div>
                        <div class="margin-top-15 text-center">
                            <span>Don't have an account ? </span> 
                            <!-- Signup color added -->
                            <span routerLink="/signup"
                                class="cursor-pointer highlight-login-text"style="color: #227f77;">Sign 
                                Up</span>
                        </div>
                    </div>
                    <!-- Mobile OTP Section -->
                    <div *ngIf="OTPsigninFlag" class="sign-card-left-container">
                        <div class="text-center">
                            <div class="icon">
                                <h3 class="sign-up-company-name remove-margin-bottom">Curamei</h3>
                                <h1 class="sign-up-title">Verify Access Code</h1>
                            </div>
                            <div>
                                <p>
                                    Access Code has been sent to your registered contact number, Please Enter the Access Code.
                                </p>
                            </div>
                            </div>
                            <div class="margin-top-30">
                                <form [formGroup]="OTPForm" (ngSubmit)="verifyOTP()" novalidate>
                                    <mat-form-field appearance="outline" class="form-100">
                                        <mat-label>Enter Access Code</mat-label>
                                        <input type="tel" formControlName="OTP" matInput placeholder="Enter valid OTP" required>
                                        <mat-error
                                            *ngIf="!OTPForm.controls['OTP'].valid && OTPForm.controls['OTP'].touched">
                                            Please enter a valid Access Code
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- <span (click)="resendOTP()" class="icon forgot-password resend-otp">Resend Access Code</span> -->
                                    <div class="margin-top-15">
                                        <button class=" login-button width-100 " mat-flat-button>
                                            Verify Access Code
                                        </button>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
                <div class="sign-card-right-wrapper width-50">
                    <div class="sign-card-right-container">
                        <div class="login-right-container-text">
                            <div class="icon">
                            <span class="remove-margin-bottom font-500">Curamei</span><br>
                            </div>
                            <span class="font-12 dull-font"> Empowering you to take<br>charge of your health</span>
                        </div>
                        <img class="login-left-container-image" src="./assets/images/login/2547787.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





