<div class="fitbit-dialog-container">
  <div class="row">
    <div class="col-md-12">
      <img class="fitbit-dialog-image" src="../../../assets/images/fitbit-dashboard/sleeping.svg">
      <span class="fitbit-dialog-title">Sleep / hour</span>
      <div class="close-button-dialog">
        <button (click)="close()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
 
  <div class="row margin-top-50">
    <div class="col-md-6">
      <h1 class="mat-heading mat-h1 neutral-font remove-margin-bottom">Total (week)</h1>
      <span class="font-size-36 line-height-48 font-300">{{weeksHours}} Hrs</span> <span>&nbsp;sleep</span>
    </div>
    <div class="col-md-6">
      <h1 class="mat-heading mat-h1 neutral-font remove-margin-bottom">Average (daily)</h1>
      <span class="font-size-36 line-height-48 font-300">{{weeksAvgSleepHours}} Hrs</span> <span>&nbsp;sleep</span>
    </div>
  </div>
  <div class="row margin-top-50">
    <div class="col-md-12">
      <h1 class="mat-heading mat-h1 remove-margin-bottom">Sleep (2 weeks)</h1>
    </div>
  </div>
  <div class="row margin-top-30">
    <div class="col-md-12">
      <div class="dialog-graph-container">
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorSchemeSleep" [results]="sleep" [gradient]="gradient"
          [xAxis]="showXAxis" [yAxis]="showYAxis">
        </ngx-charts-bar-vertical>
      </div>

    </div>
  </div>
  <!-- <div class="row margin-top-30">
    <div class="col-md-12">
      <span class="text-uppercase">Activty Goal : 8 Hrs</span> <span>&nbsp;/ day</span>
    </div>
  </div> -->
</div>