<div>
    <div class="sign-in-container">
        <div class="sign-in-card ios-spacing-top">
            <div class="flex-container width-100">
                <div class="signup-card-left-wrapper width-50">
                    <div class="signup-card-left-container">
                        <div class="signup-left-container-text">
                        <!-- Added class icon developed by harshal on 10/28/2020 -->
                            <div class="icon">
                            <span class="remove-margin-bottom font-500">
                            <a routerLink="/signin"><strong style="color:#024387!important;">Curamei</strong></a></span><br>
                            </div>
                            <span class="font-12 dull-font">Embark on your journey to enhance<br>quality of care with us.</span>
                        </div>
                        <img class="signup-left-container-image" src="./assets/images/signup/Asset 4.svg">
                    </div>
                </div>
                <div class="signup-card-right-wrapper width-50">
                    <div class="signup-card-right-container">
                        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
                            <div *ngIf="showSignUpType">
                                <div class="text-center">
                                <!-- Added class icon developed by harshal on 10/28/2020 -->
                                <div class="icon">
                                    <img src="../../../assets/images/Curamei-Logo.png" width="200px"/>
                                </div>
                                </div>

                                <div>
                                    <div *ngIf="!throughSocialLoginFlag">
                                        <div class="text-center">
                                            <!-- Added class icon developed by harshal on 10/28/2020 -->
                                            <div class="icon">
                                                <h3 class="sign-up-company-name remove-margin-bottom">Who are you?</h3>
                                                </div>
                                            </div>
        
                                            <div style="align-items: center; justify-content: space-around;" class="flex-container margin-top-85">
                                                <div class="user-selector-box text-center">
                                                    <img class="patient-image" src="./assets/images/signup/hospital.svg">
                                                </div>
                                                <div class="user-selector-box text-center">
                                                    <img class="patient-image"
                                                        src="./assets/images/signup/temperature.svg">
                                                </div>
        <!--                                         <div class="user-selector-box text-center">
                                                    <img class="doctor-image" src="./assets/images/signup/nurse.svg">
                                                </div> -->
                                                <div class="flex-container width-100" style="padding-top:10px;">
                                                    <div class="user-selector-box-text text-center">
                                                        <span class="font-500">Provider</span>
                                                    </div>
                                                    <div class="user-selector-box-text patient-11 text-center">
                                                        <span class="font-500">Patient</span>
                                                    </div>
        <!--                                             <div class="user-selector-box-text text-center">
                                                        <span class="font-500">Support</span>
                                                    </div> -->
                                                </div>
                                                <div>
                                                    <mat-radio-group formControlName="sType" [(ngModel)]="selectedType">
                                                        <mat-radio-button class="radio-button-provider" id="provider"
                                                            name="stype" value="1">
                                                        </mat-radio-button>
                                                        <mat-radio-button class="radio-button-patient" id="patient" name="stype"
                                                            value="2"></mat-radio-button>
        <!--                                                 <mat-radio-button class="radio-button-support" id="support" name="stype"
                                                            value="3">
                                                        </mat-radio-button>-->
                                                    </mat-radio-group>
        
                                                </div>
        
                                            </div>
                                    </div>
                                    <div *ngIf="throughSocialLoginFlag">
                                        <div class="text-center">
                                            <!-- Added class icon developed by harshal on 10/28/2020 -->
                                            <div class="icon">
                                                <h3 class="sign-up-company-name remove-margin-bottom">Click on proceed to complete profile</h3>
                                                </div>
                                            </div>
        
                                            <div style="align-items: center; justify-content: space-between;" class="flex-container margin-top-85">
                                                <div class="user-selector-box text-center" style="margin: auto;">
                                                    <img class="patient-image"
                                                        src="./assets/images/signup/temperature.svg">
                                                </div>
                                                <div class="flex-container width-100" style="padding-top:10px;">
                                                    <div class="user-selector-box-text text-center" style="width:100%">
                                                        <span class="font-500">Patient</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <mat-radio-group formControlName="sType" [(ngModel)]="selectedType">
                                                        <mat-radio-button class="radio-button-patient" id="patient"
                                                            name="stype" value="2" style="left: 74%;">
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                    </div>
                                    
                                    <div class="margin-top-60">
                                        <button [disabled]="!selectedType" (click)="selectSignUpForm()"
                                            class="proceed-button width-100" type="button" mat-flat-button>
                                            Proceed
                                        </button>
                                    </div>
                                    <div class="margin-top-85 text-center">
                                        <span>Need help signing up? </span>
                                        <span class="cursor-pointer highlight-login-text">
                                            <a style="text-decoration: none; color: #227f77;"
                                                href="https://curameitech.com/help/getting-started/signing-up">
                                                Learn More
                                            </a>
                                        </span>
                                        <br />
                                        <span>Already have an account? </span>
                                        <span routerLink="/signin" class="cursor-pointer highlight-login-text" style="color: #227f77;">
                                            Sign In
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <!-- Provider Form Section-->

                            <div *ngIf="displayProviderForm">

                                <div *ngIf="npiInputCheck">
                                    <div class="flex-container">
                                    <!-- Added class icon developed by harshal on 10/28/2020 -->
                                    <div class="icon">
                                        <h3 class="sign-up-company-name">Enter the national provider
                                            number below
                                        </h3>
                                        </div>

                                    </div>
                                    <mat-form-field appearance="outline" class="form-100">
                                        <mat-label>NPI Number</mat-label>
                                        <input matInput placeholder="Enter your NPI no." formControlName="npi"
                                            type="tel" id="npi" #npi (focusin)="checkError()" required>
                                        <mat-icon matSuffix>dialpad</mat-icon>
                                        <mat-hint align="end">{{npi.value?.length || 0}}/10</mat-hint>
                                        <mat-error
                                            *ngIf="!signUpForm.controls.npi.valid && signUpForm.controls['npi'].touched">
                                            <span *ngIf="signUpForm.controls.npi.errors?.required">
                                                Please enter valid NPI number
                                            </span>
                                        </mat-error>

                                    </mat-form-field>
                                    <mat-error class="npi-error" *ngIf=" eNpi || showApiError">
                                        <span>{{apiDataError}}</span>
                                    </mat-error><br/>
                                    <div style="margin-top: 30px;">
                                        <button [disabled]="npi.value.length > 10 || npi.value.length < 10"
                                            (click)="checkNpi(npi.value)" class="proceed-button width-100" type="button"
                                            mat-flat-button>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="npiBox">
                                    <div>
                                        <div>
                                            <div>
                                            <!-- Added class icon developed by harshal on 10/28/2020 -->
                                            <div class="icon">
                                                <h2 class="mat-h2 mat-subheading remove-margin-bottom font-500">
                                                    Is this
                                                    You?</h2>
                                                    </div>
                                            </div>
                                            <hr>
                                            <div class="flex-container" *ngFor="let item of npirecords">
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{item.basic.first_name | titlecase}}</span><br>
                                                    <mat-hint class="font-12">First Name</mat-hint>
                                                </div>
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{item.basic.last_name | titlecase}}</span><br>
                                                    <mat-hint class="font-12">Last Name</mat-hint>
                                                </div>
                                            </div>
                                            <div class="margin-top-15">
                                                <h3 style="font-weight: 900;text-decoration: underline;"
                                                    class="sign-up-npi-card-subtitle remove-margin-bottom">Primary
                                                    Taxonomy
                                                </h3>
                                            </div>
                                            <div class="flex-container margin-top-15">
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{filterTaxoRecord.state | titlecase}}</span><br>
                                                    <mat-hint class="font-12">State</mat-hint>
                                                </div>
                                                <div class="width-50">
                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{filterTaxoRecord.license | titlecase}}</span><br>
                                                    <mat-hint class="font-12">License No.</mat-hint>
                                                </div>
                                            </div>
                                            <div>

                                                <div class="width-100">

                                                    <span class="mat-h3 font-500 remove-margin-bottom">
                                                        {{ filterTaxoRecord.desc | titlecase}}</span><br>
                                                    <mat-hint class="font-12">Taxonomy Description</mat-hint>
                                                </div>

                                            </div>



                                            <div class="row margin-top-30 hide-in-mobile-screen">
                                                <div class="col-12">
                                                    <label for="">ID Proof<span class="badge-tooltip" 
                                                        matTooltip="Select ID card, featuring your name and a picture of your face, from the health facility/organization that you work at
                                                        OR Valid picture ID issued by a state or federal agency (such as a driver's license or passport">?</span></label>&nbsp;
                                                    <button mat-button color="primary"
                                                        (click)="onClick($event)">
                                                            <mat-icon>file_upload</mat-icon>Upload
                                                        </button>
                                                            <input formControlName="idproof" #fileUpload
                                                                type="file"
                                                                class="input_fileupload--hidden"
                                                                (change)="onFileSelected($event)"
                                                            >
                                                            <mat-error
                                                            *ngIf="!signUpForm.controls.idproof.valid">
                                                            <span *ngIf="signUpForm.controls.idproof.errors?.required">
                                                                ID Proof is required.
                                                            </span>
                                                        </mat-error>
                                                            {{uploadedFileName}}
                                                </div>
                                            </div>








                                            <div class="row margin-top-30 hide-in-large-screen">
                                                <div class="col-12">
                                                    <label for="">ID Proof<span class="badge-tooltip" 
                                                        matTooltip="Select ID card, featuring your name and a picture of your face, from the health facility/organization that you work at
                                                        OR Valid picture ID issued by a state or federal agency (such as a driver's license or passport">?</span></label>&nbsp;
                                                    <button mat-button color="primary"
                                                    (click)="openBottomSheet('id-prof')">
                                                            <mat-icon>file_upload</mat-icon>Upload
                                                        </button>
                                                            <input formControlName="idproof" #fileUpload
                                                                type="file"
                                                                class="input_fileupload--hidden"
                                                                (change)="onFileSelected($event)"
                                                            >
                                                            <mat-error
                                                            *ngIf="!signUpForm.controls.idproof.valid">
                                                            <span *ngIf="signUpForm.controls.idproof.errors?.required">
                                                                ID Proof is required.
                                                            </span>
                                                        </mat-error>
                                                            {{uploadedFileName}}
                                                </div>
                                            </div>






                                            <div class="margin-top-30 text-center">
                                                <button (click)="gobacktoNpiBox()" class="proceed-button width-45"
                                                    type="button" mat-flat-button>
                                                    Back
                                                </button>
                                                <button [disabled]="!signUpForm.controls.idproof.valid" (click)="displayForm()"
                                                    class="proceed-button width-45 btn-spacer" type="button"
                                                    mat-flat-button>
                                                    Confirm
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="showForm">

                                    <div *ngIf="formStepOne">
                                        <div class="flex-container">
                                        <!-- Added class icon developed by harshal on 10/28/2020 -->
                                                <div class="icon">
                                            <h2 style="width: 88%;"
                                                class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                                <span style="font-weight: 400;">Provider Information - </span>Step 1
                                            </h2>
                                            </div>

                                            <div>
                                                <button (click)="goBackStepNpiForm()" mat-icon-button color="accent"
                                                    type="button">
                                                    <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                                </button>
                                            </div>

                                        </div>
                                        <mat-form-field appearance="outline" class="form-100 margin-top-15">
                                            <mat-label>NPI Number</mat-label>
                                            <input matInput formControlName="npi" [(ngModel)]="npinumber" type="text"
                                                readonly>
                                        </mat-form-field>
                                        <div class="row">
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>First name</mat-label>
                                                    <input matInput formControlName="fname" [(ngModel)]="firstname"
                                                        type="text" placeholder="First Name" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Last name</mat-label>
                                                    <input matInput formControlName="lname" [(ngModel)]="lastname"
                                                        type="text" placeholder="Last Name" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>






                                        <div class="row">
                                            <div class="col-12">
                                                <mat-form-field appearance="outline" class="form-100">
                                                        <mat-label>Date of Birth</mat-label>
                                                        <input matInput formControlName="dob" [(ngModel)]="birth" [matDatepicker]="picker">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                        <mat-error *ngIf="!signUpForm.controls.dob.valid">
                                                            <span *ngIf="signUpForm.controls.dob.errors?.minimumAge">
                                                                You must be at least 18 to register.
                                                            </span>
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>







                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Email Address</mat-label>
                                            <input [readonly]="isReadOnly ? true: false" matInput formControlName="emailid"
                                                (focusout)="checkEmail($event.target.value)" type="email"
                                                placeholder="Email Id" required>
                                            <mat-error *ngIf="!signUpForm.controls.emailid.valid ">
                                                <span *ngIf="signUpForm.controls.emailid.errors?.required">
                                                    Email Id is required.
                                                </span>

                                                <span *ngIf="signUpForm.controls.emailid.errors?.email">
                                                    Email Id must be entered valid.
                                                </span>

                                            </mat-error>

                                        </mat-form-field>
                                        <mat-error class="email-error">
                                            <span *ngIf="eEmail">Email Already Exists</span>
                                        </mat-error>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12 col-sm-12">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Password</mat-label>
                                                    <input [type]="hide ? 'password' : 'text'" matInput
                                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                                                        formControlName="pass" placeholder="Password" minlength="8"
                                                        required>
                                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                                        type="button" [attr.aria-label]="'Hide password'"
                                                        [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.pass.valid && signUpForm.controls['pass'].touched">
                                                        <span *ngIf="signUpForm.controls.pass.errors?.required">
                                                            Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.pass.errors?.pattern">
                                                            Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6 col-xs-12 col-sm-12">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Confirm Password</mat-label>
                                                    <input [type]="hideTwo ? 'password' : 'text'" matInput
                                                        type="password" formControlName="cpass"
                                                        placeholder="Confirm Password" required>
                                                    <button mat-icon-button matSuffix (click)="hideTwo = !hideTwo"
                                                        type="button" [attr.aria-label]="'Hide password'"
                                                        [attr.aria-pressed]="hideTwo">
                                                        <mat-icon>{{hideTwo ? 'visibility_off' : 'visibility'}}
                                                        </mat-icon>
                                                    </button>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.cpass.valid && signUpForm.controls['cpass'].touched">
                                                        <span *ngIf="signUpForm.controls.cpass.errors?.equalTo">
                                                            Passwords do not match
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>


                                            </div>
                                        </div>



                                        <div style="margin-top:15px!important;text-align: justify;">
                                            <button
                                                [disabled]="!signUpForm.controls.emailid.valid || !signUpForm.controls.pass.valid  || !signUpForm.controls.cpass.valid || eEmail"
                                                class="proceed-button width-100 margin-top-15" type="button"
                                                mat-flat-button (click)="gotoFormStepTwo()">Next</button>
                                        </div>
                                    </div>
                                    <div *ngIf="formStepTwo">
                                        <div class="flex-container">
                                        <!-- Added class icon developed by harshal on 10/28/2020 -->
                                                <div class="icon">
                                            <h2 style="width: 88%;"
                                                class="mat-h2 step-form-title mat-subheading remove-margin-bottom font-500">
                                                <span style="font-weight: 400;">Communication Details - </span>Step 2
                                            </h2>
                                            </div>
                                            <div>
                                                <button (click)="goBacktopStepOne()" mat-icon-button color="accent"
                                                    type="button">
                                                    <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                                </button>
                                            </div>
                                        </div>

                                        <mat-form-field appearance="outline" class="form-100 margin-top-30">
                                            <mat-label>Address 1</mat-label>
                                            <textarea rows="1" matInput formControlName="addressone"
                                                placeholder="Address 1"></textarea>

                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Address 2</mat-label>
                                            <textarea rows="1" matInput formControlName="addresstwo"
                                                placeholder="Address 2"></textarea>

                                        </mat-form-field>

                                        


                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>City</mat-label>
                                            <textarea rows="1" matInput formControlName="city"
                                                placeholder="City"></textarea>
                                        </mat-form-field>

                                        <div class="row">
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>State</mat-label>
                                                    <mat-select formControlName="stateid">
                                                        <mat-option selected value="">Select State</mat-option>
                                                        <mat-option *ngFor="let state of usaStateList"
                                                            title="{{state.name}}" value={{state.abbreviation}}>
                                                            {{state.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Zipcode</mat-label>
                                                    <input matInput #postalCode maxlength="5" formControlName="zipcode"
                                                        placeholder="Zip code">
                                                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.zipcode.valid && signUpForm.controls['zipcode'].touched">


                                                        <span *ngIf="signUpForm.controls.zipcode.errors?.minlength">
                                                            Must contain 5 digits
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="margin-top-15">
                                            <button class="proceed-button width-100 margin-top-15" type="button"
                                                mat-flat-button (click)="gotoFormStepThree()">Next</button>
                                        </div>
                                    </div>

                                    <div *ngIf="formStepThree">
                                        <div class="flex-container">
                                        <!-- Added class icon developed by harshal on 10/28/2020 -->
                                                <div class="icon">
                                            <h2 style="width: 88%"
                                                class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                                <span style="font-weight: 400;">Contact Information -</span> Step 3</h2>
                                                </div>
                                            <div>
                                                <button (click)="goBacktopStepTwo()" mat-icon-button color="accent"
                                                    type="button">
                                                    <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="margin-top-30">
                                            <span class="font-12">Phone Number
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <mat-form-field appearance="outline" class="form-100">
                                                <ngx-mat-intl-tel-input 
                                                    [preferredCountries]="['us', 'gb']"
                                                    [enablePlaceholder]="true"
                                                    [enableSearch]="true"
                                                    name="phonenumber"
                                                    placeholder = "Phone Number"
                                                    formControlName="phonenumber"></ngx-mat-intl-tel-input>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phonenumber.valid && signUpForm.controls['phonenumber'].touched">
                                                        <span class=" errorColor"
                                                            *ngIf="signUpForm.controls.phonenumber.errors?.required ">
                                                            Required field.
                                                        </span>
                                                        <span class=" errorColor"
                                                            *ngIf="signUpForm.controls.phonenumber.errors?.validatePhoneNumber ">
                                                            Invalid number.
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input #phoneone maxlength="3" matInput name="phoneone" type="tel"
                                                        formControlName="phoneone" required placeholder="_ _ _">
                                                    <mat-hint align="end">{{phoneone.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phoneone.valid && signUpForm.controls['phoneone'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.phoneone.errors?.required || signUpForm.controls.phoneone.errors?.maxlength || signUpForm.controls.phoneone.errors?.minlength ">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.phoneone.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput #phonetwo maxlength="3" name="phonetwo" type="text"
                                                        formControlName="phonetwo" required placeholder="_ _ _">
                                                    <mat-hint align="end">{{phonetwo.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phonetwo.valid && signUpForm.controls['phonetwo'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.phonetwo.errors?.required  || signUpForm.controls.phonetwo.errors?.maxlength || signUpForm.controls.phonetwo.errors?.minlength ">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.phonetwo.errors?.number">
                                                            It should have only no.
                                                        </span>

                                                    </mat-error>

                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input #phonethree maxlength="4" matInput name="phonethree"
                                                        type="text" formControlName="phonethree" placeholder="_ _ _ _"
                                                        required>
                                                    <mat-hint align="end">{{phonethree.value.length}} / 4</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.phonethree.valid && signUpForm.controls['phonethree'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.phonethree.errors?.required  || signUpForm.controls.phonethree.errors?.maxlength || signUpForm.controls.phonethree.errors?.minlength">
                                                            4 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.phonethree.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div> -->
                                        <div class="margin-top-15">
                                            <span class="font-12">Fax Number (optional)
                                            </span>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput name="prim1" #faxone maxlength="3" type="text"
                                                        placeholder="_ _ _" formControlName="faxone">
                                                    <mat-hint align="end">{{faxone.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.faxone.valid && signUpForm.controls['faxone'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.faxone.errors?.required || signUpForm.controls.faxone.errors?.maxlength || signUpForm.controls.faxone.errors?.minlength ">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.faxone.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput name="prim1" #faxtwo maxlength="3" type="text"
                                                        placeholder="_ _ _" formControlName="faxtwo">
                                                    <mat-hint align="end">{{faxtwo.value.length}} / 3</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.faxtwo.valid && signUpForm.controls['faxtwo'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.faxtwo.errors?.required ||  signUpForm.controls.faxtwo.errors?.maxlength || signUpForm.controls.faxtwo.errors?.minlength">
                                                            3 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.faxtwo.errors?.number">
                                                            It should have only no.
                                                        </span>


                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <mat-form-field appearance="outline" class="form-100">

                                                    <input matInput name="prim1" #faxthree maxlength="4" type="text"
                                                        placeholder="_ _ _ _" formControlName="faxthree">
                                                    <mat-hint align="end">{{faxthree.value.length}} / 4</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.faxthree.valid && signUpForm.controls['faxthree'].touched">
                                                        <span
                                                            *ngIf="signUpForm.controls.faxthree.errors?.required  || signUpForm.controls.faxthree.errors?.maxlength || signUpForm.controls.faxthree.errors?.minlength ">
                                                            4 digit is required.
                                                        </span>

                                                        <span *ngIf="signUpForm.controls.faxthree.errors?.number">
                                                            It should have only no.
                                                        </span>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="margin-top-30">
                                            <mat-checkbox [value]="checked" id="exampleCheck1"
                                            formControlName="termsofservices" (click)="changeValue(checked)">Agree to <a href="https://curameitech.com/terms-of-service">Terms of Service</a> and <a href="https://curameitech.com/privacy-policy">Privacy Policy</a>
                                            </mat-checkbox>

                                        </div>

                                        <div class="margin-top-30">
                                            <button
                                                [disabled]="!signUpForm.controls.phonenumber.valid ||!signUpForm.controls.faxone.valid ||!signUpForm.controls.faxtwo.valid ||!signUpForm.controls.faxthree.valid || !signUpForm.controls.termsofservices.valid || !signUpForm.get('termsofservices').value "
                                                mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                                Registration</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Patient Form Section-->

                            <div *ngIf="displayPatientForm">
                                <div *ngIf="formStepOne">
                                    <div class="flex-container">
                                     <!-- Added class icon developed by harshal on 10/28/2020 -->
                                                <div class="icon">
                                        <h2 class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Patient Information - </span>Step 1
                                        </h2>
                                        </div>

                                    </div>
                                    <div class="row margin-top-30">
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>First name</mat-label>
                                                <input matInput formControlName="fname" [(ngModel)]="firstname"
                                                    type="text" placeholder="First Name">
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.fname.valid && signUpForm.controls['fname'].touched">
                                                    <span *ngIf="signUpForm.controls.fname.errors?.required">
                                                        First Name is required.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Last name</mat-label>
                                                <input matInput formControlName="lname" [(ngModel)]="lastname"
                                                    type="text" placeholder="Last Name">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Date of Birth</mat-label>
                                                <input matInput formControlName="dob" [(ngModel)]="birth" [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                <mat-error *ngIf="!signUpForm.controls.dob.valid">
                                                    <span *ngIf="signUpForm.controls.dob.errors?.minimumAge">
                                                        You must be at least 18 to register.
                                                    </span>
                                                </mat-error>
                                        </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Email Address</mat-label>
                                                <input [readonly]="isReadOnly ? true: false" matInput formControlName="emailid"
                                                    (focusout)="checkEmail($event.target.value)" type="email"
                                                    placeholder="Email Id" required>
                                                <mat-error *ngIf="!signUpForm.controls.emailid.valid ">
                                                    <span *ngIf="signUpForm.controls.emailid.errors?.required">
                                                        Email Id is required.
                                                    </span>
        
                                                    <span *ngIf="signUpForm.controls.emailid.errors?.email">
                                                        Email Id must be entered valid.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-error class="email-patient-error">
                                                <span *ngIf="eEmail">Email Already Exists</span>
                                            </mat-error>
                                        </div>
                                        <!-- <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Date of Birth</mat-label>
                                                <input matInput formControlName="dob" [(ngModel)]="dob"
                                                    type="text" placeholder="Date of Birth">
                                            </mat-form-field>
                                        </div> -->
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Password</mat-label>
                                                <input [type]="hide ? 'password' : 'text'" matInput
                                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                                                    formControlName="pass" placeholder="Password" required>
                                                <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.pass.valid && signUpForm.controls['pass'].touched">
                                                    <span *ngIf="signUpForm.controls.pass.errors?.required">
                                                        Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.pass.errors?.pattern">
                                                        Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Confirm Password</mat-label>
                                                <input [type]="hideTwo ? 'password' : 'text'" matInput type="password"
                                                    formControlName="cpass" placeholder="Confirm Password" required>
                                                <button mat-icon-button matSuffix (click)="hideTwo = !hideTwo"
                                                    type="button" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hideTwo">
                                                    <mat-icon>{{hideTwo ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.cpass.valid && signUpForm.controls['cpass'].touched">
                                                    <span *ngIf="signUpForm.controls.cpass.errors?.equalTo">
                                                        Passwords do not match.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>


                                        </div>
                                    </div>
                                    <div class="margin-top-15">
                                        <button
                                            [disabled]="!signUpForm.controls.fname.valid || !signUpForm.controls.lname.valid || !signUpForm.controls.emailid.valid || !signUpForm.controls.pass.valid || !signUpForm.controls.cpass.valid || eEmail"
                                            class="proceed-button width-100 margin-top-15" type="button" mat-flat-button
                                            (click)="gotoFormStepTwo()">Next</button>
                                    </div>
                                </div>
                                <div *ngIf="formStepTwo">
                                    <div class="flex-container">
                                     <!-- Added class icon developed by harshal on 10/28/2020 -->
                                        <div class="icon">
                                            <h2 style="width: 88%;"
                                            class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Contact Information -</span> Step 2</h2>
                                        </div>
                                        <div>
                                            <button (click)="goBacktopStepOne()" mat-icon-button color="accent"
                                                type="button">
                                                <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100 margin-top-30">
                                                <mat-label>Address 1</mat-label>
                                                <textarea rows="3" matInput formControlName="addressone"
                                                    placeholder="Address 1"></textarea>
    
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Address 2</mat-label>
                                                <textarea rows="3" matInput formControlName="addresstwo"
                                                    placeholder="Address 2"></textarea>
    
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div> -->






                                        <mat-form-field appearance="outline" class="form-100 margin-top-30">
                                            <mat-label>Address 1</mat-label>
                                            <textarea rows="1" matInput formControlName="addressone"
                                                placeholder="Address 1"></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Address 2</mat-label>
                                            <textarea rows="1" matInput formControlName="addresstwo"
                                                placeholder="Address 2"></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>City</mat-label>
                                            <textarea rows="1" matInput formControlName="city"
                                                placeholder="City"></textarea>
                                        </mat-form-field>
                                        <div class="row">
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>State</mat-label>
                                                    <mat-select formControlName="stateid">
                                                        <mat-option selected value="">Select State</mat-option>
                                                        <mat-option *ngFor="let state of usaStateList"
                                                            title="{{state.name}}" value={{state.abbreviation}}>
                                                            {{state.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" class="form-100">
                                                    <mat-label>Zipcode</mat-label>
                                                    <input matInput #postalCode maxlength="5" formControlName="zipcode"
                                                        placeholder="Zip code">
                                                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                                    <mat-error
                                                        *ngIf="!signUpForm.controls.zipcode.valid && signUpForm.controls['zipcode'].touched">
    
    
                                                        <span *ngIf="signUpForm.controls.zipcode.errors?.minlength">
                                                            Must contain 5 digits
                                                        </span>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div>

















                                        <span class="font-12">Phone Number
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                            <ngx-mat-intl-tel-input 
                                                [preferredCountries]="['us', 'gb']"
                                                [enablePlaceholder]="true"
                                                [enableSearch]="true"
                                                name="phonenumber"
                                                placeholder = "Phone Number"
                                                formControlName="phonenumber"></ngx-mat-intl-tel-input>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonenumber.valid && signUpForm.controls['phonenumber'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonenumber.errors?.required ">
                                                        Required field.
                                                    </span>
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonenumber.errors?.validatePhoneNumber ">
                                                        Invalid number.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phoneone maxlength="3" matInput name="phoneone" type="tel"
                                                    formControlName="phoneone" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phoneone.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phoneone.valid && signUpForm.controls['phoneone'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phoneone.errors?.required ">
                                                        3 digit is required.
                                                    </span>

                                                    <span class="errorColor"
                                                        *ngIf="signUpForm.controls.phoneone.errors?.number">
                                                        It should have only no.
                                                    </span>

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input matInput #phonetwo maxlength="3" name="phonetwo" type="text"
                                                    formControlName="phonetwo" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phonetwo.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonetwo.valid && signUpForm.controls['phonetwo'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonetwo.errors?.required || signUpForm.controls.phonetwo.errors?.maxlength || signUpForm.controls.phonetwo.errors?.minlength   ">
                                                        3 digit is required.
                                                    </span>

                                                    <span class="errorColor"
                                                        *ngIf="signUpForm.controls.phonetwo.errors?.number">
                                                        It should have only no.
                                                    </span>


                                                </mat-error>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phonethree maxlength="4" matInput name="phonethree" type="text"
                                                    formControlName="phonethree" placeholder="_ _ _ _" required>
                                                <mat-hint align="end">{{phonethree.value.length}} / 4</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonethree.valid && signUpForm.controls['phonethree'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonethree.errors?.required || signUpForm.controls.phonethree.errors?.maxlength || signUpForm.controls.phonethree.errors?.minlength ">
                                                        4 digit is required.
                                                    </span>

                                                    <span class="errorColor"
                                                        *ngIf="signUpForm.controls.phonethree.errors?.number">
                                                        It should have only no.
                                                    </span>


                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div> -->

                                    <!-- <div class="margin-top-30">
                                        <mat-checkbox [value]="checked" id="exampleCheck1"
                                            formControlName="termsofservices" (click)="changeValue(checked)">
                                            Agree to <a target="_blank" [routerLink]="['/terms']">Terms of Service</a>
                                        </mat-checkbox>
                                    </div> -->

                                    <div class="margin-top-30">
                                        <mat-checkbox [value]="checked" id="exampleCheck1"
                                        formControlName="termsofservices" (click)="changeValue(checked)">Agree to <a href="https://curameitech.com/terms-of-service">Terms of Service</a> and <a href="https://curameitech.com/privacy-policy">Privacy Policy</a>
                                        </mat-checkbox>
                                    </div>

                                    <div class="margin-top-30">
                                        <button
                                            [disabled]="!signUpForm.controls.phonenumber.valid ||!signUpForm.controls.faxone.valid ||!signUpForm.controls.faxtwo.valid ||!signUpForm.controls.faxthree.valid || !signUpForm.controls.termsofservices.valid || !signUpForm.get('termsofservices').value"
                                            mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                            Registration</button>
                                    </div>
                                </div>
                                <!-- Not in use stepThree -->
                                <div *ngIf="formStepThree">
                                        <div class="flex-container">
                                        <!-- Added class icon developed by harshal on 10/28/2020 -->
                                            <div class="icon">
                                                <h2 class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                                    <span style="font-weight: 400;">ID Proof -</span> Step 3
                                                </h2>
                                            </div>
                                           <div>
                                               <button (click)="goBacktopStepTwo()" mat-icon-button color="accent"
                                                   type="button">
                                                   <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                               </button>
                                           </div>
                                       </div>
                                        <div class="row margin-top-30">
                                            <div class="col-12">
                                                <label for="">ID Proof</label>&nbsp;
                                                <button mat-button color="primary"
                                                    matTooltip="Select ID card, featuring your name and a picture of your face, from the health facility/organization that you work at
                                                    OR Valid picture ID issued by a state or federal agency (such as a driver's license or passport"
                                                    (click)="onClick($event)">
                                                        <mat-icon>file_upload</mat-icon>Upload
                                                    </button>
                                                        <input formControlName="idproof" #fileUpload
                                                            type="file"
                                                            class="input_fileupload--hidden"
                                                            (change)="onFileSelected($event)"
                                                        >
                                                        <mat-error
                                                        *ngIf="!signUpForm.controls.idproof.valid && signUpForm.controls['idproof'].touched">
                                                        <span *ngIf="signUpForm.controls.idproof.errors?.required">
                                                            ID Proof is required.
                                                        </span>
                                                    </mat-error>
                                                        {{uploadedFileName}}
                                            </div>
                                        </div>
                                       <div class="margin-top-30">
                                        <mat-checkbox [value]="checked" id="exampleCheck1"
                                            formControlName="termsofservices" (click)="changeValue(checked)">
                                            Agree to <a href="https://curameitech.com/terms-of-service">Terms of Service</a> and <a href="https://curameitech.com/privacy-policy">Privacy Policy</a>
                                        </mat-checkbox>
                                        </div>

                                        <div class="margin-top-30">
                                            <button
                                                [disabled]="!signUpForm.controls.idproof.valid || !signUpForm.controls.phoneone.valid || !signUpForm.controls.phonetwo.valid ||!signUpForm.controls.phonethree.valid ||!signUpForm.controls.faxone.valid ||!signUpForm.controls.faxtwo.valid ||!signUpForm.controls.faxthree.valid || !signUpForm.controls.termsofservices.valid || !signUpForm.get('termsofservices').value"
                                                mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                                Registration</button>
                                        </div>
                                </div>

                            </div>

                            <!-- Support Form Section-->

                            <div *ngIf="displaySupportForm">
                                <div *ngIf="formStepOne">
                                    <div class="flex-container">
                                     <!-- Added class icon developed by harshal on 10/28/2020 -->
                                                <div class="icon">
                                        <h2 class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Support Information - </span>Step 1
                                        </h2>
                                        </div>
                                    </div>
                                    <div class="row margin-top-30">
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>First name</mat-label>
                                                <input matInput formControlName="fname" [(ngModel)]="firstname"
                                                    type="text" placeholder="First Name">
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.fname.valid && signUpForm.controls['fname'].touched">
                                                    <span *ngIf="signUpForm.controls.fname.errors?.required">
                                                        First Name is required.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Last name</mat-label>
                                                <input matInput formControlName="lname" [(ngModel)]="lastname"
                                                    type="text" placeholder="Last Name">

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <mat-form-field appearance="outline" class="form-100">
                                        <mat-label>Email Address</mat-label>
                                        <input [readonly]="isReadOnly ? true: false" matInput formControlName="emailid"
                                            (focusout)="checkEmail($event.target.value)" type="email"
                                            placeholder="Email Id" required>
                                        <mat-error *ngIf="!signUpForm.controls.emailid.valid ">
                                            <span *ngIf="signUpForm.controls.emailid.errors?.required">
                                                Email Id is required.
                                            </span>

                                            <span *ngIf="signUpForm.controls.emailid.errors?.email">
                                                Email Id must be entered valid.
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error class="email-patient-error">
                                        <span *ngIf="eEmail">Email Already Exists</span>
                                    </mat-error>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Password</mat-label>
                                                <input [type]="hide ? 'password' : 'text'" matInput
                                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
                                                    formControlName="pass" placeholder="Password" required>
                                                <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.pass.valid && signUpForm.controls['pass'].touched">
                                                    <span *ngIf="signUpForm.controls.pass.errors?.required">
                                                        Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.pass.errors?.pattern">
                                                        Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                                <mat-label>Confirm Password</mat-label>
                                                <input [type]="hideTwo ? 'password' : 'text'" matInput type="password"
                                                    formControlName="cpass" placeholder="Confirm Password" required>
                                                <button mat-icon-button matSuffix (click)="hideTwo = !hideTwo"
                                                    type="button" [attr.aria-label]="'Hide password'"
                                                    [attr.aria-pressed]="hideTwo">
                                                    <mat-icon>{{hideTwo ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.cpass.valid && signUpForm.controls['cpass'].touched">
                                                    <span *ngIf="signUpForm.controls.cpass.errors?.equalTo">
                                                        Passwords do not match
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>


                                        </div>
                                    </div>
                                    <div class="margin-top-15">
                                        <button
                                            [disabled]="!signUpForm.controls.fname.valid || !signUpForm.controls.lname.valid || !signUpForm.controls.emailid.valid || !signUpForm.controls.pass.valid || !signUpForm.controls.cpass.valid"
                                            class="proceed-button width-100 margin-top-15" type="button" mat-flat-button
                                            (click)="gotoFormStepTwo()">Next</button>
                                    </div>
                                </div>
                                <div *ngIf="formStepTwo">
                                    <div class="flex-container">
                                     <!-- Added class icon developed by harshal on 10/28/2020 -->
                                                <div class="icon">
                                        <h2 style="width: 88%;"
                                            class="mat-h2 mat-subheading step-form-title remove-margin-bottom font-500">
                                            <span style="font-weight: 400;">Contact Information -</span> Step 2</h2>
                                            </div>
                                        <div>
                                            <button (click)="goBacktopStepOne()" mat-icon-button color="accent"
                                                type="button">
                                                <mat-icon class="mat-icon-purple">keyboard_arrow_left</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <mat-form-field appearance="outline" class="form-100 margin-top-30">
                                        <mat-label>Provider Email</mat-label>
                                        <input (focusout)="checkProviderEmail($event.target.value)" matInput
                                            formControlName="pemail" type="email" placeholder="Provider Email Id"
                                            required>
                                        <mat-error *ngIf="!signUpForm.controls.pemail.valid ">
                                            <span *ngIf="signUpForm.controls.pemail.errors?.required">
                                                Email Id is required.
                                            </span>

                                            <span *ngIf="signUpForm.controls.pemail.errors?.email">
                                                Email Id must be entered valid.
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error class="provider-email-error" style="font-size:11px">
                                        <span *ngIf="eProviderEmail">Invalid Provider</span>
                                    </mat-error>
                                    <div>
                                        <span class="font-12">Phone Number
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field appearance="outline" class="form-100">
                                            <ngx-mat-intl-tel-input 
                                                [preferredCountries]="['us', 'gb']"
                                                [enablePlaceholder]="true"
                                                [enableSearch]="true"
                                                name="phonenumber"
                                                placeholder = "Phone Number"
                                                formControlName="phonenumber"></ngx-mat-intl-tel-input>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonenumber.valid && signUpForm.controls['phonenumber'].touched">
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonenumber.errors?.required ">
                                                        Required field.
                                                    </span>
                                                    <span class=" errorColor"
                                                        *ngIf="signUpForm.controls.phonenumber.errors?.validatePhoneNumber ">
                                                        Invalid number.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phoneone maxlength="3" matInput name="phoneone" type="tel"
                                                    formControlName="phoneone" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phoneone.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phoneone.valid && signUpForm.controls['phoneone'].touched">
                                                    <span
                                                        *ngIf="signUpForm.controls.phoneone.errors?.required || signUpForm.controls.phoneone.errors?.maxlength || signUpForm.controls.phoneone.errors?.minlength  ">
                                                        3 digit is required.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.phoneone.errors?.number">
                                                        It should only have no.
                                                    </span>

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input matInput #phonetwo maxlength="3" name="phonetwo" type="text"
                                                    formControlName="phonetwo" required placeholder="_ _ _">
                                                <mat-hint align="end">{{phonetwo.value.length}} / 3</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonetwo.valid && signUpForm.controls['phonetwo'].touched">
                                                    <span
                                                        *ngIf="signUpForm.controls.phonetwo.errors?.required || signUpForm.controls.phonetwo.errors?.maxlength ||signUpForm.controls.phonetwo.errors?.minlength  ">
                                                        3 digit is required.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.phonetwo.errors?.number">
                                                        It should only have no.
                                                    </span>

                                                </mat-error>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-4">
                                            <mat-form-field appearance="outline" class="form-100">

                                                <input #phonethree maxlength="4" matInput name="phonethree" type="text"
                                                    formControlName="phonethree" placeholder="_ _ _ _" required>
                                                <mat-hint align="end">{{phonethree.value.length}} / 4</mat-hint>
                                                <mat-error
                                                    *ngIf="!signUpForm.controls.phonethree.valid && signUpForm.controls['phonethree'].touched">
                                                    <span
                                                        *ngIf="signUpForm.controls.phonethree.errors?.required || signUpForm.controls.phonethree.errors?.maxlength || signUpForm.controls.phonethree.errors?.minlength ">
                                                        4 digit is required.
                                                    </span>

                                                    <span *ngIf="signUpForm.controls.phonethree.errors?.number">
                                                        It should only have no.
                                                    </span>


                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div> -->



                                    <div class="margin-top-30">
                                        <mat-checkbox [value]="checked" id="exampleCheck1"
                                            formControlName="termsofservices" (click)="changeValue(checked)">
                                            Agree to <a target="_blank" [routerLink]="['/terms']">Terms of Service</a>
                                        </mat-checkbox>
                                    </div>

                                    <div class="margin-top-30">
                                        <button
                                            [disabled]="!signUpForm.controls.phonenumber.valid || !signUpForm.controls.termsofservices.valid || !signUpForm.controls.pemail.valid || eProviderEmail || !signUpForm.get('termsofservices').value"
                                            mat-flat-button class="proceed-button width-100" type="submit">Confirm
                                            Registration</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- <button>ok</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>