.cardCustom {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff9f9;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    box-shadow: 5px 6px 2px #e2e2de;
  }
  
  .errorColor {
    color: red;
    text-align: left !important;
    color: red;
    text-align: left !important;
    float: left;
    padding-bottom: 10px;
    margin-left: 0px;
    padding-top: 5px;
  }
  
  .logoText {
    font-size: 22px;
    line-height: 62px;
    margin-left: 58px;
    color: white;
    font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  .hospital {
    cursor: pointer;
    border-bottom: 2px solid #0076f5;
    border-width: 80%;
  }
  
  .linkTag {
    margin-left: 20px;
    text-decoration: underline;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #000;
    cursor: pointer;
  }
  
  .existMessage {
    text-align: initial;
    color: red;
    font-size: 14px;
  }
  
  .textType {
    color: #0e0e0e;
    font-size: 17px;
    font-weight: 500;
  }
  
  .primary-text-color {
    color: #5d6977;
  }
  
  .font-16 {
    font-size: 16px;
  }
  
  .font-22 {
    font-size: 22px;
  }
  
  .font-weight-300 {
    font-weight: 300;
  }
  
  #prim1,
  #prim2,
  #prim3 {
    width: 25%;
    margin-left: 10px;
    display: inline-block;
  }
  
  #phoneone,
  #phonetwo,
  #phonethree {
    width: 25%;
    margin-left: 10px;
    display: inline-block;
  }
  
  .btn-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .btn-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .pop-btn {
    padding: 0.5rem 2rem;
    font-size: 22px;
  }
  
  .green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }
  
  .proceed-button{
    background-color:#227f77!important ;
  } 
  .mat-icon{
      color:#227f77;
  }
  ::ng-deep .mat-calendar-table-header tr th{background-color: #ffffff !important;}
  
  .input_fileupload--hidden{
    display:none;
  }
  
  .badge-tooltip {
    color: #000 !important;
    background: #fff !important;
    border: 1px solid #ccc !important;
    padding: 0px 5px;
    border-radius: 50%;
    position: relative;
    top: -7px;
    left: 2px;
    cursor: pointer;
  }
  ::ng-deep .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin-bottom: 13px; 
}