<div>
    <div class="sign-in-container">
        <div class="sign-in-card ios-spacing-top">
            <div class="flex-container width-100">
                <div class="signup-card-left-wrapper width-50">
                    <div class="signup-card-left-container">
                        <div class="signup-left-container-text">
                        <!-- Added class icon developed by harshal on 10/28/2020 -->
                            <div class="icon">
                            <span class="remove-margin-bottom font-500">
                            <a routerLink="/signin">Curamei</a></span><br>
                            </div>
                            <span class="font-12 dull-font">Stay connected and improve your health,<br> together with
                                us.</span>
                        </div>
                        <img class="signup-left-container-image" src="./assets/images/signup/Asset 4.svg">
                    </div>
                </div>
                <div class="signup-card-right-wrapper width-50">
                    <div class="signup-card-right-container">                        
                        <!-- Reset password section -->
                        <div *ngIf="rightFlag" class="sign-card-left-container">
                            <div class="text-center">
                                <div class="icon">
                                    <h1 class="sign-up-title">Reset Your Password</h1>
                                </div>
                                </div>
                                <div class="margin-top-30">
                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Password</mat-label>
                                            <input   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [type]="hide ? 'password' : 'text'" minlength="8" formControlName="password" matInput placeholder="Password" required>
                                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        

                                            <mat-error
                                            *ngIf="!resetForm.controls.password.valid && resetForm.controls['password'].touched">
                                            <span *ngIf="resetForm.controls.password.errors?.required">
                                         Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                            </span>

                                            <span *ngIf="resetForm.controls.password.errors?.pattern">
                                           Password must contain at least one upper case and lower case letter, one number, and 8 total characters.
                                            </span>
                                        </mat-error>



                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="form-100">
                                            <mat-label>Retype password</mat-label>
                                            <input [type]="hide ? 'password' : 'text'" formControlName="repassword" matInput
                                                placeholder="Retype Password" required>
                                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-error
                                                *ngIf="!resetForm.controls['repassword'].valid && resetForm.controls['repassword'].touched">
                                                Password must be same.
                                            </mat-error>
                                        </mat-form-field>
                                        <div class="margin-top-15">
                                            <button class=" login-button width-100 " type="submit" mat-flat-button>
                                                Change password
                                            </button>
                                        </div>
                                    </form>
                                </div>
                        </div>
                        <!-- Failed Section -->
                        <div *ngIf="wrongFlag" class="text-center">
                            <div>
                                <mat-card style="margin:2em;padding-top:0;padding-left:0;padding-right:0" class="example-card">
                                    <mat-card-title style="border-bottom: 3px solid #ccc; padding:20px 20px;">Page Expired</mat-card-title>
                                    <mat-card-content style="padding:1em;">
                                      <p>
                                       The page has expired. Click OK to continue.
                                      </p>
                                    </mat-card-content>
                                  </mat-card>
                            </div>
                            <div class="margin-top-15 text-center">
                                <!-- Signup color added -->
                                <span routerLink="/forgot-password"
                                    class="cursor-pointer highlight-login-text"style="color: #227f77;">OK</span>
                            </div>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>