

  <mat-nav-list class="mat-bottom-sheet-container1">

    <!-- <span (click)="closePopUp()" class="closeBtn">X</span> -->
    <p class="divConHdTitle">
      {{displayFileName}}
    </p> 
 
    <span class="divConSubTitle">Created {{dataObj.create_on | date: 'MMM d, y'}}</span>
    <hr width="100%"/>

  

   <div class="divCon">


<table >

  <tr  *ngIf="!throughProviderFlag"  (click)="closedPopupBottom('delete',dataObj.upiid)">
    <td style="width:15%;">
          <mat-icon title="Archive" style="margin-right:10px;" class="cursor-pointer" color="warn">delete
           
  </mat-icon>
    </td>

     <td> <span   color="warn">Delete </span></td>
</tr>

  <tr  *ngIf="!throughProviderFlag"  (click)="closedPopupBottom('rename',dataObj.upiid)">
        <td style="width:15%;">
              <mat-icon title="{{titleName}}" style="margin-right:10px;" class="cursor-pointer" color="primary">{{buttonTypeName}}
      </mat-icon>
        </td>

         <td> <span   color="primary">Rename </span></td>
  </tr>


  <tr (click)="closedPopupBottom('download',dataObj.upiid,dataObj.file_displayname)">
    <td style="width:15%;">
      <mat-icon style="margin-right:10px;" title="Download" class="cursor-pointer"
      color="primary">cloud_download
    </mat-icon>
 </td>

      <td> <span color="primary">Download </span></td>
</tr>



</table>
</div>
  

 
  </mat-nav-list>
    
