<mat-nav-list class="mat-bottom-sheet-container1" *ngIf="requestsFlag">

  <!-- <span (click)="closePopUp()" class="closeBtn">X</span> -->
 
  <p class="headTitle">{{dataObj.first_name}} {{dataObj.last_name}}</p>
  <span class="subTitle">{{dataObj.email}}</span> <br />
  <span class="subTitle">{{dataObj.dob | date:"MM/dd/yyyy"}}</span> <br />
  <span class="subTitle">{{dataObj.phone_number}}</span>

  <hr width="100%" />


  <div class="divCon">


    <table >

      <tr (click)="closedPopupBottom('confirm',dataObj.upid,dataObj.active)">
        <td style="width:15%;">
          <mat-icon title="Confirm" style="margin-right:10px;" class="cursor-pointer"
            class="material-icons color-success">check</mat-icon>
        </td>

        <td> <span class="color-success">Confirm </span></td>
      </tr>

      <tr (click)="closedPopupBottom('ignore',dataObj.upiid,'clear')">
        <td style="width:15%;">
          <mat-icon title="close" style="margin-right:10px;" class="cursor-pointer" class="material-icons color-red">
            close</mat-icon>
        </td>

        <td> <span class="color-red">Ignore </span></td>
      </tr>


    </table>
  </div>
</mat-nav-list>



















<mat-nav-list class="mat-bottom-sheet-container1" *ngIf="currentPatientsFlag">

  <!-- <span (click)="closePopUp()" class="closeBtn">X</span> -->

  <p class="headTitle">{{dataObj.first_name}} {{dataObj.last_name}}</p>
  <span class="subTitle">{{dataObj.email}}</span> <br />
  <span class="subTitle">{{dataObj.dob | date:"MM/dd/yyyy"}}</span> <br />
  <span class="subTitle">{{dataObj.phone_number}}</span>

  <hr width="100%" />


  <div class="divCon">


    <table cellpadding="10">

      <tr (click)="closedPopupBottom('deactivateAccess',dataObj.upid,dataObj.active)">
        <td style="width:15%;">
          <mat-icon title="Confirm" style="margin-right:10px;" class="cursor-pointer"
            class="material-icons color-red">delete</mat-icon>
        </td>

        <td> <span class="color-red">Deactivate Access </span></td>
      </tr>




    </table>
  </div>
</mat-nav-list>