

.divCon{
    padding: 0px;
    font-size: 21px;
    margin-bottom: 5px;
    color: rgb(54, 54, 54);
    margin-left: -11px;
    padding-bottom: 5px;
}

.mat-icon {
    font-size: 35px;
    margin-right: 15px;
}
.closeBtn{
    float: right;
    margin-right: 10px;
    margin-top: -42px;
    font-size: 24px;
    font-weight: bold;
    background-color: #e5e8e8;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.headTitle{
    font-size: 24px;
    font-weight: 500;
  }
  
  .subTitle{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-top: -4px!important;
}



  .color-red{
      color:red;
  }
  .color-success{
    color:green;
}