<div>
  <div class="sign-in-container">
    <div class="sign-in-card ios-spacing-top">
      <div class="flex-container width-100">
        <div class="signup-card-left-wrapper width-50">
          <div class="signup-card-left-container">
            <div class="signup-left-container-text">
              <span class="remove-margin-bottom font-500"><a
                  style="cursor: pointer; text-decoration: none; color: #024387!important;"
                  routerLink="/signin">Curamei</a></span><br>
              <span class="font-12 dull-font">Stay connected and improve your health,<br> together with
                us.</span>
            </div>
            <img class="signup-left-container-image" src="../../../assets/images/signup/Asset 4.svg">
          </div>
        </div>
        <div class="signup-card-right-wrapper width-50">
          <div class="signup-card-right-container">
            <div class="card-body text-center">
              <div style="text-align: center;margin-top: -15px;
                margin-bottom: 27px;text-decoration: none;">

                <div class="" *ngIf="msuccess">
                  <div style="text-align: center;margin-top: -15px;
                  margin-bottom: 27px;"><img src="../../../../assets/img/correct.png" height="55px" width="55px">
                    <br />
                    <div class="success">
                      <p>
                        Your account has been activated!
                      </p>
                    </div>
                  </div>
                  <a routerLink="/signin">
                    <button class=" login-button width-100 " mat-flat-button>
                      Return to Sign In
                    </button>
                  </a>
                </div>



                <div class="" *ngIf="Tinvalid">
                  <div style="text-align: center;margin-top: -15px;
                    margin-bottom: 27px;"><img src="../../../../assets/img/error.png" height="45px" width="45px">
                    <br />
                    <div class="error">
                      <p>
                        The URL is either invalid or you already have activated your account.
                      </p>
                    </div>
                  </div>
                  <a routerLink="/signin">
                    <button class=" login-button width-100 " mat-flat-button>
                      Return to Sign In
                    </button>
                  </a>
                </div>

                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>