.cardCustom{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff9f9;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    box-shadow: 5px 6px 2px #e2e2de;

}

.errorColor{
    color:red;
    text-align: left!important;
    color: red;
    text-align: left!important;
    float: left;
    padding-bottom: 20px;
    margin-left: 17px;
    padding-top: 5px;
}


.logoText{
    color:white;
    font-size: 22px;
    line-height: 62px;
    margin-left: 58px;
    font-family: '-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
.linkTag{
    margin-left:20px;text-decoration:underline;font-size: 14px;
}

.warning{
	color:red;font-size:20px;text-align:center
}
.error{
	color:red;font-size:20px;text-align:center
}
.success{
	color:green;font-size:20px;text-align:center
}
.activateLinkMsg{
	color:#000000;
	text-align:center

}

