<div>
    <div class="sign-in-container">
        <div class="sign-in-card ios-spacing-top">
            <div class="flex-container width-100">
                <div class="sign-card-left-wrapper width-50">
                    <!-- Forgot password section -->
                    <div class="sign-card-left-container">
                        <div class="text-center">
                        <!-- added class Icon to give color developed by harshal on 10/28/2020 -->
                        <div class="icon">
                            <img src="../../../assets/images/Curamei-Logo.png" width="200px"/>
                            <h1 class="sign-up-title">Forgot Password</h1>
                        </div>
                        <div>
                            <p>
                                Enter the username you use to sign into your Curamei Account, which is usually your email address.
                            </p>
                        </div>
                        </div>
                        <div class="margin-top-30">
                            <form [formGroup]="forgotForm" (ngSubmit)="forgotPasswordClicked()" novalidate>
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>Email or username</mat-label>
                                    <input formControlName="username" matInput placeholder="Enter valid email id" required>
                                    <mat-icon matSuffix>face</mat-icon>
                                    <mat-error
                                        *ngIf="!forgotForm.controls['username'].valid && forgotForm.controls['username'].touched">
                                        Please enter a valid Username
                                    </mat-error>



                                </mat-form-field>
                            
                                <span style="color: red; font-size: 12px; margin-top: -22px; display: block; text-align: right;" *ngIf="notValid">
                               {{serverErrorMessages}}
                                </span>
                                <div class="margin-top-15">
                                    <button class=" login-button width-100 " mat-flat-button>
                                        {{buttonText}}
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="margin-top-85 text-center">
                            <span>Already have an account ? </span><span routerLink="/signin"
                                class="cursor-pointer highlight-login-text" style="color: #227f77;">Sign In</span>
                        </div>
                    </div>
                </div>
                <div class="sign-card-right-wrapper width-50">
                    <div class="sign-card-right-container">
                        <div class="login-right-container-text">
                            <div class="icon">
                                <span class="remove-margin-bottom font-500"><strong>Curamei</strong></span><br>
                            </div>
                            <span class="font-12 dull-font">Harnessing the true<br>power of health data</span>
                        </div>
                        <img class="login-left-container-image" src="./assets/images/login/2547787.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>