<div class="mmain-container">
  <!-- container height 150 -->
  <div class="min-height-150 mobile-min-height-88">
    <mat-card
      class="card-padding-6 min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
      <div style="margin-bottom: 30px;">
        <div class="flex-container page-top">
          <div class="page-title">
             <!-- created icon class to give color develop by harshal on 10/27/20 -->
             <div class="icon">
            <mat-icon class="material-icons">search</mat-icon>
             </div>
            <mat-card-title class="card-main-title font-700">Search for a Provider</mat-card-title>
          </div>
        </div>
      </div>
 
      <div class="margin-top-15">
        <form [formGroup]="SearchForm">
          <div class="row" style="margin: 0px;">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="form-100">
                <mat-label>Choose Provider Type</mat-label>
                <mat-select (selectionChange)="selectedUser($event.value)">
                  <mat-option value="1">Individual</mat-option>
                  <mat-option value="2">Organization</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 remove-col-padding-right " *ngIf="showForIndividual">
              <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                <mat-label>First Name</mat-label>
                <input formControlName="firstname" matInput (input)="getHealthIndividual()">
              </mat-form-field>
            </div>
            <div class="col-md-4 remove-col-padding-right " *ngIf="showForIndividual">
              <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                <mat-label>Last Name</mat-label>
                <input formControlName="lastname" matInput (input)="getHealthIndividual()">
              </mat-form-field>
            </div>
            <div class="col-md-8 remove-col-padding-right mob-col-padding-right" *ngIf="showFororganisation">
              <mat-form-field appearance="fill" class="form-100 mob-col-padding-right">
                <mat-label>Organization Name</mat-label>
                <input (input)="getHealthOrganisation()" formControlName="organisationname" matInput>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-4" *ngIf="showFororganisation">
              <button mat-flat-button color="primary"
                class="mob-button-100 hide-in-large-screen mob-margin-bottom-15 mob-search-button">Search</button>
              <button (click)="getHealthOrganisation()" class="search-button hide-in-mobile-screen" mat-icon-button
                color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </div> -->
            <!-- <div class="col-md-4" *ngIf="showForIndividual">
              <button (click)="getHealthIndividual()" mat-flat-button color="primary"
                class="mob-button-100 mob-margin-bottom-15 hide-in-large-screen mob-search-button">Search</button>
              <button (click)="getHealthIndividual()" class="search-button hide-in-mobile-screen" mat-icon-button
                color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </div> -->
          </div>
        </form>
      </div>

      <div *ngIf="records.length < 1">
        <span *ngIf="dataNotFoundMessage =='spinner'"> <mat-spinner [diameter]="45"></mat-spinner> </span>
        <span *ngIf="dataNotFoundMessage !='spinner'" style="color: gray;">{{dataNotFoundMessage}}</span>
      </div>

      <div *ngIf="!showFororganisation && !showForIndividual">
        <span style="color: gray;">Please select the type of provider you are searching for.</span>
      </div>

      <!-- <div style="margin-top: 1rem">

        <form>
          <mat-form-field class="form-100">
            <mat-label>Enter the name of the health system you would like to see supported.</mat-label>
            <input (focusout)=getHealthOrganisation(orgname.value) matInput #orgname>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </div> -->
      <div *ngIf="(showFororganisation || showForIndividual) && records.length > 0">
        <div>
          <mat-accordion>
            <div class="bordered-card" *ngFor="let item of records | paginate: { itemsPerPage: 5, currentPage: p }">
              <mat-expansion-panel
                class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="hs-expansion-panel" hideToggle="true">
                <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div>
                    <span class="focus-text important-number">{{item.basic.organization_name | titlecase}}
                    {{item.basic.first_name | titlecase}}
                    {{item.basic.last_name | titlecase}}
                    </span>
                  </div>
                  <div>
                      <span class="muted-text">{{item.addresses[0].address_1 | titlecase}}<span
                      *ngIf="item.addresses[0].address_2 != ''">,
                      {{item.addresses[0].address_2 | titlecase}},</span><span>&nbsp;{{item.addresses[0].state | uppercase}}</span></span><br>
                    
                    <span class="muted-text">{{item.number}}</span>
                  </div>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <button mat-flat-button (click)="getProviderData(item.number)" class="full-green">
                  <mat-icon class="material-icons">
                    add
                  </mat-icon>
                </button>
              </ng-template>
            </mat-expansion-panel>
          </div>
          </mat-accordion>
        </div>
        <div class="text-center">
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
      </div>
      <!-- <div *ngIf="records.length < 1" class="text-center ">
        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of records | paginate: { itemsPerPage: 4, currentPage: p }"
              class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div *ngIf="item.basic.organization_name != ''">
                    <span class="font-bold">Name :</span>{{item.basic.organization_name}}
                  </div>
                  <div *ngIf="item.basic.first_name != ''">
                    <span class="font-bold">First Name :</span>{{item.basic.first_name}}
                  </div>

                  <div>
                    <span class="font-bold">Address :</span> {{item.addresses[0].address_1}},
                    {{item.addresses[0].address_2}}<br>
                    <span class="font-bold">Cit yyyyyy :</span> {{item.addresses[0].city}}<br>
                    <span class="font-bold">State :</span> {{item.addresses[0].state}}<br>
                    <span class="font-bold">NPI :</span> {{item.number}}
                  </div>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <button mat-flat-button (click)="getProviderData(item.number)" class="button-success">Confirm</button>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div> -->

    </mat-card>
  </div>
</div>