.hs-expansion-panel{
    background: #e7faff;
}
/* color to title,icon,heading,etc */
.mat-label,.mat-option,.mat-select,.mat-card-title {
    color: #227f77 ;
}
.font-bold{
    color: #024387;
}

/* internal text color */
.InternalText{
    color: #585858;
}

mat-spinner {
    float:left; 
    width: 24px; 
    height: 24px; 
    margin: 5px 10px 0px 0px;
  }
.expansionspace{
    margin-top:-3px;
}

.text-center {
    margin-top: 10px;
}

.hs-expansion-panel{
    background: white;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none!important;
  }
  
  .hs-expansion-panel.mat-expanded {
    margin-right: 0px;
  }

.full-green {
    background-color: transparent;
    height: 90px!important;
    width: 90px!important;
    padding: 0px!important;
    color: white!important;
    margin: 0px -24px -24px;
    transition: 0.3s;
  }

  .hs-expansion-panel-header {
    width: 100%!important;
    margin-right: -90px;
  }

  .hs-expansion-panel-header.mat-expanded {
    margin-right: 0px;
  }
  
  .hs-expansion-panel.mat-expanded .full-green {
    background-color: #00b07c;
  }

  .bordered-card {
    border: none!important;
    border-radius: 5px!important;
    box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
    margin: 15px 15px;
  }

  .focus-text {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  
  .important-number {
    font-size: larger;
  }
  
  .muted-text {
    color: #8f8fb1 !important;
    font-size: 14px;
  }

  @media screen and (max-width: 678px) {
    .main-container {
      padding: 0.1rem!important;
    }
    .box-container{
      background-color:white;
      box-shadow: none!important;
      border-radius: 0.5em;
      margin-left:0px!important;
    }

    .bordered-card {
      border: none!important;
      border-radius: 5px!important;
      box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
      margin: 0px 0px;
    }
    .table-100{
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      width: 99%!important;
  }
  }