<div id="mainContainer">
    <div class="margin-top-30">
        <div>
            <div class="phead">
            <p class="font-24">Users</p>
        </div>
            <ng-container>
                <div style="width: 100%;">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Filter</mat-label>
                      <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
                        placeholder="Search by Username, Email, Contact">
                      <mat-icon matSuffix>search</mat-icon>
          
                    </mat-form-field>
                  </div>
                <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8" style="margin: 5px 0px; width: 100%;">
                  
                    <!-- Gender Column -->
                    <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> Index</th>
                    <td mat-cell *matCellDef="let element let i = index;"> {{i+1}} </td>
                    </ng-container>
                
                    <!-- Marital Status Column -->
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> User Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Marital Status Column -->
                    <ng-container matColumnDef="fullname">
                    <th mat-header-cell *matHeaderCellDef> Fullname </th>
                    <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                    </ng-container>

                    <!-- Username Column -->
                    <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>

                     <!-- Username Column -->
                     <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
      
                    <!-- Contact Column -->
                    <ng-container matColumnDef="phone_number">
                    <th mat-header-cell *matHeaderCellDef> Contact </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
                    </ng-container>

                    <!-- ID proof Column -->
                    <ng-container matColumnDef="idproof">
                        <th mat-header-cell *matHeaderCellDef> Id Proof </th>
                        <td mat-cell *matCellDef="let element" (click)="viewIDProof(element.idproof)"><span class="view-idproof" matTooltip="Click to view"> {{element.idproof}} </span></td>
                    </ng-container>
                    <!-- Address Column -->

                    <ng-container matColumnDef="MFA">
                        <th mat-header-cell *matHeaderCellDef> MFA </th>
                        <td mat-cell *matCellDef="let element"> <mat-slide-toggle (change)="onChangeMFA(element.id, $event)" [checked]="element.mfa"></mat-slide-toggle></td>
                    </ng-container>
                    
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle 
                            [color]="account_status_color" 
                            [checked]="element.active"
                            [disabled]="account_status_disabled"
                            ></mat-slide-toggle>
                        </td>
                    </ng-container>
                    <!-- Action Column -->
                    <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon color="primary">edit
                                </mat-icon>
                            </button> 
                            <button mat-icon-button>
                                <mat-icon color="warn">delete
                                </mat-icon>
                            </button> 
                            <button mat-icon-button [matMenuTriggerFor]="more">
                                <mat-icon>more_vert
                                </mat-icon>
                            </button> 
                        </td>
                    </ng-container>                 -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <div *ngIf="!userdata"><span>{{noRecordFound}}</span></div>
                <mat-menu #more="matMenu" xPosition="before">
                    <button mat-menu-item>
                      <mat-icon>details</mat-icon>
                      <span>View details</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>list 2</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>notifications_off</mat-icon>
                      <span>list 3</span>
                    </button>
                  </mat-menu>

            </ng-container>
        </div>
    </div>
</div>
