table {
    box-shadow: none;
    border-radius: 2px;
  }
tr.mat-row, tr.mat-header-row {
    height: 48px !important;
    border: 1px solid #dee2e6;
}
/* td.mat-cell, td.mat-header-cell {
    padding-left: 10px!important;
    padding-right: 50px;
} */
.font-24{
    font-size: 24px;
}
.text-head ul{
    display: block;
    padding-left: 10px;
}
.text-head ul li{
    display: inline;
    padding-right: 5px;
}
.margin-top-30 {
    overflow: scroll;
    padding: 5px 30px;
}
/* .margin-top-30:hover {
    background-color: aliceblue;
} */
.loading{
    color: red;
}
.chip{
    color: black;
    background: #ccc;
    padding: 5px 10px;
    border-radius: 19px;
    cursor: pointer;
    margin-right: 5px;
}
.min-height-100{
    color: #227f77;
    background-color: #ffffff;
    border-radius: 1em;
}
/* .margin-top-30:hover{
    background-color: #e7faff!important;
    border-radius: 1em;
} */
.phead{
    color: #024387;
}
 .insideelements{
    color: black!important;
} 

th{
    background-color: #e7faff!important;
    font-size: medium;
}
  
tr {
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.view-idproof{
    cursor: pointer;
}