
    <div class="main-container">
        <div class="row">
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <img class="monitor-image" style="width: 90%; height: 90%;"
                                src="../../../assets/img/state.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-weight: 500;" class="font-subheading big-screen">States</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalStates}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <span class="material-icons iconSIze">
                                    perm_identity
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen">Patients</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading big-screen font-bolder">{{totalPatients}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <span class="material-icons iconSIze">
                                    perm_identity
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen">Provider</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalProvider}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <span class="material-icons iconSIze">
                                    perm_identity
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen">Support</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalSupport}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right ">
                            <div class="text-center">
                                <img class="monitor-image" style="width: 90%; height: 90%;"
                                    src="../../../assets/img/data_source.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen">Data Source</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalSource}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <img class="monitor-image" style="width: 90%; height: 90%;"
                                src="../../../assets/img/health.png">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen"> Health
                                    Integration</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalIntegration}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <span class="material-icons iconSIze">
                                    account_box
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen">Accounts</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalAccounts}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 remove-padding-right">
                            <div class="text-center">
                                <span class="material-icons iconSIze">
                                    people
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <div>
                                <h2 style="margin-bottom: 0.5rem;font-size: 17px;font-weight: 500;" class="font-subheading big-screen">Active Users</h2>
                                <h1 style="margin-bottom: 0rem;" class="font-heading font-bolder big-screen">{{totalActive}}</h1>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row row-divider">
            <div class="col-md-12">
                <mat-card>
                    <div class="row">
                        <div class="col-md-4">
                            <h1 style="padding:15px; margin-bottom: 0rem;" class="font-heading">User Accounts</h1>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label> Search</mat-label>
                                <input matInput  (focusout)="applyFilter($event.target.value)" autocomplete="off" placeholder="Search by Name/Email">
                                <mat-icon style="cursor:pointer" matSuffix>search</mat-icon>
                             <!---  <button mat-button *ngIf="searchData"  matSuffix mat-icon-button aria-label="Clear" (click)="searchDataClear()">
                                    <mat-icon>close</mat-icon>
                                   
                                         </button>-->
                            </mat-form-field>
    
                        </div>
                        <div class="col-md-2"> <button  style="background-color: #007bff!important;    margin-top: 10px;" mat-raised-button color="primary">Advance Search</button></div>
                        <!-- <div class="col-md-4">
    
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-container">
    
    
                            <!-- <mat-form-field style="width: 25%; float: right;">
                                <mat-label>User Name</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Advance Search">
                            </mat-form-field> -->
    
                            <table mat-table [dataSource]="dataSource" multiTemplateDataRows
                                class="mat-elevation-z8 table-100">
    
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef> Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
    
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                                </ng-container>
    
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> Email </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}}  </td>
                                </ng-container>
    
                                <ng-container matColumnDef="created">
                                    <th mat-header-cell *matHeaderCellDef> Created </th>
                                    <td mat-cell *matCellDef="let element"> {{element.createdate | date: 'MMM d, y, h:mm:ss a'}}</td>
                                </ng-container>
                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef> Details </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-icon [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                                            add
                                        </mat-icon>
                                        <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                            remove
                                        </mat-icon>
                                    </td>
                                </ng-container>
    
                                <ng-container matColumnDef="expandedDetail">
                                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                                        <div class="example-element-detail"
                                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                            <div style="width: 100%; padding: 0px 0px 25px 0px;">
                                                <table style="width: 100%;" *ngIf="element.usertypeid=='1'">
                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            Number Patients
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                        <td class="td-admin-dash" style="width: 25%;">Number Support</td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-admin-dash">
                                                            NPI
                                                        </td>
                                                        <td class="td-admin-dash">#</td>
                                                        <td class="td-admin-dash">Taxonomy</td>
                                                        <td class="td-admin-dash">#</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="td-admin-dash">
                                                            License Number
                                                        </td>
                                                        <td class="td-admin-dash">#</td>
                                                        <td class="td-admin-dash">License State</td>
                                                        <td class="td-admin-dash">#</td>
                                                    </tr>



                                                    <tr>
                                                        <td class="td-admin-dash">
                                                           Primary Practice Address
                                                        </td>
                                                        <td class="td-admin-dash">#</td>
                                                        <td class="td-admin-dash">Primary Practice Phone</td>
                                                        <td class="td-admin-dash">#</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="td-admin-dash">
                                                           Primary Practice Fax
                                                        </td>
                                                        <td class="td-admin-dash">#</td>
                                                       
                                                    </tr>
                                                </table>
                                              
 
                                                <table style="width: 100%;" *ngIf="element.usertypeid=='2'">
                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            Number Data Sources
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                        <td class="td-admin-dash" style="width: 25%;">Upload File Storage</td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            Providers
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                        <td class="td-admin-dash" style="width: 25%;">Digital Health Integrations</td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    </tr>




                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            Plus Subscription
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                        <td class="td-admin-dash" style="width: 25%;">Referrals</td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    </tr>






                                                    
                                                </table>



                                                <table style="width: 100%;" *ngIf="element.usertypeid=='3'">
                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            Provider NPI
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                        <td class="td-admin-dash" style="width: 25%;">Provider Name</td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    </tr>


                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            Permissions
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                        <td class="td-admin-dash" style="width: 25%;">Approve Requests</td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="td-admin-dash" style="width: 25%;">
                                                            See Details
                                                        </td>
                                                        <td class="td-admin-dash" style="width: 25%;">#</td>
                                                       
                                                    </tr>
                                                    
                                                </table>







       





    
                                                <div style="margin-top: 1rem;">
                                                    <button mat-raised-button class="text-uppercase"
                                                        style="background-color: #007bff!important; color: #ffffff;">Reset</button>
                                                    <button mat-raised-button class="text-uppercase" color="warn"
                                                        style="margin-left: 25px;background-color: #007bff!important; color: #ffffff;">Delete</button>
                                                    <button class="text-uppercase" mat-raised-button
                                                        style="margin-left: 25px;background-color: #007bff!important; color: #ffffff;" color="primary">Edit</button>
                                                </div>
                                            </div>
    
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="noData">
                                    <th style="text-align: center;
                                    color: red;" mat-footer-cell *matFooterCellDef colspan="5">  Record is not  available </th>
                                  </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                                    [class.example-expanded-row]="expandedElement === row" (click)="expandedElement = row;">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                                </tr>
                                <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'loadingHide':(dataSource.data.length!=0)}"></tr>
                            </table>
                        </div>
                    </div>
                </mat-card>
            </div>
    
        </div>
    </div>