<div class="main-container">
  <mat-card class="min-height-100">
    <div class="flex-container">
      <div style="width: 85%;">
        <mat-icon class="material-icons">people</mat-icon>
        <mat-card-title class="card-main-title font-700">Encounters</mat-card-title>
      </div>
      <div class="hide-in-large-screen float-right">
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">Sort By :</h4>
          <button mat-menu-item>Record Type</button>
        </mat-menu>
      </div>
    </div>
    <div class="sort-select-form hide-in-mobile-screen">
      <mat-form-field class="remove-padding-bottom" appearance="outline">
        <mat-label>Sort By</mat-label>
        <mat-select>
          <mat-option>-- select option --</mat-option>
          <mat-option value="option1">Record Type</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="margin-top-30">
      <div class="row" style="margin-right: 1px;">
        <div class="col-md-4 col-sm-12 remove-col-padding-right" *ngFor="let item of encountersRecord">
          <mat-accordion>
            <mat-expansion-panel class="remove-box-shadow main-accordion  accordion-spacer"
              (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title class="flex-container width-100">
                  <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">{{item.title | titlecase}}
                  </h4>
                  <h4 class="mat-h4 width-50 mat-subheading remove-margin-bottom">
                    {{item.subtitle | titlecase}}</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="width-100">
                <tr *ngFor="let field of item.fieldRecords ">
                  <th class="width-50 mob-width-70">{{field.name}}</th>
                  <td class="width-50 mob-width-30">{{field.value}}</td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>


    </div>
  </mat-card>
</div>