<div class="main-container  hide-in-mobile-screen">


  <!-- Request a Health System focusout -->
  <mat-card class="request-health-system">
    <mat-card-title class="text-center ">Find Your Patient Portal</mat-card-title>
    <div style="margin-top: 1rem">
      <form>
        <mat-form-field class="form-100">
          <mat-label>Enter the name of the health system you would like to connect to</mat-label>
          <input (input)="searchFilter($event.target.value)" matInput #orgname>
          <mat-icon (click)="searchFilter($event.target.value)" matSuffix style="cursor: pointer;">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
   

    <div *ngIf="records.length < 1" class="text-center margin-top-15">
      <span *ngIf="dataFoundMessage =='spinner'"> <mat-spinner [diameter]="45"></mat-spinner> </span>
      <span *ngIf="dataFoundMessage !='spinner'" style="color: red;">{{dataFoundMessage}}</span>
    </div>

    <div *ngIf="records.length > 0" class="margin-top-15">
      <div>
      
        <mat-accordion>
          <div class="bordered-card" *ngFor="let rcd of records | paginate: { itemsPerPage: 10, currentPage: p }">
            <mat-expansion-panel 
            class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
              <mat-expansion-panel-header class="hs-expansion-panel-header">
                <mat-panel-title>
                  <div class="row oneRow" style="display: flex; flex-direction: row; align-items: center; padding: 0px;">
                    <div class="col-md-2 text-center"  *ngIf="rcd.resource.extension[0].valueUri!=null"><img src="{{rcd.resource.extension[0].valueUri}}" style="height: 65px;
                      width: 65px;
                      padding: none!important;"/>
                    </div>

                    <div class="col-md-2 text-center" *ngIf="rcd.resource.extension[0].valueUri==null"><img src="../../../assets/img/health.png" style="height: 65px;
                      width: 65px;
                      padding: none!important;"/>
                    </div>

                    <div class="col-md-10 remove-col-padding-left">
                      <div style="font-size: 16px;
                      font-weight: 500;
                      color: #0074d0;"><span class="font-bold">{{rcd.resource.name}}</span></div>
                      <div>
                        <span class="InternalText">
                          {{rcd.resource.address[0].city}}, {{rcd.resource.address[0].state}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <!--  <div>{{item.number}}</div> -->
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <button mat-flat-button (click)="redictOneUPWeb(rcd.identifierKey,rcd.resource.name,rcd.resource.address[0].city,rcd.resource.address[0].state)" class="full-green">
                  <mat-icon class="material-icons">
                    add
                  </mat-icon>
                </button>
              </ng-template>
            </mat-expansion-panel>
          </div>
        </mat-accordion>


      </div>
      <div class="text-center" style="margin-top: 30px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>


  </mat-card>
  <!-- Request a Heath System Ends-->
</div>






<!-- Mobile view screen code  -->
<div class="mmain-container hide-in-large-screen" >

 <!-- Request a Health System focusout -->
 <mat-card class="request-health-system">
  <mat-card-title class="text-center ">Find Your Patient Portal</mat-card-title>
  <div style="margin-top: 1rem">
    <form>
      <mat-form-field class="form-100">
        <mat-label>Enter the name of the health system you would like to connect to</mat-label>
        <input (input)="searchFilter($event.target.value)" matInput #orgname>
        <mat-icon (click)="searchFilter($event.target.value)" matSuffix style="cursor: pointer;">search</mat-icon>
      </mat-form-field>
    </form>
  </div>
 

  <div *ngIf="records.length < 1" class="text-center margin-top-15">
    <span *ngIf="dataFoundMessage =='spinner'"> <mat-spinner [diameter]="45"></mat-spinner> </span>
    <span *ngIf="dataFoundMessage !='spinner'" style="color: red;">{{dataFoundMessage}}</span>
  </div>

  <div *ngIf="records.length > 0" class="margin-top-15">
    <div>
    
      <mat-accordion>
        <div class="mbordered-card" *ngFor="let rcd of records | paginate: { itemsPerPage: 10, currentPage: p }">
          <mat-expansion-panel 
          class="hs-expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false" hideToggle="true">
            <mat-expansion-panel-header class="hs-expansion-panel-header">
              <mat-panel-title>
                <table style="display: flex; flex-direction: row; align-items: center; padding: 0px;width: 100%;">
                   <tr>
                 <td width="20%" *ngIf="rcd.resource.extension[0].valueUri!=null"><img src="{{rcd.resource.extension[0].valueUri}}" style="height: 65px;
                    width: 65px;
                    padding: none!important;"/>
                  </td>

                  <td width="22%" *ngIf="rcd.resource.extension[0].valueUri==null"><img src="../../../assets/img/health.png" style="height: 65px;
                    width: 65px;
                    padding: none!important;"/>
                  </td>

                  <td class="remove-col-padding-left">
                    <div style="font-size: 16px;
                    font-weight: 500;
                    color: #0074d0;"><span class="font-bold">{{rcd.resource.name}}</span></div>
                    <div>
                      <span class="InternalText">
                        {{rcd.resource.address[0].city}}, {{rcd.resource.address[0].state}}
                      </span>
                    </div>
                  </td>
                </tr>
                </table>
                <!--  <div>{{item.number}}</div> -->
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <button mat-flat-button (click)="redictOneUPWeb(rcd.identifierKey,rcd.resource.name,rcd.resource.address[0].city,rcd.resource.address[0].state)" class="full-green">
                <mat-icon class="material-icons">
                  add
                </mat-icon>
              </button>
            </ng-template>
          </mat-expansion-panel>
        </div>
      </mat-accordion>


    </div>
    <div class="text-center" style="margin-top: 30px;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>


</mat-card>
    </div>