.hdTile{
  text-align: center!important;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 400;
}

.warning-snackbar-text {
  color: white!important;
}

.systemName{
font-size:20px;
color:#007bff!important
}

hr.line-divider {
  border-top: 1px solid rgb(188, 188, 188) !important;
  margin-left: -15px;
  margin-right: -15px;
}

.data-source-select-box {
  width: 300px;
}

.select-data-source {
  margin: 5% 21%;
  padding: 80px;
}

.active-box {
  background-color: #e8f5e9;
  border: 2px dashed #00b07c;
}
/* 10/23/20 develop */
.hs-expansion-panel{
  background: white;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none!important;
  margin-right: -64px;
}

.hs-expansion-panel.mat-expanded {
  margin-right: 0px;
}

.bordered-card {
  border: none!important;
  border-radius: 5px!important;
  box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
  margin: 5px 15px;
}

.hs-expansion-panel-header {
  width: 100%;
  padding: 0px!important;
}

/* color to font form and title  */
.font-bold, .mat-card-title , .form-100 {
  color:#227f77;
}
/* internal text color */
.InternalText{
  color: #585858;
}
/* form color */
.mat-form-field {
color: #585858;
}
.margin-top-15{
  margin: 15px!important;
  padding: 15px!important;
}

.full-green {
  background-color: transparent;
  height: 65px!important;
  width: 65px!important;
  padding: 0px!important;
  color: white!important;
  margin: 0px -24px -24px;
  transition: 0.3s;
}

.hs-expansion-panel.mat-expanded .full-green {
  background-color: #00b07c;
}



@media screen and (max-width: 678px) {

.oneRow{
   flex-direction: row;
}
}

/* mobile view */


.mmain-container {
  padding: 0.1rem!important;
}
.mbox-container{
  background-color:white;
  box-shadow: none!important;
  border-radius: 0.5em;
  margin-left:0px!important;
}

.mbordered-card {
  border: none!important;
  border-radius: 5px!important;
  box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
  margin: 0px 0px;
}

.margin-top-15{
  margin: 1px!important;
  padding: 1px!important;
}