<div class="main-container">
  <!-- container size 150 -->
  <mat-card class="min-height-100 card-padding-6">
    <div class="flex-container page-top">
      <div class="page-title hide-in-mobile-screen">
        <!-- created icon class to give color develop by harshal on 10/27/20 -->
        <div class="icon">
          <mat-icon class="material-icons">folder_shared</mat-icon>
        </div>
        <mat-card-title class="card-main-title font-700">Access Controls</mat-card-title>
      </div>
      <div class="page-title1 hide-in-large-screen">
        <!-- created icon class to give color develop by harshal on 10/27/20 -->
        <div class="icon">
          <mat-icon class="material-icons">folder_shared</mat-icon>
        </div>
        <mat-card-title class="card-main-title font-700">Access Controls</mat-card-title>
      </div>
      <div>
        <button *ngIf="!addingProvider" style="min-width: 0; padding: 0 8px; color:#227f77;" (click)="toggleForm()"
          mat-button mat-button mat-stroked-button class="hide-in-mobile-screen">Add Access</button>
        <!-- <button *ngIf="!addingProvider"  style="width:100%!important; padding: 0 8px; color:#227f77;" (click)="toggleForm()" mat-button mat-button mat-stroked-button class="hide-in-large-screen">
          <mat-icon class="material-icons">add</mat-icon>
        </button> -->
        <button *ngIf="addingProvider" style="min-width: 0; padding: 0 8px; color: red;" (click)="toggleForm()"
          mat-button mat-button mat-stroked-button class="hide-in-mobile-screen">Cancel</button>
        <!-- <button *ngIf="addingProvider"  style="width:100%!important; padding: 0 8px; color:red;" (click)="toggleForm()" mat-button mat-button mat-stroked-button class="hide-in-large-screen">
          <mat-icon class="material-icons">close</mat-icon>
        </button> -->
      </div>
    </div>

    <div style="margin-top:8px">
      <button *ngIf="!addingProvider"
        style="width:100%!important; color:white; border-radius: 12px!important; padding: 0 8px; background-color:#227f77;" (click)="toggleForm()"
        mat-button mat-button mat-stroked-button class="hide-in-large-screen">
        <mat-icon class="material-icons">add</mat-icon>
      </button>
      <button *ngIf="addingProvider" style="width:100%!important;color:white; border-radius: 12px!important; padding: 0 8px; background-color:red;"
        (click)="toggleForm()" mat-button mat-button mat-stroked-button class="hide-in-large-screen">
        <mat-icon class="material-icons">close</mat-icon>
      </button>

    </div>

    <form *ngIf="addingProvider" [formGroup]="patientResourceShareForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row firstSerchFiled">

        <div class="col-md-4">
          <mat-form-field class="remove-padding-bottom" style="width:100%!important" appearance="outline">
            <mat-label>Provider</mat-label>
            <mat-select formControlName="providerName" required>
              <!-- <mat-option>-- Select Provider --</mat-option> -->
              <mat-option *ngFor="let pList of providerList" [value]="pList.pid">
                <span>{{pList.fullname | titlecase}}</span> - {{pList.npi}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="!patientResourceShareForm.controls['providerName'].valid && patientResourceShareForm.controls['providerName'].touched">
              Please Select Provider Name
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="remove-padding-bottom" style="width:100%!important" appearance="outline">
            <mat-label>Sharing Resource</mat-label>
            <mat-select formControlName="ResourceName" multiple required>
              <!-- <mat-option>-- Select Sharing Resource --</mat-option> -->
              <mat-option *ngFor="let rList of ResouceData" [value]="rList.resource_id"> {{rList.resource_name}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="!patientResourceShareForm.controls['ResourceName'].valid && patientResourceShareForm.controls['ResourceName'].touched">
              Please Select Resource Name
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <div style="margin-top:-30px!important">
            <button
              [disabled]="!patientResourceShareForm.controls.providerName.valid || !patientResourceShareForm.controls.ResourceName.valid"
              style="margin-top:35px!important;padding:2px;" class=" login-button width-100 " type="submit"
              mat-flat-button>
              {{buttonText}}
            </button>
          </div>

        </div>

      </div>
    </form>

    <div class="row row-divider hide-in-mobile-screen">
      <div class="col-md-12">

        <!-- <div class="row">
                    <div class="col-md-6">
                        <h2 style="padding:15px; margin-bottom: 0rem;" class="font-heading">Data Sharing Permission</h2>
                    </div>
                    <div  class="col-md-6">
                      <div  (click)="ToggleForm()">
                        <button mat-mini-fab color="primary" style="float:right!important" aria-label="Example icon button with a delete icon">
                          <mat-icon>{{IconName}}</mat-icon>
                        </button>
                      </div>


                      
                      
                    </div>
                   <div class="col-md-6">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Advance Search</mat-label>
                            <input matInput (focusout)="applyFilter()"  [(ngModel)]="emailFilter"  placeholder="Email">
                            <mat-icon (click)="applyFilter()" matSuffix style="cursor: pointer;">search</mat-icon>
                        </mat-form-field>

                    </div> 
         
                </div> -->
        <div class="row">
          <div class="col-md-12 table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-100">

              <ng-container matColumnDef="provider_name">
                <th mat-header-cell *matHeaderCellDef> Provider</th>
                <td mat-cell *matCellDef="let element">{{element.fullname | titlecase}}</td>
              </ng-container>

              <ng-container matColumnDef="resource_name">
                <th mat-header-cell *matHeaderCellDef> Resource Type </th>
                <td mat-cell *matCellDef="let element">{{element.resource_name}}</td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td style="cursor: pointer!important;" mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="deletepatientResourceSharing(element.pat_prov_id)">
                    Revoke
                  </button>

                </td>
              </ng-container>


              <ng-container matColumnDef="noData">
                <th style="text-align: center;
                                                      color: gray;" mat-footer-cell *matFooterCellDef colspan="5">
                  {{noRecordFondResourceSharing}} </th>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row">
              </tr>

              <tr mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>
            </table>
          </div>
        </div>

      </div>

    </div>




    <!-- show in mobile view -->

    <div class="row row-divider  hide-in-large-screen">
      <div class="col-md-12">
        <div class="row">
          <div class="table-responsive" > 
            <table class="table" style="padding:5px; border-spacing:5px;">
              <tr *ngFor="let data of dataArrObj"  (click)="openBottomSheetForRevoke(data)">
                <td>
                 <p  class="headTitle">{{data.fullname | titlecase}}</p> 
                  <span  class="subTitle">{{data.resource_name}}</span>  
                </td>
                <td style="vertical-align: middle!important;">
                  <mat-icon class="cursor-pointer" color="primary">more_horiz</mat-icon>
                </td>
              </tr>
              <tr *ngIf="dataArrObj.length==0">
                <td colspan="2" style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                  {{noRecordFondResourceSharing}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>