.green-snackbar {
    background-color: green;
    color: lightgoldenrodyellow;
  }
  
  .red-snackbar {
    background-color: red;
    color: lightgoldenrodyellow;
  }

  .loadingHide {
    display: none;
  }
  /* table head color */
  th{
    background-color: rgb(248, 248, 248)!important;
    color: black!important;
    font-size: medium;
    font-weight: 500;
  }

  table {
    border-radius: 5px;
    box-shadow: none;
  }

  /*.row{ box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    
     tr {
      border-right: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
    } 
    /* set table & shadow */
    table{
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 0em;
    }
    
    tr:hover {
      background-color:rgb(248, 248, 248);
    }

    .data-cards {
      padding: 0px;
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .mat-list-item-content {
      padding: 0px!important;
    }
    
    .data-cards-list-item {
      height: fit-content!important;
    }
    
    .provider-card {
      border: none;
      box-shadow: none;
      margin: 5px 0px;
      width: 100%;
      background-color: #f6f6fb;
      border-radius: 5px;
      margin: 5px;
    }

    .save-change-btn {
      background-color: #227f77ff;
      color: white;
    }

    .save-change-btn.disabled {
      background-color: #227f7755;
      color: white;
    }

    .permissionsToggles {
      background-color: #ededed;
    }

    .permissionsTogglesHeader {
      background-color: white!important;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .focus-text {
      font-size: large;
      margin: 0px;
      align-items: center;
    }

    .Fitbit {
      color: white;
      background-color: blue;
    }
    .Medical.Records {
      color: white;
      background-color: green;
    }
    .Narrative {
      color: white;
      background-color: purple;
    }


    .headTitle{
      font-size: 18px;
      font-weight: 600;
    }

    .subTitle{
      font-size: 16px;
      font-weight: 500;
    }

    .firstSerchFiled{margin-top:50px;clear:both;}


    @media screen and (max-width: 678px) {
      .main-container {
        padding: 0.1rem!important;
      }
      .box-container{
        background-color:white;
        box-shadow: none!important;
        border-radius: 0.5em;
        margin-left:0px!important;
      }
      .firstSerchFiled{margin-top:8px;clear:both;}
    }


 