hr.line-divider {
  border-top: 1px solid rgb(188, 188, 188) !important;
  margin-left: -15px;
  margin-right: -15px;
 
}

.data-source-select-box {
  width: 300px;
}

.select-data-source {
  margin: 5% 21%;
  padding: 80px;
}

.active-box {
  background-color: #e8f5e9;
  border: 2px dashed #00b07c;
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

/* for heading :- paitent portal connection*/
.mat-h2{
  /* text-align: center; */
  color:#227f77;
 
}
/* Slectect box color */
::ng-deep.box-container.active-box{
  background-color:white !important;

}
.box-container{
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e7faff!important;
  /* shadow for box shadow */
  box-shadow: 0 5px 7px 0 rgba(43, 43, 43, 0.125);

}
::ng-deep .mat-tab-label {
  color: #227f77;
}
.font-bold{
  color:  #024387;
}
.expansionspace{
  margin-top:-3px
}

.focus-text {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.important-number {
  font-size: larger;
}

.muted-text {
  color: #8f8fb1 !important;
  font-size: 14px;
}

.data-cards {
  padding: 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mat-list-item-content {
  padding: 0px!important;
}

.data-cards-list-item {
  height: fit-content!important;
}

.connection-card {
  border: none;
  box-shadow: none;
  margin: 5px 0px;
  width: 100%;
  background-color: #f6f6fb;
  border-radius: 5px;
  margin: 5px;
}



/* mobile view code here */



@media screen and (max-width: 678px) {


  .mat-tab-label {
    /* background: #227f77;
    color: #227f77;
    padding: 20px;
    border-radius: 32px; */
    color: #227f77;
    margin-right: 8px;
    border-bottom: none!important;
    height: 36px!important;
    padding: 0px 18px!important;
    min-width: 50px!important;
}

.mat-tab-label-active {
  background: #227f77;
  color: white;
  padding: 16px;
  border-radius: 32px;
  margin-right: 8px;
  border-bottom: none!important;
  opacity: 1!important;
}
.data-cards {
  padding: 0px;
  margin-top: 0px!important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mat-ink-bar{
   background-color:#fff!important;
  visibility: hidden;left: 0px;/* width: 208px; */ }

  .data-cards-list-item{
    display: initial!important;
    padding: 0px;
    margin-bottom: 5px;
  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mconnection-card {
    border: none;
    box-shadow: none;
    margin: 0px 0px;
    width: 100%;
    background-color: #f6f6fb;
    border-radius: 5px;
    margin: 0px;
    margin-bottom: -12px!important;
  }
  
}


.mpdcart{
  border-radius: 1em;
  padding-top:15px;
  padding-bottom:1px;
  margin-bottom: 12px;;
}
.mmain-container{
  padding: 0.1rem;
} 


.mconnection-card {
  border: none;
  box-shadow: none;
  margin: 0px 0px;
  width: 100%;
  background-color: #f6f6fb;
  border-radius: 5px;
  margin-bottom: 5px;
}

.mpermissions-card {
  background-color: #f6f6fb;
  box-shadow: none;
  border-radius: 5px;
  width: 100%;
  
}



