<div class="main-container hide-in-mobile-screen">
  <!-- container size 150 -->
  <div class="min-height-150 mobile-min-height-88">
    <mat-card *ngIf="addDataSource"
      class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
      <div class="flex-container page-top">
        <div class="page-title">
          <!-- created icon class to give color develop by harshal on 10/27/20 -->
          <div class="icon">
          <mat-icon class="material-icons">storage</mat-icon>
        </div>
          <mat-card-title  class="card-main-title font-700">Data Sources</mat-card-title>
        </div>
        <div>
          <div>
            <button mat-flat-button class="hide-in-mobile-screen mat-stroked-button" style="color:#227f77;" (click)="addDataSourceBtn()">Add Data Source</button>
            <button style="margin-top: -10px; position: relative;
             float: right;" class="hide-in-large-screen" (click)="addDataSourceBtn()" mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <mat-tab-group class="margin-top-15">
        <span *ngIf="potalConnectionLoadingFlag">Loading....</span>
        <mat-tab class="tabStyleMon"  label="Patient Portal">
          
          <ng-template matTabContent>
            <div style="width: 100%;">
            
              <mat-list class="data-cards">
                <mat-list-item class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngIf="potalConnectionList == null || potalConnectionList.length == 0">
                  <mat-card class="connection-card">
                    <div class="muted-text">
                      You have not connected to any patient portals.<br/>
                      <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn More.</a>
                    </div>
                  </mat-card>
                </mat-list-item>
                <mat-list-item class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngFor="let potalConnection of potalConnectionList">
                    <mat-card class="connection-card">
                        <div>
                            <div class="focus-text">{{potalConnection.provider_system_name | titlecase}}</div>
                            <div class="muted-text">{{potalConnection.provider_system_address}}</div>
                        </div>
                    </mat-card>
                </mat-list-item>
              </mat-list>
              <!--
              <div class="col-md-12">
                <div class="box-container">
                  <h2 class="mat-h2 mat-subheadline">Patient Portal Connections</h2>
                  <hr class="line-divider">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let potalConnection of potalConnectionList" class="hs-expansion-panel"
                      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="hs-expansion-panel-header">
                        <mat-panel-title>

                          <div class="flex-container mobile-accordion-flex">-->
                            <!-- <div>
                              <img class="patient-portal-logo" src="https://via.placeholder.com/65">
                            </div> --><!--
                            <div>
                              <div><span class="font-bold">Name : </span>
                                <span>{{potalConnection.provider_system_name | titlecase}}</span>
                               
                              </div>
                              <div><span class="font-bold">Address : </span>
                                <span>{{potalConnection.provider_system_address}}</span>
              
                              </div>
                              <div> </div>
                              <div><span class="font-bold">Potal Connection Id. : </span> {{potalConnection.provider_system_id | titlecase}}</div>
                            </div>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <button mat-icon-button>
                        <mat-icon class="material-icons delete-icon">delete</mat-icon>
                      </button>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <div *ngIf="potalConnectionList.length < 1">
                    <h3 class="mat-h3 mat-subheading remove-margin-bottom text-center">There are no conencted patient portals</h3>
                  </div
                </div>
              </div>-->
            </div>
          </ng-template>
        </mat-tab>


        <mat-tab label="Manual Uploads">
          <ng-template matTabContent>
            <div style="width: 100%;">
              <mat-list class="data-cards">
                <mat-list-item class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngIf="providerList == null || providerList.length == 0">
                  <mat-card class="connection-card">
                    <div class="muted-text">
                      You have not added any providers to upload files under.<br/>
                      <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn More.</a>
                    </div>
                  </mat-card>
                </mat-list-item>
                <mat-list-item class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngFor="let provider of providerList">
                    <mat-card class="connection-card">
                        <div>
                            <span *ngIf="provider.full_name!=null" class="focus-text">{{provider.full_name | titlecase}}</span>
                            <span *ngIf="provider.full_name==null" class="focus-text">{{provider.first_name | titlecase}}&nbsp;{{provider.last_name | titlecase}}</span>
                            <div class="muted-text">
                                <span>{{provider.address1 | titlecase}}</span>
                                <span *ngIf="provider.address2 != ''">, {{provider.address2 | titlecase}}</span>
                                <span>, {{provider.state_id}}</span>
                            </div>
                            <div class="muted-text">
                              NPI: {{provider.npi | titlecase}}
                            </div>
                        </div>
                    </mat-card>
                </mat-list-item>
              </mat-list>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>
</div>



<!-- Mobile view screen code  -->
<div class="mmain-container hide-in-large-screen" >
      <mat-card *ngIf="addDataSource" class="card-padding-6" style="height: 76vh;">
        <div class="page-header">
          <div class="flex-container page-top">
            <div class="page-title1">
              <!-- created icon class to give color develop by harshal on 10/27/20 -->
              <div class="icon">
                <mat-icon class="material-icons">storage</mat-icon>
              </div>
              <mat-card-title  class="card-main-title font-700">Data Sources</mat-card-title>
            </div>
          <div>
    
              <div>
                <button mat-flat-button class="hide-in-mobile-screen mat-stroked-button" style="color:#227f77;" (click)="addDataSourceBtn()">Add Data Source</button>
            <!--    <button style="margin-top: -10px; position: relative;
                float: right;" class="hide-in-large-screen" (click)="addDataSourceBtn()" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button> -->
              </div>

            </div>
            <div class="row hide-in-large-screen" style="width: 100%; margin: 0 auto; margin-top: 12px;">
              <button  mat-stroked-button style="clear:both;color:#ffffff;width:100%;background-color:#227f77;border-radius: 12px!important;" (click)="addDataSourceBtn()">
                  <mat-icon class="material-icons">add</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <mat-tab-group class="margin-top-15" disablePagination="true">
          <span *ngIf="potalConnectionLoadingFlag">Loading....</span>
          <mat-tab label="Patient Portal" id="firstTab"  class="firstTab">
            
            <ng-template matTabContent>
              <div style="width: 100%;">
              
                <mat-list class="data-cards">
                  <div class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngIf="potalConnectionList == null || potalConnectionList.length == 0">
                    <mat-card class="mconnection-card">
                      <div class="muted-text">
                        You have not connected to any patient portals.<br/>
                        <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn More.</a>
                      </div>
                    </mat-card>
                  </div>
                  <div class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngFor="let potalConnection of potalConnectionList">
                      <mat-card class="mconnection-card" style="margin-left:5px!important">
                          <div>
                              <div class="focus-text">{{potalConnection.provider_system_name | titlecase}}</div>
                              <div class="muted-text">{{potalConnection.provider_system_address}}</div>
                          </div>
                      </mat-card>
                    </div>
                </mat-list>
                <!--
                <div class="col-md-12">
                  <div class="box-container">
                    <h2 class="mat-h2 mat-subheadline">Patient Portal Connections</h2>
                    <hr class="line-divider">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let potalConnection of potalConnectionList" class="hs-expansion-panel"
                        (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header class="hs-expansion-panel-header">
                          <mat-panel-title>
  
                            <div class="flex-container mobile-accordion-flex">-->
                              <!-- <div>
                                <img class="patient-portal-logo" src="https://via.placeholder.com/65">
                              </div> --><!--
                              <div>
                                <div><span class="font-bold">Name : </span>
                                  <span>{{potalConnection.provider_system_name | titlecase}}</span>
                                 
                                </div>
                                <div><span class="font-bold">Address : </span>
                                  <span>{{potalConnection.provider_system_address}}</span>
                
                                </div>
                                <div> </div>
                                <div><span class="font-bold">Potal Connection Id. : </span> {{potalConnection.provider_system_id | titlecase}}</div>
                              </div>
                            </div>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-icon-button>
                          <mat-icon class="material-icons delete-icon">delete</mat-icon>
                        </button>
                      </mat-expansion-panel>
                    </mat-accordion>
                    <div *ngIf="potalConnectionList.length < 1">
                      <h3 class="mat-h3 mat-subheading remove-margin-bottom text-center">There are no conencted patient portals</h3>
                    </div
                  </div>
                </div>-->
              </div>
            </ng-template>
          </mat-tab>
  
  
          <mat-tab label="Manual Uploads">
            <ng-template matTabContent>
              <div style="width: 100%;">
                <mat-list class="data-cards">
                  <div class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngIf="providerList == null || providerList.length == 0">
                    <mat-card class="mconnection-card">
                      <div class="muted-text">
                        You have not added any providers to upload files under.<br/>
                        <a href="https://curameitech.com/help/managing-records/adding-data-sources">Learn More.</a>
                      </div>
                    </mat-card>
                  </div>
                  <div class="data-cards-list-item col-sm-12 col-lg-12 col-xl-4 mt-xl-4" *ngFor="let provider of providerList">
                      <mat-card class="mconnection-card" style="margin-left:5px!important">
                          <div>
                              <span *ngIf="provider.full_name!=null" class="focus-text">{{provider.full_name | titlecase}}</span>
                              <span *ngIf="provider.full_name==null" class="focus-text">{{provider.first_name | titlecase}}&nbsp;{{provider.last_name | titlecase}}</span>
                              <div class="muted-text">
                                  <span>{{provider.address1 | titlecase}}</span>
                                  <span *ngIf="provider.address2 != ''">, {{provider.address2 | titlecase}}</span>
                                  <span>, {{provider.state_id}}</span>
                              </div>
                              <div class="muted-text">
                                NPI: {{provider.npi | titlecase}}
                              </div>
                          </div>
                      </mat-card>
                    </div>
                </mat-list>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
  </div>