<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <button type="button"  id="sidebarCollapse" (click)="sidebarCollapse()" class="btn btn-outline-light default-light-menu"><i class="fas fa-bars"></i><span></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell" aria-hidden="true" style="color:white; height: 30px;font-size: 22px;"></i>
                      <span class="count">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                      <a class="dropdown-item py-3">
                        <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
                        <span class="badge badge-pill badge-primary float-right">View all</span>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <img src="../assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
                        <div class="preview-item-content flex-grow py-2">
                          <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                          <p class="font-weight-light small-text"> The meeting is cancelled </p>
                        </div>
                      </a>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <img src="../assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
                        <div class="preview-item-content flex-grow py-2">
                          <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                          <p class="font-weight-light small-text"> The meeting is cancelled </p>
                        </div>
                      </a>
                      <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                          <img src="../assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
                        <div class="preview-item-content flex-grow py-2">
                          <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                          <p class="font-weight-light small-text"> The meeting is cancelled </p>
                        </div>
                      </a>
                    </div>
                  </li>
                <li class="nav-item dropdown  d-xl-inline-block user-dropdown" >
                  <a class="nav-link dropdown-toggle" style="color: aliceblue;" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <img class="img-xs rounded-circle" src="../../../../assets/images/faces/face8.jpg" alt="Profile image"> </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown" style="padding: 25px;">
                    <div class="dropdown-header text-center">
                      <img class="img-md rounded-circle" src="../../../../assets/images/faces/face8.jpg" alt="Profile image">
                      <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                      <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                    </div>
                    <!-- <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                    <a class="dropdown-item">Settings<i class="dropdown-item-icon ti-comment-alt"></i></a> -->

                    <a class="dropdown-item" style="cursor:pointer" (click)="logout()">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                  </div>
                </li>
              </ul>


        </div>
    </nav>