
@media screen and (max-width: 678px) {
    .close-button-dialog {
        float: right;
        position: relative;
        top: -65px!important;
        right: -15px;
    }
    .margin-top-50 {
     margin-top: 0px;
    }    
  
  }