<div class="fitbit-dialog-container">
  <div class="row">
    <div class="col-md-12">
      <img class="fitbit-dialog-image" src="../../../assets/images/fitbit-dashboard/steps.svg">
      <span class="fitbit-dialog-title">Calorie <span class="neutral-font"> In</span></span>
      <div class="close-button-dialog">
        <button (click)="close()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="row margin-top-50">
    <div class="col-md-6">
      <h1 class="mat-heading mat-h1 neutral-font remove-margin-bottom text-uppercase">THE WEEK'S TOTAL</h1>
      <span class="font-size-36 line-height-48 font-300">{{lastTwoWeekTotalCaloriesIn}}</span> <span>cals</span>
    </div>

  </div>

  <mat-tab-group class="margin-top-30">
    <mat-tab label="Past 2 Week">
      <!-- <div class="row margin-top-15">
        <div class="col-md-12">
          <h1 class="mat-heading mat-h1 remove-margin-bottom">Past 2 Week</h1>
        </div>
      </div> -->
      <div class="row margin-top-30">
        <div class="col-md-12">
          <div class="dialog-graph-container">
            <ngx-charts-bar-vertical [view]="view" [scheme]="colorSchemeTakeIn" [results]="calorieintake"
              [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis">
            </ngx-charts-bar-vertical>
          </div>

        </div>
      </div>
      <!-- <div class="row margin-top-30">
        <div class="col-md-12">
          <span class="text-uppercase">Activty Goal : 5000</span> <span>&nbsp;steps</span>
        </div>
      </div> -->
    </mat-tab>
    <mat-tab label="Past 1 Week">
      <div class="row margin-top-30">
        <div class="col-md-12">
          <div style="margin-left: 5%; " class="week-calorie-inout">
            <ngx-charts-gauge [showText]='false' [legend]="legend" [legendPosition]="legendPosition" [view]="viewweek"
              [scheme]="colorSchemeIn" [results]="weekcalorie">
            </ngx-charts-gauge>

          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>