<div class="main-container" style="text-align: center;">
  <div class="min-height-150 mobile-min-height-88">
    <mat-card class="select-data-source text-center">
    <!-- add icon class to give color developed by harshal on 10/29/2020 -->
    <div class="icon" style="font-weight: 600;">
      <mat-card-title>Select Data Type Source Type</mat-card-title>
      </div>
     <div class="row">
        <div class="col-md-12">
          <div class="box-container-layout">  
            <mat-card class="box-container" (click)="selectPatientPortal()" id="patientPortal">
              <mat-card-content >
                <div 
                class="text-center data-source-select-box">
                <img class="patient-portal-select-img" src="../../../assets/images/provider/login.svg">
                <h2 class="mat-h2 mat-heading" style="word-wrap: break-word;overflow-wrap: break-word;">Patient Portal Connection</h2>
                <p class="hide-in-mobile-screen">Pull electronic medical record data using login informaion on one of the
                  many supported health system.
                </p>
              </div>
              </mat-card-content>
            </mat-card>
           
            <mat-card class="box-container" (click)="selectFileUpload()" id="fileUpload" >
              <mat-card-content>
                <div  
            class="text-center data-source-select-box">
                  <img class="file-upload-select-img" src="../../../assets/images/provider/save.svg">
                  <h2 class="mat-h2 mat-heading" style="word-wrap: break-word;overflow-wrap: break-word;">Manual Upload</h2>
                  <p class="hide-in-mobile-screen">Upload image, video, or documents that could help provide more
                    information
                    on your health.
                  </p>
                </div>
              </mat-card-content>
            </mat-card>
         </div>
        </div>
      </div>  
      <div class="text-center">
        <button mat-flat-button class="button-150" color="primary" (click)="backToAddSource()">Back</button>
        <button mat-flat-button class="button-success button-150 button-spacing"
          (click)="clickContinue()">Continue</button>
      </div>
    </mat-card>
  </div>
</div>