/* active box color */
.active-box {
  background-color: white !important;
 border-color:#227f77; 
 border-width: 3px;
 box-shadow: 0px 0px 9px 1px rgba(143,139,143,1)!important;
}

hr.line-divider {
  border-top: 1px solid rgb(188, 188, 188) !important;
  margin-left: -15px;
  margin-right: -15px;
}

.data-source-select-box {
  width: auto;
}

.select-data-source {
  margin: 5% 21%;
  padding: 80px;
}
/* .box-container.active-box{
  background-color: white;
} */
/* color of heading */
.mat-h2{
  /* text-align: center; */
  color:#024387;
  
}
/* .wordwrap{
  word-wrap:break-word!important; 
} */
/* box shadow to container */
.box-container{
  background-color:white;
  box-shadow: none!important;
  border-radius: 1em;
  margin-left:5px!important;
}
.box-container:hover{
  background-color:white;
  box-shadow: 0px 0px 9px 1px #227267!important ;
}


/* mat cart title color */
::ng-deep.mat-card-title{
  text-align: center;  
}
.hide-in-mobile-screen{
  color:gray;
}
/* color to paitent portal image */
.patient-portal-select-img{
  color:#227f77;
}


@media screen and (max-width: 678px) {
  .main-container {
    padding: 0.1rem!important;
  }
  .box-container{
    background-color:white;
    box-shadow: none!important;
    border-radius: 0.5em;
    margin-left:0px!important;
  }
}