<div class="fitbit-dialog-container">
  <div class="row">
    <div class="col-md-12">
      <img
        class="fitbit-dialog-image"
        src="../../../assets/images/fitbit-dashboard/weight01.svg"
      />
      <span class="fitbit-dialog-title"
        >Calories <span class="neutral-font"> In vs Out</span></span
      >
      <div class="close-button-dialog">
        <button (click)="close()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="row margin-top-50">
    <div class="col-md-6">
      <h1
        class="mat-heading mat-h1 neutral-font remove-margin-bottom text-uppercase"
      >
        Calorie In
      </h1>
      <span class="font-size-36 line-height-48 font-300">{{lastWeekTotalCaloriesIn}}</span>
      <span>calories</span>
    </div>
    <div class="col-md-6">
      <h1
        class="mat-heading mat-h1 neutral-font remove-margin-bottom text-uppercase"
      >
      Calorie Out
      </h1>
      <span class="font-size-36 line-height-48 font-300">{{lastWeekTotalCaloriesOut}}</span>
      <span>calories</span>
    </div>
  </div>
  <div class="row margin-top-50">
    <div class="col-md-12">
      <h1 class="mat-heading mat-h1 remove-margin-bottom">Past 1 Week</h1>
    </div>
  </div>
  <div class="row margin-top-30">
    <div class="col-md-12">
      <div class="dialog-graph-container">
        <ngx-charts-bar-vertical-2d
          [view]="view"
          [scheme]="colorSchemeSCalorieOut"
          [results]="calorieout"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
        >
        </ngx-charts-bar-vertical-2d>
        <!-- <ngx-charts-bar-vertical [view]="view" [scheme]="colorSchemeSCalorieOut" [results]="calorieout" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis">
          </ngx-charts-bar-vertical> -->
      </div>
    </div>
  </div>
  <div class="row margin-top-30">
    <div class="col-md-12">
      <span class="text-uppercase">Difference : {{lastWeekTotalDiff}}</span
      ><span>calories</span>
    </div>
  </div>
</div>
