
@media screen and (max-width: 678px) {
    .close-button-dialog {
        float: right;
        position: relative;
        top: -69px!important;
        right: -15px;
    }
    .margin-top-50 {
     margin-top: 0px;
    }    
  
  }

  

  
  @media screen and (min-width: 338px) and (max-width: 380px) {
    .close-button-dialog {
        float: right;
        position: relative;
        top: -5px!important;
        right: -15px;
    }
    .margin-top-50 {
     margin-top: 0px;
    }    
  
  }

  @media screen and (min-width: 380px) and (max-width: 480px) {
    .close-button-dialog {
        float: right;
        position: relative;
        top: -16px!important;
        right: -15px;
    }
    .margin-top-50 {
     margin-top: 0px;
    }    
  
  }


  @media screen and (min-width: 380px) and (max-width: 395px) {
    .close-button-dialog {
        float: right;
        position: relative;
        top: -63px!important;
        right: -15px;
    }
    .margin-top-50 {
     margin-top: 0px;
    }    
  
  }

 
    
    .low-bmi {
        width: 0px!important;
        height: 5px;
        background: #96bb7c;
    }
    .margin-top-50 {
        margin-top: 10px;
    }
  
  