.topCotainer{
    height: 91vh!important;
    padding: 1% 24%!important;
}

.cardContainer{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


@media (max-width: 668px) {
    .topCotainer {
        padding: 0% 0%!important;
        
    }
    .cardContainer{
        padding: 10px 10px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    }

    /* .mat-card-title{
        color:#227f77 ;
      } */
.Sp{
    margin-top: 5px;
}
.col-md-3 .text-center .bor{
    border-radius: 50%;
}
/* .col-md-12 .text-center{
    color: red;
    background-color: red;
} */

.custom-file-label{
    width: auto !important;
    margin-left: 15px;
    margin-right: 15px;
  
} 
.custom-file-label::after{
    background-color: #024387;
    color: white;
}
.custom-file-label::before{
    background-color: #024387;
    color: white;
}

.mat-form-field{
    margin-top: 15px!important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
/* .cardContainer{
    width: 150%!important;
    margin-left: -150px;
} */
/* .mat-form-field-wrapper{
    background-color: red;
} */

mat-label {
    font-size: 1.15rem!important; 
    font-weight: 500!important; 
    color: #024387!important;
}

.hide-in-mobile-screen {
    display: none !important;
      }
@media (min-width: 501px) and (max-width: 2000px) {
.hide-in-large-screen {
    display: none !important;
}
.hide-in-mobile-screen {
    display: block !important;
        }
        .margin-top-8{
            margin-top:8px!important
        }
}