<div class="hide-in-mobile-screen">
  <div class="profile-container" class="main-container">
    <form [formGroup]="userProfileForm" (ngSubmit)="addUser()">
      <!-- container background color -->
      <!-- <mat-card class="cardContainer" style="background-color: white;box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.25);border-radius: 1em;"> -->
      <mat-card class="min-height-100">
        <div>
          <div class="flex-container page-top">
              <div class="page-title">
                  <!-- created icon class to give color develop by harshal on 10/27/20 -->
                  <div class="icon">
                  <mat-icon class="material-icons">person</mat-icon>
                  </div>
                  <mat-card-title class="card-main-title font-700">Profile Overview</mat-card-title>
              </div>
          </div>
        </div>
<!--         <div class="row">
          <div class="col-md-12 text-center" style="margin-bottom: 50px;"> -->
            <!-- page heading color -->
            <!-- <span style="font-size: 1.5rem; font-weight: 900; color: #227f77;"> User Profile</span> -->
<!--           </div>
        </div> -->

        <div class="row margin-top-30">
          <!-- 1st box -->
          <div class="col-md-6">
            <span style="font-size: 1.3rem; font-weight: 500; color: #024387;">Account Settings</span><br><br><br>
              
<!--             
            <div class="row"><br>
              <div class="col-md-12">
                <mat-label>System ID</mat-label>
                <mat-form-field appearance="outline" class="form-100">
                  <input formControlName="id"   matInput
                    placeholder="Please enter system id" readonly>
                </mat-form-field>
              </div>
            </div> -->
            <div class="row">
                <!-- <div class="col-md-12">
                  <mat-label><b>Username</b></mat-label>
                  <mat-form-field appearance="outline" class="form-100">
                      <input formControlName="username" matInput
                      placeholder="Please enter username" readonly>
                  </mat-form-field>
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-12" style="padding: 0em 0.65;">
                  <mat-label>Photo</mat-label>
                  <div style="display: flex; flex-direction: row; align-items: center; margin: 15px 15px;">
                    <img *ngIf="!previewFlag" 
                      style="border-top-left-radius: 5px; border-top-right-radius: 5px; border:1.5px dashed #9e9e9e; border-bottom: 0px; cursor: pointer;"
                      src="{{basePath}}profile-image/{{usr_id}}" height="100" width="100" style="border-radius: 50%;" matTooltip="Click to browse.."
                      matTooltipPosition="above" (click)="uploader.click()">
                    <!-- added border raious for circle profile image  -->
                    <img *ngIf="previewFlag" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"
                      [src]="previewUrl" height="100" width="100" style="border-radius: 50%;"  (click)="uploader.click()">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <input hidden type="file" formControlName="imageUrl" #uploader (change)="fileProgress($event)" name="file"  id="chooseFile">
                  <label class="custom-file-label" for="chooseFile">Upload</label>
                </div>
                <div class="col-md-2" style="padding-left: 0px;">
                  <button
                      style="padding: 0px 5px; background-color: #227f77; color:white; width: 100%;" matTooltip="Upload"
                      mat-button type="button" (click)="upload()">
                        <span style="display:flex; align-items: center; flex-direction: row; justify-content: space-between;">
                          Upload <mat-icon>cloud_upload</mat-icon>
                        </span>
                  </button>
                </div>
              </div>         

              <div class="row" style="padding-top:1.34375em">
                <div class="col-md-12">
                  <mat-label>Email</mat-label>
                  <mat-form-field  appearance="fill" class="form-100">
                  <input formControlName="email" matInput
                      placeholder="Please enter uaername" required>
                      <mat-error *ngIf="!userProfileForm.controls.email.valid && userProfileForm.controls['email'].touched">
                        <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.required">
                          Email is required.
                      </span>
                      <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.email">
                        Email must be valid.
                    </span>
                        </mat-error>
                  </mat-form-field>
                </div>
              </div>
             
              
          </div><br><br><br><br>

           <!-- 2nd box -->
          <div class="col-md-6">
            <span style="font-size: 1.3rem; font-weight: 500; color:#024387;">Personal Information</span><br><br><br>
            <div class="row"><br>
              <div class="col-md-6">
                <mat-label>First Name</mat-label>
                <mat-form-field appearance="fill" class="form-100">
                  
                  <input formControlName="first_name"  matInput
                    placeholder="Please enter first name" required>
                    <mat-error *ngIf="!userProfileForm.controls.first_name.valid && userProfileForm.controls['first_name'].touched">
                      <span class="errorColor" *ngIf="userProfileForm.controls.first_name.errors?.required">
                        First Name is required.
                    </span>
                      </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-label>Last Name</mat-label>
                <mat-form-field appearance="fill" class="form-100">
                      
                  <input formControlName="last_name"  matInput
                    placeholder="Please enter last name" required>
                    <mat-error *ngIf="!userProfileForm.controls.last_name.valid && userProfileForm.controls['last_name'].touched">
                      <span class="errorColor" *ngIf="userProfileForm.controls.last_name.errors?.required">
                        Last Name is required.
                    </span>
                      </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <mat-label>Phone</mat-label>
                <mat-form-field appearance="outline" class="form-100">
                  <ngx-mat-intl-tel-input 
                      [preferredCountries]="['us', 'gb']"
                      [enablePlaceholder]="true"
                      [enableSearch]="true"
                      name="phone_number"
                      placeholder = "Phone Number"
                      formControlName="phone_number"></ngx-mat-intl-tel-input>
                      <mat-error
                          *ngIf="!userProfileForm.controls.phone_number.valid && userProfileForm.controls['phone_number'].touched">
                          <span class=" errorColor"
                              *ngIf="userProfileForm.controls.phone_number.errors?.required ">
                              Required field.
                          </span>
                          <span class=" errorColor"
                              *ngIf="userProfileForm.controls.phone_number.errors?.validatePhoneNumber ">
                              Invalid number.
                          </span>
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-6 col-sm-12">
                <mat-label>Date of Birth</mat-label>
                <mat-form-field appearance="fill" class="form-100">
                <input matInput formControlName="dob" [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="!userProfileForm.controls.dob.valid && userProfileForm.controls['dob'].touched">
                    <span class="errorColor" *ngIf="userProfileForm.controls.dob.errors?.required">
                      You must specify your date of birth.
                    </span>
                    <span *ngIf="userProfileForm.controls.dob.errors?.minimumAge">
                      You must be at least 18.
                    </span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <mat-label>Address Line 1</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                      <input formControlName="address1" matInput placeholder="Please enter the first address line" required>
                      <mat-error
                          *ngIf="!userProfileForm.controls.address1.valid && userProfileForm.controls['address1'].touched">
                          <span class="errorColor" *ngIf="userProfileForm.controls.address1.errors?.required">
                              Address is required.
                          </span>
                      </mat-error>
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-label>Address Line 2</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                  <input formControlName="address2" matInput placeholder="Please enter the second address line">
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                  <mat-label>City</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                      <input formControlName="city" matInput placeholder="Please enter the city" required>
                      <mat-error
                          *ngIf="!userProfileForm.controls.address1.valid && userProfileForm.controls['city'].touched">
                          <span class="errorColor" *ngIf="userProfileForm.controls.address1.errors?.required">
                              City is required.
                          </span>
                      </mat-error>
                  </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                  <mat-label>State</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                      
                      <mat-select formControlName="state_id">
                          <mat-option *ngFor="let item of usaStateList" value="{{item.abbreviation}}"
                              title="{{item.name}}">
                              {{item.name}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-6 col-sm-12">
                  <mat-label>Zipcode</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                      
                      <input formControlName="zipcode" matInput placeholder="Please enter zipcode" required>
                      <mat-error
                          *ngIf="!userProfileForm.controls.zipcode.valid && userProfileForm.controls['zipcode'].touched">
                          <span class="errorColor" *ngIf="userProfileForm.controls.zipcode.errors?.required">
                              Zipcode is required.
                          </span>
                          <span *ngIf="userProfileForm.controls.zipcode.errors?.minlength">
                            Must contain 5 digits
                        </span>

                        <span *ngIf="userProfileForm.controls.zipcode.errors?.maxlength">
                          Must contain 5 digits
                      </span>


                      </mat-error> 

                  </mat-form-field>
              </div>
            </div>
            <br><br>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button [disabled]="!userProfileForm.valid" class="updateBtn" mat-flat-button color="primary" type="submit">
                {{updateBtn}}
              </button> 
            </div>
          </div>
        </div><br>


        <div class="row">
          <div class="col-md-6">
              <div class="col-md-9">
                <!-- <div class="row" *ngIf="providerEmailShow">
                  <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-100">
                      <mat-label>Provider E-mail</mat-label>
        
                      <input formControlName="pemail"  matInput
                        placeholder="Please enter provider email" readonly>
                    </mat-form-field>
                  </div>
                </div> -->


                <div class="row">
                  <!-- <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-100">
                      <mat-label>Username</mat-label>

                      <input formControlName="username"  matInput
                        placeholder="Please enter username" readonly>
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-100">
                      <mat-label>System Id</mat-label>
                      <input formControlName="id" matInput placeholder="System Id"
                        [disabled]="systemId" readonly>
                    </mat-form-field>
                  </div> -->

                </div>
                <div class="row">
                  <!-- <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-100">
                      <mat-label>First Name</mat-label>
                      <input formControlName="first_name" matInput
                        placeholder="Please enter first name" required>
                        <mat-error *ngIf="!userProfileForm.controls.first_name.valid && userProfileForm.controls['first_name'].touched">
                          <span class="errorColor" *ngIf="userProfileForm.controls.first_name.errors?.required">
                            First Name is required.
                        </span>
                          </mat-error>
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-md-12">
                    <mat-form-field appearance="outline" class="form-100">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="last_name"  matInput
                        placeholder="Please enter last name" required>
                        <mat-error *ngIf="!userProfileForm.controls.last_name.valid && userProfileForm.controls['last_name'].touched">
                          <span class="errorColor" *ngIf="userProfileForm.controls.last_name.errors?.required">
                            Last Name is required.
                        </span>
                          </mat-error>
                    </mat-form-field>
                  </div> -->

                </div>
              </div>
              <div class="col-md-3 text-center bor">
                <!-- <input hidden type="file" formControlName="imageUrl" #uploader (change)="fileProgress($event)"/> -->
                <!-- added border raious for circle profile image -->
                <!-- <img *ngIf="!previewFlag"
                  style="border-top-left-radius: 5px; border-top-right-radius: 5px; border:1.5px dashed #9e9e9e; border-bottom: 0px; cursor: pointer;"
                  src="{{basePath}}profile-image/{{usr_id}}" height="100" width="100" style="border-radius: 50%;" matTooltip="Click to browse.."
                  matTooltipPosition="above" (click)="uploader.click()"> -->
                  <!-- added border raious for circle profile image -->
                <!-- <img *ngIf="previewFlag" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"
                  [src]="previewUrl" height="100" width="100" style="border-radius: 50%;"  (click)="uploader.click()">
                  <div class="Sp"></div> -->
                  <!-- <button mat-flat-button class="show-choose-file-upload-button" id="lbl" type="submit"style="color: #00c7b0;border:white">
                              <mat-icon>cloud_upload</mat-icon>
                            </button> -->
                            <!-- button size and font reduced-->
                            <!-- upload icon added in place of button -->
                <!-- <button
                  style="width:10px; background-color:transparent; color: #227f77;"
                  mat-button type="button" (click)="upload()"><span style="font-size: 12px;"><mat-icon>cloud_upload</mat-icon></span></button> -->
              </div>
            </div>
          </div>

       

        <div class="row">
          <!-- <div class="col-md-6">
            <mat-form-field appearance="outline" class="form-100">
              <mat-label>E-Mail</mat-label>
              <input formControlName="email"  matInput
                placeholder="Please enter personal email" required>
                <mat-error *ngIf="!userProfileForm.controls.email.valid && userProfileForm.controls['email'].touched">
                  <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.required">
                    E-Mail is required.
                </span>
                <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.email">
                  E-Mail must be entered valid.
              </span>
                  </mat-error>
            </mat-form-field>
          </div> -->



            <!-- <div class="col-md-6">
              <mat-form-field appearance="outline" class="form-100">
                <mat-label>Phone No.</mat-label>
  
                <input formControlName="phone_number" matInput
                  placeholder="Please enter phone No." required>
                  <mat-error *ngIf="!userProfileForm.controls.phone_number.valid && userProfileForm.controls['phone_number'].touched">
                    <span class="errorColor" *ngIf="userProfileForm.controls.phone_number.errors?.required">
                      Phone No. is required.
                  </span>
                  <span class="errorColor" *ngIf="userProfileForm.controls.phone_number.errors?.maxlength">
                    Phone No. must be maximum 12 digits.
                </span>
                    </mat-error>
              </mat-form-field>
            </div> -->

        </div>
       
       
      </mat-card>
    </form>
  </div>
</div>


  <!-- on mobile view  -->



  <div class="hide-in-large-screen ios-spacing-top">



    
    <div class="profile-container" class="mmain-container">
      <form [formGroup]="userProfileForm" (ngSubmit)="addUser()">
        <!-- container background color -->
        <!-- <mat-card class="cardContainer" style="background-color: white;box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.25);border-radius: 1em;"> -->
        <mat-card class="min-height-100 card-padding-6">
          <div>
            <div class="flex-container page-top">
                <div class="page-title">
                    <!-- created icon class to give color develop by harshal on 10/27/20 -->
                    <div class="icon">
                    <mat-icon class="material-icons">person</mat-icon>
                    </div>
                    <mat-card-title class="card-main-title font-700">Profile Overview</mat-card-title>
                </div>
            </div>
          </div>
  <!--         <div class="row">
            <div class="col-md-12 text-center" style="margin-bottom: 50px;"> -->
              <!-- page heading color -->
              <!-- <span style="font-size: 1.5rem; font-weight: 900; color: #227f77;"> User Profile</span> -->
  <!--           </div>
          </div> -->
  
          <div class="row margin-top-8">
           
            <div class="col-md-12">
              <!-- <mat-label>Photo</mat-label> -->
              <div style="display: flex; flex-direction: row; align-items: center;">
                <img *ngIf="!previewFlag" 
                  style="border-top-left-radius: 5px;margin: 0px auto!important; border-top-right-radius: 5px; border:1.5px dashed #9e9e9e; border-bottom: 0px; cursor: pointer;"
                  src="{{basePath}}profile-image/{{usr_id}}" height="100" width="100" style="border-radius: 50%;" matTooltip="Click to  option"
                  matTooltipPosition="above" (click)="openBottomSheet('provider-profile-img')">
                <!-- added border raious for circle profile image  -->
                <img *ngIf="previewFlag" style="border-top-left-radius: 5px; border-top-right-radius: 5px;"
                  [src]="previewUrl" height="100" width="100" style="border-radius: 50%;" (click)="openBottomSheet('provider-profile-img')">
              </div>
            </div>
      
       
            <!-- <div class="col-md-12 col-sm-12">
              <input hidden type="file" formControlName="imageUrl" #uploader (change)="fileProgress($event)" name="file"  id="chooseFile">
              <label class="custom-file-label" for="chooseFile">Upload</label>
            </div> -->
            <div class="col-md-12  col-sm-12 " style="padding-left: 0px;">
              <div class="mobileDivButtonCon" style=" padding-top: 38px;margin-left: 8px;">
                <button class="mobileButtonLink" style="
                display: block;cursor: pointer;"
                    matTooltip="Save"
                    mat-button type="button" (click)="uploadImageFromMobile()">
                      <span >
                        Upload <mat-icon style="position: relative;top:5px" >cloud_upload</mat-icon>
                      </span>
                </button>
              </div>
             
            </div>
  






            
                  <div class="col-md-12" style="padding-top:0.94375em">
                    <mat-label>Email</mat-label>
                    <mat-form-field  appearance="fill" class="form-100">
                    <input formControlName="email" matInput
                        placeholder="Please enter uaername" required>
                        <mat-error *ngIf="!userProfileForm.controls.email.valid && userProfileForm.controls['email'].touched">
                          <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.required">
                            Email is required.
                        </span>
                        <span class="errorColor" *ngIf="userProfileForm.controls.email.errors?.email">
                          Email must be valid.
                      </span>
                          </mat-error>
                    </mat-form-field>
                  </div>
              
                
          
  
          
              <div class="row"><br>
                <div class="col-md-6">
                  <mat-label>First Name</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                    
                    <input formControlName="first_name"  matInput
                      placeholder="Please enter first name" required>
                      <mat-error *ngIf="!userProfileForm.controls.first_name.valid && userProfileForm.controls['first_name'].touched">
                        <span class="errorColor" *ngIf="userProfileForm.controls.first_name.errors?.required">
                          First Name is required.
                      </span>
                        </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-label>Last Name</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                        
                    <input formControlName="last_name"  matInput
                      placeholder="Please enter last name" required>
                      <mat-error *ngIf="!userProfileForm.controls.last_name.valid && userProfileForm.controls['last_name'].touched">
                        <span class="errorColor" *ngIf="userProfileForm.controls.last_name.errors?.required">
                          Last Name is required.
                      </span>
                        </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <mat-label>Phone</mat-label>
                  <mat-form-field appearance="outline" class="form-100">
                    <ngx-mat-intl-tel-input 
                        [preferredCountries]="['us', 'gb']"
                        [enablePlaceholder]="true"
                        [enableSearch]="true"
                        name="phone_number"
                        placeholder = "Phone Number"
                        formControlName="phone_number"></ngx-mat-intl-tel-input>
                        <mat-error
                            *ngIf="!userProfileForm.controls.phone_number.valid && userProfileForm.controls['phone_number'].touched">
                            <span class=" errorColor"
                                *ngIf="userProfileForm.controls.phone_number.errors?.required ">
                                Required field.
                            </span>
                            <span class=" errorColor"
                                *ngIf="userProfileForm.controls.phone_number.errors?.validatePhoneNumber ">
                                Invalid number.
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                  <mat-label>Date of Birth</mat-label>
                  <mat-form-field appearance="fill" class="form-100">
                  <input matInput formControlName="dob" [matDatepicker]="picker" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="!userProfileForm.controls.dob.valid && userProfileForm.controls['dob'].touched">
                      <span class="errorColor" *ngIf="userProfileForm.controls.dob.errors?.required">
                        You must specify your date of birth.
                      </span>
                      <span *ngIf="userProfileForm.controls.dob.errors?.minimumAge">
                        You must be at least 18.
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <mat-label>Address Line 1</mat-label>
                    <mat-form-field appearance="fill" class="form-100">
                        <input formControlName="address1" matInput placeholder="Please enter the first address line" required>
                        <mat-error
                            *ngIf="!userProfileForm.controls.address1.valid && userProfileForm.controls['address1'].touched">
                            <span class="errorColor" *ngIf="userProfileForm.controls.address1.errors?.required">
                                Address is required.
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-label>Address Line 2</mat-label>
                    <mat-form-field appearance="fill" class="form-100">
                    <input formControlName="address2" matInput placeholder="Please enter the second address line">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-label>City</mat-label>
                    <mat-form-field appearance="fill" class="form-100">
                        <input formControlName="city" matInput placeholder="Please enter the city" required>
                        <mat-error
                            *ngIf="!userProfileForm.controls.address1.valid && userProfileForm.controls['city'].touched">
                            <span class="errorColor" *ngIf="userProfileForm.controls.address1.errors?.required">
                                City is required.
                            </span>
                        </mat-error>
                    </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                    <mat-label>State</mat-label>
                    <mat-form-field appearance="fill" class="form-100">
                        
                        <mat-select formControlName="state_id">
                            <mat-option *ngFor="let item of usaStateList" value="{{item.abbreviation}}"
                                title="{{item.name}}">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-sm-12">
                    <mat-label>Zipcode</mat-label>
                    <mat-form-field appearance="fill" class="form-100">
                        
                        <input formControlName="zipcode" matInput placeholder="Please enter zipcode" required>
                        <mat-error
                            *ngIf="!userProfileForm.controls.zipcode.valid && userProfileForm.controls['zipcode'].touched">
                            <span class="errorColor" *ngIf="userProfileForm.controls.zipcode.errors?.required">
                                Zipcode is required.
                            </span>
                            <span *ngIf="userProfileForm.controls.zipcode.errors?.minlength">
                              Must contain 5 digits
                          </span>
  
                          <span *ngIf="userProfileForm.controls.zipcode.errors?.maxlength">
                            Must contain 5 digits
                        </span>
  
  
                        </mat-error> 
  
                    </mat-form-field>
                </div>
              </div>
           




            <div class="row">
              <div class="col-md-12">
                <button [disabled]="!userProfileForm.valid" class="updateBtn" mat-flat-button color="primary" type="submit">
                  {{updateBtn}}
                </button> 
              </div>
            </div>
          </div><br>
  
  
       
         
         
        </mat-card>
      </form>
    </div>

    </div>