<div class="app-main-container" [class.example-is-mobile]="mobileQuery.matches">
    <div *ngIf="screenWidth > 640">
        <nav class="top-header position-left" [ngClass]="(sideNavState) ? 'closed': 'open'">
            <button mat-icon-button (click)="toggleSide()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="flex-spacer"></div>
            <mat-form-field class="remove-padding-bottom" appearance="outline" style="background-color: white;">
                <mat-label>Choose Patient</mat-label>
                <mat-select (selectionChange)="selectedUser($event.value)">
                <mat-option>-- select patient --</mat-option>
                <mat-option *ngFor="let user of selectablePatients" value="{{user.uid}}">{{user.fullname}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button> -->
            <button mat-icon-button [matMenuTriggerFor]="profile">
                <img *ngIf="!usr_id" src="../../../assets/images/faces/user-icon.png" style="width: 25px; height: 25px;border-radius: 100%;">
                <img *ngIf="usr_id"  [src]="profileImage" style="width: 25px; height: 25px;border-radius: 100%;">
            </button>
            <mat-menu #profile="matMenu">
                <button mat-menu-item (click)="profilePage()" >My Profile</button>
            <!--    <button mat-menu-item>Settings</button> -->
            <a href="https://curameitech.com/help"><button mat-menu-item>Help</button></a>
                <button mat-menu-item (click)="logout()">Sign Out</button>
            </mat-menu>
        </nav>
    </div>
    <div class="top-header position-left mobile-header" *ngIf="screenWidth <= 640" [ngClass]="(sideNavState) ? 'closed': 'open'">
        <header class="ios-spacing-top" style="display: flex; flex-direction: row; align-items: center; width: 100%;">
            <div style="flex-grow: 1; display: flex; justify-content: flex-start;">
                <button mat-icon-button (click)="toggleSide()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <img src="../../../assets/images/WhiteBorder-Curamei-IconOnly.png" height="50" width="auto"/>
            <div *ngIf="mobileScreenGroup != 2" style="flex-grow: 1; display: flex; justify-content: flex-end; visibility: hidden;">
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div *ngIf="mobileScreenGroup == 2" style="flex-grow: 1; display: flex; justify-content: flex-end;">
                <button mat-icon-button (click)="mobileOpenPatientSelect()">
                    <mat-icon>people</mat-icon>
                </button>
            </div>
        </header>
        <nav class="horizontal-nav-scrollable" *ngIf="mobileScreenGroup > 1">
            <div *ngIf="mobileScreenGroup == 2">
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/provider/medical-records">Medical Records</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/provider/provider-list">Manual Uploads</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/provider/fitbit-dashboard">Fitbit</span>
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/provider/narrative">Narrative</span>
            </div>
            <div *ngIf="mobileScreenGroup == 3">
                <span class="horizontal-nav-tab" routerLinkActive="active-hor-nav" routerLink="/provider/manage-patient-access">Patients</span>
            </div>
        </nav>
    </div>
    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav class="app-sidenav fixed-container"  [opened]="screenWidth > 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches">
                        <!-- added sidenav state change to open close animateText   -->
            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
                    <div class="logo-box">
                        <a *ngIf="!sideNavState" (click)="goToDashboard()">
                            <img *ngIf="!sideNavState" src="../../../assets/images/AllWhite-Curamei-Logo.png" width="150px"/>
                        </a>
                    </div>
                    <div routerLinkActive="active" routerLink="/provider/dashboard" class="home mat-icon-color No patient user selected." 
                        style="margin-top: 15px; display: inline-block; cursor: pointer;">
                        <mat-icon>home</mat-icon>
                        <span *ngIf="!sideNavState" class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Home</span>
                    </div>
                <div>
                        <mat-accordion>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                            class="sidenav-exp-panel app-sidenav No patient user selected." (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header class="sidenav-expansion-panel">
                                <mat-panel-title>
                                    <mat-icon class="mat-icon-color">smartphone</mat-icon>
                                    <span class="sidenav-accordion-menutext" *ngIf="!sideNavState"
                                        [@animateText]="linkText ? 'close' : 'open'">Digital Health
                                    </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div routerLinkActive="active" routerLink='/provider/fitbit-dashboard' class="flex-container No patient user selected. sidebar-icon-text mat-icon-color No patient user selected."
                                style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                    aria-hidden="true">directions_run</mat-icon>
                                <span class="side-nav-inner-menutext" *ngIf="!sideNavState" 
                                    [@animateText]="linkText ? 'close' : 'open'">Fitbit
                                </span>
                            </div>

                        </mat-expansion-panel>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel app-sidenav No patient user selected." (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon class="mat-icon-color" style="padding-right:5px;">file_copy</mat-icon>
                                        <span class="sidenav-accordion-menutext" *ngIf="!sideNavState" 
                                            [@animateText]="linkText ? 'close' : 'open'">Records
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div routerLinkActive="active" *ngIf="medicalRecordsShow" class="flex-container No patient user selected. sidebar-icon-text mat-icon-color No patient user selected." routerLink="/provider/medical-records"
                                     style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">medical_services</mat-icon>
                                    <span class="side-nav-inner-menutext" *ngIf="!sideNavState" 
                                        [@animateText]="linkText ? 'close' : 'open'">Medical Records
                                    </span>
                                </div>
                               
                                <div routerLinkActive="active" class="flex-container No patient user selected. sidebar-icon-text mat-icon-color No patient user selected." routerLink="/provider/provider-list"
                                    style="padding: 10px 10px 10px 10px; cursor: pointer;">
                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">attachment</mat-icon>
                                    <span class="side-nav-inner-menutext" *ngIf="!sideNavState" 
                                        [@animateText]="linkText ? 'close' : 'open'">Manual Uploads
                                    </span>
                                </div>

<!--                                 <div routerLinkActive="active" class="flex-container No patient user selected. sidebar-icon-text mat-icon-color" routerLink="/provider/manage-application-permission"
                                 style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                    aria-hidden="true">accessibility</mat-icon>
                                <span class="side-nav-inner-menutext"
                                    [@animateText]="linkText ? 'close' : 'open'">Manage Application <br>Permission
                                </span>
                            </div> -->
                                
                                <div  routerLinkActive="active" class="flex-container No patient user selected. sidebar-icon-text mat-icon-color No patient user selected." routerLink="/provider/narrative"
                                        style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                            aria-hidden="true">text_snippet</mat-icon>
                                        <span class="side-nav-inner-menutext" *ngIf="!sideNavState" 
                                            [@animateText]="linkText ? 'providerFlag' : 'open'">Narrative
                                        </span>
                                </div>      
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                    <div routerLinkActive="active" *ngIf="medicalRecordsShow" class="home mat-icon-color No patient user selected." routerLink="/provider/manage-patient-access"
                      style="margin-top: 15px; display: inline-block; cursor: pointer;" >  
                     <mat-icon class="mat-icon-color" style="padding-right:5px;">people</mat-icon>
                     <span class="sidenav-menutext" *ngIf="!sideNavState" [@animateText]="linkText ? 'close' : 'open'">Patients
                     </span>
                 </div>
                </div>
                <span class="spacer"></span>
            </div>
        </mat-sidenav>

        <mat-sidenav [ngClass]="(sideNavState) ? 'sidenav-visible': ''" class="app-sidenav fixed-container" [opened]="screenWidth <= 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
        [fixedInViewport]="mobileQuery.matches">

        <!-- added sidenav state change to open close animateText   -->
        <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
            <div class="mobile-sidenav-top ios-spacing-top">
                <div class="mobile-sidenav-top-img">
                    <img *ngIf="!usr_id" src="../../../assets/images/faces/user-icon.png" 
                        style="width: 75px; height: 75px; border-radius: 100%;">
                    <img *ngIf="usr_id"  [src]="profileImage" 
                        style="width: 75px; height: 75px; border-radius: 100%;">
                    <button mat-icon-button (click)="toggleSide()">
                            <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div class="mobile-sidenav-top-text">
                    <div style="font-size: 24px;">{{first_name | titlecase}} {{last_name | titlecase}}</div>
                    <div>{{email | lowercase }}</div>
                    <div>{{npi}}</div>
                </div>
            </div>
            <div class="mobile-sidenav-bottom">
                <div>
                    <div class="home" (click)="mobileOpenNotifications()">
                        <mat-icon>notifications</mat-icon>
                        <span class="sidenav-menutext">Notifications</span>
                    </div><span class="notify" *ngIf="notificationLength > 0 ">{{notificationLength}}</span>
                    <div class="home" routerLinkActive="active" (click)="mobShowProfile()">
                        <mat-icon class="mmat-icon-color">person</mat-icon>
                        <span class="sidenav-menutext">Profile</span>
                    </div>
                    <div class="home">
                        <a style="text-decoration: none; color: inherit!important;" routerLinkActive="active" href="https://curameitech.com/help">
                            <mat-icon class="mmat-icon-color">help</mat-icon>
                            <span class="sidenav-menutext">Help</span>
                        </a>
                    </div>
                    <hr />
                    <div class="home" style="color:red!important; margin-top: 25px;" routerLinkActive="active" (click)="mobLogout()">
                        <mat-icon class="mmat-icon-color">logout</mat-icon>
                        <span class="sidenav-menutext">Logout</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav>

        <mat-sidenav-content id="main-view" [@onMainContentChange]="onSideNavChange ? 'open': 'close'" [ngClass]="(sideNavState) ? 'closed': 'open'"
            style="background-color: white;">
            <div [ngClass]="{'mobile-router-outlet-margin-top': mobileScreenGroup != 1 && screenWidth <= 640}">
                <router-outlet></router-outlet>
            </div>
            <ul class="footer-notice">
                <li>
                    Curamei Technologies ©2020 All rights reserved.
                </li>
                <li class="footer-left-border">
                    <a href="https://curameitech.com/privacy-policy">Privacy Policy</a>
                </li>
                <li class="footer-left-border">
                    <a href="https://curameitech.com/terms-of-service">Terms of Service</a>
                </li>
            </ul>
        </mat-sidenav-content>

    </mat-sidenav-container>

    <!-- Mobile view bottom menu -->
    <div class="mobile-footer-menu ios-spacing-bottom" id="bottom-bar" >
        <i class="material-icons mat-icon-color" (click)="showHome()">home</i>
        <i class="material-icons mat-icon-color" (click)="showRecords()">medical_services</i>
        <i class="material-icons mat-icon-color" (click)="showPatients()">people</i>
    </div> 
</div>