.sidenav_container {
  background-color: #008080;
  min-width: 60px;
  height: calc(100vh - 200px);
}
.sidenav-exp-panel{
   background-color: #008080;
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

     
:focus {
  outline: none; 
}

.notify{
  padding: 0px 7px;
  background:gray;
  font-size: 12px;
  border-radius: 50%;
  position: absolute;
  right: 55px;
  top: 5px;
  color: white!important;
}
.notify-menu div{
  padding: 5px 5px;
  margin: 5px 0px;
  border-radius: 5px;
}

.notify-menu-item:hover {
  background-color: #efefef;
}

.close {
  opacity: 1;
}

.logo-box {
  margin-bottom: 10px!important;
  padding: 3px; 
  height: 50px; 
  text-align: center;
  height: fit-content;
}

.top-header.position-left {
  background-color: #f0f0f0;
}

.mat-sidenav-content, .top-header.position-left, .app-sidenav-container,
.mat-expansion-panel.sidenav-exp-panel {
  transition: 0.3s;
}

.mat-sidenav-content.open, .top-header.position-left.open {
  width: 100%;
  padding-left: 270px;
  margin-left: 0px!important;
}

.mat-sidenav-content.closed, .top-header.position-left.closed {
  width: 100%;
  padding-left: 70px;
  margin-left: 0px!important;
}

.sidenav-menutext, .sidenav-accordion-menutext {
  visibility: visible;
}

@media (max-width: 640px) {
  .mat-sidenav-content.closed, .top-header.position-left.closed, .app-sidenav-container.closed, .app-sidenav-container.closed {
    padding-left: 0px!important;
    margin-left: 300px!important;
  }
    
  .mat-sidenav-content.open, .top-header.position-left.open, .app-sidenav-container.open, .app-sidenav-container.open {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px!important;
  }

  .top-header.position-left.closed, .mat-sidenav-content.closed {
    filter: brightness(50%);
    pointer-events: none;
  }

  .app-sidenav {
    border-radius: 0px;
    max-width: 300px!important;
    width: 300px;
    display: none;
  }

  .app-sidenav.fixed-container.sidenav-visible {
    display: unset;
  }

  .mat-sidenav-content {
    width: 100%;
  }

  .mobile-sidenav-top {
    padding: 8px 16px 8px 16px;
    color: white!important;
  }

  .mobile-sidenav-top-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .mobile-sidenav-top-text {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
  }

  .mobile-sidenav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: white!important;
    height: 100%;
  }

  .mobile-sidenav-bottom .home {
    background-color: white!important;
    color: black!important
  }

  .sidenav_container {
    margin: 0px;
    height: 100%;
  }

  .mobile-router-outlet-margin-top{
    margin-top: 22px;
  }

  .side-nav-inner-menutext {
    visibility: visible;
  }

  .mat-expansion-panel.sidenav-exp-panel {
    width: 100%;
  }
}

#main-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}