::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
  /* make scrollbar transparent */
}
:host ::ng-deep .custom-spinner circle{   
  stroke: #0CC20C;

}

.circle-center{
  position: relative;
  background-position: center center;
  top:30%;
  left:30%;
}

.activeTab{
  background-color: #3F51B5;
  color: azure;
}
.noUser_text{
  margin: 0;
  line-height: 15px;
  padding-top: 10px;
  padding-right: 10px;
}
.medical-record-accordion-button{
  position: relative !important;
  right: 0 !important;
} 
.font-size-32  {
  font-size: 32px !important;
}
.font-size-47  {
  font-size: 32px !important;
}

.width-mobile{
  padding:0px 20px 0px 0px; float: right;
}

@media screen and (max-width: 678px) {
  .page-top {
    margin-bottom: 20px;
  }

  .main-container {
    padding: 1.0rem!important;
  }
  .box-container{
    background-color:white;
    box-shadow: none!important;
    border-radius: 0.5em;
    margin-left:0px!important;
  }

  .bordered-card {
    border: none!important;
    border-radius: 5px!important;
    box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
    margin: 2px 2px;
  }
  .page-top{
    margin-top:0px
  }

  .steps-image-container {
    position: absolute;
    top: 40%;
    left: 37%;
}

.width-mobile{
  width: 100%!important;
  padding:0px 0px 0px 0px; float: right;
}
.font-bold{
  margin-left: -5px!important;
  line-height: 1.6;
}


.page-title1{
  margin-top:22px!important;
  display: flex!important;
}


.page-title2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:16px!important;
}

.margin-top-dest-15{
  margin-top:0px!important;
}
.margin-top-dest1-15{
  margin-top:12px!important;
}

}

@media(max-width: 678px) {
  .margin-top-dest-15{
    margin-top:0px!important;
    display: contents;
  }
  .margin-top-dest1-15{
    margin-top:12px!important;
    display: contents;
  }

}


.margin-top-dest-15{
  margin-top:12px!important;
}

.margin-top-dest1-15{
  margin-top:0px!important;
}

.mob-revoke-btn{
  background-color: red !important;
  color:white;
}

@media screen and (min-width: 240px) and (max-width: 350px) {
  .mob-revoke-btn{
     margin-top: -10px !important;
  }
  
}