<div class="main-container">
  <div class="min-height-100 card-padding-6">
    <div class="page-header hide-in-mobile-screen">
      <div class="flex-container page-top">
        <div class="page-title">
          <div class="icon">  
            <mat-icon class="material-icons">directions_run</mat-icon>
          </div>
          <mat-card-title class="card-main-title fitbit-dashboard-main-title font-700">Fitbit Dashboard</mat-card-title>
        </div>
        <div>
          <mat-chip-list aria-label="Fish selection" *ngIf="patientFitbitFlag">
            <mat-chip (click)="demoData()" *ngIf="flagDemoFitbitShow" [ngClass]="{'activeTab': demoFlagTab==true}">Demo</mat-chip>
            <!-- <mat-chip (click)="liveData()"  [ngClass]="{'activeTab': liveFlagTab==true}">Live</mat-chip> -->
            <!-- <mat-chip *ngIf="fitbitPopup" (click)="openFitBitSettingDialog()">
              <mat-icon style="cursor: pointer;">settings</mat-icon>
              &nbsp;Settings
            </mat-chip> -->
          </mat-chip-list>
            <button mat-button   class="activeTab" 
            style="background-color:red!important;color:white;margin-bottom: 12px;
            z-index: 11111;"  
            (click)="removeFitbitConfig()">Revoke Authorization</button> 
          <!-- <mat-chip-list>
            <div *ngIf="byProviderShowUser" style="padding:0px 20px 0px 0px; float: right;">
              <mat-form-field class="remove-padding-bottom" appearance="outline">
                <mat-label>Select User</mat-label>
                <mat-select (selectionChange)="selectedUser($event.value)">
                  <mat-option>-- select user --</mat-option>
                  <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-chip-list> -->
        </div>
      </div>
    </div>
    <div class="hide-in-large-screen page-header">
      <div class="flex-container page-top">
        <div class="page-title"  *ngIf="patientFitbitFlag">
          <mat-icon class="material-icons">directions_run</mat-icon>
          <mat-card-title class="card-main-title font-700">Fitbit Dashboard</mat-card-title>
        </div>
        <div class="page-title2"  *ngIf="!patientFitbitFlag">
          <mat-icon class="material-icons">directions_run</mat-icon>
          <mat-card-title class="card-main-title font-700">Fitbit Dashboard</mat-card-title>
        </div>
        <div *ngIf="patientFitbitFlag">
          <button  *ngIf="userRemoveFitBitConfigurationFlag"  class="activeTab" class="mob-revoke-btn"  
              (click)="removeFitbitConfig()" mat-button
          >
            <mat-icon class="material-icons">link_off</mat-icon>
          </button>
         </div>
      </div>
      
    </div>
    <div *ngIf="byProviderTextFlag">
      <mat-panel-description>
        <p class="noUser_text">Please select user patient to view data </p>
      </mat-panel-description>
    </div>
    <!-- <div>
      <div class=" fitbit-zposition hide-in-mobile-screen">
        <div class="text-right" style="position: relative;z-index: 1111!important;">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip (click)="liveData()" [ngClass]="{'activeTab': liveFlagTab==true}">Live</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div> -->
    <div >

      <!-- <div class="clear-both"></div>
      <br/> -->

      <div class="row margin-top-dest1-15" *ngIf="userRemoveFitBitConfigurationFlag">
        <!-- <div class="col-md-6 remove-col-padding-right">
              <mat-card class=" remove-box-shadow">
                <div class="row">
                  <div class="col-md-7">
                    <h2 class="font-300 remove-bottom-margin">Today's Activity</h2>
                  </div>
                  <div class="col-md-5">

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="today-activity">
                      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single"
                        [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis">
                      </ngx-charts-bar-vertical>
                    </div>

                  </div>
                </div>
              </mat-card>
            </div> -->

        <div class="col-md-3 mob-fitbit-margin-bottom fitbit-dash-col-3 remove-box-shadow remove-col-padding-right fitbit-margin-top">
          <mat-card class="card-shadow  mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12 margin-top-mobile" *ngIf="todayStepFlag" (click)="openActivityDialog()">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-step-container">
                      <div class="total-steps-image-container">
                        <img class="totalsteps-image" src="../../../assets/images/fitbit-dashboard/footprints (4).svg">
                      </div>
                    </div>
                    <div class="totalsteps-text text-center">
                      <span class="font-size-50 font-300">{{todayStep | number:'1.0-0'}} </span><span
                        class="font-size-36 font-300">Steps</span><br>
                      <span class="totalsteps-subheading">Today</span>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 " *ngIf="!todayStepFlag">
                <div class="fitbit-dashboard-firstrow">

                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div
          class="col-md-3 mob-remove-fitbit-col-padding-right fitbit-margin-top fitbit-dash-col-3 fitbit-remove-right-col-padding">
          <mat-card class="card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12  margin-top-mobile" *ngIf="todayCaloriesOutFlag" (click)="openCaloriesDialog()">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-calories-container">
                      <div class="total-steps-image-container">
                        <img class="totalcalories-image" src="../../../assets/images/fitbit-dashboard/fire (2).svg">
                      </div>
                    </div>
                    <div class="coloriesburnt-text text-center">
                      <span class="font-size-50 font-300">{{todayCaloriesOut | number:'1.0-0'}} </span><span
                        class="font-size-36 font-300">Calories</span><br>
                      <span class="totalsteps-subheading">Today</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!todayCaloriesOutFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>

            </div>
          </mat-card>
        </div>


        <!-- <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="lastTwoWeekTotalCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openCaloriesIntakeDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeTakeIn" [results]="weight"
                    [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="weight-image" src="../../../assets/images/fitbit-dashboard/habit.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{lastTwoWeekTotalCaloriesIn}}<span style="margin-left: 15px;"
                        class="font-size-36 font-300">
                        <mat-icon class="font-size-36">restaurant</mat-icon>
                      </span></span>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!lastTwoWeekTotalCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>


            </div>
          </mat-card>
        </div> -->


        <!-- <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow fitbit-right-col-margin-15 mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="todayCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-intake-container">
                      <div class="total-steps-image-container">
                        <img class="totalweight-image" src="../../../assets/images/fitbit-dashboard/habit (2).svg">
                      </div>
                    </div>
                    <div class="calorieintake-text text-center">
                      <span class="font-size-50 font-300">under </span><br>
                      <span class="totalsteps-subheading">{{todayCaloriesIn}}</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">restaurant</mat-icon>
                      <span style="margin-left: 15px;" class="totalsteps-subheading">vs</span>
                      <span class="totalsteps-subheading" style="margin-left: 15px;">{{todayCaloriesOut}}</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">local_fire_department</mat-icon>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 " *ngIf="!todayCaloriesInFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>


            </div>
          </mat-card>

        </div> -->
        <div
          class="col-md-3 margin-top-15 fitbit-dash-col-3 fitbit-remove-right-col-padding mob-remove-fitbit-col-padding-right">
          <mat-card class="card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12  margin-top-mobile" *ngIf="todayHoursFlag" (click)="openFitBitSleepDialog()">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-sleep-container">
                      <div class="total-steps-image-container">
                        <img class="totalcalories-image" src="../../../assets/images/fitbit-dashboard/sleeping (1).svg">
                      </div>
                    </div>
                    <div class="sleep-text text-center">
                      <span class="font-size-50 font-300">{{todayHours}}:</span>
                      <span class="font-size-50 font-300">{{todayMinutes}} </span>
                      <span class="font-size-36 font-300">Hrs Sleep</span><br>
                      <span class="totalsteps-subheading"> Today</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 " *ngIf="!todayHoursFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-3 margin-top-15 fitbit-dash-col-3 fitbit-remove-right-col-padding mob-remove-fitbit-col-padding-right">
          <mat-card class="card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12  margin-top-mobile" *ngIf="todayWeightFlag" (click)="openWeightDialog()">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-weight-container">
                      <div class="total-steps-image-container">
                        <img class="totalweight-image" src="../../../assets/images/fitbit-dashboard/weight.svg">
                      </div>
                    </div>
                    <div class="totalsteps-text text-center">
                      <span class="font-size-50 font-300">{{ todayWeight | number : '1.2-2'}} </span><span
                        class="font-size-36 font-300">Pounds</span><br>
                      <span class="totalsteps-subheading">Today</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 " *ngIf="!todayWeightFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

<!---    <div class="col-md-3 fitbit-dash-col-3 fitbit-remove-right-col-padding">
                  <mat-card class="remove-box-shadow fitbit-margin-top">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="fitbit-dashboard-firstrow">
                          <div>
                            <div class="total-weight-container">
                              <div class="total-steps-image-container">
                                <img class="totalweight-image" src="../../../assets/images/fitbit-dashboard/weight (3).svg">
                              </div>
                            </div>
                            <div class="weighttogo-text text-center">
                              <span class="font-size-50 font-300">22 </span><span class="font-size-36 font-300">kg</span><br>
                              <span class="totalsteps-subheading">to go</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div> -->
         <!-- <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow card-shadow mob-fitbit-right-col-margin">
            <div class="row">
              <div class="col-md-12" *ngIf="weekCaloriesInOutFlag">
                <div class="fitbit-dashboard-firstrow" (click)="openFitBitCalorieOutDialog()">
                  <ngx-charts-gauge [animations]='true' [view]="view" [scheme]="colorSchemeSCalorieOut"
                    [results]="calories" [showText]='false'>
                  </ngx-charts-gauge>
                  <div class="steps-image-container">
                    <img class="calorie-image" src="../../../assets/images/fitbit-dashboard/weight01.svg">
                  </div>
                  <div class="steps-text text-center">
                    <span class="font-size-50 font-300">{{lastWeekTotalDiff}}<span style="margin-left: 15px;"
                        class="font-size-36 font-300">
                        <mat-icon class="font-size-36">directions_run
                        </mat-icon>
                      </span></span>
                  </div> 
                </div>
              </div>
              <div class="col-md-12 " *ngIf="!weekCaloriesInOutFlag">
                <div class="fitbit-dashboard-firstrow">
                  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-circus"
                    [fullScreen]="false">
                    <p style="color: white"> Loading... </p>
                  </ngx-spinner>
                </div>
              </div>
            </div>
          </mat-card>
        </div> -->
        <!-- <div class="col-md-3 margin-top-15 fitbit-dash-col-3 remove-col-padding-right ">
          <mat-card class="remove-box-shadow mob-fitbit-right-col-margin fitbit-right-col-margin-15">
            <div class="row">
              <div class="col-md-12">
                <div class="fitbit-dashboard-firstrow">
                  <div>
                    <div class="total-calout-container">
                      <div class="total-steps-image-container">
                        <img class="totalcalories-image" src="../../../assets/images/fitbit-dashboard/weight.2svg.svg">
                      </div>
                    </div>
                    <div class="calorieintake-text text-center">
                      <span class="font-size-50 font-300">over </span><br>
                      <span class="totalsteps-subheading">165</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">restaurant</mat-icon>
                      <span style="margin-left: 15px;" class="totalsteps-subheading">vs</span>
                      <span class="totalsteps-subheading" style="margin-left: 15px;">2500</span>
                      <mat-icon style="font-size: 20px;margin-left: 15px; ">directions_run</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>  -->



     
     
     
     
     
     
     
     
     
      </div>
      
      <div class="margin-top-dest-15" *ngIf="!userRemoveFitBitConfigurationFlag && !flagDemoFitbitShow && !byProviderTextFlag">
                <span class="fitbitConfiguration" *ngIf="fitbitConfigAvailableStatusMsg =='spinner'"> <mat-spinner [diameter]="45" style="text-align: center!important;"></mat-spinner> </span>
                <span class="fitbitConfiguration hello" *ngIf="fitbitConfigAvailableStatusMsg !='spinner'" style="width: 100%;
                display: grid;">{{fitbitConfigAvailableStatusMsg}}</span>
        </div>


    </div>
  </div>
</div>