
<div class="sidebar-header">
    <p></p>
    <p (click)="goToDashboard()"  style="text-align: center;font-size: 22px;margin-top: 5px;cursor: pointer;">Curamei</p>  
    <hr/>

</div>
    <ul class="list-unstyled components">


        <li>
            <a routerLink="/patient/dashboard"  ><i  class="fas fa-file"></i> My files</a>
        </li>
        <li>
            <a routerLink="/patient/dashboard" ><i class="fa fa-user-secret"></i> Profiles</a>
        </li>

        <li>
            <a routerLink="/patient/dashboard" ><i class="fa fa-share-alt"></i> Shared with me</a>
        </li>

        <li>
            <a routerLink="/patient/dashboard" ><i class="fas fa-trash-alt"></i> Trash</a>
        </li>

        <li>
          <hr/>
        </li>



        
        <li>
            <a routerLink="/patient/dashboard" ><i class="fa fa-cog"></i> Account</a>
        </li>


        <li>
            <a routerLink="/patient/dashboard" ><i class="fas fa-list"></i> Details</a>
        </li>

        
        <li>
            <a routerLink="/patient/dashboard"  routerLinkActive="active"><i class="fa fa-user"></i> Users</a>
        </li>

        <li>
            <a routerLink="/patient/dashboard" ><i class="fa fa-credit-card"></i> Billing</a>
        </li>

        <li>
            <a routerLink="/patient/dashboard" ><i class="fa fa-plane"></i> Plan</a>
        </li>
      
    </ul>

