 <!-- <span *ngIf='!viewflag'>Loading...</span> -->
 
 <div>
    <img class="logo" src="{{basePath}}show-idProof/{{filename}}"><hr>
 </div>

<div style="float: right;">
    <button mat-icon-button (click)="onNoClick()">
        <mat-icon>close
        </mat-icon>
    </button> 
</div>
