.logo {
    max-width: 100%;
    max-height: 55vh;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background:url('../../../assets/images/giphy.gif') no-repeat center center;
    line-height: 0;
}