<div class="main-container">
  <!-- container height is 150 -->
    <div class="min-height-150 mobile-min-height-88">
      <mat-card 
        class="min-height-90vh tab-min-height-91vh big-tab-min-height-93vh laptop-min-height-88vh apple-min-height-90vh mobile-min-height-88">
        <div>
          <div class="flex-container">
            <div style="width: 85%;">
               <!-- created icon class to give color develop by harshal on 10/27/20 -->
          <div class="icon">
              <mat-icon class="material-icons">medical_services</mat-icon>
          </div>
              <mat-card-title class="card-main-title font-700">Medical Records</mat-card-title>
            </div>
            <div class="hide-in-large-screen float-right">
              <button [matMenuTriggerFor]="menu" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">View By User</h4>
                <span *ngFor="let user of users">
                  <button mat-menu-item (click)="selectedUser(user.id)">{{user.fullname}}</button>
                </span>
              </mat-menu>
            </div> 
          </div>
          <div class="sort-select-form hide-in-mobile-screen">
            <mat-form-field class="remove-padding-bottom" appearance="outline">
              <mat-label>View By User</mat-label>
              <mat-select (selectionChange)="selectedUser($event.value)">
                <mat-option>-- select user --</mat-option>
                <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-tab-group (selectedTabChange)="selectForRecord($event.index)" class="margin-top-15">
          <mat-tab  label="Medical Record">
            <ng-template matTabContent>
              <div class="row">
                <div class="col-md-12">
                  <div class="box-container">
                    <app-medical-records [user_id]="user_id" [user_type]="user_type"></app-medical-records>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Manual Medical Record">
            <ng-template matTabContent>
              <div class="row">
                <div class="col-md-12">
                  <div class="box-container">
                    <!-- <app-manual-medical-records></app-manual-medical-records> -->
                    <app-medical-records [user_id]="user_id" [user_type]="user_type"></app-medical-records>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>