.detalisBtn{
    border: 1px solid #00BCD4;
    color: #00BCD4;
    border-radius: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.cardContainer{
    margin-top: 12px!important;
    border: 1px solid #9c9b9b!important;
}
.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 1px!important; 
  border-radius: 2px;
  background: whitesmoke;
}

.table-borderless tr {
  align-items: center;
}

.mat-card:hover {
  background-color: #fdfdfd;
  cursor: pointer;
}

  .material-icons-exercise {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-left: 8px;
    cursor: pointer;
  }  
  mat-icon{
    cursor: pointer!important;
  }

  .headTitle{
    color: #000000;
    font-size: 19px;
    font-weight: 400;
  }

  .headSubTitle{
    font-size:12px;
  }
  .main-container {
    padding: 1rem;
     background-color:#fff!important
}

.div-marin-bottom{
  margin-bottom: 15px!important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.closedBtn{
  cursor: pointer;
  position: relative;
  float: right;
  background-color: #f8f9fb;
  margin-right: -10px;
  border: 1ps solid;
  border: 1px solid #868383;
  border-radius: 30px;
  padding: 8px;
  text-align: center;
position: relative;
  top:-10px; 
}

.moreSupport{
text-align: center;
color: gray;
font-family: sans-serif;
font-size: 22px;
margin-top: 39px;
line-height: 1;
}


@media screen and (max-width: 678px) {
  .moreSupport{
    text-align: center;
    color: gray;
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 15px;
    line-height: 1;
    }

}