        <div class="row" style="align-items: center;">
        <div class="col-md-10 mob-80">
        <div class="icon">
          <h1 class="font-700" mat-dialog-title>Connect Apps</h1>
          </div>
        </div>
        <div class="col-md-2 mob-20 ">
          <div class="text-right">
            <button (click)="onClosedClick()" class="dialog-close" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </div>
      
        </div>
      </div>
  
            <div class="row">

                <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom" *ngIf="bitBitFlag">
                    <mat-card class="min-height-100" >
                        <table class="table table-borderless ">
                            <tr>
                                <td style="width:15%!important">
                                    <!-- <mat-icon class="material-icons-exercise"> directions_run</mat-icon> -->
                                    <img src="./assets/images/fitbit.svg" width="32px"/>
                                </td>
                                <td>
                                    <span class="headTitle"> Fitbit </span> <br />
                                </td>
                                <td style="width:8%!important;vertical-align: middle!important;">
                                    <span (click)="redictDigitalHealth('FitBit')" ><mat-icon matTooltip="Add">add</mat-icon>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        </mat-card>
                </div>

                <!-- <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom">
                    <mat-card class="min-height-100">
                    <table class="table table-borderless ">

                        <tr>
                            <td style="width:15%!important">
                
                                <img src="./assets/images/garmin_connect.png" width="32px"/>
                            </td>
                            <td>
                                <span class="headTitle"> Garmin Connect </span> <br />
                            

                            </td>
                            <td style="width:8%!important;vertical-align: middle!important;">
                                <mat-icon matTooltip="No Add">add</mat-icon>

                            </td>
                        </tr>
                    </table>
                </mat-card>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom">
                    <mat-card class="min-height-100">
                        <table class="table table-borderless ">

                            <tr>
                                <td style="width:15%!important">
                            
                                    <img src="./assets/images/oura_ring.png" width="32px"/>
                                </td>
                                <td>
                                    <span class="headTitle"> Oura Ring</span> <br />
                                 

                                </td>
                                <td style="width:8%!important;vertical-align: middle!important;">
                                    <mat-icon matTooltip="No Add">add</mat-icon>

                                </td>
                            </tr>
                        </table>
                        </mat-card>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom">
                    <mat-card class="min-height-100">
                    <table class="table table-borderless ">

                        <tr>
                            <td style="width:15%!important">
                             
                                <img src="./assets/images/google_fit.png" width="32px"/>
                            </td>
                            <td>
                                <span class="headTitle"> Google Fit</span> <br />
                            

                            </td>
                            <td style="width:8%!important;vertical-align: middle!important;">
                                <mat-icon matTooltip="No Add">add</mat-icon>
                            </td>
                        </tr>
                    </table>
                </mat-card>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom">
                    <mat-card class="min-height-100">
                        <table class="table table-borderless ">

                            <tr>
                                <td style="width:15%!important">

                                    <img src="./assets/images/apple_health.png" width="32px"/>
                                </td>
                                <td>
                                    <span class="headTitle"> Apple Health </span> <br />
                                 

                                </td>
                                <td style="width:8%!important;vertical-align: middle!important;">
                                    <mat-icon matTooltip="No Add">add</mat-icon>

                                </td>
                            </tr>
                        </table>
                        </mat-card>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom">
                    <mat-card class="min-height-100">
                    <table class="table table-borderless ">

                        <tr>
                            <td style="width:15%!important">
                                <img src="./assets/images/omron.png" width="32px"/>
                            </td>
                            <td>
                                <span class="headTitle"> Omron</span> <br />
                            

                            </td>
                            <td style="width:8%!important;vertical-align: middle!important;">
                                <mat-icon matTooltip="No Add">add</mat-icon>

                            </td>
                        </tr>
                    </table>
                </mat-card>
            </div> -->
          
            <div class="col-md-6 col-lg-6 col-sm-12 div-marin-bottom" *ngIf="!bitBitFlag">
                <p colspan="2" class="moreSupport">
                    <!-- <mat-icon class="material-icons-exercise"> directions_run</mat-icon> -->
                  You are connected with fitbit account.
            </p>

            </div>
      


            <div class="col-md-12 col-lg-12 col-sm-12 div-marin-bottom" *ngIf="bitBitFlag">
                <hr/>
                <p colspan="2" class="moreSupport">
                    <!-- <mat-icon class="material-icons-exercise"> directions_run</mat-icon> -->
                    More supported products coming soon!
            </p>
            </div>


        </div>

