<!--
<div class="wrapper">
        <nav id="sidebar" class="active">
        <app-patient-left-sidebar></app-patient-left-sidebar>
        </nav>
        <div id="body" class="active">
            <app-patient-header></app-patient-header>
<router-outlet></router-outlet>
</div>
</div> -->


<div class="app-main-container" [class.example-is-mobile]="mobileQuery.matches">
    <!-- <mat-toolbar color="primary" class="app-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Curamei</h1>

    </mat-toolbar> -->
    <nav class="top-header">
        <button class="hide-in-mobile-screen" mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <button class="hide-in-large-screen" mat-icon-button (click)="snav.toggle();onSinenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a (click)="goToDashboard()" mat-button><span class="curamei">Curamei</span><span class="fa fa-plus plus-icon"></span></a>
        <div class="flex-spacer"></div>
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <img  src="{{basePath}}profile-image/{{usr_id}}" style="width: 25px; height: 25px;border-radius: 100%;">
        </button>
        <mat-menu #profile="matMenu">
            <button mat-menu-item (click)="profilePage()">My Profile</button>
           <!--  <button mat-menu-item>Settings</button> -->
            <button mat-menu-item (click)="logout()">Sign Out</button>
        </mat-menu>
    </nav>

    <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
        <mat-sidenav class="app-sidenav"  [opened]="screenWidth > 640" #snav [mode]="mobileQuery.matches ? 'side' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

            <div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
                <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">


                    <div  routerLinkActive="active" class="remove-margin-bottom home mat-icon-color" 
                      (click)="snav.toggle()" style="margin-top: 15px; display: inline-block; cursor: pointer;">

                        <mat-icon>home</mat-icon>
                        <span class="sidenav-menutext" [@animateText]="linkText ? 'close' : 'open'">Home </span>

                    </div>
                    <div>

                        <mat-accordion>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel app-sidenav" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon class="mat-icon-color"  style="padding-right:5px;">file_copy</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'close' : 'open'">Records
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <!-- <div style="padding: 10px 10px 10px 10px;cursor: pointer;">


                                    <span class="sidenav-inner-menutext">Update
                                        Feed
                                    </span>

                                </div> -->
                               

                                
                                <div routerLinkActive="active" *ngIf="medicalRecordsShow" class="flex-container remove-margin-bottom sidebar-icon-text mat-icon-color"  
                                  (click)="snav.toggle()"  style="padding: 10px 10px 10px 10px; cursor: pointer;">

                                    <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color"
                                        aria-hidden="true">medical_services</mat-icon>
                                    <span class="side-nav-inner-menutext"
                                        [@animateText]="linkText ? 'close' : 'open'">Medical Records
                                    </span>
                                </div>
                                
                            </mat-expansion-panel>
                            <!-- <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon>stay_primary_portrait</mat-icon>
                                        <span style="margin-left: 5%;"
                                            [@animateText]="linkText ? 'show' : 'hide'">Digital Health
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                               
                            </mat-expansion-panel>
                            <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">person</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Provider
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                               
                            </mat-expansion-panel> -->
                            <!-- <mat-expansion-panel [@onSideNavChange]="sideNavState ? 'open' : 'close'"
                                class="sidenav-exp-panel" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false"> -->
                                <!-- <mat-expansion-panel-header class="sidenav-expansion-panel">
                                    <mat-panel-title>
                                        <mat-icon style="padding-right:5px;">settings</mat-icon>
                                        <span class="sidenav-accordion-menutext"
                                            [@animateText]="linkText ? 'show' : 'hide'">Settings
                                        </span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header> -->
                                <!-- <div style="padding: 10px 10px 10px 10px; cursor: pointer;">


                                    <span class="sidenav-inner-menutext">John Doe
                                    </span>

                                </div>
                                <div style="padding: 10px 10px 10px 10px;cursor: pointer;">

                                    <span class="sidenav-inner-menutext">John Doe
                                    </span>

                                </div>
                                <div style="padding: 10px 10px 15px 10px; cursor: pointer;">

                                    <span class="sidenav-inner-menutext">John Doe
                                    </span>

                                </div> -->
                            <!-- </mat-expansion-panel> -->
                        </mat-accordion>


                    </div>



                </div>

                <span class="spacer"></span>
                <!-- <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 15px;">
                    <button style="background: #3f51b5;
    color: #fff;position: fixed;
    bottom: 15px;
" mat-icon-button (click)="onSinenavToggle()">
                        <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
                        <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
                    </button>
                </div> -->
            </div>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>