.row-divider {
  margin-top: 2rem;
}

.table-100 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
}

.table-container {
  color: #e8fcfa;
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}

/* .modal-biometics{
      width: 750px!important;
    } */

    .show-choose-file-upload-button {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      border: 1px solid #00b07c !important; 
      border-left: none !important;
      color: #ffffff;
    }

.loadingHide {
  display: none;
}

.closeBtn {
  padding: 11px;
  background-color: #676765;
  color: white;
  text-align: end;
  float: right;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 3px 1px 4px #8a8989;
  font-weight: 600;
}

th{
  background-color: rgb(248, 248, 248)!important;
  color: black!important;
  font-size: medium;
  font-weight: 500;
}

tr {
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

/* set table & shadow */
table{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0em;
}

tr:hover {
  background-color:rgb(248, 248, 248);
}

.uploaded-files-table {
  box-shadow: none;
  border-radius: 2px;
  margin-bottom: 15px;
  box-shadow: none;
}

.uploaded-files-table tr {
  border: 1px solid #dee2e6;
}

.input-file-custom {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 15px;
}


.table-wd{
  width:100%!important;
}


@media only screen and (max-width: 600px) {
  .table-wd {
    width:420px;
    }
   
   }

.titleName{
  font-weight: 500;color: black;font-size:16px
}

.viewUpldTitle{
  color:#227f77!important;text-align:left!important;justify-content: flex-end;font-size:20px;font-weight: 500;
  background-color: #fbf9f9!important;
  padding: 0px 1px!important;
  /* min-width: 297px!important; */
}

.waitTilte{
  color:red;font-size: 14px;font-weight: 600;margin-left:6px!important
}




@media screen and (max-width: 678px) {
  .main-container {
    padding: 0.1rem!important;
  }
  .box-container{
    background-color:white;
    box-shadow: none!important;
    border-radius: 0.5em;
    margin-left:0px!important;
  }


  .serchInput{
    width: 100%;
  }

  .font-bold {
    color: #227f77;
    font-weight: 500!important;
}
tr.mat-header-row {
  height: 0px!important;
}
th{
  background-color: #e7faff!important;
  font-size: medium;
}


  .bordered-card {
    border: none!important;
    border-radius: 5px!important;
    box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
    margin: 2px 2px;
  }
  .table-100{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 99%!important;
}
.width-mobile{
  width: 100%!important;
}
.font-bold{
  margin-left: -5px!important;
  line-height: 1.6;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{
  padding-left: 16px!important;
}

.serchInput{
  width: 96%;
  margin-left: 8px;
}
.margin-top-30{
  margin-top:0px!important;
}

.page-title1{
  margin-top:16px!important;
  display: flex!important;
}


.page-title2{
  margin-top: 1.6rem;
  display: flex!important;
}




.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
   padding: 0 0px!important;
  border-radius: inherit;
  position: relative;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover,.mat-expansion-panel-header.mat-expanded:active {
  background: none!important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: #fafafa;
}

/* .listDetailsTableCon{
  border: 1.6px solid rgb(232, 232, 232);
    clear: both;
    overflow-x: scroll;
    padding-top: 0.9rem;
    margin-bottom: 8px !important;
} */

}