
<div class="main-container"> 
  <!-- container height -->
  <mat-card class="card-padding-6 min-height-100">
    <div class="page-header">
        <div class="flex-container page-top">

          
            <div class="page-title hide-in-mobile-screen">
                <!-- created icon class to give color develop by harshal on 10/27/20 -->
                <div class="icon">
                <mat-icon class="material-icons">attachment</mat-icon>
                </div>
                <mat-card-title class="card-main-title font-700">Manual Uploads</mat-card-title>
            </div>



            <div class="hide-in-large-screen">

              <div class="page-title2"  *ngIf="throughProviderFlag">
                <!-- created icon class to give color develop by harshal on 10/27/20 -->
                
                <div class="icon">
                <mat-icon class="material-icons">attachment</mat-icon>
                </div>
                <mat-card-title class="card-main-title font-700">Manual Uploads</mat-card-title>
            </div>

            <div class="page-title1"  *ngIf="!throughProviderFlag">
              <!-- created icon class to give color develop by harshal on 10/27/20 -->
              
              <div class="icon">
              <mat-icon class="material-icons">attachment</mat-icon>
              </div>
              <mat-card-title class="card-main-title font-700">Manual Uploads</mat-card-title>
          </div>

            </div>
            

            <div style="clear: both;width:100%!important;    margin-top: 12px;"  class="hide-in-large-screen">
              <a *ngIf="!throughProviderFlag" routerLink="/patient/request-health-system">
                <button mat-stroked-button  class="mobileButtonLink">
                  <mat-icon class="material-icons">add</mat-icon>
                </button>
              </a>
            </div>

        </div>
    </div>
      <div class="col-md-12 hide-in-mobile-screen margin-top-30" style="overflow-x: auto; width: 100%;">
        <div style="padding:15px 15px 0px 15px; width: 100%;">
          <mat-form-field style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
              placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
            <mat-icon matSuffix>search</mat-icon>

          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table-100 table-box-shadow"  style="margin: 5px 0px; width: 100%;">

          <ng-container matColumnDef="npino">
            <th mat-header-cell *matHeaderCellDef>NPI</th>
            <td mat-cell *matCellDef="let element">{{element.npi}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> <span
                *ngIf="element.full_name==null">{{element.first_name | titlecase}}&nbsp;{{element.last_name | titlecase}}</span>
              <span *ngIf="element.full_name!=null">{{element.full_name | titlecase}}</span>

            </td>
          </ng-container>

          <ng-container matColumnDef="state_name">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">{{element.state_id | uppercase}}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="country_name">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container> -->
          <ng-container matColumnDef="postal_code">
            <th mat-header-cell *matHeaderCellDef>Zipcode</th>
            <td mat-cell *matCellDef="let element">{{element.zipcode}}</td>
          </ng-container>

          <ng-container matColumnDef="addressone">
            <th mat-header-cell *matHeaderCellDef class="mat-upload-address">Address</th>
            <td mat-cell *matCellDef="let element">{{element.address1 | titlecase}}<span
                *ngIf="element.address2 != ''">,
                &nbsp;{{element.address2 | titlecase}}</span> <span *ngIf="element.city != ''">, {{element.city}}</span> </td>
          </ng-container>
          <!-- <ng-container matColumnDef="addresstwo">
            <th mat-header-cell *matHeaderCellDef> Address 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.address2}} </td>
          </ng-container> -->
          <ng-container matColumnDef="taxonomy">
            <th mat-header-cell *matHeaderCellDef>Taxonomy</th>
            <td mat-cell *matCellDef="let element">{{element.taxonomy | titlecase}}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="mat-upload-action text-center">Action</th>
            <td class="text-center" mat-cell *matCellDef="let element"><button
                (click)="getParticularProviderDetails(element.pid)" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button><button mat-icon-button (click)="ParticularDelete(element.pid)">
                <mat-icon color="warn">delete
                </mat-icon>
              </button> </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="mat-upload-details text-center">Details</th>
            <td style="cursor: pointer!important;" class="text-center" mat-cell *matCellDef="let element"
              (click)="expandedElement = expandedElement === element ? null : element">
              <mat-icon [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                add
              </mat-icon>
              <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                remove
              </mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div style="width: 100%; padding: 0px 0px 25px 0px;">


                  <div style="margin-top: 1rem;">
                    <div class="margin-top-30">
                      <div *ngIf="element.identifiers_desc == 'MEDICAID'">
                        <span class=" font-neutral">Medicaid Identifier:</span> <span
                          class="font-bold">{{element.identifiers_no}}</span>
                        |
                        <span class="font-neutral">Medicaid State:</span> <span
                          class="font-bold">{{element.identifiers_state}}</span>
                      </div>
                      <div style="color:red;font-size: 15px; font-weight: 500;"><span>{{UploadText}}</span></div>
                    </div>
                    <div style="margin-top: 30px; margin-bottom: 30px;">

                        <button *ngIf="addDataFileUploadButtonFlg && !throughProviderFlag" style="width: 300px!important;background: #008080!important;" mat-flat-button class="show-choose-file-upload-button" (click)="addDataFlagButton()">
                          Add Data
                        </button>
                        <ng-container *ngIf="!addDataFileUploadButtonFlg">

                      <form *ngIf="!throughProviderFlag && !addDataFileUploadButtonFlg" [formGroup]="addFilesForm" (ngSubmit)="upload()" style="display: flex; flex-direction: column;">
                        <!-- <button mat-flat-button class="show-choose-file-button">
                          <input formControlName="fileName" #myInput id="cin" name="cin" type="file" 
                          accept=".csv,.rtf,image/jpg,image/jpeg,image/png,application/pdf,application/vnd.ms-excel"
                            (change)="fileUploadEvent($event)" class="hide-choose-file" placeholder="Upload a file..."
                            multiple />Choose
                          File
                        </button> -->
                        <label>
                          <input formControlName="fileName" #myInput id="cin" name="cin" type="file" class="ng-hide input-file-custom"
                            accept=".csv,.rtf,image/jpg,image/jpeg,image/png,application/pdf,application/vnd.ms-excel"
                            (change)="fileUploadEvent($event)" placeholder="Upload a file..." multiple 
                          />
                        </label>

                        <div style="margin-top: 10px;">
                          <a mat-flat-button style="color:white!important" type="button" 
                              id="lbl" style="color:#f9fbfb!important; background-color: red; margin-right: 10px;" (click)="cancelUpload()"
                            >
                          Cancel
                          </a>
                          <button mat-flat-button color="primary" style="color:white!important"  id="lb2" type="submit" style="color:#f9fbfb!important;">
                            Upload
                          </button>
                        </div>
                      </form>
                        </ng-container>
                      <!-- <div  class="spinner-border text-danger loader" role="status">
                                                                                                                     <span class="sr-only">Loading...</span>
                                                                                                                  </div> -->
                    </div>
                    <mat-accordion>
                      <mat-expansion-panel class="mob-expansion-panel remove-box-shadow main-accordion"
                        (opened)="panelOpenState = true;" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span class="font-bold">Uploaded Files</span> <span *ngIf="downloadingWait"
                              style="color:red;font-size: 16px;font-weight: 600;margin-left:12px!important">(Please
                              Wait...)</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                          <table class="uploaded-files-table table-100 table">
                            <tr>
                              <th >Filename</th>
                              <th >Created</th>
                              <th >Action</th>
                            </tr>



                            <tr *ngFor="let file of filleList;let i=index">

                              <td>

                                <div class="width-150" *ngIf="file.upiid !== editRowId"
                                  matTooltip="Edit {{element.days}} Rows">{{file.file_displayname}}</div>
                                <div class="width-150" *ngIf="file.upiid === editRowId">
                                  <mat-form-field appearance="standard" class="form-100 ">
                                    <mat-label>Temperature</mat-label>
                                    <input (focusout)="updateFileNameRow(file.upiid,$event.target.value)"
                                      [(value)]="file.file_displayname" matInput>
                                  </mat-form-field>
                                </div>

                              </td>
                              <td>{{file.create_on | date: 'MMM d, y'}}</td>
                              <!-- <td>{{item.created_on | date:'medium'}}</td> -->
                              <td style="width: 120px;" *ngIf="!throughProviderFlag">
                                <mat-icon title="{{titleName}}" style="margin-right:10px;" class="cursor-pointer"
                                  (click)="editFileName(file.upiid)" color="primary">{{buttonTypeName}}
                                </mat-icon>
                                <!-- <span id="download"+i>Loading...</span> -->
                                <mat-icon style="margin-right:10px;" title="Download"
                                  (click)="downloadDocument(file.upiid,file.file_displayname)" class="cursor-pointer"
                                  color="primary">cloud_download
                                </mat-icon>
                                <mat-icon title="Archive" class="cursor-pointer"
                                  (click)="archivePatientProviderFile(file.upiid)" color="warn">delete
                                </mat-icon>
                              </td>
                              <td style="width: 120px;" *ngIf="throughProviderFlag">
                                <mat-icon style="margin-right:10px;" title="Download"
                                  (click)="downloadDocument(file.upiid,file.file_displayname)" class="cursor-pointer"
                                  color="primary">cloud_download
                                </mat-icon>
                              </td>
                            </tr>


                            <tr *ngIf="filleList.length==0">
                              <td colspan="4" style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                                You have not attached any files to this provider.</td>
                            </tr>
                          </table>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noData">
            <th style="text-align: center;color:gray; background-color: white!important;" mat-footer-cell *matFooterCellDef colspan="8"> {{noRecordFond}} </th>
          </ng-container>

<!--
          <ng-container matColumnDef="header-row-search" >
             <th mat-header-cell *matHeaderCellDef [attr.colspan]="8" style="background-color: white!important;">
              <div style="padding:15px 15px 0px 15px; width: 100%;">
                <mat-form-field style="width: 100%;">
                  <mat-label>Filter</mat-label>
                  <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
                    placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
                  <mat-icon matSuffix>search</mat-icon>

                </mat-form-field>
              </div>
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['header-row-search']"></tr> -->.
          <tr mat-header-row="let row;" *matHeaderRowDef="displayedColumns"></tr>
          <tr (click)="getproviderId(row.upid)" mat-row *matRowDef="let row; columns: displayedColumns;"
            class="example-element-row" [class.example-expanded-row]="expandedElement === row">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="custom-mat-row">
          </tr>
          <tr mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>

        </table>
      </div>
       <div style="clear: both;"></div>




    <!-- Mobile view code here -->
      <div class="row hide-in-large-screen margin-top-30" style="overflow-x:hidden;">
        <div style="padding:5px 5px 5px 5px; width: 100%;">
          <mat-form-field class="serchInput">
            <mat-label>Filter</mat-label>
            <input (keyup)="applyFilter($event)" [(ngModel)]="filterValue" matInput
              placeholder="Search by NPI, Name, State, Country, Postcode or Taxomony">
            <mat-icon matSuffix>search</mat-icon>

          </mat-form-field>
        </div>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table-100 table-box-shadow" >
          <ng-container matColumnDef="description" class="columnheader">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element" (click)="expandedElement = expandedElement === element ? null : element">
              <div style="padding: 8px 0px;">
         
               <span  style="font-size:20px;font-weight: 700;" *ngIf="element.full_name!=null" class="font-bold">{{element.full_name | titlecase}} <br/></span> 
              <span  style="font-size:20px;font-weight: 700;" *ngIf="element.full_name==null" class="font-bold">{{element.first_name | titlecase}}&nbsp;{{element.last_name | titlecase}}<br></span>
              <span class="font-bold" *ngIf="element.taxonomy!=null" style="font-size: 18px;">{{element.taxonomy}}<br/></span>
              <span class="font-bold">{{element.npi}}</span> <br/> 
              <span class="font-bold">{{element.address1 | titlecase}}, {{element.address2 | titlecase}}, {{element.state_id | uppercase}}, {{element.zipcode}}</span> <br>
            
              </div>
              
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td style="width: 65px;text-align: right;" mat-cell *matCellDef="let element">
              <button *ngIf="!throughProviderFlag" (click)="getParticularProviderDetails(element.pid)" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="!throughProviderFlag" (click)="ParticularDelete(element.pid)" mat-icon-button>
                <mat-icon color="warn">delete
                </mat-icon>
              </button>
              <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element">
                <mat-icon (click)="cancelUpload()" [@detailExpand]="element == expandedElement ? 'collapsed' : 'expanded'">
                  add
                </mat-icon>
                <mat-icon [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  remove
                </mat-icon>
              </button>
            </td>
          </ng-container>
          <div style="clear: both;"></div>
          <ng-container matColumnDef="expandedDetail" >
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" style="background-color: #fbf9f9!important;">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div style="width: 100%; padding: 0px 0px 2px 0px;">
                  <div style="margin-top: 1rem;">
                    <div class="margin-top-30">
                      <div *ngIf="element.identifiers_desc == 'MEDICAID'">
                        <span class=" font-neutral">Medicaid Identifier no. :</span> <span
                          class="font-bold">{{element.identifiers_no}}</span>
                        |
                        <span class="font-neutral">Medicaid State :</span> <span
                          class="font-bold">{{element.identifiers_state}}</span>
                      </div>
                      <div><span style="color:red;font-weight: 500;">{{UploadText}}</span></div>
                    </div>


                


                    <div style="margin-top: 15px; margin-bottom: 15px;">
                    
                      <button  *ngIf="addDataFileUploadButtonFlg && !throughProviderFlag" style="width:100%!important;background: #227f77!important;font-weight: 500;" mat-flat-button class="show-choose-file-upload-button"
                      (click)="openBottomSheetUploadDocument('document-upload')">
                        Add Data
                      </button>
                      <ng-container *ngIf="!addDataFileUploadButtonFlg">

                    <div *ngIf="!throughProviderFlag" style="display: flex; flex-direction: column;">
          
                      <div style="margin-top: 10px;">
                        <a mat-flat-button style="color:white!important" type="button" 
                            id="lbl" style="color:#f9fbfb!important; background-color: red; margin-right: 10px;" (click)="cancelUploadByMoble()"
                          >
                        Cancel
                        </a>
                        <button (click)="uploadDocumentByMobile()"  mat-flat-button color="primary" style="color:white!important"  id="lb2"  style="color:#f9fbfb!important;">
                          Upload
                        </button>
                      </div>


                    </div>
                      </ng-container>
                    </div>





                    <mat-accordion>
                      <mat-expansion-panel class="mob-expansion-panel main-accordion remove-box-shadow"
                        (opened)="panelOpenState = true;" (closed)="panelOpenState = false" style="width: 100%;display: contents!important;">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <span class="viewUpldTitle">Uploaded Files </span> 
                            <span *ngIf="downloadingWait" class="waitTilte">(
                            Wait...)</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="margin-bottom: 25px;">
                        <ng-container *ngFor="let file of filleList" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                          <div (click)="openBottomSheet(file)" 
                            style="overflow-x: scroll; padding: 6px 6px; border-top: 1px solid lightgray; background-color: white; height: 100%; width: 100%;"
                          >
                            <div class=" titleName" *ngIf="file.upiid !== editRowId"
                                  matTooltip="Edit {{element.days}} Rows">{{file.file_displaynameMob}}</div>
                            <div *ngIf="file.upiid === editRowId">
                              <mat-form-field appearance="standard" class="form-100 ">
                                <mat-label>Filename</mat-label>
                                <input (mouseout)="updateFileNameRow(file.upiid,$event.target.value)"
                                  [(value)]="file.file_displayname" matInput>
                              </mat-form-field>
                            </div>
                          </div>
                        </ng-container>
                        <div *ngIf="filleList.length==0" style="overflow-x: scroll; padding: 2px; border-top: 1px solid lightgray; background-color: white;">
                          <div style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                            You have not attached any files to this provider.
                          </div>
                        </div>
                      

                        <!-- <div class="table-responsive" >
                          <table class="table-wd uploaded-files-table table" style="padding-left:10px;width:300px!important;overflow-x: scroll!important;display: block!important;"> 
                           
                            <tr *ngFor="let file of filleList">


                            


                              <td style="width:80%;">

                                <div class="width-150" *ngIf="file.upiid !== editRowId"
                                  matTooltip="Edit {{element.days}} Rows">{{file.file_displayname}}</div>
                                <div class="width-150" *ngIf="file.upiid === editRowId">
                                  <mat-form-field appearance="standard" class="form-100 ">
                                    <mat-label>Temperature</mat-label>
                                    <input (focusout)="updateFileNameRow(file.upiid,$event.target.value)"
                                      [(value)]="file.file_displayname" matInput>
                                  </mat-form-field>
                                </div>

                              </td>

                              <td> <mat-icon  (click)="openBottomSheet(file)" class="cursor-pointer" color="primary">more_horiz</mat-icon> </td>
                            </tr>


                            <tr *ngIf="filleList.length==0">
                              <td colspan="2" style="text-align: center;color:gray;font-size: 16px;margin-top:20px;">
                                You have not attached any files to this provider.</td>
                            </tr>


                          </table>
                        </div> -->

                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noData">
            <td style="text-align: center;color:gray; background-color: white!important;" mat-footer-cell *matFooterCellDef colspan="3">
              {{noRecordFond}} </td>
          </ng-container>

          <tr mat-header-row="let row;" *matHeaderRowDef="mobileDisplayedColumns" ></tr>
          <tr (click)="getproviderId(row.upid)" mat-row *matRowDef="let row; columns: mobileDisplayedColumns;"
            class="example-element-row" [class.example-expanded-row]="expandedElement === row">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="custom-mat-row">
          </tr>
          <tr mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'loadingHide':(dataSource!=null && dataSource.data.length!=0)}"></tr>

        </table>
      </div>
  </mat-card>
</div>