<!-- 
<div class="row" >
    <div class="col-12 col-md-12 col-xs-12 col-lg-12" style="background-color:#607D8B;height:65px;">
        <span class="logoText">Curamei</span>
      </div>
  </div>
  <div class="row" >
    <div class="col-12 col-md-8 col-xs-12 col-lg-8" style="position:relative;margin: 0px auto;top:75px">
      <div class="card cardCustom">
        <div class="card-body text-center">
                <div style="text-align: center;margin-top: -15px;
                margin-bottom: 27px;font-family: Lato,sans-serif!important;
                letter-spacing: 1px;">
                
                <img src="../../../assets/img/correct.png" height="55px" width="55px"/> 
                <br/>
                <div class="success">Congratulations!  Your Curamei account is almost ready.</div>
            
                <div>
                        <br/>
                <div class="activateLinkMsg">We have sent an account activation link to your email. Please click on 'Activate Account' link to activate your account.
                        <p>
                    <br/>
                    <a  routerLink="/signin" class="linkTag" style="font-size: 16px;
                    font-weight: 500;"> Return to Sign In </a>
                </p>
                </div>
                     
                        
              
               </div>
               </div>
       </div>
    </div>
    </div>
   </div>  -->








   <div>
    <div class="sign-in-container">
        <div class="sign-in-card ios-spacing-top">
            <div class="flex-container width-100">
                <div class="signup-card-left-wrapper width-50">
                    <div class="signup-card-left-container">
                        <div class="signup-left-container-text">
                            <span class="remove-margin-bottom font-500"><a
                                    style="cursor: pointer; text-decoration: none; color: #000;"
                                    routerLink="/signin">Curamei</a></span><br>
                            <span class="font-12 dull-font">Stay connected and improve your health,<br> together with
                                us.</span>
                        </div>
                        <img class="signup-left-container-image" src="../../../assets/images/signup/Asset 4.svg">
                    </div>
                </div>
                <div class="signup-card-right-wrapper width-50">
                    <div class="signup-card-right-container">
                       <div class="card-body text-center">
                            <div style="text-align: center;margin-top: -15px;
                            margin-bottom: 27px;font-family: Lato,sans-serif!important;
                            letter-spacing: 1px;text-decoration: none;">
                            
                            <img src="../../../assets/img/correct.png" height="55px" width="55px"/> 
                            <br/>
                                <div *ngIf="signupFlag">
                                    <div class="success">Congratulations!  Your Curamei account is almost ready.</div>
                                    <div><br/>
                                        <div class="activateLinkMsg">We have sent an account activation link to your email. Please click on 'Activate Account' link to activate your account.   
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="forgotPasswordFlag">
                                    <div class="success">Check Your Email</div>
                                    <div><br/>
                                        <div class="activateLinkMsg">
                                            If we have an account for the username or email address you provided, we have emailed a link to reset your password.
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="passwordChangedFlag">
                                    <div class="success">Password Changed</div>
                                    <div><br/>
                                        <div class="activateLinkMsg">
                                            Your password has been changed.
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p>
                                        <br/>
                                        <a  routerLink="/signin" class="linkTag" style="font-size: 16px;
                                        font-weight: 500;"> Return to Sign In </a>
                                    </p>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>