

<div class="full-size" *ngIf="!isConnected" style="margin-top: -22px!important" >  
    
    <div style="width: 100%;
    padding: 4px;
    background-color: rgb(16 16 16);
    margin-top: 6px;
    color: #ff7600;
    line-height: 24;">
        <h3 style="    line-height: 1;
        margin-top: 11px;">{{status}}</h3>   </div>
       
</div>  

<router-outlet></router-outlet>