
<div class="mat-bottom-contianer">


  <mat-nav-list>
   <div class="divCon">
    

  <div *ngIf="saveButtonShowFlag" style="float: right;
  display: block;
  position: relative;
  top: -16px;">
     <span  > <button (click)="savePhoto()" mat-button >Save</button></span> 
  </div>


  <div style="clear: both;">
  </div>

<ng-container *ngIf="uploadFileObj.length > 0">
  <div class="images">
    <div class="one-image" *ngFor="let obj of uploadFileObj; let id = index">
       <ng-container *ngIf="obj.type=='image'">
        <mat-icon  name="trash" class="deleteIcon" (click)="deletePhoto(id)">close</mat-icon>
        <img  src="{{obj.uploadType}}"  alt="" />
       </ng-container>
        </div>
  </div>

</ng-container>

<ng-container *ngIf="uploadFileObj.length > 0">
  <div class="row" style="font-weight: 500;"  *ngFor="let obj of uploadFileObj; let id = index">
    <ng-container *ngIf="obj.type=='file'">
      <mat-icon  name="trash" class="deleteIconUrl" (click)="deletePhoto(id)">close</mat-icon>
      {{obj.fileName}}
     </ng-container>
  
  </div>
  </ng-container>

<table style="text-align: center!important;">
  <tr >
  <td colspan="3"> 
    <span class="divConSubTitle">Where do you want to upload from?</span>

   </td>

  </tr>

  <tr >
    
     <td> 
     
     <div (click)="takeCameraPhoto()">
      <span class="material-icons">
        local_see
        </span> <br/>
        <span class="icon-text">Camera</span>
      </div>
     </td>


     <td> 
      <div (click)="getGalleryImages()">
      <span class="material-icons">
        photo_library
        </span> <br/>
        
        <span class="icon-text">Photos</span>
</div>
     </td>


     <td>
      <div (click)="openFiles()"> 
      <span class="material-icons">
        folder
        </span> <br/>
        
        <span class="icon-text">Files</span>
        </div>

     </td>


  


</tr>

</table>
</div>
  

 
  </mat-nav-list>

</div>

    
