

.divCon{
    padding: 0px;
    margin-bottom: 5px;
    padding-bottom: 8px!important;
}

.divConSubTitle{
    font-size: 16px;
    align-items: center;
    display: block;
    text-align: center!important;
    color: #024387;
    position: relative;
    margin-bottom: 18px;
}

.material-icons {
    font-size: 42px!important;
    color: #024387;;position: relative;
}


.icon-text{
    font-size:16px!important;
    color: #024387;position: relative;
}

.mat-list-base {
    display: block;
    padding-top:10px!important;
    -webkit-tap-highlight-color: transparent;
}

  .one-image img{
    width: 165px;
    height: 185px;
    margin-right: 4px;
    margin-bottom:4px;
    border: 3px solid #d2d0d0;
    background-size: cover;
  }

  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
  
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
  
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
  
  .deleteIcon {
    position: absolute !important;
    color: #ff3d00  !important;
    margin-right: 0% !important;
    font-size: 30px!important;
    padding: 5px;
  }
    .deleteIcon:before {
      font-size: 30px !important;
    }

    .deleteIconUrl {
      color: #ff3d00 !important;
      margin-right: 9px;
      font-size: 30px!important;
      padding: 0px;
      margin-left: 6px;
      
    
      }
  