.detalisBtn{
    border: 1px solid #00BCD4;
    color: #00BCD4;
    border-radius: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.cardContainer{
    margin-top: 12px!important;
    border: 1px solid #9c9b9b!important;
}

.pdcart{
    border: 1px solid #9c9c9c;
      border-radius: 6px;
      padding-top:10px;
      padding-bottom:1px;
      padding-left:0px;
      padding-right:0px;
  }
  .material-icons-exercise {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    margin-left: 8px;
  }  

  .headTitle{
    color: #000000;
    font-size: 17px;
    font-weight: 400;
  }

  .headSubTitle{
    font-size:12px;
  }

  .closedBtn{
    cursor: pointer;
    position: relative;
    float: right;
    background-color: #f8f9fb;
    border: 1ps solid;
    border: 1px solid #868383;
    border-radius: 73%;
    width: 35px;
    text-align: center;
    position: relative;
    padding: 7px;
    font-size:15px;
    top: -10px; 
}

.green-snackbar {
  background-color: green;
  color: lightgoldenrodyellow;
}

.red-snackbar {
  background-color: red;
  color: lightgoldenrodyellow;
}
/* 23/10/20 developed by Harshal */
.flex-container{
    color: #227f77;
  }
  .margin-top-30{
    color: #227f77!important;
  }
  .pdcart{
    background-color: #e8fcfa;
    box-shadow: 0 5px 7px 0 rgba(43, 43, 43, 0.075);;
  }

  .connection-card {
    border: none;
    box-shadow: none;
    padding: 30px;
    margin: 5px 0px;
    width: 100%;
    background-color: #f6f6fb;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.3s;
    align-items: center;
  }

  .connection-card:hover {
    background-color: #fdfdfd;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .focus-text {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  
  .important-number {
    font-size: larger;
  }
  
  .muted-text {
    color: #8f8fb1 !important;
    font-size: 14px;
  }

  @media screen and (max-width: 678px) {

    .box-container{
      background-color:white;
      box-shadow: none!important;
      border-radius: 0.5em;
      margin-left:0px!important;
    }
  
    .bordered-card {
      border: none!important;
      border-radius: 5px!important;
      box-shadow: 5px 4px 4px rgb(0,0,0,0.2)!important;
      margin: 2px 2px;
    }

    .margin-top-30{
       margin-top:-28px!important
    }
  
    .main-container {
      padding: 0.1rem!important;
    }
  
  }