<div class="main-container">
    <mat-card class="min-height-100 card-padding-6">
        <div class="page-header">
            <div class="flex-container page-top">
                <div class="page-title hide-in-mobile-screen">
                    <!-- created icon class to give color develop by harshal on 10/27/20 -->
                    <div class="icon">
                    <mat-icon class="material-icons">smartphone</mat-icon>
                    </div>
                    <mat-card-title class="card-main-title font-700">Digital Health</mat-card-title>
                </div>
                <div class="hide-in-large-screen">
                  <div class="page-title1">
                    <!-- created icon class to give color develop by harshal on 10/27/20 -->
                    <div class="icon">
                    <mat-icon class="material-icons">smartphone</mat-icon>
                    </div>
                    <mat-card-title class="card-main-title font-700">Digital Health</mat-card-title>
                    </div>
                </div>
                <div>
                    <button class="hide-in-mobile-screen" mat-stroked-button 
                    color="#227f77;" (click)="openDialog()">Add Digital Health Product</button>
                </div>
            </div>
        </div>

        <div class="row hide-in-large-screen" style="width: 100%;
        margin: 0 auto;
        margin-top: 12px;">
            <button  mat-stroked-button style="clear:both;color:#ffffff;width:100%;background-color:#227f77;margin-bottom:30px;border-radius: 12px!important;" (click)="openDialog()">
                <mat-icon class="material-icons">add</mat-icon>
            </button>
        </div>

        <div class="margin-top-30">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-sm-12" style="margin-top:10px">
                    <mat-card class="pdcart connection-card" *ngIf="fitbitConfigurationFlag" (click)="goToFitbitDashboard()">
                        <div>
                            <img src="../../../assets/images/fitbit.svg" style="width:52px; height: auto; margin-right: 10px;"/>
                        </div>
                        <div>
                            <h2 class="focus-text">Fitbit</h2>
                            <div class="text-muted">Track vital metrics such as steps, caloric burn rate, and sleep to gain better insights on your fitness lifestyle.</div>
                        </div>
                    </mat-card>


                    <mat-card class="pdcart connection-card" *ngIf="!fitbitConfigurationFlag">
                        <div>
                            <div class="text-muted">{{noProduct}}</div>
                        </div>
                    </mat-card>
                </div>

            </div>
        </div>


    </mat-card>
</div>