.detalisBtn{
  background-color:rgb(238, 255, 249) !important ;
    border: 1px solid #227f77;
    color:  #227f77;
    border-radius: 12px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.cardContainer{
    margin-top: 12px!important;

    border: 1px solid #9c9b9b!important;
    box-shadow: 4px 6px 14px -5px rgba(0,0,0,0.42);
}

.wait{
    color: red;
    font-size: 18px;
    margin-left: 12px;
    text-align: center;
    justify-content: center;
    
}

mat-card {
  cursor: pointer!important;
}
::ng-deep .mat-card-header-Condition{
    background-color:#5A7BBF !important;
  }
  ::ng-deep .mat-card-header-MedicationStatement{
    background-color:#4ba75a !important;
  }

  ::ng-deep .mat-card-header-AllergyIntolerance{
    background-color:#564976 !important;
  }
  ::ng-deep .mat-card-header-Immunization{
    background-color:#5C16A7 !important;
  }
  ::ng-deep .mat-card-header-Observation{
    background-color:#e998b2 !important;
  }

  ::ng-deep .mat-card-header-Procedure{
    background-color:#D64745 !important;
  }

  ::ng-deep .mat-card-header-MedicationOrder{
    background-color:#3f8b3d !important;
  }

  ::ng-deep .mat-card-header-Goal{
    background-color:#42a39d !important;
  }

  ::ng-deep .mat-card-header-CarePlan{
    background-color:#171BBD !important;
  }

  ::ng-deep .mat-card-header-Encounter{
    background-color:#769c44 !important;
  }

  ::ng-deep .mat-card-header-FamilyMemberHistory{
    background-color:#892a97 !important;
  }

  

  ::ng-deep .mat-card-content{
    padding-left: 5px !important;
    margin-top:5px!important;
  }
  .headerSepertor1{
    width: 100%!important;
    height: 2px;
    background-color: #151414!important;
    margin-top: 1px;
  }
  .mat-card>.mat-card-actions:last-child {
    margin-bottom: 15px !important;
    margin-left: 10px !important;;
}
  .mat-card-title{
    color: white;
  }
  .mat-card-subtitle{
    color: white;
  }
  .cardContainer{
    padding: 0px;
    border: none!important;
    background-color: transparent;
  }

  .cardContainer .mat-card-header {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cardContainer .mat-card-content {
    padding-bottom: 15px;
    padding-left: 15px!important;
    padding-right: 15px;
    background-color: white;
  }
    
  .mat-expansion-panel{
    background-color: white!important ;
  }
  h2{
    color:#024387;
  }
  th{
    background-color: white!important;
  }
  table{
    box-shadow: none;
  }
  .red{
    color: red!important ;
  }



  @media screen and (max-width: 678px) {

::ng-deep .mat-expansion-panel-body{
  padding: 0px 6px 6px!important;
}
.wait{
  color: red;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  position: relative;
  margin: 0px auto;
}
.mobileDivButtonCon {
  clear: both;
  margin-top: 12px!important;
}

  }

