<mat-progress-bar value={{progessValue}}></mat-progress-bar>
<div class="col-md-12 " *ngIf="enableLoading">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</div>
<div class="main-container hide-in-mobile-screen">
  <mat-card class="min-height-150">
    <div class="flex-container page-top">
      <div class="page-title">
        <div  class="icon">
          <mat-icon class="material-icons">medical_services</mat-icon>
        </div>
          <mat-card-title class="card-main-title font-700">Medical Records</mat-card-title>
      </div>
      <div>
        <div *ngIf="!throughProviderFlag">
          <!-- <div class="hide-in-large-screen float-right">
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <h4 class="mat-h4 font-500" style="padding: 5px 15px 0px 15px;">Sort By :</h4>
              <button mat-menu-item>Record Type</button>
              <button style="color:#227f77;" routerLink="/patient/manual-medical-records" mat-stroked-button>Add Manual Data</button>
            </mat-menu>
          </div> -->
          <button class="mat-stroked-button hide-in-mobile-screen" style="color:#227f77;" routerLink="/patient/manual-medical-records">Add Manual Data</button>
          <button class="mat-stroked-button hide-in-large-screen" style="color:#227f77;" routerLink="/patient/manual-medical-records">
            <mat-icon class="material-icons">
              add
            </mat-icon>
          </button>
        </div>
        <!-- Select User -->
        <!-- <div *ngIf="throughProviderFlag" style="float: right;">
          <mat-form-field class="remove-padding-bottom" appearance="outline">
            <mat-label>Select User</mat-label>
            <mat-select (selectionChange)="selectedUser($event.value)">
              <mat-option>-- select user --</mat-option>
              <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.fullname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
        <!-- End Select User -->
       </div>
    </div>
    <div id="mainContainer" class="margin-top-30">
      <div *ngIf="!view">{{noRecordFond}}</div>
      <div *ngIf="view">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of medicalRecord" style="margin-top:-10px!important"
            class="box-shadow main-accordion accordion-spacer" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">
                  {{item.name}}
                </h2>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container>
              <button color="primary" matTooltip="Refresh Data" (click)="getOneUpResourceByType(item.resorceType)"
              matTooltipPosition="left" class="medical-record-accordion-button" mat-button>
              <mat-icon style="margin-top: auto;">refresh</mat-icon>
            </button>
   
              <div class="row" style="margin-right: 5px; margin-bottom: 15px;margin-top: 28px;">
                <div class="col-md-12" class="wait" *ngIf="item.records.length == 0">{{dataStatusDispaly}}</div>
                <div *ngFor="let subitem of item.records" class="col-md-4 col-lg-4 col-sm-12 remove-col-padding-right">
                  
                  <!-- Display conditon resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Condition'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-Condition">
                      <mat-card-title>{{subitem.code.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr *ngIf="subitem.dateRecorded && subitem.dateRecorded!=''">
                          <th>Date</th>
                          <td>{{subitem.dateRecorded | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                  <!-- Display MedicationStatement resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='MedicationStatement'" (click)="openDialog(subitem)"> 
                    <mat-card-header class="mat-card-header-MedicationStatement">
                      <mat-card-title> <ng-container *ngIf="subitem.medicationReference && subitem.medicationReference.display !=''">{{subitem.medicationReference.display}}</ng-container> </mat-card-title>
                      <mat-card-subtitle> <ng-container *ngIf="subitem.dateAsserted && subitem.dateAsserted!=''">{{subitem.dateAsserted | date:'MM/dd/yyyy'}}</ng-container></mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr *ngIf="subitem.dateAsserted && subitem.dateAsserted!=''">
                          <th>Date</th>
                          <td>{{subitem.dateAsserted | date:'MM/dd/yyyy' }}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
  
  
  
                  <!-- Display AllergyIntolerance resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='AllergyIntolerance'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-AllergyIntolerance">
                      <mat-card-title>{{subitem.substance.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>
                            <ng-container *ngIf="subitem.recordedDate && subitem.recordedDate !=''">  {{subitem.recordedDate | date:'MM/dd/yyyy'}}</ng-container>
                          </td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                  <!-- Display Immunization resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Immunization'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-Immunization">
                      <mat-card-title>{{subitem.vaccineCode.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.status}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>
                            {{subitem.date | date:'MM/dd/yyyy'}}
                          </td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
                  <!-- Display Immunization resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Observation'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-Observation">
                      <mat-card-title>{{subitem.code.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.effectiveDateTime | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
  
                  <!-- Display Procedures resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Procedure'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-Procedure">
                      <mat-card-title>{{subitem.code.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
  
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                   <!-- Display MedicationOrder resource data -->
                   <mat-card class="cardContainer" *ngIf="subitem.resourceType=='MedicationOrder'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-MedicationOrder">
                      <mat-card-title>
  
                        <ng-container *ngIf="subitem.medicationReference && subitem.medicationReference.display !=''">{{subitem.medicationReference.display}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.dateWritten !=''">{{subitem.dateWritten | date:'MM/dd/yyyy'}}</ng-container>
                      </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.dateWritten | date:'MM/dd/yyyy' }}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
  
  
                  <!-- Display FamilyMemberHistory resource data -->
  
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='FamilyMemberHistory'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-FamilyMemberHistory">
                      <mat-card-title>
                        <ng-container *ngIf="subitem.condition && subitem.condition[0].code.coding[0].display !=''">{{subitem.condition[0].code.coding[0].display}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.relationship && subitem.relationship.coding[0].display !=''"> {{subitem.relationship.coding[0].display}}</ng-container>
  
                     </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.date | date:'h:mm:ss MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                  
                  <!-- Display Goal resource data -->
  
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Goal'" (click)="openDialog(subitem)">
                    <mat-card-header class="mat-card-header-Goal">
                      <mat-card-title>
                        <ng-container *ngIf="subitem.description !=''">{{subitem.description}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.category && subitem.category[0].text !=''"> {{subitem.category[0].text}}</ng-container>
  
                     </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.startDate | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
                     <!-- Display CarePlan resource data -->
  
                     <mat-card class="cardContainer" *ngIf="subitem.resourceType=='CarePlan'" (click)="openDialog(subitem)">
                      <mat-card-header class="mat-card-header-CarePlan">
                        <mat-card-title>
                          <ng-container *ngIf="subitem.category && subitem.category[0].text !=''">{{subitem.category[0].text}}</ng-container>
                        </mat-card-title>
                        <mat-card-subtitle>
                          <ng-container *ngIf="subitem.status"> {{subitem.status}}</ng-container>
    
                       </mat-card-subtitle>
                      </mat-card-header>
                      
                      <mat-card-content>
                        <table width="100%" cellpadding="2px" cellspacing="3px">
                          <!-- <tr>
                            <th width="38%">ID</th>
                            <td>{{subitem.id}}</td>
                          </tr> -->
                    
                          <tr>
                            <th>Source</th>
                            <td>
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip>{{subitem.custom_type}}</mat-chip>
                              </mat-chip-list>
    
                            </td>
                          </tr>
                        </table>
                      </mat-card-content>
                      <!-- <mat-card-actions>
                        <button mat-button  class="detalisBtn">View Details</button>
    
                      </mat-card-actions> -->
                    </mat-card>
                     <!-- Display Encounter resource data -->
  
                     <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Encounter'" (click)="openDialog(subitem)">
                      <mat-card-header class="mat-card-header-Encounter">
                        <mat-card-title>
                          <ng-container *ngIf="subitem.type && subitem.type[0].text !=''">{{subitem.type[0].text}}</ng-container>
                        </mat-card-title>
                        <mat-card-subtitle>
                          <ng-container *ngIf="subitem.class && subitem.period"> [{{subitem.class}}] : [{{subitem.period.start | date:'MM/dd/yyyy'}} To {{subitem.period.end | date:'MM/dd/yyyy'}}] </ng-container>
    
                       </mat-card-subtitle>
                      </mat-card-header>
                      
                      <mat-card-content>
                        <table width="100%" cellpadding="2px" cellspacing="3px">
                          <!-- <tr>
                            <th width="38%">ID</th>
                            <td>{{subitem.id}}</td>
                          </tr> -->
                          <tr>
                            <th>Source</th>
                            <td>
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip>{{subitem.custom_type}}</mat-chip>
                              </mat-chip-list>
    
                            </td>
                          </tr>
                        </table>
                      </mat-card-content>
                      <!-- <mat-card-actions>
                        <button mat-button  class="detalisBtn">View Details</button>
  
                      </mat-card-actions> -->
                    </mat-card>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card>
</div>






<!-- On mobile screen view -->




<div class="mmain-container hide-in-large-screen">
  <mat-card class="card-padding-6 min-height-150">
    <div class="page-header">
      <div class="flex-container page-top">
        <div class="page-title1">
          <div  class="icon">
            <mat-icon class="material-icons">medical_services</mat-icon>
          </div>
            <mat-card-title class="card-main-title font-700">Medical Records</mat-card-title>
        </div>
      </div>
      <div  *ngIf="!throughProviderFlag" class="mobileDivButtonCon">
        <a  routerLink="/patient/manual-medical-records">
          <button mat-stroked-button class="mobileButtonLink">
            <mat-icon class="material-icons">add</mat-icon>
          </button>
        </a>
      </div>
    </div>
    <div id="mainContainer" class="margin-top-30">
      <div *ngIf="!view">{{noRecordFond}}</div>
      <div *ngIf="view">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of medicalRecord" style="margin-top:-10px!important"
            class="box-shadow main-accordion accordion-spacer" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="padding:0px!important;padding-left: 8px!important; margin-right: 8px!important;">
              <mat-panel-title>
                <h2 class="mat-h2 mat-subheading remove-margin-bottom">
                  {{item.name}}
                </h2>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container>

              <div  class="mobileDivButtonCon" style=" margin-bottom: -20px;">
              <button class="mobileButtonLink" matTooltip="Refresh Data" (click)="getOneUpResourceByType(item.resorceType)"
              matTooltipPosition="left"  mat-button>
              <mat-icon >refresh</mat-icon>
            </button>
              </div>
      




   
              <div class="row" style="margin-right: 5px; margin-bottom: 15px;margin-top: 28px;">
                <div class="col-md-12" class="wait" *ngIf="item.records.length == 0">{{dataStatusDispaly}}</div>
                <div *ngFor="let subitem of item.records" class="col-md-4 col-lg-4 col-sm-12 remove-col-padding-right">
                  
                  <!-- Display conditon resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Condition'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-Condition">
                      <mat-card-title>{{subitem.code.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content class="">
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr *ngIf="subitem.dateRecorded && subitem.dateRecorded!=''">
                          <th>Date</th>
                          <td>{{subitem.dateRecorded | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                  <!-- Display MedicationStatement resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='MedicationStatement'" (click)="openDialogMobileView(subitem)"> 
                    <mat-card-header class="mat-card-header-MedicationStatement">
                      <mat-card-title> <ng-container *ngIf="subitem.medicationReference && subitem.medicationReference.display !=''">{{subitem.medicationReference.display}}</ng-container> </mat-card-title>
                      <mat-card-subtitle> <ng-container *ngIf="subitem.dateAsserted && subitem.dateAsserted!=''">{{subitem.dateAsserted | date:'MM/dd/yyyy'}}</ng-container></mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr *ngIf="subitem.dateAsserted && subitem.dateAsserted!=''">
                          <th>Date</th>
                          <td>{{subitem.dateAsserted | date:'MM/dd/yyyy' }}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
  
  
  
                  <!-- Display AllergyIntolerance resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='AllergyIntolerance'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-AllergyIntolerance">
                      <mat-card-title>{{subitem.substance.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>
                            <ng-container *ngIf="subitem.recordedDate && subitem.recordedDate !=''">  {{subitem.recordedDate | date:'MM/dd/yyyy'}}</ng-container>
                          </td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                  <!-- Display Immunization resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Immunization'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-Immunization">
                      <mat-card-title>{{subitem.vaccineCode.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.status}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>
                            {{subitem.date | date:'MM/dd/yyyy'}}
                          </td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
                  <!-- Display Immunization resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Observation'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-Observation">
                      <mat-card-title>{{subitem.code.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.effectiveDateTime | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
  
                  <!-- Display Procedures resource data -->
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Procedure'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-Procedure">
                      <mat-card-title>{{subitem.code.text}}</mat-card-title>
                      <mat-card-subtitle>{{subitem.category.text}}</mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
  
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                   <!-- Display MedicationOrder resource data -->
                   <mat-card class="cardContainer" *ngIf="subitem.resourceType=='MedicationOrder'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-MedicationOrder">
                      <mat-card-title>
  
                        <ng-container *ngIf="subitem.medicationReference && subitem.medicationReference.display !=''">{{subitem.medicationReference.display}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.dateWritten !=''">{{subitem.dateWritten | date:'MM/dd/yyyy'}}</ng-container>
                      </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.dateWritten | date:'MM/dd/yyyy' }}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
  
  
  
                  <!-- Display FamilyMemberHistory resource data -->
  
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='FamilyMemberHistory'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-FamilyMemberHistory">
                      <mat-card-title>
                        <ng-container *ngIf="subitem.condition && subitem.condition[0].code.coding[0].display !=''">{{subitem.condition[0].code.coding[0].display}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.relationship && subitem.relationship.coding[0].display !=''"> {{subitem.relationship.coding[0].display}}</ng-container>
  
                     </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.date | date:'h:mm:ss MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button  class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
  
                  
                  <!-- Display Goal resource data -->
  
                  <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Goal'" (click)="openDialogMobileView(subitem)">
                    <mat-card-header class="mat-card-header-Goal">
                      <mat-card-title>
                        <ng-container *ngIf="subitem.description !=''">{{subitem.description}}</ng-container>
                      </mat-card-title>
                      <mat-card-subtitle>
                        <ng-container *ngIf="subitem.category && subitem.category[0].text !=''"> {{subitem.category[0].text}}</ng-container>
  
                     </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <table width="100%" cellpadding="2px" cellspacing="3px">
                        <!-- <tr>
                          <th width="38%">ID</th>
                          <td>{{subitem.id}}</td>
                        </tr> -->
                        <tr>
                          <th>Date</th>
                          <td>{{subitem.startDate | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                          <th>Source</th>
                          <td>
                            <mat-chip-list aria-label="Fish selection">
                              <mat-chip>{{subitem.custom_type}}</mat-chip>
                            </mat-chip-list>
  
                          </td>
                        </tr>
                      </table>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button class="detalisBtn">View Details</button>
  
                    </mat-card-actions> -->
                  </mat-card>
  
                     <!-- Display CarePlan resource data -->
  
                     <mat-card class="cardContainer" *ngIf="subitem.resourceType=='CarePlan'" (click)="openDialogMobileView(subitem)">
                      <mat-card-header class="mat-card-header-CarePlan">
                        <mat-card-title>
                          <ng-container *ngIf="subitem.category && subitem.category[0].text !=''">{{subitem.category[0].text}}</ng-container>
                        </mat-card-title>
                        <mat-card-subtitle>
                          <ng-container *ngIf="subitem.status"> {{subitem.status}}</ng-container>
    
                       </mat-card-subtitle>
                      </mat-card-header>
                      
                      <mat-card-content>
                        <table width="100%" cellpadding="2px" cellspacing="3px">
                          <!-- <tr>
                            <th width="38%">ID</th>
                            <td>{{subitem.id}}</td>
                          </tr> -->
                    
                          <tr>
                            <th>Source</th>
                            <td>
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip>{{subitem.custom_type}}</mat-chip>
                              </mat-chip-list>
    
                            </td>
                          </tr>
                        </table>
                      </mat-card-content>
                      <!-- <mat-card-actions>
                        <button mat-button  class="detalisBtn">View Details</button>
    
                      </mat-card-actions> -->
                    </mat-card>
                     <!-- Display Encounter resource data -->
  
                     <mat-card class="cardContainer" *ngIf="subitem.resourceType=='Encounter'" (click)="openDialogMobileView(subitem)">
                      <mat-card-header class="mat-card-header-Encounter">
                        <mat-card-title>
                          <ng-container *ngIf="subitem.type && subitem.type[0].text !=''">{{subitem.type[0].text}}</ng-container>
                        </mat-card-title>
                        <mat-card-subtitle>
                          <ng-container *ngIf="subitem.class && subitem.period"> [{{subitem.class}}] : [{{subitem.period.start | date:'MM/dd/yyyy'}} To {{subitem.period.end | date:'MM/dd/yyyy'}}] </ng-container>
    
                       </mat-card-subtitle>
                      </mat-card-header>
                      
                      <mat-card-content>
                        <table width="100%" cellpadding="2px" cellspacing="3px">
                          <!-- <tr>
                            <th width="38%">ID</th>
                            <td>{{subitem.id}}</td>
                          </tr> -->
                          <tr>
                            <th>Source</th>
                            <td>
                              <mat-chip-list aria-label="Fish selection">
                                <mat-chip>{{subitem.custom_type}}</mat-chip>
                              </mat-chip-list>
    
                            </td>
                          </tr>
                        </table>
                      </mat-card-content>
                      <!-- <mat-card-actions>
                        <button mat-button  class="detalisBtn">View Details</button>
  
                      </mat-card-actions> -->
                    </mat-card>
                </div>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card>
</div>