.cardCustom{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff9f9;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  box-shadow: 3px 4px 2px  #cfcdcd;
  padding: 2px;
  min-height: 480px;

}
.card-header{
  text-align: left;
}
.errorColor{
  color:red;
  text-align: left!important;
  color: red;
  text-align: left!important;
  float: left;
  padding-bottom: 0px;
  margin-left: 17px;
  padding-top: 0px;
}

.logoText{
  font-size: 22px;
  line-height: 62px;
  margin-left: 58px;
  color:white;
  font-family: '-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}


.hospital{
  cursor: pointer;border-bottom: 2px solid #0076f5; border-width: 80%
}

.linkTag{
  margin-left:20px;text-decoration:underline;font-size: 14px;
}


.existMessage{
  text-align: initial;
  color: red;
  font-size: 14px;
}

.textType{
  color: #0e0e0e;
            font-size: 17px;
            font-weight: 500;
}



/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #b4b3b3;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  opacity: 1;
}

.stepColor {
  opacity: 1;
  cursor: pointer;
  opacity: 1;
  background-color: #141414;
}


/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.hdTitle{
  text-align: center;color: #0e0e0e;font-size:36px;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.hdTitle1{
font-size:36px;color: #007bff;
text-align: center;
font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}
.para{
  font-size: 20px;color: #202020;line-height: 1.1;
  font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  margin-top:40px;
  line-height: 1.2;
    }


    @media (max-width: 768px) {
      .hdTitle1 {
        font-size: 36px;
        color: #007bff;
        text-align: center;
        font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
        line-height: 1.1;
      }

      .cardCustom{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff9f9;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 6px;
        box-shadow: 3px 4px 2px  #cfcdcd;
        padding: 2px;
        min-height: 480px;
    }
    }