.cardCustom{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff9f9;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    box-shadow: 5px 6px 2px #e2e2de;

}

.errorColor{
    color:red;
    text-align: left!important;
    color: red;
    text-align: left!important;
    float: left;
    margin-left: 17px;
    padding-top: 5px;
    flex-direction: row;
    width: 100%;
}


.logoText{
    color:white;
    font-size: 22px;
    line-height: 62px;
    margin-left: 58px;
    font-family: '-apple-system',BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
.linkTag{
    margin-left:20px;text-decoration:underline;font-size: 14px;
}

.existMessage{
    text-align: initial;
    color: red;
    font-size: 14px;
}

.textType{
    color: #0e0e0e;
              font-size: 17px;
              font-weight: 500;
}


.gooogle_link {
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
}
.gooogle_link:hover {
    margin-top: 10px;
    text-align: center;
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    background-color: rgb(238, 240, 240);
    cursor: pointer;
}
.mat-icon{
    color:#227f77;
}
.forgot-password{
    float: right;
    cursor: pointer;
    font-size: 12px;
}
.resend-otp{
    padding: 7px;
    margin-bottom: 5px;
}
.resend-otp:hover{
    background: #f1f1f1;
}