<div>
    <div class="sign-in-container">
        <div class="sign-in-card">
            <div class="flex-container width-100">
                <div class="sign-card-left-wrapper width-50">
                    <!-- Signin section -->
                    <div *ngIf="signinFlag" class="sign-card-left-container">
                        <div class="text-center">
                        <!-- added class Icon to give color developed by harshal on 10/28/2020 -->
                        <div class="icon">
                            <h3 class="sign-up-company-name remove-margin-bottom">Curamei</h3>
                            <h1 class="sign-up-title">Admin Login</h1>
                        </div>
                        </div>
                        <div class="margin-top-30">
                            
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>User Name</mat-label>
                                    <input formControlName="username" matInput placeholder="Enter username" required>
                                    <mat-icon matSuffix>face</mat-icon>
                                    <mat-error
                                        *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                        Please enter a valid email address
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="form-100">
                                    <mat-label>Password</mat-label>
                                    <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                                        placeholder="Enter Password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error
                                        *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                                        Password is required.
                                    </mat-error>

                                </mat-form-field>
                                <mat-error class="error-login error-text" *ngIf="errorStatus">
                                    {{errorMessage}}
                                </mat-error>
                                <div class="margin-top-15">
                                    <button class=" login-button width-100 " type="submit" mat-flat-button>
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
                <div class="sign-card-right-wrapper width-50">
                    <div class="sign-card-right-container">
                        <div class="login-right-container-text">
                            <div class="icon">
                            <span class="remove-margin-bottom font-500">Curamei</span><br>
                            </div>
                            <span class="font-12 dull-font"> Empowering you to take<br>charge of your health</span>
                        </div>
                        <img class="login-left-container-image" src="./assets/images/login/2547787.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>