<div>
  <div class="sign-in-container">
      <div class="sign-in-card">
          <div class="flex-container width-100">
              <div class="signup-card-left-wrapper width-50">
                  <div class="signup-card-left-container">
                      <div class="signup-left-container-text">
                          <span class="remove-margin-bottom font-500"><a
                                  style="cursor: pointer; text-decoration: none; color: #000;"
                                  routerLink="/signin">Curamei</a></span><br>
                          <span class="font-12 dull-font">Stay connected and improve your health,<br> together with
                              us.</span>
                      </div>
                      <img class="signup-left-container-image" src="../../../assets/images/signup/Asset 4.svg">
                  </div>
              </div>
              <div class="signup-card-right-wrapper width-50">
                  <div class="signup-card-right-container">
                    Terms of Service
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>